<header class="header_wrapper">
    <nav class="navbar navbar-expand-lg" style="background-image: url('images/nav_bg.png'); background-repeat:no-repeat;">
       <div class="container-fluid">
          <a class="navbar-brand" href="#">
          <!--<img decoding="async" src="images/logo1.png"  alt="logo"> -->
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
             aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-stream navbar-toggler-icon align-items-end"></i>
          </button>
         
          <div class="container-fluid" >
               <div class="row">
                   <div class="collapse navbar-collapse justify-content-end" >
             <ul class="navbar-nav d-flex flex-row me-1">
           <li class="nav-item me-3 me-lg-0">
               <a class="nav-link mx-1 text-white" href="notification.html"><i class="animate__animated animate__shakeX fas fa-bell" style="animation-duration: 5s;" ></i></a>
           </li>
           <li class="nav-item me-3 me-lg-0">
               <a class="nav-link mx-1 text-white" href="phone.html"><i class="fas fa-phone"></i></a>
           </li>
           <li class="nav-item me-3 me-lg-0">
               <a class="nav-link mx-1 text-white" href="location.html"><i class="fas fa-map-marker"></i></a>
           </li>
       </ul>
        </div>
               </div>
               <div class="row">
                   <p>.</p>
                   </div>
               <div class="row">
              
          
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
             <ul class="navbar-nav menu-navbar-nav text-uppercase">
                <li class="nav-item">
                   <a class="nav-link active " aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="/aboutUs">About-Us</a>
                </li>
              
                <li class="nav-item dropdown link-widget">
                   <a class="nav-link dropdown-toggle" href="/services" role="button"  aria-expanded="false">
                   Services
                   </a>
              <ul class="dropdown-menu">
            <li class="nav-item dropend">
                 <a class="dropdown-item " href="/insurance" role="button" aria-expanded="false">
                         Insurance
                 </a>
             </li>
            <hr class="dropdown-divider">
              <li class="nav-item">
                  <a class="dropdown-item" href="/digitalbanking" role="button" aria-expanded="false">
                   Digital Banking
                   </a>
             </li>
             <hr class="dropdown-divider">

             
              
             
             <li class="nav-item">
                 <a class="dropdown-item" href="/atms_branches" role="button" aria-expanded="false">
                         ATMs & Branches
                         </a>
             </li>
             <hr class="dropdown-divider">
             <li class="nav-item">
               <a class="dropdown-item" href="/serviceCharges" role="button" aria-expanded="false">
                         Service Charges
                         </a>
             </li>
          </ul>
              
                  
                  
                </li>
                <li class="nav-item dropdown link-widget">
                   <a class="nav-link dropdown-toggle" role="button"  aria-expanded="false">
                   Banking
                   </a>

                  

                   <ul class="dropdown-menu">
                     <li class="nav-item">
                         <a class="dropdown-item submenu " href="/fixedDeposit" role="button" aria-expanded="false">
                         Fixed Deposit
                         </a>
                      </li>
                      <li>
                         <hr class="dropdown-divider">
                      </li>
                      <li class="nav-item">
                         <a class="dropdown-item submenu" href="/loans" role="button" aria-expanded="false">
                         Loans
                         </a>
                      </li>
                      <hr class="dropdown-divider">
                      <li class="nav-item">
                         <a class="submenu dropdown-item" href="/accounts" role="button" aria-expanded="false">
                         Accounts
                         </a>
                      </li>
                   </ul>
                </li>
                <li class="nav-item dropdown link-widget">
                   <a class="nav-link dropdown-toggle" href="#" role="button"  aria-expanded="false">
                   Media
                   </a>
                   <ul class="dropdown-menu">
                      
                      <li class="nav-item">
                         <a class="submenu dropdown-item" href="/news" role="button" aria-expanded="false">
                         News
                         </a>
                      </li>
                      <li>
                         <hr class="dropdown-divider">
                      </li>
                      <li class="nav-item">
                         <a class="submenu dropdown-item" href="/mediaCoverage" role="button" aria-expanded="false">
                         Media Coverage
                         </a>
                      </li>
                      <hr class="dropdown-divider">
                      <li class="nav-item">
                         <a class="submenu dropdown-item" href="/digitalbrochure" role="button" aria-expanded="false">
                         Digital Brochure
                         </a>
                      </li>
                      <hr class="dropdown-divider">
                      <li class="nav-item">
                         <a class="submenu dropdown-item" href="/awards" role="button" aria-expanded="false">
                         Awards & Recognition
                         </a>
                      </li>
                      <hr class="dropdown-divider">
                      <li class="nav-item">
                         <a class="submenu dropdown-item" href="/eventsGallery" role="button" aria-expanded="false">
                         Events & Galleries
                         </a>
                      </li>
                      <hr class="dropdown-divider">
                      <li class="nav-item">
                         <a class="submenu dropdown-item" href="mediaContact.html" role="button" aria-expanded="false">
                         Media Contact
                         </a>
                      </li>
                   </ul>
                </li>
                <li class="nav-item dropdown link-widget">
                   <a class="nav-link dropdown-toggle" href="#" role="button"  aria-expanded="false">
                   Important-Links
                   </a>
                   <ul class="dropdown-menu">
                       <li class="nav-item">
                         <a class="submenu dropdown-item" ole="button" aria-expanded="false" href="https://www.rbi.org.in/home.aspx">Reserve Bank of India</a></li>
                         <hr class="dropdown-divider">
                       <li class="nav-item">
                         <a class="submenu dropdown-item" ole="button" aria-expanded="false" href="https://www.rbi.org.in/commonperson/English/Scripts/rbikehtahai.aspx">RBI Kehta Hai</a></li>
                         <hr class="dropdown-divider">
                       <li class="nav-item">
                         <a class="submenu dropdown-item" ole="button" aria-expanded="false" href="https://www.nabard.org/">NABARD</a></li>
                         <hr class="dropdown-divider">
                       <li class="nav-item">
                         <a class="submenu dropdown-item" ole="button" aria-expanded="false" href="https://www.jansamarth.in/home">JanSamarth Portal</a></li>
                         <hr class="dropdown-divider">
                       <li class="nav-item">
                         <a class="submenu dropdown-item" ole="button" aria-expanded="false" href="/downloadForms">Download Forms</a></li>
                         <hr class="dropdown-divider">
                       <li class="nav-item">
                         <a class="submenu dropdown-item" ole="button" aria-expanded="false" href="/tender">Tender</a></li>
                         <hr class="dropdown-divider">
                       <li class="nav-item">
                         <a class="submenu dropdown-item" ole="button" aria-expanded="false" href="/kyc">KYC</a></li>
                         <hr class="dropdown-divider">
                         <li class="nav-item">
                         <a class="submenu dropdown-item" ole="button" aria-expanded="false" href="/acsti">ACSTI</a></li>
                         <hr class="dropdown-divider">
                       <li class="nav-item">
                         <a class="submenu dropdown-item" ole="button" aria-expanded="false" href="/recruitment">Recruitment</a></li>
                         <hr class="dropdown-divider">
                       <li class="nav-item">
                         <a class="submenu dropdown-item" ole="button" aria-expanded="false" href="/otherlinks">Other Links</a></li>
                         <hr class="dropdown-divider">
                       <li class="nav-item">
                         <a class="submenu dropdown-item" ole="button" aria-expanded="false" href="http://www.upcbl.in/pdf/DEA_FUND_Customer_List_170123.pdf">Unclaimed Accounts</a></li>
                         <hr class="dropdown-divider">
                       <li class="nav-item">
                         <a class="submenu dropdown-item" ole="button" aria-expanded="false" href="/importantNotification">Important Notification</a></li>
                      
                   </ul>
                </li>
                <li class="nav-item mt-3 mt-lg-0">
                   <a class="main-btn" target="_blank" href="https://upcbonline.com/">Netbanking</a>
                </li>
             </ul>
          </div>
           </div>
          </div>
       </div>
    </nav>
 </header>