 <!--images section-->
 <div class="pagew" style="background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(0, 0, 0, 0.2)  url(images/acsti.jpeg) no-repeat center;background-size:100% 100%; background-position: center;">
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-3">
             <div class="page-breadcrumb">
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                 <ol class="breadcrumb breadmenu" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1))">
                   <span property="itemListElement" typeof="ListItem">
                      <a property="item" typeof="WebPage" title="Go to UPCB." href="index.html" class="home"><span property="name" style="color:#ffffff;">UPCB</span></a>
                      <meta property="position" content="1">
                   </span>
                    <span style="color:#ffffff">&gt; </span>
                 <span property="itemListElement" typeof="ListItem" class="text-uppercase">
                      <a property="item" typeof="WebPage" class="home" style="color: #ffffff;"><span property="name">Important Links</span></a>
                      <meta property="position" content="1">
                   </span>
                    <span style="color:#ffffff">&gt; </span>
                   <span property="itemListElement" typeof="ListItem">
                      <span property="name" class="post post-page current-item breadmenu text-uppercase" style="color: #ffffff;">ACSTI</span>
                      <meta property="url" content="https://upcbl.in/services.html">
                      <meta property="position" content="2">
                   </span>
                </ol>
             </div>
          </div>
          <div class="col-md-9"></div>
       </div>
    </div>
 </div>
 <!--images section end-->

  <section class="acsti_wrapper">
     <div class="container">
         <div class="row">
                     <div class="mainc tab-content col-lg-12 col-md-12 col-sm-12 mb-4 mb-lg-0 ps-lg-4 bgdefine">
                <!--<div id="home" class="active tab-pane fade in show">
                           <h2 >The right credit card is right here</h2>
                           <p>Looking for a card that earns travel points, cash back, or rewards? Our side-by-side                 comparisons and objective reviews can help you make the smartest decision.</p>
                        
                </div>
                <div id="about" class="tab-pane fade">
                     <h2 >The 2nd right credit card is right here</h2>
                           <p>Looking for a card that earns travel points, cash back, or rewards? Our side-by-side                 comparisons and objective reviews can help you make the smartest decision.</p>
                </div>-->
                 <div class="active tab-pane fade in show">
                   <h4 class="pt-4"><span style="color: var(--secondary-text);">Agriculture Cooperative Staff Training Institute (ACSTI),  Indira nagar, Lucknow</span></h4>
                 
               
               
       <div class="loan-rate-table table-responsive">
          <p>Agriculture Cooperative Staff Training Institute, Indira nagar is State level cooperative training institute, providing training to UPCB officers/Employees alongwith its 40 branches’ staff, 50 DCCBs officials/Employees alongwith to their 1260 branches’ staff and approx.7000 B-PACS officers/Employees. ACSTI has been Accredited in ‘A’ category by NABARD and BIRD.</p>
          <p>ACSTI's Target for year the 2023-24 is to provide training to 1900 trainees with 5590 training days through 60 Programmes.</p>
<table class="table table-striped table-light" style="background: #FFFFFF;">
<tbody>
<h4 class="pt-4">Titles of Programmes being conducted by ACSTI :</h4>
<tr>
<td>&#x27A4; Workshop on Bahu-Uddeshiye Prathmik Gramin Cooperative Samiti (B-PACS)</td>
</tr>

<tr>
<td>&#x27A4; Programme on Management of B-PACS, operation of computers and Micro
ATMs</td>
</tr>

<tr>
<td>&#x27A4; Programme on Developing B-PACS in to Multipurpose societies</td>
</tr>

<tr>
<td>&#x27A4; Programme on Self Sustenance through Good Governance and Management of Resources</td>
</tr>

<tr>
<td>&#x27A4; Programme on CAS & MIS in B-PACS</td>
</tr>

<tr>
<td>&#x27A4; Programme on Operational management of B-PACS H Programme on Business Development Plan</td>
</tr>

<tr>
<td>&#x27A4; Workshop on Capital Adequacy NPA Management and Regulatory Compliance in Cooperative Banks.</td>
</tr>

<tr>
<td>&#x27A4; Programme on Assets & Liability Management</td>
</tr>

<tr>
<td>&#x27A4; Programme on ‘Know Your Customer, Prevention of Money Laundering and Customer Protection</td>
</tr>

<tr>
<td>&#x27A4; Programme on Banking Law and Practice and Legal Aspects in Loan Proposals </td>
</tr>

<tr>
<td>&#x27A4; Programme on Banking operation under core banking solution</td>
</tr>

<tr>
<td>&#x27A4; Programme on Digital Banking</td>
</tr>

<tr>
<td>&#x27A4; Programme on Financing of Sugar Factories by Cooperative Banks (Law and Practice)</td>
</tr>

<tr>
<td>&#x27A4; Programme on General Banking</td>
</tr>

<tr>
<td>&#x27A4; Programme on Internal checks & control</td>
</tr>

<tr>
<td>&#x27A4; Programme on project appraisal and loan documentation - NFS </td>
</tr>

<tr>
<td>&#x27A4; Project Appraisal and Documentation (Farm Sector)</td>
</tr>

<tr>
<td>&#x27A4; Risk Management in bank.</td>
</tr>

<tr>
<td>&#x27A4; Programme on internet banking and cyber security. </td>
</tr>

<tr>
<td>&#x27A4; Grievances Redressal Mechanism in bank.</td>
</tr>

<tr>
<td>&#x27A4; Programme on Retail Banking</td>
</tr>

<tr>
<td>&#x27A4; Programme on Micro finance with emphasis on SHG and JLG. </td>
</tr>

<tr>
<td>&#x27A4; Programme on Non Fund Business and Cross Selling</td>
</tr>

<tr>
<td>&#x27A4; Programme on Customer Relationship Management</td>
</tr>

<tr>
<td>&#x27A4; Programme on Departmental Enquiry, Punishment and Appeal </td>
</tr>

<tr>
<td>&#x27A4; Programme on GST, TDS and Gem Services</td>
</tr>

<tr>
<td>&#x27A4; Programme on Preparation of Balance Sheet and Profit and Loss Account according to amendment of Banking Regulation Act.-1949</td>
</tr>

<tr>
<td>&#x27A4; Workshop on Compliance of NABARD Inspection of Cooperative Banks </td>
</tr>

<tr>
<td>&#x27A4; Workshop on Important Provisions of BR Act. 1949 & Latest amendment</td>
</tr>

<tr>
<td>&#x27A4;  Programme to make 16 Weak District Cooperative Banks Viable and Profitable </td>
</tr>

<tr>
<td>&#x27A4; Programme on CAS & MIS in B-PACS ( Customized Programme-ICDP)</td>
</tr>

<tr>
<td>&#x27A4; Workshop on Bahu-Uddeshiye Prathmik Gramin Cooperative Samiti (B-PACS) as Common Service centre (CSC)</td>
</tr>


</tbody>
</table>
</div>

<h6 style="padding-bottom: 20px; margin: 0;">* Click Here to View <a href="acsticalendar.html" target="_blank">Calendar</a></h6>
                 </div>


       </div>
         </div>
     </div>
 </section>