 <!--images section-->
 <div class="pagew" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), rgba(0, 0, 0, 0)  url(images/services/branches.png) no-repeat center;background-size:100% 100%; background-position: center;">
    <div class="container-fluid">
      <div class="row">
         <div class="col-md-3">
            <div class="page-breadcrumb">
               <p>&nbsp;</p>
               <p>&nbsp;</p>
               <p>&nbsp;</p>
               <p>&nbsp;</p>
               <p>&nbsp;</p>
               <p>&nbsp;</p>
               <ol class="breadcrumb breadmenu" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));">
                  <span property="itemListElement" typeof="ListItem">
                     <a property="item" typeof="WebPage" title="Go to UPCB." href="index.html" class="home"><span property="name" style="color:#ffffff;">UPCB</span></a>
                     <meta property="position" content="1">
                  </span>
                   <span style="color:#ffffff">&gt; </span>
                 <span property="itemListElement" typeof="ListItem">
                     <a property="item" typeof="WebPage" href="ourservices.html" class="home text-uppercase"><span property="name" style="color:#ffffff;">service</span></a>
                     <meta property="position" content="1">
                  </span>
                   <span style="color:#ffffff">&gt; </span>
                  <span property="itemListElement" typeof="ListItem">
                     <span property="name" class="post post-page current-item breadmenu text-uppercase">Digital Banking</span>
                     <meta property="url" content="https://upcbl.in/services.html">
                     <meta property="position" content="2">
                  </span>
               </ol>
            </div>
         </div>
         <div class="col-md-9"></div>
         
      </div>
   </div>
</div>
<!--images section end-->

    <section class="atmsbranches">
  <div class="container address mb-3">
   <div class="col-sm-12 mb-3 mainc hq">
      <h4>Headquarters:</h4>
      <p style="font-weight:600">Sahakari Kisan Bhavan,</p>
      <p>2, Mahatma Gandhi Marg,</p>
      <p>Lucknow.</p>
  </div>
  <div class="col-sm-12 mb-3 mainc hq">
      <p><span style="font-weight:600">Phone:</span>
          2223806, 2623740, 2624972, 2611522, 2614007, 4151200
      </p>
       <p><span style="font-weight:600">Data Center Head Office Phone No:</span>
          0522-4151291
      </p>
      <p><span style="font-weight:600">Email:</span>
          info@upcbl.in
      </p>
  </div>
   <div class="col-sm-12 mainc hq">
      <p><span style="font-weight:600">Fax:</span>
          0522-2629284
      </p>
  </div>
  </div>

   <div class="atmcards" style="padding: 20px">
       <div class="container mb-4">
      <div class="row">
          <div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">Service Branch,</h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>2, Mahatma Gandhi, Lucknow.</p>
                      </li>
                      <li>
                          <p>UPCB0000001</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">0522-4151200</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>
<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">Main Branch,</h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>2, Mahatma Gandhi, Lucknow.</p>
                      </li>
                      <li>
                          <p>UPCB000MAIN</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">0522-2623269</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>
<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">Vidhanesh Marg Branch,</h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>14, Vidhanesh Marg, Lucknow.</p>
                      </li>
                      <li>
                          <p>UPCB0000002</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">0522-2629257</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>
<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">  Nadan Mahal Road Branch, </h5>
                  <ul class="list-unstyled">
                      <li>
                          <p> Nadan Mahal Road, Lucknow.</p>
                      </li>
                      <li>
                          <p>UPCB0000007</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">0522-2269377</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>
<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">  Alambagh Branch,</h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>Singar Nagar Road, Alambagh, Lucknow.</p>
                      </li>
                      <li>
                          <p>UPCB0000003</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">0522-2456410</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>
<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">  Aliganj Branch, </h5>
                  <ul class="list-unstyled">
                      <li>
                          <p> C-46, Sector - G, Aliganj, Lucknow.</p>
                      </li>
                      <li>
                          <p>UPCB0000004</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">0522-2321431</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>
<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">  AMINABAD BRANCH, </h5>
                  <ul class="list-unstyled">
                      <li>
                          <p> 173/33,B.N.   Verma Road, Aminabad, Lucknow.</p>
                      </li>
                      <li>
                          <p>UPCB0000005</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">0522-2615346</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>
<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">  Jayanarayan Degree College Branch, </h5>
                  <ul class="list-unstyled">
                      <li>
                          <p> J.N.D.C.   College, Lucknow.</p>
                      </li>
                      <li>
                          <p>UPCB0000006</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">0522-2630969</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>


<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">Nirala Nagar Branch,</h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>B-193, Sinha Market, I.T.  College K Pass, Lucknow</p>
                      </li>
                      <li>
                          <p>UPCB0000009</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">0522-2787158</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>

<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">Sadar Branch, </h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>630, Mahabir Prasad Road, Sadar Bazar, Lucknow</p>
                      </li>
                      <li>
                          <p>UPCB0000011</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">0522- 2480765</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>
<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">Talkatora Branch,</h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>45/17, 46/17 B, Rajaji Puram, Talkatora Lucknow</p>
                      </li>
                      <li>
                          <p>UPCB0000012</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">0522-2661708</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>
<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">Christ Church College Branch, </h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>Christ Church College, Kanpur</p>
                      </li>
                      <li>
                          <p>UPCB0000013</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">0512-2367317</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>
<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">  Naka Hindola Branch,</h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>Naka Hindola, Lucknow.</p>
                      </li>
                      <li>
                          <p>UPCB0000008</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">0522-2691860</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>
<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">Varanasi Branch, </h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>B-47/179 Laksa Road, Varanasi</p>
                      </li>
                      <li>
                          <p>UPCB0000026</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">0542-2401707</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>
<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">D.A.V.   College Branch, </h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>Civil Line, D.A.V.   College, Kanpur</p>
                      </li>
                      <li>
                          <p>UPCB0000014</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">0512-2305341</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>
<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">Birhana Road Branch, </h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>24/107, Birhana Road, Kanpur</p>
                      </li>
                      <li>
                          <p>UPCB0000015</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">0512-2369540</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>
<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">Navin Market Branch,</h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>70/71, Parade, Navin Market, Kanpur</p>
                      </li>
                      <li>
                          <p>UPCB0000016</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">0512-2304863</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>
<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">Motizeel Branch, </h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>111-A/325, Ashok Nagar, Motizeel, Kanpur</p>
                      </li>
                      <li>
                          <p>UPCB0000017</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">0512-2525188</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>
<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">Govind Nagar Branch, </h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>Mishra Market, Govind Nagar, Kanpur</p>
                      </li>
                      <li>
                          <p>UPCB0000018</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">0512-2654267</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>
<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">Ghaziabad Branch, </h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>E-23, Nai Arya Nagar Meerut Road, Ghaziabad</p>
                      </li>
                      <li>
                          <p>UPCB0000023</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">0120-2781403</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>
<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">Sitapur Branch, </h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>Transport Chairaha, Sitapur</p>
                      </li>
                      <li>
                          <p>UPCB0000020</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">05862-242253</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>
<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">Bareilly Branch, </h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>95-U, Civil Line, Bareilly</p>
                      </li>
                      <li>
                          <p>UPCB0000021</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">0581-2573482</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>
<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">Agra Branch, </h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>Bellanganj, Agra</p>
                      </li>
                      <li>
                          <p>UPCB0000022</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">0562-2622263</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>
<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">Sarvodaya Nagar Branch, </h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>Sarvodaya Nagar, Kanpur</p>
                      </li>
                      <li>
                          <p>UPCB0000019</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">0512-2218597</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>                


<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">Gonda Branch, </h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>Lala Chhote Ka Hata, Station Road, Md. Maharani Ganj, Gonda</p>
                      </li>
                      <li>
                          <p>UPCB0000025</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">05262-228390</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>


<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">  Fatehpur</h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>Gopal Nagar, Old GT0 Road, Near Shanidev Mandir, Fatehpur-212601</p>
                      </li>
                      <li>
                          <p>UPCB0000031 </p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">7525006034<</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>
<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">Ramsagar Mishra Nagar Branch, </h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>A-40, Ramsagar Mishra Nagar, Lucknow</p>
                      </li>
                      <li>
                          <p>UPCB0000010</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">0522-2346747</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>
<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">  Kanpur Dehat</h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>NH-2, Adhu Mod, Kanhaiya Nagar Akbarpur, Kanpur Dehat-209101</p>
                      </li>
                      <li>
                          <p>UPCB0000034</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">7525006094</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>
<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">    Sathianv Branch</h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>Station Road, Sathianv, Azamgarh.</p>
                      </li>
                      <li>
                          <p>UPCB0000027</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">05462-272311 </p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>
<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">Faizabad Branch, </h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>Bajaja Bazar, Faizabad(Ayodhya) - 224001</p>
                      </li>
                      <li>
                          <p>UPCB0000024</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">05278-222112</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>
<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">  Mathura</h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>3, Manas Nagar, Maholi Road, Mathura-281001</p>
                      </li>
                      <li>
                          <p>UPCB0000032</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">7525006093</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>
<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">  Amethi</h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>M0-438 Katralalganj, Tehsil-Gauriganj, Amethi-227409</p>
                      </li>
                      <li>
                          <p>UPCB0000040</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">7525006047</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>

<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">  Kannauj</h5>
                  <ul class="list-unstyled">
                      <li>
                          <p> M0-91/A, Akbarpur Sarai Ghagh Tirwa, Crossing Saraymeera, Kannauj-209727</p>
                      </li>
                      <li>
                          <p>UPCB0000035</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">7525006092</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>
<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">  Sambhal</h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>Chowkipar, Sambhal Road, Branch-Bahjoi, Sambhal, Uttar Pradesh.</p>
                      </li>
                      <li>
                          <p>UPCB0000036</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">7525006090</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">  Gorakhpur</h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>M 0 No 0-388, Medical College Road, Basaratpur,Gorakhpur - 273004</p>
                      </li>
                      <li>
                          <p>UPCB0000041</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">7525006136</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>

<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">  Hapur</h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>V3S Square, K0N0.   95/2 Dashmesh Nagar, Meerut Road, Hapur-245101</p>
                      </li>
                      <li>
                          <p>UPCB0000038</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">7525006084</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>
<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">  Jyotiba Phule Nagar</h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>Mohalla Danish Mandan Road, Opposite HP Petrol Pump, Amroha-244221</p>
                      </li>
                      <li>
                          <p>UPCB0000037</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">7525006087</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>
<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">  Ambedkar Nagar</h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>M0-809, Nasirpur Barwan, Akbarpur, Ambedkar Nagar-224122</p>
                      </li>
                      <li>
                          <p>UPCB0000039</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">7525006132</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>
<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">  Gautam Budh Nagar</h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>68, Ground Floor, Village Sadarpur, Sector-45, Gautam Budh Nagar, Noida-201301</p>
                      </li>
                      <li>
                          <p>UPCB0000033</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">7525006089</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>

<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">  Auraiya</h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>Gate No. 78, District Udyog Ke Samane, Dudhia Kheda, Dibiapur Road, Auraiya - 206122</p>
                      </li>
                      <li>
                          <p>UPCB0000043</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">7525006135</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>
<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">  Maharaj Ganj</h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>M0-971, Hamid Nagar, Bank Road, Dist-Maharajganj-273303</p>
                      </li>
                      <li>
                          <p>UPCB0000042</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">7525006099</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>

<div class="col-lg-3 col-md-6 mb-4">
              <div class="card p-4 text-center rounded-3">
                  <h5 class="text-decoration-underline mb-4">  Headquarters,</h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>2, Mahatma Gandhi Via Lucknow.</p>
                      </li>
                      <li>
                          <p>UPCB0000100</p>
                      </li>
                      <li>
                          <p style="margin: 0;padding: 0;">0522-4151200</p>
                      </li>
                      
              </ul>
                  <hr>
               </div>
          </div>



      </div>
      
   </div>
</div>
 
 
</section>

<!-- Pricing section -->
<section id="price" class="price_wrapper">
 
</section>
<!-- Pricing Section Exit  -->