 <!--images section-->
 <div class="pagew" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), rgba(0, 0, 0, 0)  url(images/digitalBanking.png) no-repeat center;background-size:100% 100%; background-position: center;">
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-3 ">
             <div class="page-breadcrumb">
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <ol class="breadcrumb breadmenu" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1))">
                   <span property="itemListElement" typeof="ListItem">
                      <a property="item" typeof="WebPage" title="Go to UPCB." href="index.html" class="home"><span property="name" style="color:#ffffff;">UPCB</span></a>
                      <meta property="position" content="1">
                   </span>
                    <span style="color:#ffffff">&gt; </span>
                  <span property="itemListElement" typeof="ListItem">
                      <a property="item" typeof="WebPage" href="ourservices.html" class="home text-uppercase"><span property="name" style="color:#ffffff;">service</span></a>
                      <meta property="position" content="1">
                   </span>
                    <span style="color:#ffffff">&gt; </span>
                   <span property="itemListElement" typeof="ListItem">
                      <span property="name" class="post post-page current-item breadmenu text-uppercase">Digital Banking</span>
                      <meta property="url" content="https://upcbl.in/services.html">
                      <meta property="position" content="2">
                   </span>
                </ol>
             </div>
          </div>
          <div class="col-md-9"></div>
          
       </div>
    </div>
 </div>
 <!--images section end-->


<!--sidebar start-->
<section id="" class="sidebar">
   <div class="container">
       <div class="row">
           <div class="leftsection col-lg-3 col-md-3 col-sm-3 text-center">
         
<ul class="nav navbar navbar-expand d-flex flex-column" >

     <li class="nav-item centeri w-100">
       <a href="#internetbanking" data-bs-toggle="tab" class="nav-link active animate__animated animate__bounceIn" style="animation-duration:5s"> 
      Internet Banking
      </a>
     </li>

     <li class="nav-item centeri w-100">
     <a href="#mobilebanking" class="nav-link animate__animated animate__backInLeft" style="animation-duration:5s" data-bs-toggle="tab">Mobile Banking </a>
     </li>

     <li class="nav-item centeri w-100">
      <a href="#neft" class="nav-link animate__animated animate__backInRight" style="animation-duration:5s" data-bs-toggle="tab">NEFT</a>
     </li>

     <li class="nav-item centeri w-100">
       <a href="#rtgs" class="nav-link animate__animated animate__bounceIn" style="animation-duration:5s" data-bs-toggle="tab">RTGS</a>
     </li>

     <li class="nav-item centeri w-100">
       <a href="#imps" class="nav-link animate__animated animate__backInLeft" style="animation-duration:5s" data-bs-toggle="tab">IMPS </a>
     </li>
    
     <li class="nav-item centeri w-100">
        <a href="#upi" class="nav-link animate__animated animate__backInRight" style="animation-duration:5s" data-bs-toggle="tab">UPI</a>
     </li>
     <li class="nav-item centeri w-100">
        <a href="#NABARDSchemes" class="nav-link animate__animated animate__bounceIn" style="animation-duration:5s" data-bs-toggle="tab">NABARD Schemes</a>
     </li>
      <li class="nav-item centeri w-100">
        <a href="#Microatm" class="nav-link animate__animated animate__backInLeft" style="animation-duration:5s" data-bs-toggle="tab">Micro ATM</a>
     </li>
       <li class="nav-item centeri w-100">
        <a href="#POS_MPOS" class="nav-link animate__animated animate__backInRight" style="animation-duration:5s" data-bs-toggle="tab">POS/MPOS</a>
     </li>
             
   </ul>
           </div>
           
           <div class="mainc tab-content col-lg-9 col-md-9 col-sm-9 mb-4 mb-lg-0 ps-lg-4 bgdefine">
                <!--<div id="home" class="active tab-pane fade in show">
                           <h2 >The right credit card is right here</h2>
                           <p>Looking for a card that earns travel points, cash back, or rewards? Our side-by-side                 comparisons and objective reviews can help you make the smartest decision.</p>
                        
                </div>
                <div id="about" class="tab-pane fade">
                     <h2 >The 2nd right credit card is right here</h2>
                           <p>Looking for a card that earns travel points, cash back, or rewards? Our side-by-side                 comparisons and objective reviews can help you make the smartest decision.</p>
                </div>-->
                 <div id="internetbanking" class="active tab-pane fade in show InternetBanking">
                  <h4>Internet Banking</h4>
                   <p style="text-align: justify;">Internet banking is the system that provides the facility to the customer to conduct the financial and non-financial transactions from his net banking account. The user can transfer funds from his account to other accounts of the same bank/different bank using a website or an online application.</p>

                    <h6>Benefits of Internet Banking</h6>

                   <div class="row" style="padding: 4px 10px;">
                      <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4">
                         <img class="img-thumbnail" width="320" height="250" src="images/services/internetbanking.png" class="vc_single_image-img attachment-large" alt="" decoding="async" title="internet-banking" sizes="(max-width: 555px) 100vw, 555px" />
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8 mb-8 mb-lg-0 ps-lg-4">
                          <p>
                           <ul>
                               <li><p>Easy access to accounts for the customer</p></li>
                               <li><p>Transaction load at the branches reduces</p></li>
                               <li><p>Availability of all digital channels like Utility bill payment, Fund Transfer, Insurance payment, Loan EMI payments etc.</p></li>
                               <li><p>Safety of Transactions with 2 Factor Authorization</p></li>
                               <li><p>24 x 7 access to Banking Services</p></li>
                               <li><p>Less Human Interaction, convenient and faster services</p></li>
                               <li><p>Paperless Banking</p></li>
                           </ul>
                       </p>

                      </div>
                   </div>
                 

                   <div>
                   <p>
                   <h6>The customer using this facility can conduct transactional and non-transactional tasks including:</h6>
                   <ul style="padding-top:4px">
                   <li> <p>View / download account statements.</p></li>
                   <li> <p>Check the history of the transactions for a given period by the concerned bank.</p></li>
                   <li> <p>Transfer funds via NEFT / RTGS / IMPS </p></li>
                   <li> <p>Cheque related functions like Order Cheque Books, stop / revoke cheque etc</p></li>
                   </ul>
                   </p>
                   </div>


                   <div>
                   <p>
                    <h6>Need of Internet Banking</h6>
                                <ul style="padding-top:4px">
                                  <li><p>To attract generation Z and tech-savvy customers.</p></li>
                                  <li><p>To remain in competition with nationalized banks.</p></li>
                                  <li><p>To increase customer base and deposit.</p></li>
                                  <li><p>Customer Retention: Will enable customer to avail services like online school fee submission , scholarship.</p></li>
                                  <li><p>Bank will be able to provide IMPS service through net</p></li>
                                </ul>
                   </p>
                   </div>
                   
                  
           <div align="Right" style="padding-bottom: 20px;" class="InternetBankingBtn">
                   <a href="https://upcbonline.com/" target="_blank" class="btn">Internet Banking &#x27A4;</a>
                   </div>
                   

           </div>
      




     <div id="mobilebanking" class="tab-pane fade MobileBanking">
      <h4>Mobile Banking</h4>
      <p style="text-align: justify;">Mobile banking is just the thing you need when you are on the move. In the absence of a laptop/computer, your UPCB mobile app is the answer to all your banking needs. Be it a bill payment, phone recharge or a fund transfer, a mobile app takes care of all your basic banking needs. Our mobile banking gives you the freedom to bank irrespective of the place or time. You may be commuting or waiting at the airport, your mobile app is always handy!</p>

       <div class="row" style="padding: 4px 10px;">
                      <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4">
                        <img width="275" height="195" src="images/services/mobilebanking.png" class="vc_single_image-img attachment-large" alt="" decoding="async" title="mobile-banking"  sizes="(max-width: 555px) 100vw, 555px" />
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8 mb-8 mb-lg-0 ps-lg-4">
                          <p>
                           <ul>
                               <li><p>Mobile banking is a service provided by a bank or other financial institution that allows its customers to conduct financial transactions remotely using a mobile device such as a smartphone or tablet. Unlike the related internet banking it uses software, usually called an app, provided by the financial institution for the purpose. Mobile banking is usually available on a 24-hour basis.</p></li>
                               <li><p>UPCB received Mobile Banking License from RBI on 17th March 2022.</p></li>
                               <li><p>Work Order have been given to implement same in Bank.</p></li>
                             </ul>
                       </p>

                      </div>
                   </div>



                   <div>
                   <p>
                   <h6>The customer using this facility can conduct transactional and non-transactional tasks including:</h6>
                   <ul style="padding-top:4px">
                   <li> <p>View / download account statements.</p></li>
                   <li> <p>Check the history of the transactions for a given period by the concerned bank.</p></li>
                   <li> <p>Transfer funds via NEFT / RTGS / IMPS </p></li>
                   <li> <p>Cheque related functions like Order Cheque Books, stop / revoke cheque etc</p></li>
                   <li><p>Pay any kind of bill, recharge mobiles, DTH connections, etc.</p></li>
                   </ul>
                   </p>
                   </div>

              <div align="Right" style="padding-bottom: 20px;" class="InternetBankingBtn">
                   <a href="https://play.google.com/store/apps/details?id=com.finacus.upb" target="_blank" class="btn">Mobile App &#x27A4;</a>
                   <a href="https://play.google.com/store/apps/details?id=com.megasoftinfo.UPCB.easymbank" target="_blank" class="btn">Passbook App &#x27A4;</a>
                   </div>
            
     </div>


        <div id="neft" class="tab-pane fade NEFT">
                <h4>National Electronic Funds Transfer <span style="color:var(--secondary-text);">(NEFT)</span></h4>

                <div class="row">
                     
                      <div class="col-lg-8 col-md-8 col-sm-8 mb-8 mb-lg-0 ps-lg-4" style="padding: 10px 0px;">
                          <p style="text-align: justify;">
         National Electronic Funds Transfer (NEFT) is a nation-wide payment system facilitating one-to-one funds transfer. Under this system, individuals can electronically transfer funds from their account to any individual having an account with any other bank branch in the country participating in the system
         </p>
          <h6 style="font-weight:600;">NEFT can be done through</h6>
     <div style="padding-top: 15px;" class="InternetBankingBtn">
         <a href="https://upcbonline.com/" target="_blank" class="btn ">Internet Banking &#x27A4;</a>
          <a href="services.html#mobile-banking" target="_blank" class="btn">Mobile Banking &#x27A4;</a>
       </div>

       <h6 style="font-weight:600;padding-top: 20px;">Timings : 24 x 7 x 365 on Digital Banking Channels</h6>

                      </div>
                       <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4">
                         <img class="img-thumbnail" width="320" height="250" src="images/services/neft.png" class="vc_single_image-img attachment-large" alt="" decoding="async" title="internet-banking" sizes="(max-width: 555px) 100vw, 555px" />
                      </div>
                   </div>
                 



    

    

      <h4>Transaction Limits <span style="color: var(--secondary-text);">(Digital Banking)</span></h4>

      <div class="table-responsive">
                                  <table class="table table-bordered" style="">
<thead>
<tr>
 <th scope="col">Type of Account</th>
 <th scope="col">Limit / Transaction</th>
 <th scope="col">Limit / Day</th>
 <th scope="col">Charges</th>
</tr>
</thead>
<tbody>
<tr>
 <td scope="row"><p>Savings Account</p></td>
 <td><p>Rs. 2,00,000</p></td>
 <td><p>Rs. 5,00,000</p></td>
 <td><p>Nil</p></td>
</tr>
<tr>
 <td scope="row"><p>Current Account</p></td>
 <td><p>Rs. 2,00,000</p></td>
 <td><p>Rs. 5,00,000</p></td>
 <td><p>Nil</p></td>
</tr>

</tbody>
</table>
      </div>

       <h6 style="font-weight:600;padding-top: 10px;">Note:</h6>
                   <div class="MobileBankingPoints">
                   <ul>
                   <li><p>Direct Membership for RTGS and NEFT with RBI.</p></li>
<li><p>42 DCBs & 1 UCB as sub member free of Cost</p></li>
<li><p>24 X 7 RGTS/NEFT</p></li>
<li><p>No mandatory Deposits / Charges as in sponsor banks like ICICI Bank etc.</p></li>

                   </ul>
                   </div>
             
       </div>

  <div id="rtgs" class="tab-pane fade RTGS">
                <h4>Real Time Gross Settlement <span style="color:var(--secondary-text);">(RTGS)</span></h4>

                 <div class="row" style="padding-bottom: 20px">

                    <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4">
                         <img class="img-thumbnail" width="320" height="250" src="images/services/rtgs1.png" class="vc_single_image-img attachment-large" alt="" decoding="async" title="internet-banking" sizes="(max-width: 555px) 100vw, 555px" />
                      </div>
                     
                      <div class="col-lg-8 col-md-8 col-sm-8 mb-8 mb-lg-0 ps-lg-4" style="padding: 10px 0px;">
                          <p style="text-align: justify;"<p>>
        ‘RTGS’ stands for Real Time Gross Settlement, which means continuous (real-time) settlement of funds individually on an order by order basis. ‘Real Time’ means the processing of instructions at the time they are received rather than at some later. Considering that the fund settlement takes place in the books of the Reserve Bank of India, the payments are final and irrevocable.
         </p>
         

       <h6 style="font-weight:600;padding-top: 20px;">Timings : 24 x 7 x 365 on Digital Banking Channels</h6>

                      </div>
                      
                   </div>

     <h6 style="font-weight:600;">RTGS can be done through</h6>
     <div style="padding-top: 15px; padding-bottom: 10px;" class="InternetBankingBtn">
         <a href="https://upcbonline.com/" target="_blank" class="btn">Internet Banking</a>
          <a href="services.html#/mb" target="_blank" class="btn">Mobile Banking</a>
          <a href="../our-branches/index.html" target="_blank" class="btn">Branch Banking</a>
     </div>

   

      <h4>Transaction Limits <span style="color: var(--secondary-text);">(Digital Banking)</span></h4>

      <div class="table-responsive">
                                  <table class="table table-bordered">
<thead>
<tr>
 <th scope="col">Type of Account</th>
 <th scope="col">Limit / Transaction</th>
 <th scope="col">Limit / Day</th>
 <th scope="col">Charges</th>
</tr>
</thead>
<tbody>
<tr>
 <td scope="row"><p>Savings Account</p></td>
 <td><p>Rs. 2,00,000 – 5,00,000</p></td>
 <td><p>Rs. 2,00,000 – 10,00,000</p></td>
 <td><p>Nil</p></td>
</tr>
<tr>
 <td scope="row"><p>Current Account</p></td>
 <td><p>Rs. 2,00,000 – 5,00,000</p></td>
 <td><p>Rs. 2,00,000 – 10,00,000</p></td>
 <td><p>Nil</p></td>
</tr>

</tbody>
</table>
      </div>
        <h6 style="font-weight:600;padding-top: 20px;">Note:</h6>
                   <div class="MobileBankingPoints">
                   <ul>
                   <li><p>Direct Membership for RTGS and NEFT with RBI.</p></li>
<li><p>42 DCBs & 1 UCB as sub member free of Cost</p></li>
<li><p>24 X 7 RGTS/NEFT</p></li>
<li><p>No mandatory Deposits / Charges as in sponsor banks like ICICI Bank etc.</p></li>

                   </ul>
                   </div>
             
       </div>

<div id="imps" class="tab-pane fade IMPS">
                <h4>Immediate Payment Service <span style="color:var(--secondary-text);">(IMPS)</span> </h4>
              
                   <p style="text-align: justify;">Immediate Payment Service (IMPS) public launch happened on 22nd November 2010 by RBI.
                   </p>
                   <p >IMPS provides robust & real time fund transfer which offers an instant, 24X7, interbank electronic fund transfer service that could be accessed on multiple channels like Mobile, Internet, ATM, SMS. IMPS is an emphatic service which allow transferring of funds instantly within banks across India which is not only safe but also economical. Currently on IMPS, 647 members are live which includes banks & PPIs.
                   </p>

                       <div class="row" style="padding-bottom: 20px">

                   
                     
                      <div class="col-lg-8 col-md-8 col-sm-8 mb-8 mb-lg-0 ps-lg-4" style="padding: 10px 0px;">
                          <p style="text-align: justify;">
        IMPS provides robust & real time fund transfer which offers an instant, 24X7, interbank electronic fund transfer service that could be accessed on multiple channels like Mobile, Internet, Branch and IMPS is an emphatic service which allows transferring of funds instantly within banks across India which is not only safe but also economical. Members currently on IMPS.
         </p>
         

       <h6 style="font-weight:600;padding-top: 20px;">Timings : 24 x 7 x 365 on Digital Banking Channels</h6>

        <p>
         <a href="https://www.npci.org.in/what-we-do/imps/product-statistics" target="_blank" rel="noopener noreferrer">IMPS Live Members</a>
     </p>

                      </div>

                       <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4">
                         <img class="img-thumbnail" width="320" height="250" src="images/services/imps.png" class="vc_single_image-img attachment-large" alt="" decoding="async" title="internet-banking" sizes="(max-width: 555px) 100vw, 555px" />
                      </div>
                      
                   </div>


                
       

     <h6 style="font-weight:600;">IMPS can be done through</h6>
     <div style="padding-top: 15px; padding-bottom: 10px;" class="InternetBankingBtn">
         <a href="https://upcbonline.com/" target="_blank" class="btn">Internet Banking</a>
          <a href="services.html#mobile-banking" target="_blank" class="btn">Mobile Banking</a>
          <a href="../our-branches/index.html" target="_blank" class="btn">Branch Banking</a>
     </div>

     


    
      <h4>Transaction Limits <span style="color: var(--secondary-text);">(Digital Banking)</span></h4>

      <div class="table-responsive">
                                  <table class="table table-bordered">
<thead>
<tr>
 <th scope="col">Type of Account</th>
 <th scope="col">Limit / Transaction</th>
 <th scope="col">Limit / Day</th>
 <th scope="col">Charges</th>
</tr>
</thead>
<tbody>
<tr>
 <td scope="row"><p>Savings Account</p></td>
 <td><p>Rs. 2,00,000</p></td>
 <td><p>Rs. 5,00,000</p></td>
 <td><p>Nil</p></td>
</tr>
<tr>
 <td scope="row"><p>Current Account</p></td>
 <td><p>Rs. 2,00,000</p></td>
 <td><p>Rs. 5,00,000</p></td>
 <td><p>Nil</p></td>
</tr>

</tbody>
</table>
      </div>

       <h6 style="font-weight:600;padding-top: 20px;">The participants for IMPS will be as follows:
</h6>
                   <div class="MobileBankingPoints">
                   <ul>
                   <li><p>Remitter (Sender)</p></li>
<li><p>Beneficiary (Receiver)</p></li>
<li><p>Banks</p></li>
<li><p>National Financial Switch - NPCI</p></li>

                   </ul>
                   </div>
             
       </div>

<div id="upi" class="tab-pane fade UPI">
                <h4>Unified Payments Interface <span style="color:var(--secondary-text);">(UPI)</span></h4>
              
                   <p style="text-align: justify;">Unified Payments Interface (UPI) is a system that powers multiple bank accounts into a single mobile application (of any participating bank), merging several banking features, seamless fund routing & merchant payments into one hood. It also caters to the “Peer to Peer” collect request which can be scheduled and paid as per requirement and convenience.</p>


                     <div class="row" style="padding-bottom: 20px">

                       <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4">
                         <img class="img-thumbnail" width="320" height="250" src="images/services/upi.png" class="vc_single_image-img attachment-large" alt="" decoding="async" title="internet-banking" sizes="(max-width: 555px) 100vw, 555px" />
                      </div>

                   
                     
                      <div class="col-lg-8 col-md-8 col-sm-8 mb-8 mb-lg-0 ps-lg-4" style="padding: 10px 0px;">
                          <p style="text-align: justify;">
       UPI or Unified Payments Interface is an immediate real-time payment system that helps in instantly transferring the funds between the two bank accounts through a mobile platform. Hence, UPI is a concept that allows multiple bank accounts to get into a single mobile application.
         </p>
         

       <h6 style="font-weight:600;padding-top: 20px;">Timings : 24 x 7 x 365 on Digital Banking Channels</h6>

        <p>
         <a href="https://www.npci.org.in/what-we-do/upi/product-statistics" target="_blank" rel="noopener noreferrer">UPI Members</a>
     </p>

                      </div>

                       
                      
                   </div>
<h6 style="font-weight:600;">UPI can be done through</h6>
     <p>Third Party Apps like Google Pay, PhonePe, PayTM etc.</p>
<div style="padding-bottom: 10px;" class="InternetBankingBtn">
         <a href="https://upcbonline.com/" target="_blank" class="btn">Internet Banking</a>
          <a href="services.html#mobile-banking" target="_blank" class="btn">Mobile Banking</a>
          <a href="../our-branches/index.html" target="_blank" class="btn">Branch Banking</a>
     </div>

     
     

      <h4>Transaction Limits <span style="color: var(--secondary-text);">(Digital Banking)</span></h4>

      <div class="table-responsive">
        <table class="table table-bordered">
<thead>
<tr>
 <th scope="col">Type of Account</th>
 <th scope="col">Limit / Transaction</th>
 <th scope="col">Limit / Day</th>
 <th scope="col">Charges</th>
</tr>
</thead>
<tbody>
<tr>
 <td scope="row"><p>Savings Account</p></td>
 <td><p>Rs. 1,00,000</p></td>
 <td><p>Rs. 1,00,000</p></td>
 <td><p>Nil</p></td>
</tr>
<tr>
 <td scope="row"><p>Current Account</p></td>
 <td><p>Rs. 1,00,000</p></td>
 <td><p>Rs. 1,00,000</p></td>
 <td><p>Nil</p></td>
</tr>

</tbody>
</table>
      </div>

         <h6 style="font-weight:600;padding-top: 20px;">Features:</h6>
                   <div class="MobileBankingPoints">
                   <ul>
                   <li><p>Immediate money transfer through mobile device round the clock 24*7 and 365 days.</p></li>
<li><p>Single mobile application for accessing different bank accounts.</p></li>
<li><p>Virtual address of the customer for Pull & Push provides for incremental security with the customer not required to enter the details such as Card no, Account number; IFSC etc.</p>
</li>
<li><p>QR Code</p></li>

                   </ul>
                   </div>
             
       </div>

      <div id="NABARDSchemes" class="tab-pane fade UPI">
                <h4>NABARD Schemes</h4>
                
  <div class="table-responsive">
        <table class="table table-bordered">
<thead>
<tr>
 <th scope="col">S. NO.</th>
 <th scope="col">Name Of Scheme related to IT </th>
 <th scope="col">NABARD Financial Assistance</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td><p>Demonstration Van for Financial Literacy</p></td>
<td><p>Rs.15 Lakh per VAN (Max 3 Van per Bank)</p></td>
</tr>

<tr>
<td>2</td>
<td><p>Micro ATM</p></td>
<td><p>Rs. 22500/ per device for DCB and 15000/ per device for SCB</p></td>
</tr>

<tr>
<td>3</td>
<td><p>PoS/ M-Pos</p></td>
<td><p>Rs 6000/ per device</p></td>
</tr>

<tr>
<td>4</td>
<td><p>PACS Computerization</p></td>
<td><p>Under NABARD CDF Scheme 5 Crore matching grant sanctioned.</p></td>
</tr>

<tr>
<td>5</td>
<td><p>AUA/KUA Membership</p></td>
<td><p>AUA/KUA Rs 25 Lakh per Bank(UPCB) and Sub-AUA/KUA <br>Rs. 5 Lakh per DCB</p></td>
</tr>

</tbody>
</table>
      </div>
</div>

<div id="Microatm" class="tab-pane fade UPI">
                <h4>Micro ATM</h4>
                <p style="text-align: justify;"> Micro ATM meant to be a device that is used by a million Business Correspondents (BC) to deliver basic banking services. The platform will enable Business Correspondents (who could be a local kirana shop owner and will act as 'micro ATM') to conduct instant transactions.</p>

                  <div class="row" style="padding-bottom: 20px">

                   
                     
                      <div class="col-lg-8 col-md-8 col-sm-8 mb-8 mb-lg-0 ps-lg-4" style="padding: 10px 0px;">
                        <h6>FEATURES:</h6>
                        <p>Touch Screen Display, Biometric Scanner, Thermal Printer, EMV Card Reader, Magnetic Card Reader, PIN PAD, Li-ION Chargeable Battery</p>

                        <h6>FUNCTIONS:</h6>
                        <p>Cash Withdrawal (Any Bank), Cash Receipt, Account Opening, Utility Bill Payment, Kind Transactions ( Fertiliser / Seeds etc. Purchase), Balance Enquiry, SMS.</p>

              </div>

                       <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4">
                         <img class="img-thumbnail" width="320" height="250" src="images/services/microatm.png" class="vc_single_image-img attachment-large" alt="" decoding="async" title="internet-banking" sizes="(max-width: 555px) 100vw, 555px" />
                      </div>
                      
                   </div>
               
       </div>


       <div id="POS_MPOS" class="tab-pane fade UPI">
                <h4>POS/MPOS</h4>
                <p style="text-align: justify;"> Micro ATM meant to be a device that is used by a million Business Correspondents (BC) to deliver basic banking services. The platform will enable Business Correspondents (who could be a local kirana shop owner and will act as 'micro ATM') to conduct instant transactions.</p>

                  <div class="row" style="padding-bottom: 20px">

                   
                     
                      <div class="col-lg-8 col-md-8 col-sm-8 mb-8 mb-lg-0 ps-lg-4" style="padding: 10px 0px;">
                        <h6>FEATURES:</h6>
                        <p style="text-align: justify;">Touch Screen Display, Biometric Scanner, Thermal Printer, EMV Card Reader, Magnetic Card Reader, PIN PAD, Li-ION Chargeable Battery</p>

                        <h6>FUNCTIONS:</h6>
                        <p>Cash Withdrawal (Any Bank), Cash Receipt, Account Opening, Utility Bill Payment, Kind Transactions ( Fertiliser / Seeds etc. Purchase), Balance Enquiry, SMS.</p>

              </div>

                       <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4">
                         <img class="img-thumbnail" width="320" height="250" src="images/MicroATM.png" class="vc_single_image-img attachment-large" alt="" decoding="async" title="internet-banking" sizes="(max-width: 555px) 100vw, 555px" />
                      </div>
                      
                   </div>
               
       </div>

       
</div>

       </div>
   </div>
</section>

<!---sidebar end-->
