<div class="pagew" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), rgba(0, 0, 0, 0)  url(/images/Fixeddeposit.png) no-repeat center;background-size:100% 100%; background-position: center;">
  <div class="container">
    <div class="row">
      <div class="col-md-3 ">
        <div class="page-breadcrumb">
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <ol class="breadcrumb breadmenu" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1))">
            <span property="itemListElement" typeof="ListItem">
              <a property="item" typeof="WebPage" title="Go to UPCB." href="index.html" class="home"><span property="name" style="color:#ffffff;">UPCB</span></a>
              <meta property="position" content="1">
            </span>
            <span style="color:#ffffff">> </span>
            <span property="itemListElement" typeof="ListItem" class="text-uppercase">
              <a property="item" typeof="WebPage" class="home" style="color: #ffffff;"><span property="name">Banking</span></a>
              <meta property="position" content="1">
            </span>
            <span style="color:#ffffff">> </span>
            <span property="itemListElement" typeof="ListItem">
              <span property="name" class="post post-page current-item breadmenu text-uppercase">Fixed Deposit</span>
              <meta property="url" content="https://upcbl.in/services.html">
              <meta property="position" content="2">
            </span>
          </ol>
        </div>
      </div>
      <div class="col-md-9 ">
      </div>
    </div>
  </div>
</div>
<!--images section end-->





<!--images section end-->
<section class="FixedDeposit_wrapper">
  <div class="container">
    <div class="row">
      <div class="mainc tab-content col-lg-12 col-md-12 col-sm-12 mb-4 mb-lg-0 ps-lg-4 bgdefine">

        <div class="active tab-pane fade in show">
          <h4><span style="color:var(--secondary-text);">SAVINGS AND RECURRING DEPOSIT RATES</span></h4>




          <div class="row" style="padding-bottom: 20px">



            <div class="col-lg-8 col-md-8 col-sm-8 mb-8 mb-lg-0 ps-lg-4 tableContentManner" style="padding: 10px 0px;">
              <p>
                Invest your money with UPCB for a tenure anywhere between 7 days to 5 years and earn interest over the deposited amount. As one of the most traditional and safest means to invest, many people prefer it for wealth creation. Fixed deposits is a good choice for people who have some extra lump sum amount, which they don’t need to use at the time. It ensures capital protection as well as a uniform flow of income, Senior citizens will get an additional interest rates of 0.50% P.A.
              </p>

              <h6>PRODUCTS & SERVICES WE PROVIDE</h6>
              <div>
                <ul>
                  <li>
                    <p>View / download account statements.</p>
                  </li>
                  <li>
                    <p>Check the history of the transactions for a given period by the concerned bank.</p>
                  </li>
                  <li>
                    <p>Transfer funds via NEFT / RTGS / IMPS</p>
                  </li>
                  <li>
                    <p>Cheque related functions like Order Cheque Books, stop / revoke cheque etc</p>
                  </li>
                </ul>
              </div>





            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4">
              <img class="img-thumbnail" width="380" height="280" src="/images/fixed Deposit.png" class="vc_single_image-img attachment-large" alt="" decoding="async" title="internet-banking" sizes="(max-width: 555px) 100vw, 555px" />
            </div>

          </div>



          <h4 style="font-weight:600;padding-top: 20px;">RATES FOR INDIVIDUALS, TRUST, HOUSING SOCIETIES & HUF (W. E. F. 17/03/2023)*</h4>


          <div>
            <table class="table table-bordered tableContentManner" style="border: 1px solid var(--secondary-color);" tableContentManner>
              <thead>
                <tr>

                  <th scope="col">TENURE</th>
                  <th scope="col">Interest Rates</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>07 DAYS TO 45 DAYS</td>
                  <td> 4.25%</td>
                </tr>
                <tr>
                  <td>07 DAYS TO 45 DAYS</td>
                  <td> 4.25%</td>
                </tr>
                <tr>
                  <td>07 DAYS TO 45 DAYS</td>
                  <td> 4.25%</td>
                </tr>
                <tr>
                  <td>07 DAYS TO 45 DAYS</td>
                  <td> 4.25%</td>
                </tr>
                <tr>
                  <td>07 DAYS TO 45 DAYS</td>
                  <td> 4.25%</td>
                </tr>
                <tr>
                  <td>07 DAYS TO 45 DAYS</td>
                  <td> 4.25%</td>
                </tr>
                <tr>
                  <td>07 DAYS TO 45 DAYS</td>
                  <td> 4.25%</td>
                </tr>
                <tr>
                  <td>07 DAYS TO 45 DAYS</td>
                  <td> 4.25%</td>
                </tr>
              </tbody>
            </table>
          </div>


          <h6 style="padding:0; margin: 0;">* Savings Deposit Rate: 3.50%</h6>
          <h6 style="padding-bottom: 20px; margin: 0;">* Recurring deposit rates applicable as per term deposit rates</h6>




        </div>

      </div>

    </div>
  </div>
</section>