<div class="pagew" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), rgba(0, 0, 0, 0)  url(images/b1.png) no-repeat center;background-size:100% 100%; background-position: center;">
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-3 ">
             <div class="page-breadcrumb">
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <ol class="breadcrumb breadmenu" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1))">
                   <span property="itemListElement" typeof="ListItem">
                      <a property="item" typeof="WebPage" title="Go to UPCB." href="index.html" class="home"><span property="name" style="color:#ffffff;">UPCB</span></a>
                      <meta property="position" content="1">
                   </span>
                   <span style="color:#ffffff"> &gt; </span>
                  <span property="itemListElement" typeof="ListItem">
                      <a property="item" typeof="WebPage" href="ourservices.html" class="home text-uppercase"><span property="name" style="color:#ffffff;">service</span></a>
                      <meta property="position" content="1">
                   </span>
                   <span style="color:#ffffff; "> &gt; </span>
                   <span property="itemListElement" typeof="ListItem">
                      <span property="name" class="post post-page current-item breadmenu text-uppercase">insurance</span>
                      <meta property="url" content="https://upcbl.in/services.html">
                      <meta property="position" content="2">
                   </span>
                </ol>
             </div>
          </div>
          <div class="col-md-9"></div>
          
       </div>
    </div>
 </div>
 <!--images section end-->


<!--sidebar start-->
<section id="" class="sidebar">
   <div class="container">
       <div class="row">
           <div class="leftsection col-lg-3 col-md-3 col-sm-3 text-center">
         
<ul class="nav navbar navbar-expand d-flex flex-column" >

    

     <li class="nav-item centeri w-100">
       <a href="#atalpensionyojana" class="nav-link animate__animated animate__bounceIn" style="animation-duration:5s" data-bs-toggle="tab">Atal Pension Yojana</a>
     </li>

     <li class="nav-item centeri w-100">
       <a href="#PMSBY" class="nav-link animate__animated animate__backInLeft" style="animation-duration:5s" data-bs-toggle="tab">Pradhan Mantri Suraksha Bima Yojna(PMSBY)</a>
     </li>
    
     <li class="nav-item centeri w-100">
        <a href="#PMJJBY" class="nav-link animate__animated animate__backInRight" style="animation-duration:5s" data-bs-toggle="tab">Pradhan Mantri Jeevan Jyoti Yojna(PMJJBY)</a>
     </li>

      <li class="nav-item centeri w-100">
       <a href="#lifeinsurance" data-bs-toggle="tab" class="nav-link active animate__animated animate__bounceIn" style="animation-duration:5s"> 
      Life Insurance
      </a>
     </li>

     <li class="nav-item centeri w-100">
     <a href="#generalinsurance" class="nav-link animate__animated animate__backInLeft" style="animation-duration:5s" data-bs-toggle="tab">General Insurance </a>
     </li>

     <li class="nav-item centeri w-100">
      <a href="#healthinsurance" class="nav-link animate__animated animate__backInRight" style="animation-duration:5s" data-bs-toggle="tab">Health Insurance</a>
     </li>
             
   </ul>
           </div>
           
           <div class="mainc tab-content col-lg-9 col-md-9 col-sm-9 mb-4 mb-lg-0 ps-lg-4 bgdefine">
                <!--<div id="home" class="active tab-pane fade in show">
                           <h2 >The right credit card is right here</h2>
                           <p>Looking for a card that earns travel points, cash back, or rewards? Our side-by-side                 comparisons and objective reviews can help you make the smartest decision.</p>
                        
                </div>
                <div id="about" class="tab-pane fade">
                     <h2 >The 2nd right credit card is right here</h2>
                           <p>Looking for a card that earns travel points, cash back, or rewards? Our side-by-side                 comparisons and objective reviews can help you make the smartest decision.</p>
                </div>-->
                

       <div id="atalpensionyojana" class="active tab-pane fade in show">

<h4>Atal Pension Yojna<span style="color:var(--secondary-text);"> (APY)<br class="d-none d-lg-block"></span></h4>
      <p>The Government of India has announced a new scheme called Atal Pension Yojana (APY)
APY is a guaranteed pension scheme administered by the Pension Fund Regulatory and Development Authority (PFRDA).</p>
<p>Under this scheme subscribers get guaranteed monthly pension, ranging from Rs. 1,000 to Rs. 5,000 per month.</p>



     <h4 style="font-weight:600;padding-top: 20px;"></h4>


                   <div class="table-responsive">
                   <table class="table table-bordered tableContentManner" style="border: 1px solid var(--secondary-color);" tableContentManner>

<tbody>
<tr>
  <td><p>Date of the Scheme</p></td>
  <td><p>June 01, 2015</p></td>
</tr>
 <tr>
  <td><p>Age Limit</p></td>
  <td><p>Minimum 18 Years Maximum 40 Years</p></td>
</tr>
 <tr>
 <td><p>Pension Per Month</p></td>
  <td><p>Rs.1000, Rs.2000, Rs.3000, Rs.4000 and Rs.5000.00 (on contribution basis)</p></td>
</tr>
 <tr>
 <td><p>Eligibility</p></td>
  <td><p>18 years to 40 years | Not a member of any social security scheme</p></td>
</tr>
 <tr>
  <td><p>Pension Holder</p></td>
  <td><p>The pension holder should not come under income tax limit.</p></td>
</tr>
 <tr>
 <td><p>Minimum period of contribution</p></td>
 <td><p>Minimum 20 years</p></td>
</tr>
</tbody>
</table>
</div>
<h6 style="padding-bottom: 20px; margin: 0;">* For detailed information contact the concerned / nearest branch.</h6>
      </div>

    <div id="PMSBY" class="tab-pane fade">
       <h4>Pradhan Mantri Suraksha Bima Yojna<span style="color:var(--secondary-text);"> (PMSBY)<br class="d-none d-lg-block"></span></h4>
      <p>The Pradhan Mantri Suraksha Bima Yojana policy helps you stay prepared in cases of unforeseen emergencies. The PMSBY scheme helps you especially when you are faced with unexpected death and impairments towards you and your family. The Pradhan Mantri Suraksha Bima Yojana has certain features and benefits that make the average person keen to invest in it. The premium to be paid is as low as Rs. 12 per annum, per member of the family. In case of death, the sum insured is 2 lakhs. Finally, in cases where there is a loss of eye or limb, the sum insured is 1 lakh.</p>

         <div class="table-responsive">
                   <table class="table table-bordered tableContentManner" style="border: 1px solid var(--secondary-color);" tableContentManner>

<tbody>
<tr>
  <td><p>Date of implementation of the scheme</p></td>
  <td><p>May 11, 2015</p></td>
</tr>
 <tr>
  <td><p>Age Limit</p></td>
  <td><p>Minimum 18 years Maximum 70 years</p></td>
</tr>
 <tr>
 <td><p>Amount of contribution</p></td>
  <td><p>Rs 20.00 per year (as per conditions)</p></td>
</tr>
 <tr>
 <td><p>Insured Person</p></td>
  <td><p>Aadhaar, KYC required</p></td>
</tr>
 <tr>
  <td><p>Insurance Benefit</p></td>
  <td><p>• Rs.2.00 lakh on death of the insured member.</p><br>

• Total and irrecoverable loss of both eyes or loss of use of both hands or both feet or loss of sight in one eye and one

20 200 lakhs unable to work hand or one leg. • Total and irrecoverable loss of sight of one eye or one hand or one

Inability to do leg work - Rs.1.00 lakh.
</td>
</tr>
 <tr>
 <td><p>Minimum period of contribution</p></td>
 <td><p>Minimum 20 years</p></td>
</tr>
</tbody>
</table>
</div>

<h6 style="padding-bottom: 20px; margin: 0;">* For detailed information contact the concerned / nearest branch.</h6>


      </div>

        <div id="PMJJBY" class="tab-pane fade">
     <h4>Pradhan Mantri Jeevan Jyoti Bima Yojana<span style="color:var(--secondary-text);"> (PMJJBY)<br class="d-none d-lg-block"></span></h4>
      <p>The PMJJBY is available to people in the age group of 18 to 50 years having a bank account who give their consent to join/enable auto-debit. Aadhar would be the primary KYC for the bank account. The life cover of Rs. 2 lakhs shall be for the one year period stretching from 1st June to 31st May and will be renewable. Risk coverage under this scheme is for Rs. 2 Lakh in case of death of the insured, due to any reason. The premium is Rs. 330 per annum which is to be auto-debited in one installment from the subscriber’s bank account as per the option given by him on or before 31st May of each annual coverage period under the scheme. The scheme is being offered by Life Insurance Corporation and all other life insurers who are willing to offer the product on similar terms with necessary approvals and tie-up with banks for this purpose.</p>


                   <div class="table-responsive">
                   <table class="table table-bordered tableContentManner" style="border: 1px solid var(--secondary-color);" tableContentManner>

<tbody>
<tr>
  <td><p>Date of implementation of the scheme</p></td>
  <td><p>May 09, 2015</p></td>
</tr>
 <tr>
  <td><p>Age Limit</p></td>
  <td><p>Minimum 18 Years Maximum 50 Years</p></td>
</tr>
 <tr>
 <td><p>Insured Person</p></td>
  <td><p>Aadhaar, KYC required </p></td>
</tr>
 <tr>
 <td><p>Amount of contribution</p></td>
  <td><p>Rs.436.00 per annum including GST</p></td>
</tr>
 <tr>
  <td><p>Insurance benefit</p></td>
  <td><p>Rs.2.00 lakh is payable to the nominee in case of death of the insured member due to any reason.</p> </td>
</tr>
 </tbody>
</table>
</div>

<h6 style="padding-bottom: 20px; margin: 0;">* For detailed information contact the concerned / nearest branch.</h6>






      </div>



        <div id="neft" class="tab-pane fade">
                <h4></h4>
         <div class="row">
         <div class="col-lg-8 col-md-8 col-sm-8 mb-4 mb-lg-0 ps-lg-4">
         <p>
         National Electronic Funds Transfer (NEFT) is a nation-wide payment system facilitating one-to-one funds transfer. Under this system, individuals can electronically transfer funds from their account to any individual having an account with any other bank branch in the country participating in the system
         </p>
         </div>
         
         <div class="col-lg-3 col-md-3 col-sm-3 vc_single_image-wrapper vc_box_shadow_border  vc_box_border_grey" style="">
           <img width="270" height="175" src="../wp-content/uploads/2020/01/NEFT_555x350.png" class="vc_single_image-img attachment-large" alt="" decoding="async" title="NEFT_555x350" srcset="https://gscbank.co.in/wp-content/uploads/2020/01/NEFT_555x350.png 555w, https://gscbank.co.in/wp-content/uploads/2020/01/NEFT_555x350-300x189.png 300w" sizes="(max-width: 555px) 100vw, 555px" />
       </div>
     </div>

     <h6 style="font-weight:600;">NEFT can be done through</h6>
     <div>
         <a href="https://upcbonline.com/" class="btn btn-sm btn-primary ">Internet Banking</a>
          <a href="services.html#mobile-banking" class="btn btn-sm btn-primary ">Mobile Banking</a>
          <a href="../our-branches/index.html" class="btn btn-sm btn-primary ">Branch Banking</a>
     </div>

      <h6 style="font-weight:600;padding-top: 20px;">Timings : 24 x 7 x 365 on Digital Banking Channels</h6>

      <h4>Transaction Limits <span style="color: var(--secondary-text);">(Digital Banking)</span></h4>

      <div class="table-responsive">
                                  <table class="table">
<thead>
<tr>
 <th scope="col">Type of Account</th>
 <th scope="col">Limit / Transaction</th>
 <th scope="col">Limit / Day</th>
 <th scope="col">Charges</th>
</tr>
</thead>
<tbody>
<tr>
 <td scope="row"><p>Savings Account</p></td>
 <td><p>Rs. 2,00,000</p></td>
 <td><p>Rs. 5,00,000</p></td>
 <td><p>Nil</p></td>
</tr>
<tr>
 <td scope="row"><p>Current Account</p></td>
 <td><p>Rs. 2,00,000</p></td>
 <td><p>Rs. 5,00,000</p></td>
 <td><p>Nil</p></td>
</tr>

</tbody>
</table>
      </div>
             
       </div>

  <div id="rtgs" class="tab-pane fade">
                <h4></h4>
         <div class="row">
         <div class="col-lg-8 col-md-8 col-sm-8 mb-4 mb-lg-0 ps-lg-4">
         <p>
         ‘RTGS’ stands for Real Time Gross Settlement, which means continuous (real-time) settlement of funds individually on an order by order basis. ‘Real Time’ means the processing of instructions at the time they are received rather than at some later. Considering that the fund settlement takes place in the books of the Reserve Bank of India, the payments are final and irrevocable.
         </p>
         </div>
         
       
       <div class="col-lg-3 col-md-3 col-sm-3 vc_single_image-wrapper vc_box_shadow_border  vc_box_border_grey"><img width="270" height="175" src="../wp-content/uploads/2020/01/RTGS_555x350.png" class="vc_single_image-img attachment-large" alt="" decoding="async" title="RTGS_555x350" srcset="https://gscbank.co.in/wp-content/uploads/2020/01/RTGS_555x350.png 555w, https://gscbank.co.in/wp-content/uploads/2020/01/RTGS_555x350-300x189.png 300w" sizes="(max-width: 555px) 100vw, 555px" /></div>
     </div>

     <h6 style="font-weight:600;">RTGS can be done through</h6>
     <div>
         <a href="https://upcbonline.com/" class="btn btn-sm btn-primary ">Internet Banking</a>
          <a href="services.html#/mb" class="btn btn-sm btn-primary ">Mobile Banking</a>
          <a href="../our-branches/index.html" class="btn btn-sm btn-primary ">Branch Banking</a>
     </div>

      <h6 style="font-weight:600;padding-top: 20px;">Timings : 24 x 7 x 365 on Digital Banking Channels</h6>

      <h4>Transaction Limits <span style="color: var(--secondary-text);">(Digital Banking)</span></h4>

      <div class="table-responsive">
                                  <table class="table">
<thead>
<tr>
 <th scope="col">Type of Account</th>
 <th scope="col">Limit / Transaction</th>
 <th scope="col">Limit / Day</th>
 <th scope="col">Charges</th>
</tr>
</thead>
<tbody>
<tr>
 <td scope="row"><p>Savings Account</p></td>
 <td><p>Rs. 2,00,000 – 5,00,000</p></td>
 <td><p>Rs. 2,00,000 – 10,00,000</p></td>
 <td><p>Nil</p></td>
</tr>
<tr>
 <td scope="row"><p>Current Account</p></td>
 <td><p>Rs. 2,00,000 – 5,00,000</p></td>
 <td><p>Rs. 2,00,000 – 10,00,000</p></td>
 <td><p>Nil</p></td>
</tr>

</tbody>
</table>
      </div>
             
       </div>

<div id="imps" class="tab-pane fade">
                <h4></h4>
         <div class="row">
         <div class="col-lg-8 col-md-8 col-sm-8 mb-4 mb-lg-0 ps-lg-4">
         <p>
         IMPS provides robust & real time fund transfer which offers an instant, 24X7, interbank electronic fund transfer service that could be accessed on multiple channels like Mobile, Internet, Branch and IMPS is an emphatic service which allows transferring of funds instantly within banks across India which is not only safe but also economical. Members currently on IMPS.
         </p>
         <p>
         <a href="https://www.npci.org.in/what-we-do/imps/product-statistics" target="_blank" rel="noopener noreferrer">IMPS Live Members</a>
     </p>
         </div>
         
         <div class="col-lg-3 col-md-3 col-sm-3 vc_single_image-wrapper vc_box_shadow_border  vc_box_border_grey" style="">
           <img width="270" height="175" src="../wp-content/uploads/2020/01/NEFT_555x350.png" class="vc_single_image-img attachment-large" alt="" decoding="async" title="NEFT_555x350" srcset="https://gscbank.co.in/wp-content/uploads/2020/01/NEFT_555x350.png 555w, https://gscbank.co.in/wp-content/uploads/2020/01/NEFT_555x350-300x189.png 300w" sizes="(max-width: 555px) 100vw, 555px" />
       </div>
     </div>

     <h6 style="font-weight:600;">NEFT can be done through</h6>
     <div>
         <a href="https://upcbonline.com/" class="btn btn-sm btn-primary ">Internet Banking</a>
          <a href="services.html#mobile-banking" class="btn btn-sm btn-primary ">Mobile Banking</a>
          <a href="../our-branches/index.html" class="btn btn-sm btn-primary ">Branch Banking</a>
     </div>

      <h6 style="font-weight:600;padding-top: 20px;">Timings : 24 x 7 x 365 on Digital Banking Channels</h6>

      <h4>Transaction Limits <span style="color: var(--secondary-text);">(Digital Banking)</span></h4>

      <div class="table-responsive">
                                  <table class="table">
<thead>
<tr>
 <th scope="col">Type of Account</th>
 <th scope="col">Limit / Transaction</th>
 <th scope="col">Limit / Day</th>
 <th scope="col">Charges</th>
</tr>
</thead>
<tbody>
<tr>
 <td scope="row"><p>Savings Account</p></td>
 <td><p>Rs. 2,00,000</p></td>
 <td><p>Rs. 5,00,000</p></td>
 <td><p>Nil</p></td>
</tr>
<tr>
 <td scope="row"><p>Current Account</p></td>
 <td><p>Rs. 2,00,000</p></td>
 <td><p>Rs. 5,00,000</p></td>
 <td><p>Nil</p></td>
</tr>

</tbody>
</table>
      </div>
             
       </div>

<div id="upi" class="tab-pane fade">
                <h4></h4>
         <div class="row">
         <div class="col-lg-8 col-md-8 col-sm-8 mb-4 mb-lg-0 ps-lg-4">
         <p>
         UPI or Unified Payments Interface is an immediate real-time payment system that helps in instantly transferring the funds between the two bank accounts through a mobile platform. Hence, UPI is a concept that allows multiple bank accounts to get into a single mobile application.
         </p>
         <p>
          <a href="https://www.npci.org.in/what-we-do/upi/product-statistics" target="_blank" rel="noopener noreferrer">UPI Members</a>
         </p>
         </div>
         
       <div class="col-lg-3 col-md-3 col-sm-3 vc_single_image-wrapper vc_box_shadow_border  vc_box_border_grey"><img width="270" height="175" src="../wp-content/uploads/2020/01/UPI_555x350.png" class="vc_single_image-img attachment-large" alt="" decoding="async" title="UPI_555x350" srcset="https://gscbank.co.in/wp-content/uploads/2020/01/UPI_555x350.png 555w, https://gscbank.co.in/wp-content/uploads/2020/01/UPI_555x350-300x189.png 300w" sizes="(max-width: 555px) 100vw, 555px" /></div>
     </div>

     <h6 style="font-weight:600;">UPI can be done through</h6>
     <p>Third Party Apps like Google Pay, PhonePe, PayTM etc.</p>
     <div>
         <a href="https://upcbonline.com/" class="btn btn-sm btn-primary ">Internet Banking</a>
          <a href="services.html#mobile-banking" class="btn btn-sm btn-primary ">Mobile Banking</a>
          <a href="../our-branches/index.html" class="btn btn-sm btn-primary ">Branch Banking</a>
     </div>

      <h6 style="font-weight:600;padding-top: 20px;">Timings : 24 x 7 x 365 on Digital Banking Channels</h6>

      <h4>Transaction Limits <span style="color: var(--secondary-text);">(Digital Banking)</span></h4>

      <div class="table-responsive">
                                  <table class="table">
<thead>
<tr>
 <th scope="col">Type of Account</th>
 <th scope="col">Limit / Transaction</th>
 <th scope="col">Limit / Day</th>
 <th scope="col">Charges</th>
</tr>
</thead>
<tbody>
<tr>
 <td scope="row"><p>Savings Account</p></td>
 <td><p>Rs. 1,00,000</p></td>
 <td><p>Rs. 1,00,000</p></td>
 <td><p>Nil</p></td>
</tr>
<tr>
 <td scope="row"><p>Current Account</p></td>
 <td><p>Rs. 1,00,000</p></td>
 <td><p>Rs. 1,00,000</p></td>
 <td><p>Nil</p></td>
</tr>

</tbody>
</table>
      </div>
             
       </div>

        <div id="lifeinsurance" class="tab-pane fade">
                  <h4></h4>
                   <p>Data Not available</p>
             
           </div>

     <div id="generalinsurance" class="tab-pane fade">
                <h4></h4>
    <p>Data Not available</p>
    </div>

        <div id="healthinsurance" class="tab-pane fade">
                <h4></h4>
        <p>Data Not available</p>
        </div>

  
           
           </div>

       </div>
   </div>
</section>
