  <!--images section-->
  <div class="pagew" style="background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(0, 0, 0, 0.2)  url(images/kycc.png) no-repeat center;background-size:100% 100%; background-position: center;">
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-3">
             <div class="page-breadcrumb">
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                 <ol class="breadcrumb breadmenu" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1))">
                   <span property="itemListElement" typeof="ListItem">
                      <a property="item" typeof="WebPage" title="Go to UPCB." href="index.html" class="home"><span property="name" style="color:#ffffff;">UPCB</span></a>
                      <meta property="position" content="1">
                   </span>
                    <span style="color:#ffffff">&gt; </span>
                 <span property="itemListElement" typeof="ListItem" class="text-uppercase">
                      <a property="item" typeof="WebPage" class="home" style="color: #ffffff;"><span property="name">Important Links</span></a>
                      <meta property="position" content="1">
                   </span>
                    <span style="color:#ffffff">&gt; </span>
                   <span property="itemListElement" typeof="ListItem">
                      <span property="name" class="post post-page current-item breadmenu text-uppercase" style="color: #ffffff;">KYC</span>
                      <meta property="url" content="https://upcbl.in/services.html">
                      <meta property="position" content="2">
                   </span>
                </ol>
             </div>
          </div>
          <div class="col-md-9"></div>
       </div>
    </div>
 </div>
 <!--images section end-->


<section class="FixedDeposit_wrapper">
       <div class="container">
       <div class="row">
       <div class="mainc tab-content col-lg-12 col-md-12 col-sm-12 mb-4 mb-lg-0 ps-lg-4 bgdefine">
                
                 <div class="active tab-pane fade in show">
                 
                  
<div class="col-lg-12 col-md-12 col-sm-12 mb-2" style="background-color:#ffffff; border: 4px inset lightsalmon; padding:20px;">

<h4>OBJECTIVES, SCOPE AND USEFULNESS OF <span style="color:var(--secondary-text);">'KNOW YOUR CUSTOMER'</span> POLICY</h4>

                      <h6 style="padding: 10px 0px;">*<a href="tender/kyc_280815.pdf" target="_blank">NEW REVISED KYC POLICY</a></h6>

<div class="row" style="padding-bottom: 20px">

                   
                     
                      <div class="col-lg-8 col-md-8 col-sm-8 mb-8 mb-lg-0 ps-lg-4 tableContentManner" style="padding: 10px 0px;">
                          <p>
      The primary objective of the <span style="text-decoration: underline;">'Know Your Customer'</span> policy is to prevent banks from being used, knowingly or unknowingly, by criminal elements for money laundering activities. The 'Know Your Customer' mechanism provides banks a better opportunity to know and understand their customers and their financial transactions, thereby helping banks to manage their risks in a prudent manner.   
         </p>

         <h6>The KYC guidelines will serve the following objectives:</h6>
                 <div>
                   <ul>
                   <li>
                  Preventing criminal elements from using banks for money laundering activities.
                   </li>
                   <li>
                  To provide better opportunity to banks to know and understand their customers and their financial transactions so that banks can manage their risks in a prudent manner.
                   </li>
                   <li>
                  Carrying out well controls to detect and report suspicious activities in accordance with the law and guidelines.
                   </li>
                   <li>
                  To comply with the relevant laws and guidelines issued.
                   </li>
                   <li>
                      Ensuring training to the concerned staff regarding the working of 'Know Your Customer' / Anti-Money Laundering Measures / Financing of Terrorist Activities.
                   </li>
                   </ul>
                  </div>
         

       

       
                      </div>

                       <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4">
                         <img class="img-thumbnail" width="380" height="280" src="images/knowyourcoust.png" class="vc_single_image-img attachment-large" alt="" decoding="async" title="internet-banking" sizes="(max-width: 555px) 100vw, 555px" />
                      </div>
                      
                   </div>

<h4 style="font-weight:600;">Definition of Money Laundering</h4>
                <h6>Section 3 of the Prevention of Money Laundering Act-2002 (PMLA-2002) defines the "offence of money laundering" as follows</h6>
                <p style="padding-top: 10px;">"Whosoever Directly or Indirectly Attempts to Indulge or Knowingly Assists or Knowingly Is A Party or Is Actually Involved In Any Process or Activity Connected With The Proceeds of Crime And Projecting Is As Untainted Property Shall Be Guilty Of Offense of Money Laundering"</p>
                <p>Money launderers use the banking system to hide the sources of black money obtained from terrorist activities. Money laundering is an activity that creates a web of financial transactions in order to conceal the true location and sources of black money.</p>

<h4 style="font-weight:600;">Obligations under the Prevention of Money Laundering Act 2002 (PMLA-2002)</h4>
                <h6 class="mb-2">Under Section 12 of the Prevention of Money Laundering Act 2002, the following responsibilities have been assigned to banks, financial institutions and intermediaries</h6>
            
               
                 <div style ="font-family:Dm-Sans">
                   <ul>
                   <li>
                  Maintain A Record of All Transactions, The Nature And Value of Which May Be Prescribed, Whether Such Transactions Comprise of A Single Transaction or A Series of Transactions Integrally Connected To Each Other, And Where Such Series of Transactions Take Place Within A Month.
                   </li>
                   <li>
                  Furnish Information of Transactions Referred To In Clause (a) to The Director Within Such Time As May Be Prescribed.
                   </li>
                  
                   </ul>
                  </div>
        
               <p>From July 01, 2005, that is, from the date of implementation of the rules notified by the Government of India under the Prevention of Money Laundering Act, it has become necessary for the banks to send the above information and preserve the records.</p>
               <p>Notification no. 13/2009/FNo. Prevention of Money Laundering (Maintenance of Records of the Nature and value of transactions, the procedure and Manner of Maintaining and time for Furnishing Information and verification and Maintenance of Records of the Identity) vide 6/8/2009-ES dated November 12, 2009 of the clients of the Banking Companies Financial Institutions and Intermediaries) Rules, 2005. has been amended.</p>

               <h6>As a result of the amendments made in the said rules, it has become necessary for the State Co-operative Banks to do the following works also.</h6>

               <ul style="font-family: Dm-Sans;">
                  <li>In a month by Non Profit Organization (NPO) Rs. A record should be maintained of all transactions made for receipt of foreign exchange of more than 10.00 lakhs or its equivalent and every month's information report on the prescribed format should be sent to the Financial Intelligence Unit-India by the 15th of the following month.
Rule no. 2(1)(ca) has been defined as follows. <br><br> "Non profit organization means any entity or organization that is registered as a trust or a society under the Societies Registration Act, 1860 (21 of 1860) or any similar State legislation or a company registered under section 25 of the companies Act 1956 (1 of 1956)"

</li><br>
<li><span style="font-weight: 600;">Non Account Based Customers</span> If a transaction of rupees fifty thousand or more is done by a non-account based customer (Non Account Based Customer of Walk in Customer) at one go or many transactions are done, which are linked to each other. If it appears to have happened, then such customer and his address should be identified. Further, if the Bank is of the opinion that the customer willfully exceeds a prescribed limit of Rs. If a transaction is transacted multiple times to less than fifty thousand, then along with identifying such customer and his address, Suspicious Transaction Report (STR) should also be sent in this regard.</li>
               </ul>

<h4 style="font-weight:600;">suspicious transaction</h4>
                <p>Suspicious transaction has been defined by the rules notified under the Prevention of Money Laundering Act, 2002 as any transaction in cash or otherwise including attempted transaction, which is / involves any person acting in good faith.</p>
                <p>Provides reasonable grounds for suspecting that it contains the proceeds of crime, or
it appears to have been made in unusual or unduly complicated circumstances, or
appears to have no economic basis or genuine purpose, or
Provides reasonable grounds to suspect that it involves financing of terrorist activities.</p>

<h4 style="font-weight:600;">Hazard / Hazard / Risk Information</h4>
                <p>The monthly and annual aggregate transaction and balance limits prescribed by Know Your Customer (KYC) norms have not been breached before allowing transactions.</p>


                 <div style ="font-family:Dm-Sans">
                   <ul>
                   <li>
                 The Small Accounts will initially be operational for a period of twelve months. After this, in the next twelve months, if the account holder provides documentary evidence to the branch that he has given an application for obtaining officially valid documents in connection with the opening of the account, all the simplified norms will be revised in relation to the account after twenty four months. .
                   </li>
                   <li>
                 Small accounts will be monitored and in case of suspicious transactions, terrorist financing or other high risk situations, the identity of the person belonging to the account will be determined on the basis of the officially valid documents presented.
                   </li>
                   <li>
                      Foreign remittances will not be credited to small accounts unless the identity of the person related to the account is fully established on the basis of officially valid documents submitted.
                   </li>
                  
                   </ul>
                  </div>

<h4 style="font-weight:600;">Thank you letter</h4>
                <p>A thank you letter should be sent by registered post to all the account holders and introducers who have opened new accounts. This will serve two purposes. Firstly, thanks for opening the account in the branch and secondly, the correctness of the address given by the account holder will also be verified. In this regard, there is a need for a thorough examination of hand delivered envelopes at the branch level. For this, more investigation and attention should be given by the concerned staff/officers opening the account while opening the account.</p>

<h4 style="font-weight:600;">ration card for identification</h4>
                <p>Ration card should not be used as a document for the identity of the person opening the account, however, in respect of illiterate persons who are unable to produce other documents, the use of ration card can be accepted as proof of address.</p>

<h4 style="font-weight:600;">Segmentation of customers</h4>
                <p>Segmentation of customers into three categories viz. High, Medium and Low on the basis of risk perception.</p>

                  <div style ="font-family:Dm-Sans">
                   <h6>The customer identification process will be done at the following levels.</h6>
                   <ul>
                   <li>
               When the banking relationship is established.
                   </li>
                   <li>
               When it is necessary to obtain additional information depending on the nature and operation of the existing customer's account.
                   </li>
                   <li>
                      When the inoperative account is transferred to the operative account, a new account opening form along with the customer profile is to be updated / updated.
                   </li>
                   <li>The data/details (including photographs) related to the identity of the customer should be updated after a certain period of time from the date of account opening. Such certification must be done at least once in five years in case of low risk category customers and at least once in two years in case of high and medium risk category customers.</li>
                   <li>Non account holders who approach the bank for high value transactions as well as any person or entity that may pose a reputational or other financial transaction risk to the bank, customer identification.</li>
                  
                   </ul>
                  </div>

                <h4 style="font-weight:600;">COUNTERING THE FINANCING OF TERRORISM</h4>
             
                  <div style ="font-family:Dm-Sans">
                 <ul>
                   <li>
             According to the rules of the Prevention of Money Laundering Act, suspicious transactions should include, among other things, those transactions which give reasonable grounds to suspect that they are related to the financing of terrorism related activities. Therefore, through appropriate policy framework at the branch level, more monitoring should be done of accounts suspected of having terrorist links and such transactions should be identified immediately and related information reports on priority basis through the Principal Officer of the Financial Intelligence Unit-Charge (FIU). FIU-IND).
                   </li>
                   <li>
           Circulates in persons and entities approved by the Security Council Committee established in pursuance of various United Nations Security Council Resolutions (UNSCR). This type of list received from the Reserve Bank from the bank headquarter level is sent to the branches from time to time. The consolidated list of individuals and institutions should be updated according to the list circulated by the Reserve Bank. Also the updated list of such individuals/entities is available on the United Nations website http://www.un.org/sc/committees/1267/aq sanctions list.shtml and http://www.un.org/sc/committees/1988 /list.shtml But can be found. Before opening any new account at branch level, they should ensure that the name/s of the proposed customer does not appear in the list. In addition, all existing accounts should be checked by the branches to ensure that none of the accounts belong to or are related to individuals or entities included in the list. Complete details of accounts having any similarity with any person/entity included in the list should be immediately informed to Reserve Bank of India and FIU-IND through the Principal Officer of the bank. It may be noted that the KYC norms / Anti-Money Laundering / Counter Terrorism Financing measures have been put in place to ensure that the banking channels are not misused by criminals.
                   </li>
                  
                  
                   </ul>
                  </div>
<div style ="font-family:Dm-Sans">
<h4>COMPLIANCE WITH FOREIGN CONTRIBUTION
REGULATION ACT - 1976</h4>
                 <ul>
                   <li>
            Branches should also follow the instructions related to the provisions of the Foreign Contribution Control Act, 1976. Banks have been cautioned in these instructions to open accounts or collect checks only in the name of entities which have been registered under the said Act by the Government of India. At the time of opening an account or collection of cheques, a certificate to the effect that it has been registered by the Government of India should be obtained from the concerned institution.
                   </li>
                   <li>
          At branch level, proper care should be taken to ensure compliance of instructions and accounts should not be opened in the name of banned organizations and organizations not properly registered.
                   </li>
                  
                  
                   </ul>
                  </div>
<div style ="font-family:Dm-Sans">
<h4>Threshold limit of Transaction</h4>
<p>While opening the account of the customer at the branch level, the transaction limit may be fixed on the basis of the customer profile. Initially, in relation to individual accounts, the fixed limit of Rs.50,000.00 and in the case of commercial establishments (including commercial intermediaries), a threshold limit of one month's turnover or Rs.10.00 lakh, whichever is less, should be proposed. These limits may be reviewed and revised from time to time on an annual basis or at the request of the customer and any transaction above the prescribed limit may be viewed with extra caution.</p>
<p>Monitoring of transaction processing in all accounts including existing accounts for which customer profiles were prepared much earlier by Branch Managers and judicious decisions are taken in determining suspicious transactions as well as in accounts where suspicious transactions are detected They should be closely monitored at the branch level so that the documentary evidence on the basis of which they have been found to be suspicious is not destroyed.

</p>
<p>The above action should be done very carefully and politely so that it does not adversely affect the customer.</p>
</div>


<div style ="font-family:Dm-Sans">
<h4>Suspicious Transaction Monitoring Mechanism</h4>
<p>All suspicious transactions of deposit, loan etc. accounts should be recorded by the branch with full details and reported to the bank headquarter.</p>

<h6>suspicious transaction</h6>
<h6>The following procedure should be adopted at the branch level:-</h6>
<p>Before opening the account, it should be ensured by the Account Opening Counter Officer / Chief Manager that the KYC related to the account is correct. The guidelines have been fully complied with. After interviewing the customer and getting information related to the account, the concerned Counter Officer / Chief Manager should put his signature that he is KYC. Fully satisfied that all aspects of the guidelines have been complied with.</p>
<p>RVI in cash transaction / Strict compliance of NABARD guidelines should be ensured and a watchful eye should be kept on single / series of integrally connected transactions of more than Rs. 10.00 lakh in special, cash credit and overdraft accounts as well as such The details of transactions should be kept in a separate register.</p>
</div>

<div style ="font-family:Dm-Sans">
<h4>Suspicious transaction reporting
</h4>
<p>Great care should be taken to send Suspicious Transaction Reports (STR) at the branch level. The first counter officer should inform his higher officer about suspicious type of activity/details, after that the chief manager of the branch should be informed. On being satisfied with the situation of suspicious type of activities, the Chief Manager will inform the Principal Officer of the bank along with his recommendation.</p>
<p>
STR at branch level No restriction should be placed on the operation of the account after remittance and the STR by the branch and branch employees. The transmission should be kept strictly confidential as required under the Prevention of Money Laundering Rules. In this regard, it should be ensured that no information is given to the customer at any stage.
</p>
</div>


<div style ="font-family:Dm-Sans">
<h4>Information to be preserved
</h4>
<p>With reference to the rules notified under the Prevention of Money Laundering Act 2002, under the responsibility of the banks, the following information regarding the transactions mentioned in Rule No. 3 should be preserved at the branch level.</p>


<div class="row">
    <div class="col-lg-6 col-md-6" style ="font-family:Dm-Sans">
                 <ul>
                   <li>
            Nature of Transaction.
                   </li>
                   <li>
          The amount of the transaction and the currency in which its value should be marked.
                   </li>
                  
                  
                   </ul>
                  </div>

  <div class="col-lg-6 col-md-6" style ="font-family:Dm-Sans">
                 <ul>
                   <li>
        Transaction date.
                   </li>
                   <li>
          party to the transaction.
                   </li>
                  
                  
                   </ul>
                  </div>
 
</div>



</div>


<div style ="font-family:Dm-Sans">
<h4>record maintenance and preservation
</h4>
<p>According to the Banking Regulation Act, all records related to banking transactions such as account opening forms, vouchers, ledgers, etc. should be preserved by the branches for the stipulated time. Apart from this, the following documents related to the identity of the customer as well as the account reported for suspicious activities must be preserved for at least ten years after the end of the banking relationship with the customer.</p>


<div class="row">
    <div class="col-lg-6 col-md-6" style ="font-family:Dm-Sans">
                 <ul>
                   <li>
         Customer Profile.
                   </li>
                   <li>
         Reports and documentation of customer activities suspected of potential money laundering and criminal behavior provided to government authorities.
                   </li>
                  
                  
                   </ul>
                  </div>

  <div class="col-lg-6 col-md-6" style ="font-family:Dm-Sans">
                 <ul>
                   <li>
    Records related to the training given on Anti Money Laundering measures, including the names of participants, business units, date and place of training.
                   </li>
                   <li>
          Any other document required to be preserved under the Money Laundering Act/Rules.
                   </li>
                  
                  
                   </ul>
                  </div>
 
</div>

<p>Records related to financial transactions must be preserved for at least ten years from the date of transaction so that they can be made available to the law enforcement authorities, audit department as well as Reserve Bank of India on demand.</p>

<p>Records/documents relating to customer identification and transactions shall be prepared and preserved by the branches/officers under relevant laws and regulations so that data can be easily and promptly retrieved as and when required or as and when demanded by the competent authorities. Can be obtained</p>



</div>
                
<div style ="font-family:Dm-Sans">
<h4>Duties / Responsibilities and Accountabilities</h4>
<h6>KYC for Bank Employees Importance of Guidelines</h6>
<p>All the employees of the Bank shall act and behave in accordance with the existing rules and regulations. The staff and management shall not give any advice or assistance to any person who is involved in money laundering activity. The chain of duties/responsibility and accountability of the staff posted at branches/headquarters level is as follows and KYC Accountability will be fixed for non-compliance of the duty/responsibility as per the guidelines. Abstention from duty and non-observance of information will lead to accountability of the staff.</p>




     <div>
                   <table class="table table-bordered tableContentManner" style="border: 1px solid var(--secondary-color);" tableContentManner>
<thead>
<tr>
 
 <th scope="col">
Employee</th>
 <th scope="col">Duties / Responsibilities</th>
</tr>
</thead>
<tbody>
<tr>
 <td class="text-uppercase">Account Opening Counter Officer & Chief Manager</td>
<td>
<ul>
   <li>Identifying potential customers.</li>
   <li>Testing introduction and customer profile.</li>
   <li>Fixing Threshold limit of Transaction for each new and existing accounts and taking action for proper customer identification by checking/detecting suspicious transactions.</li>
   <li>To ensure that the accounts of terrorist/banned organizations are not opened.</li>
   <li>To comply with the provisions of the Foreign Contribution Regulation Act, 1976.</li>
   <li>To follow the guidelines issued by the Bank from time to time regarding account opening and operations.</li>
</ul>

</td>
</tr>

<tr>
 <td class="text-uppercase">principal officer</td>
<td>
<ul>
   <li>Before opening the account, KYC of the information given in the account opening form / customer profile / Threshold Limit for the account. To test against the guidelines and authorize (authorize) the opening of the account if satisfied.</li>
 
   <li>K.Y.C. Certifying statements/registers regarding compliance with guidelines and reporting suspicious transactions to appropriate authorities.</li>
   <li>(The above work will be done when all the branches of the bank are CBS.) At present, this work should be continued at the branch level.</li>
</ul>

</td>
</tr>


<tr>
 <td class="text-uppercase">ear current auditor</td>
<td>
<ul>
   <li>To examine the implementation of KYC guidelines at the branches / level and express their views on the steps taken in relation to the effect.</li>
   
</ul>

</td>
</tr>


<tr>
 <td class="text-uppercase">Controlling Authority / Chief Manager</td>
<td>
<ul>
   <li>Inform the concerned law enforcement authority regarding suspicious transactions without delay after taking consent from the principal officer.</li>
   
</ul>

</td>
</tr>


</tbody>
</table>
                   </div>


</div>    
<h6>*<a href="annex1.html">ANNEXURE - I</a> </h6>
<h6>*<a href="annex2.html">ANNEXURE - II</a> </h6>

</div>



                  


                   
                   
                   

           </div>

 </div>

       </div>
   </div>
 </section>
