<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>Uttar Pradesh Co-Operative Bank</title>

    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="images/logo1.png" />
    <!--animation cdn link-->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />

    <!-- Bootstrap 5 CDN Links -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />

    <!-- Custom File's Link -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/animate.css">
  </head>

  <body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="100">
    <%- include('./partials/_header') %> <%- body%>
    <!-- Footer section -->
    <section id="contact" class="footer_wrapper mt-3 mt-md-0 pb-0">
      <div class="container pb-3">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <h5>Get in touch with us</h5>
            <p class="ps-0">Uttar Pradesh Co-Operative Bank Ltd.</p>
            <div class="contact-info">
              <ul class="list-unstyled">
                <li>
                  <a href="#"
                    ><i class="fa fa-home me-3"></i>Sahakari Kisan Bhavan, 2,
                    Mahatma Gandhi Marg, Lucknow</a
                  >
                </li>
                <li>
                  <a href="#"><i class="fa fa-phone me-3"></i>0522-2223806</a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fa fa-envelope me-3"></i>info@upcb.in</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-6">
            <h5>Services</h5>
            <ul class="link-widget p-0">
              <li><a href="/digitalBanking">Digital Banking</a></li>
              <li><a href="/insurance">Insurance</a></li>
              <li><a href="/loans">Loan</a></li>
              <li><a href="accounts.html">Accounts</a></li>
              <li><a href="fixedDeposit.html">Fixed Deposit</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6">
            <h5>Links</h5>
            <ul class="link-widget p-0">
              <li><a href="emiCalculator.html">EMI Calculator</a></li>
              <li><a href="interestCalculator.html">Interest Calculator</a></li>
              <li><a href="aboutus.html">About Us</a></li>

              <li><a href="gallery.html">Gallery</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6">
            <h5>Download</h5>
            <ul class="link-widget p-0">
              <li><a href="download.html">Forms</a></li>
              <li><a href="tender.html">Tender</a></li>
              <li><a href="importantNotification.html">Notification</a></li>
              <li><a href="brochure.html">Brochure</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6">
            <h5>Stay Connected</h5>
            <ul class="social-network d-flex align-items-center p-0">
              <li>
                <a href="https://www.facebook.com/mdcellupcb" target="_blank"
                  ><i class="fab fa-facebook-f"></i
                ></a>
              </li>
              <li>
                <a href="https://twitter.com/mdcellupcb" target="_blank"
                  ><i class="fab fa-twitter"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-vimeo-v"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container copyright-section align-items-center">
        <p
          class="align-items-center"
          style="padding: 0px 20px; justify-items: center"
        >
          Copyright
          <a href="#">© THE UTTAR PRADESH CO-OPERATIVE BANK LTD.</a> All Right
          Reserved!! Designed & Developed by
          <a href="https://upstcs.in"
            >Science & Technology Co-Operative Society Ltd.</a
          >
        </p>
      </div>
    </section>
    <!-- Footer section exit -->
    <!-- Bootstrap 5 JS CDN Links -->
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Custom Js Link -->
    <script src="js/main.js"></script>
  </body>
</html>
