  <!--images section-->
  <div class="pagew" style="background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(0, 0, 0, 0.2)  url(/images/services/loansnew.png) no-repeat center;background-size:100% 100%; background-position: center;">
    <div class="container">
      <div class="row">
        <div class="col-md-3 ">
          <div class="page-breadcrumb">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <ol class="breadcrumb breadmenu" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1))">
              <span property="itemListElement" typeof="ListItem">
                <a property="item" typeof="WebPage" title="Go to UPCB." href="index.html" class="home"><span property="name" style="color:#ffffff;">UPCB</span></a>
                <meta property="position" content="1">
              </span>
              <span style="color:#ffffff">> </span>
              <span property="itemListElement" typeof="ListItem" class="text-uppercase">
                <a property="item" typeof="WebPage" class="home" style="color: #ffffff;"><span property="name">Banking</span></a>
                <meta property="position" content="1">
              </span>
              <span style="color:#ffffff">> </span>
              <span property="itemListElement" typeof="ListItem">
                <span property="name" class="post post-page current-item breadmenu text-uppercase">loans</span>
                <meta property="url" content="https://upcbl.in/services.html">
                <meta property="position" content="2">
              </span>
            </ol>
          </div>
        </div>
        <div class="col-md-9"></div>
      </div>
    </div>
  </div>
  <!--images section end-->





  <!--sidebar start-->
  <section id="" class="sidebar">
    <div class="container">
      <div class="row">
        <div class="leftsection col-lg-3 col-md-3 col-sm-3 text-center">

          <ul class="nav navbar navbar-expand d-flex flex-column">

            <li class="nav-item centeri w-100">
              <a href="#homeLoans" data-bs-toggle="tab" class="nav-link active">
                Home/Property Loans
              </a>
            </li>

            <li class="nav-item centeri w-100">
              <a href="#vehicleLoans" class="nav-link" data-bs-toggle="tab">Vehicle Loans</a>
            </li>

            <li class="nav-item centeri w-100">
              <a href="#personalLoans" class="nav-link" data-bs-toggle="tab">Personal Loans</a>
            </li>

            <li class="nav-item centeri w-100">
              <a href="#educationLoans" class="nav-link" data-bs-toggle="tab">Education Loans</a>
            </li>

            <li class="nav-item centeri w-100">
              <a href="#agriLoans" class="nav-link" data-bs-toggle="tab">Agriculture Loans</a>
            </li>

            <li class="nav-item centeri w-100">
              <a href="#mortgage" class="nav-link" data-bs-toggle="tab">Mortgage Loans</a>
            </li>

            <li class="nav-item centeri w-100">
              <a href="#institutionLoans" class="nav-link" data-bs-toggle="tab">Institution Loans</a>
            </li>

            <li class="nav-item centeri w-100">
              <a href="#schemeLoans" class="nav-link" data-bs-toggle="tab">Scheme Loans</a>
            </li>

            <li class="nav-item centeri w-100">
              <a href="#farmingLoans" class="nav-link" data-bs-toggle="tab">Farming Loans</a>
            </li>
            <li class="nav-item centeri w-100">
              <a href="#goldLoans" class="nav-link" data-bs-toggle="tab">Gold Loans</a>
            </li>
            <li class="nav-item centeri w-100">
              <a href="#businessLoans" class="nav-link" data-bs-toggle="tab">Business Loans</a>
            </li>
            <li class="nav-item centeri w-100">
              <a href="#yojnaLoans" class="nav-link" data-bs-toggle="tab">Yojna Loans</a>
            </li>
          </ul>
        </div>

        <div class="mainc tab-content col-lg-9 col-md-9 col-sm-9 mb-4 mb-lg-0 ps-lg-4 bgdefine">
          <!--<div id="home" class="active tab-pane fade in show">
                           <h2 >The right credit card is right here</h2>
                           <p>Looking for a card that earns travel points, cash back, or rewards? Our side-by-side                 comparisons and objective reviews can help you make the smartest decision.</p>
                        
                </div>
                <div id="about" class="tab-pane fade">
                     <h2 >The 2nd right credit card is right here</h2>
                           <p>Looking for a card that earns travel points, cash back, or rewards? Our side-by-side                 comparisons and objective reviews can help you make the smartest decision.</p>
                </div>-->
          <div id="homeLoans" class="active tab-pane fade in show">
            <h4>Home Loans</h4>



            <p>Being an Apex Bank, UPCB serves not only the needs of retail customers but also of farmers, other District co-operative banks, trade and service sector and medium / small scale industries. UPCB offers a large bouquet of loan products specially designed to suit your personal needs.
            </p>



            <div class="vc_single_image-wrapper vc_box_shadow_border  vc_box_border_grey mb-4">
              <img class="img-thumbnail" width="380" height="280" src="/images/home loan.png" alt="" decoding="async" title="internet-banking" sizes="(max-width: 555px) 100vw, 555px">

              <!--<img width="500" height="350" src="/images/home loan.png" class="vc_single_image-img attachment-large" alt="" decoding="async" title="Home &amp; Property Loans_500x350" sizes="(max-width: 500px) 100vw, 500px" />-->
            </div>

            <div class="row" style="padding: 10px 0px;">

              <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
                <h6 style="text-decoration: underline; color: var(--secondary-color);">Home Loan(Floating)</h6>
                <p style="padding-top:10px;">Max Loan Amount(In Rs.) :
                  <span style="color:blue;font-weight:600;">75LK</span>
                </p>
                <p>
                  Current Rate of Interest:
                  <span style="color:blue;font-weight:600;">8.40%</span>
                </p>
                <p>Duration:
                  <span style="color:blue;font-weight:600;">20 Years
                  </span>
                </p>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
                <h6 style="text-decoration: underline; color: var(--secondary-color);">Home Loan(Fixed)</h6>
                <p style="padding-top:10px;">Max Loan Amount(In Rs.) :
                  <span style="color:blue;font-weight:600;"> 75LK</span>
                </p>
                <p>
                  Current Rate of Interest:
                  <span style="color:blue;font-weight:600;">9.50%</span>
                </p>
                <p>Duration:
                  <span style="color:blue;font-weight:600;">20 Years
                  </span>
                </p>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
                <h6 style="text-decoration: underline; color: var(--secondary-color);">Top-up Housing Loan</h6>
                <p style="padding-top:10px;">Max Loan Amount(In Rs.) :
                  <span style="color:blue;font-weight:600;"> 30LK Depending on the situation</span>
                </p>
                <p>
                  Current Rate of Interest:
                  <span style="color:blue;font-weight:600;">10% Fixed 9% Floating</span>
                </p>
                <p>Duration:
                  <span style="color:blue;font-weight:600;">20 Years
                  </span>
                </p>
              </div>

            </div>

          </div>

          <div id="vehicleLoans" class="tab-pane fade">

            <h4>Vehicle Loans</h4>



            <p>Being an Apex Bank, UPCB serves not only the needs of retail customers but also of farmers, other District co-operative banks, trade and service sector and medium / small scale industries. UPCB offers a large bouquet of loan products specially designed to suit your personal needs.
            </p>



            <div class="vc_single_image-wrapper vc_box_shadow_border  vc_box_border_grey">
              <img class="img-thumbnail" width="380" height="280" src="/images/VEHICLE LOANS.png" alt="" decoding="async" title="internet-banking" sizes="(max-width: 555px) 100vw, 555px">
              <!--<img width="500" height="350" src="/images/VEHICLE LOANS.png" class="vc_single_image-img attachment-large" alt="" decoding="async" title="Vehicle Loans_500x350" sizes="(max-width: 500px) 100vw, 500px" />-->
            </div>
            <div class="row" style="padding:35px 0px;">

              <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
                <h6 style="text-decoration: underline; color: var(--secondary-color);">Car Loan(Piloting)</h6>
                <p style="padding-top:10px;">Max Loan Amount(In Rs.) :
                  <span style="color:blue;font-weight:600;">20LK</span>
                </p>
                <p>
                  Current Rate of Interest:
                  <span style="color:blue;font-weight:600;">8.75%</span>
                </p>
                <p>Duration:
                  <span style="color:blue;font-weight:600;">07 Years
                  </span>
                </p>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
                <h6 style="text-decoration: underline; color: var(--secondary-color);">Two Wheeler</h6>
                <p style="padding-top:10px;">Max Loan Amount(In Rs.) :
                  <span style="color:blue;font-weight:600;"> 2.50LK</span>
                </p>
                <p>
                  Current Rate of Interest:
                  <span style="color:blue;font-weight:600;">9%</span>
                </p>
                <p>Duration:
                  <span style="color:blue;font-weight:600;">03 Years
                  </span>
                </p>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
                <h6 style="text-decoration: underline; color: var(--secondary-color);">Vehicles</h6>
                <p style="padding-top:10px;">Max Loan Amount(In Rs.) :
                  <span style="color:blue;font-weight:600;"> 10.00 LK</span>
                </p>
                <p>
                  Current Rate of Interest:
                  <span style="color:blue;font-weight:600;">10%</span>
                </p>
                <p>Duration:
                  <span style="color:blue;font-weight:600;">05 Years
                  </span>
                </p>
              </div>

            </div>
          </div>



          <div id="personalLoans" class="tab-pane fade">
            <h4>Personal Loans</h4>



            <p>Being an Apex Bank, UPCB serves not only the needs of retail customers but also of farmers, other District co-operative banks, trade and service sector and medium / small scale industries. UPCB offers a large bouquet of loan products specially designed to suit your personal needs.
            </p>


            <div class="vc_single_image-wrapper vc_box_shadow_border  vc_box_border_grey">

              <img class="img-thumbnail" width="380" height="280" src="/images/PERSONAL consumer goods LOANS.png" alt="" decoding="async" title="internet-banking" sizes="(max-width: 555px) 100vw, 555px">
              <!--<img width="500" height="350" src="/images/PERSONAL consumer goods LOANS.png" class="vc_single_image-img attachment-large" alt="" decoding="async" title="Personal_Consumer Goods Loans_500x350" sizes="(max-width: 500px) 100vw, 500px" />
 -->
            </div>
            <div class="row" style="padding: 35px 0px;">

              <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
                <h6 style="text-decoration: underline; color: var(--secondary-color);">PERSONAL LOANS</h6>
                <p style="padding-top:10px;">Max Loan Amount(In Rs.) :
                  <span style="color:blue;font-weight:600;">10LK</span>
                </p>
                <p>
                  Current Rate of Interest:
                  <span style="color:blue;font-weight:600;">11%</span>
                </p>
                <p>Duration:
                  <span style="color:blue;font-weight:600;">05 Years
                  </span>
                </p>
              </div>

            </div>



          </div>

          <div id="educationLoans" class="tab-pane fade">
            <h4>Education Loans</h4>



            <p>Being an Apex Bank, UPCB serves not only the needs of retail customers but also of farmers, other District co-operative banks, trade and service sector and medium / small scale industries. UPCB offers a large bouquet of loan products specially designed to suit your personal needs.
            </p>




            <div class="vc_single_image-wrapper vc_box_shadow_3d  vc_box_border_grey">

              <img class="img-thumbnail" width="380" height="280" src="/images/educationloan.png" alt="" decoding="async" title="internet-banking" sizes="(max-width: 555px) 100vw, 555px">
              <!--<img width="500" height="350" src="/images/educationloan.png" class="vc_single_image-img attachment-full" alt="" decoding="async" title="Higher Education Loan_OD_500x350" sizes="(max-width: 500px) 100vw, 500px" />
  -->
            </div>
            <div class="row" style="padding: 35px 0px;">

              <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
                <h6 style="text-decoration: underline; color: var(--secondary-color);">EDUCATION LOANS</h6>
                <p style="padding-top:10px;">Max Loan Amount(In Rs.) :
                  <span style="color:blue;font-weight:600;">Repaying Capacity of the Guardian or 75% of the Cost of Education</span>
                </p>
                <p>
                  Current Rate of Interest:
                  <span style="color:blue;font-weight:600;">9%</span>
                </p>
                <p>Duration:
                  <span style="color:blue;font-weight:600;">05 Years
                  </span>
                </p>
              </div>

            </div>
          </div>

          <div id="agriLoans" class="tab-pane fade">
            <h4>Agriculture Loans</h4>



            <p>Being an Apex Bank, UPCB serves not only the needs of retail customers but also of farmers, other District co-operative banks, trade and service sector and medium / small scale industries. UPCB offers a large bouquet of loan products specially designed to suit your personal needs.
            </p>




            <div class="vc_single_image-wrapper vc_box_shadow_border  vc_box_border_grey">
              <img class="img-thumbnail" width="380" height="280" src="/images/agriloans.png" alt="" decoding="async" title="internet-banking" sizes="(max-width: 555px) 100vw, 555px">
              <!--<img width="500" height="350" src="/images/agriloans.png" class="vc_single_image-img attachment-large" alt="" decoding="async" title="Agriculture Loans_500x350" sizes="(max-width: 500px) 100vw, 500px" />
  -->
            </div>

            <div class="row" style="padding:35px 0px;">

              <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
                <h6 style="text-decoration: underline; color: var(--secondary-color);">Agri Clinics and Agri Business Center</h6>
                <p style="padding-top:10px;">Max Loan Amount(In Rs.) :
                  <span style="color:blue;font-weight:600;">Upto 7.5LK</span>
                </p>
                <p>
                  Current Rate of Interest:
                  <span style="color:blue;font-weight:600;">9%</span>
                </p>
                <p>Duration:
                  <span style="color:blue;font-weight:600;">04 Years
                  </span>
                </p>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
                <h6 style="text-decoration: underline; color: var(--secondary-color);">Renewable Energy</h6>
                <p style="padding-top:10px;">Max Loan Amount(In Rs.) :
                  <span style="color:blue;font-weight:600;">Upto 5LK</span>
                </p>
                <p>
                  Current Rate of Interest:
                  <span style="color:blue;font-weight:600;">8.25% - 9%</span>
                </p>
                <p>Duration:
                  <span style="color:blue;font-weight:600;">05 Years
                  </span>
                </p>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
                <h6 style="text-decoration: underline; color: var(--secondary-color);">Agro Processing</h6>
                <p style="padding-top:10px;">Max Loan Amount(In Rs.) :
                  <span style="color:blue;font-weight:600;">Upto 40.00 LK</span>
                </p>
                <p>
                  Current Rate of Interest:
                  <span style="color:blue;font-weight:600;">9%</span>
                </p>
                <p>Duration:
                  <span style="color:blue;font-weight:600;">Moratorium Period 06 Months + 18 Months
                  </span>
                </p>
              </div>

            </div>

          </div>

          <div id="mortgage" class="tab-pane fade">
            <h4>Mortgage Loans</h4>



            <p>Being an Apex Bank, UPCB serves not only the needs of retail customers but also of farmers, other District co-operative banks, trade and service sector and medium / small scale industries. UPCB offers a large bouquet of loan products specially designed to suit your personal needs.
            </p>




            <div class="vc_single_image-wrapper vc_box_shadow_3d  vc_box_border_grey">
              <img class="img-thumbnail" width="380" height="280" src="/images/MORTGAGE LOAN .png" alt="" decoding="async" title="internet-banking" sizes="(max-width: 555px) 100vw, 555px">
              <!--<img width="500" height="350" src="/images/MORTGAGE LOAN .png" alt="" decoding="async" title="Security Mortgage Loan_OD_500x350" sizes="(max-width: 500px) 100vw, 500px" />-->
            </div>


            <div class="row" style="padding: 35px 0px;">

              <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
                <h6 style="text-decoration: underline; color: var(--secondary-color);">LOANS Against Property</h6>
                <p style="padding-top:10px;">Max Loan Amount(In Rs.) :
                  <span style="color:blue;font-weight:600;">60LK</span>
                </p>
                <p>
                  Current Rate of Interest:
                  <span style="color:blue;font-weight:600;">10.50%</span>
                </p>
                <p>Duration:
                  <span style="color:blue;font-weight:600;">15 Years
                  </span>
                </p>
              </div>

            </div>
          </div>

          <div id="institutionLoans" class="tab-pane fade">

            <h4>Institution Loans</h4>
            <p>Being an Apex Bank, UPCB serves not only the needs of retail customers but also of farmers, other District co-operative banks, trade and service sector and medium / small scale industries. UPCB offers a large bouquet of loan products specially designed to suit your personal needs.
            </p>



            <div class="vc_single_image-wrapper vc_box_shadow_border  vc_box_border_grey">
              <img class="img-thumbnail" width="380" height="280" src="/images/institutionalloans.png" alt="" decoding="async" title="internet-banking" sizes="(max-width: 555px) 100vw, 555px">
              <!--<img width="500" height="350" src="/images/institutionalloans.png" class="vc_single_image-img attachment-large" alt="" decoding="async" title="Institutional Loans_500x350" sizes="(max-width: 500px) 100vw, 500px" />-->
            </div>

            <p style="padding-top:10px">Maximum Loan Amount(In Rs.) :<span style="color:blue;font-weight:600;"> Upto 75,00,000/-</span></p>
            <p>
              Fixed Interest Rate:
              <span style="color:blue;font-weight:600;">9.00%* p.a. onwards</span>
            </p>
            <p>Floating Interest Rate:
              <span style="color:blue;font-weight:600;">9.40%* p.a. onwards
              </span>
            </p>
            <p>Max. Term : <span style="color:blue;font-weight:600;">20 years</span></p>
          </div>


          <div id="schemeLoans" class="tab-pane fade">
            <h4>Scheme Loans</h4>



            <p>Being an Apex Bank, UPCB serves not only the needs of retail customers but also of farmers, other District co-operative banks, trade and service sector and medium / small scale industries. UPCB offers a large bouquet of loan products specially designed to suit your personal needs.
            </p>


            <div class="vc_single_image-wrapper vc_box_shadow_border  vc_box_border_grey">

              <img class="img-thumbnail" width="380" height="280" src="/images/schemeloans.png" alt="" decoding="async" title="internet-banking" sizes="(max-width: 555px) 100vw, 555px">
              <!--<img width="500" height="350" src="/images/schemeloans.png" alt="" decoding="async" title="JLG_SHG Scheme Loans_500x350" sizes="(max-width: 500px) 100vw, 500px" />-->
            </div>

            <p style="padding-top:10px">Maximum Loan Amount(In Rs.) :<span style="color:blue;font-weight:600;"> Upto 75,00,000/-</span></p>
            <p>
              Fixed Interest Rate:
              <span style="color:blue;font-weight:600;">9.00%* p.a. onwards</span>
            </p>
            <p>Floating Interest Rate:
              <span style="color:blue;font-weight:600;">9.40%* p.a. onwards
              </span>
            </p>
            <p>Max. Term : <span style="color:blue;font-weight:600;">20 years</span></p>
          </div>


          <div id="farmingLoans" class="tab-pane fade">

            <h4>Farming Loans</h4>



            <p>
            </p>



            <div class="vc_single_image-wrapper vc_box_shadow_border  vc_box_border_grey">

              <img class="img-thumbnail" width="380" height="280" src="/images/farm.png" alt="" decoding="async" title="internet-banking" sizes="(max-width: 555px) 100vw, 555px">
              <!--<img width="500" height="350" src="/images/farm.png" class="vc_single_image-img attachment-large" alt="" decoding="async" title="Vehicle Loans_500x350" sizes="(max-width: 500px) 100vw, 500px" />-->
            </div>
            <div class="row" style="padding:35px 0px;">

              <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
                <h6 style="text-decoration: underline; color: var(--secondary-color);">Dairy</h6>
                <p style="padding-top:10px;">Max Loan Amount(In Rs.) :
                  <span style="color:blue;font-weight:600;">0.80LK - 4.80LK</span>
                </p>
                <p>
                  Current Rate of Interest:
                  <span style="color:blue;font-weight:600;">9%</span>
                </p>
                <p>Duration:
                  <span style="color:blue;font-weight:600;">03 Years
                  </span>
                </p>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
                <h6 style="text-decoration: underline; color: var(--secondary-color);">Poultry</h6>
                <p style="padding-top:10px;">Max Loan Amount(In Rs.) :
                  <span style="color:blue;font-weight:600;">Upto 2.50LK</span>
                </p>
                <p>
                  Current Rate of Interest:
                  <span style="color:blue;font-weight:600;">9%</span>
                </p>
                <p>Duration:
                  <span style="color:blue;font-weight:600;">03 Years
                  </span>
                </p>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
                <h6 style="text-decoration: underline; color: var(--secondary-color);">Fisheries</h6>
                <p style="padding-top:10px;">Max Loan Amount(In Rs.) :
                  <span style="color:blue;font-weight:600;">2LK</span>
                </p>
                <p>
                  Current Rate of Interest:
                  <span style="color:blue;font-weight:600;">9%</span>
                </p>
                <p>Duration:
                  <span style="color:blue;font-weight:600;">Moratorium Period 01 Year + 03 Years
                  </span>
                </p>
              </div>

            </div>
          </div>


          <div id="goldLoans" class="tab-pane fade">

            <h4>Gold Loans</h4>



            <p>
            </p>



            <div class="vc_single_image-wrapper vc_box_shadow_border  vc_box_border_grey">
              <img class="img-thumbnail" width="380" height="280" src="/images/goldloan.png" alt="" decoding="async" title="internet-banking" sizes="(max-width: 555px) 100vw, 555px">
              <!--<img width="500" height="350" src="/images/goldloan.png" class="vc_single_image-img attachment-large" alt="" decoding="async" title="Vehicle Loans_500x350" sizes="(max-width: 500px) 100vw, 500px" />-->
            </div>
            <div class="row" style="padding:35px 0px;">

              <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
                <h6 style="text-decoration: underline; color: var(--secondary-color);">Gold/Gold Jewelery</h6>
                <p style="padding-top:10px;">Max Loan Amount(In Rs.) :
                  <span style="color:blue;font-weight:600;">2LK</span>
                </p>
                <p>
                  Current Rate of Interest:
                  <span style="color:blue;font-weight:600;">9%</span>
                </p>
                <p>Duration:
                  <span style="color:blue;font-weight:600;">01 Year
                  </span>
                </p>
              </div>



            </div>
          </div>

          <div id="businessLoans" class="tab-pane fade">

            <h4>Business Loans</h4>



            <p>
            </p>



            <div class="vc_single_image-wrapper vc_box_shadow_border  vc_box_border_grey">
              <img class="img-thumbnail" width="380" height="280" src="/images/business.png" alt="" decoding="async" title="internet-banking" sizes="(max-width: 555px) 100vw, 555px">
              <!--<img width="500" height="350" src="/images/business.png" class="vc_single_image-img attachment-large" alt="" decoding="async" title="Vehicle Loans_500x350" sizes="(max-width: 500px) 100vw, 500px" />-->
            </div>

            <div class="row" style="padding:35px 0px;">

              <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
                <h6 style="text-decoration: underline; color: var(--secondary-color);">Traders Loan</h6>
                <p style="padding-top:10px;">Max Loan Amount(In Rs.) :
                  <span style="color:blue;font-weight:600;">40LK</span>
                </p>
                <p>
                  Current Rate of Interest:
                  <span style="color:blue;font-weight:600;">11%</span>
                </p>
                <p>Duration:
                  <span style="color:blue;font-weight:600;">01 Years
                  </span>
                </p>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
                <h6 style="text-decoration: underline; color: var(--secondary-color);">Business Term Loan</h6>
                <p style="padding-top:10px;">Max Loan Amount(In Rs.) :
                  <span style="color:blue;font-weight:600;">40LK</span>
                </p>
                <p>
                  Current Rate of Interest:
                  <span style="color:blue;font-weight:600;">12%</span>
                </p>
                <p>Duration:
                  <span style="color:blue;font-weight:600;">05 Years
                  </span>
                </p>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
                <h6 style="text-decoration: underline; color: var(--secondary-color);">Over Draft Limit</h6>
                <p style="padding-top:10px;">Max Loan Amount(In Rs.) :
                  <span style="color:blue;font-weight:600;">10% of the Employee's Salary for 5 Months As Per or Maximum Rs. 3LK Whichever is less</span>
                </p>
                <p>
                  Current Rate of Interest:
                  <span style="color:blue;font-weight:600;">10%</span>
                </p>
                <p>Duration:
                  <span style="color:blue;font-weight:600;">01 Year
                  </span>
                </p>
              </div>

            </div>
          </div>

          <div id="yojnaLoans" class="tab-pane fade">

            <h4>Yojna Loans</h4>



            <p>
            </p>



            <div class="vc_single_image-wrapper vc_box_shadow_border  vc_box_border_grey">
              <img class="img-thumbnail" width="380" height="280" src="/images/yojna.png" alt="" decoding="async" title="internet-banking" sizes="(max-width: 555px) 100vw, 555px">
              <!--<img width="500" height="350" src="/images/yojna.png" class="vc_single_image-img attachment-large" alt="" decoding="async" title="Vehicle Loans_500x350" sizes="(max-width: 500px) 100vw, 500px" />-->
            </div>

            <div class="row" style="padding:35px 0px;">

              <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
                <h6 style="text-decoration: underline; color: var(--secondary-color);">PM Street Vendors Self Reliant Fund (PM SVANidhi) Scheme</h6>
                <p style="padding-top:10px;">Max Loan Amount(In Rs.) :
                  <span style="color:blue;font-weight:600;">0.10LK - 0.50</span>
                </p>
                <p>
                  Current Rate of Interest:
                  <span style="color:blue;font-weight:600;">12%</span>
                </p>
                <p>Duration:
                  <span style="color:blue;font-weight:600;">Moratorium Period 01 Year + 03 Years
                  </span>
                </p>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
                <h6 style="text-decoration: underline; color: var(--secondary-color);">Pradhanmantri Mudra Yojna </h6>
                <p style="padding-top:10px;">Max Loan Amount(In Rs.) :
                  <span style="color:blue;font-weight:600;">Upto 10LK</span>
                </p>
                <p>
                  Current Rate of Interest:
                  <span style="color:blue;font-weight:600;">12%</span>
                </p>
                <p>Duration:
                  <span style="color:blue;font-weight:600;">05 Years
                  </span>
                </p>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
                <h6 style="text-decoration: underline; color: var(--secondary-color);">Over Draft Limit</h6>
                <p style="padding-top:10px;">Max Loan Amount(In Rs.) :
                  <span style="color:blue;font-weight:600;">10% of the Employee's Salary for 5 Months As Per or Maximum Rs. 3LK Whichever is less</span>
                </p>
                <p>
                  Current Rate of Interest:
                  <span style="color:blue;font-weight:600;">10%</span>
                </p>
                <p>Duration:
                  <span style="color:blue;font-weight:600;">01 Year
                  </span>
                </p>
              </div>

            </div>
          </div>

        </div>

      </div>
    </div>
  </section>

  <!---sidebar end-->