<!--images section-->
<div class="pagew" style="background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(0, 0, 0, 0.2)  url(/images/otherLink.png) no-repeat center;background-size:100% 100%; background-position: center;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="page-breadcrumb">
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <ol class="breadcrumb breadmenu" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1))">
            <span property="itemListElement" typeof="ListItem">
              <a property="item" typeof="WebPage" title="Go to UPCB." href="index.html" class="home"><span property="name" style="color:#ffffff;">UPCB</span></a>
              <meta property="position" content="1">
            </span>
            <span style="color:#ffffff">> </span>
            <span property="itemListElement" typeof="ListItem" class="text-uppercase">
              <a property="item" typeof="WebPage" class="home" style="color: #ffffff;"><span property="name">Important Links</span></a>
              <meta property="position" content="1">
            </span>
            <span style="color:#ffffff">> </span>
            <span property="itemListElement" typeof="ListItem">
              <span property="name" class="post post-page current-item breadmenu text-uppercase" style="color: #ffffff;">OTHER LINKS</span>
              <meta property="url" content="https://upcbl.in/services.html">
              <meta property="position" content="2">
            </span>
          </ol>
        </div>
      </div>
      <div class="col-md-9"></div>
    </div>
  </div>
</div>
<!--images section end-->



<!--sidebar start-->
<section id="" class="downloadpage">
  <div class="container">
    <div class="row">
      <div class="mainc tab-content col-lg-12 col-md-12 col-sm-12 mb-4 mb-lg-0 ps-lg-4 bgdefine">
        <h4>OTHER IMPORTANT LINKS</h4>
        <div class="wpb_text_column wpb_content_element  vc_custom_1646221618454">
          <div class="wpb_wrapper">
            <div class="loan-rate-table table-responsive">
              <table class="table table-striped table-light table-bordered tableContentManner">
                <thead>
                  <tr>
                    <th scope="col">S. NO.</th>
                    <th scope="col">Item Description </th>
                    <th>View File/ Attachments</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td class="DownloadPageItemDes">
                      <p>RBI – Reserve Bank of India
                    </td>
                    <td class="text-center">
                      <!--<a class="my-button" href="forms/Customer-Request-Form.pdf" target="_blank" rel="noopener noreferrer">View/Download</a>-->
                      <div>
                        <a class="my-button" href="https://www.rbi.org.in/home.aspx" target="_blank" class="btn">View/Download</a>
                      </div>
                    </td>

                  </tr>

                  <tr>
                    <td>2</td>
                    <td>
                      <p>RBI KYC/AML/CFT Policy (Know Your Customer Guidelines)</p>
                    </td>
                    <td class="text-center"><a class="my-button" href="https://www.rbi.org.in/scripts/FAQView.aspx?Id=82" target="_blank" rel="noopener noreferrer">View/Download</a></td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>
                      <p>NABARD – National Bank for Agriculture and Rural Development</p>
                    </td>
                    <td class="text-center"><a class="my-button" href="https://www.nabard.org/english/home.aspx" target="_blank" rel="noopener noreferrer">View/Download</a></td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>
                      <p>IDRBT – Institute for Development and Research in Banking Technology</p>
                    </td>
                    <td class="text-center"><a class="my-button" href="http://idrbtca.org.in/" target="_blank" rel="noopener noreferrer">View/Download</a></td>
                  </tr>

                  <tr>
                    <td>5</td>
                    <td>
                      <p>NPCI – National Payments Corporation of India</p>
                    </td>
                    <td class="text-center"> <a class="my-button" href="https://www.npci.org.in/" target="_blank" rel="noopener noreferrer">View/Download</a></td>
                  </tr>

                  <tr>
                    <td>6</td>
                    <td>
                      <p>NAFSCOB – National Federation of State Cooperative Banks Ltd.</p>
                    </td>
                    <td class="text-center"><a class="my-button" href="http://nafscob.org/" target="_blank" rel="noopener noreferrer">View/Download</a></td>
                  </tr>

                  <tr>
                    <td>7</td>
                    <td>
                      <p>IBA – Indian Banks Association</p>
                    </td>
                    <td class="text-center"><a class="my-button" href="https://www.iba.org.in/" target="_blank" rel="noopener noreferrer">View/Download</a></td>
                  </tr>

                  <tr>
                    <td>8</td>
                    <td>
                      <p>IIBF – Indian Institute of Banking & Finance</p>
                    </td>
                    <td class="text-center"><a class="my-button" href="http://www.iibf.org.in/" target="_blank" rel="noopener noreferrer">View/Download</a></td>
                  </tr>
                  <tr>
                    <td>9</td>
                    <td>
                      <p>ECI – Election Commission of India</p>
                    </td>
                    <td class="text-center">
                      <a class="my-button" href="https://eci.gov.in/eci/eci.html" target="_blank" rel="noopener noreferrer">View/Download</a>
                    </td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td>
                      <p>UIDAI – Unique Identification Authority of India</p>
                    </td>
                    <td class="text-center">
                      <a class="my-button" href="https://uidai.gov.in//" target="_blank" rel="noopener noreferrer">View/Download</a>
                    </td>
                  </tr>
                  <tr>
                    <td>11</td>
                    <td>
                      <p>My LPG – My LPG</p>
                    </td>
                    <td class="text-center">
                      <a class="my-button" href="http://www.mylpg.in/index.aspx" target="_blank" rel="noopener noreferrer">View/Download</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>




    </div>
  </div>
</section>
<!---sidebar end-->