    <!--images section-->
    <div class="pagew" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), rgba(0, 0, 0, 0)  url(images/services/Services2.png) no-repeat center;background-size:100% 100%; background-position: center;">
        <div class="container-fluid">
          <div class="row">
             <div class="col-md-3">
                <div class="page-breadcrumb">
                   <p>&nbsp;</p>
                   <p>&nbsp;</p>
                   <p>&nbsp;</p>
                   <p>&nbsp;</p>
                   <p>&nbsp;</p>
                   <p>&nbsp;</p>
                   <ol class="breadcrumb breadmenu" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));">
                      <span property="itemListElement" typeof="ListItem">
                         <a property="item" typeof="WebPage" title="Go to UPCB." href="index.html" class="home"><span property="name" style="color:#ffffff;">UPCB</span></a>
                         <meta property="position" content="1">
                      </span>
                       <span style="color:#ffffff">&gt; </span>
                     <span property="itemListElement" typeof="ListItem">
                         <a property="item" typeof="WebPage" href="ourservices.html" class="home text-uppercase"><span property="name" style="color:#ffffff;">service</span></a>
                         <meta property="position" content="1">
                      </span>
                       <span style="color:#ffffff">&gt; </span>
                      <span property="itemListElement" typeof="ListItem">
                         <span property="name" class="post post-page current-item breadmenu text-uppercase" style="color:#ffffff;">Atm's & Branches</span>
                         <meta property="url" content="https://upcbl.in/services.html">
                         <meta property="position" content="2">
                      </span>
                   </ol>
                </div>
             </div>
             <div class="col-md-9"></div>
             
          </div>
       </div>
    </div>
    <!--images section end-->
    <section class="serviceCharge_wrapper">
        <div class="container">
            <div class="row">
                        <div class="mainc tab-content col-lg-12 col-md-12 col-sm-12 mb-4 mb-lg-0 ps-lg-4 bgdefine">
                   <!--<div id="home" class="active tab-pane fade in show">
                              <h2 >The right credit card is right here</h2>
                              <p>Looking for a card that earns travel points, cash back, or rewards? Our side-by-side                 comparisons and objective reviews can help you make the smartest decision.</p>
                           
                   </div>
                   <div id="about" class="tab-pane fade">
                        <h2 >The 2nd right credit card is right here</h2>
                              <p>Looking for a card that earns travel points, cash back, or rewards? Our side-by-side                 comparisons and objective reviews can help you make the smartest decision.</p>
                   </div>-->
                    <div class="active tab-pane fade in show">
                      <h4>Annexure -A (For Display On Branch Notice Board)</h4>
                     <div>
                      
                         <table class="table table-striped table-bordered tableContentManner" style="border: 1px solid var(--secondary-color);">
<thead>
  <tr>
    <th scope="col">PARTICULARS</th>
    <th scope="col">
      Service Charges – Saving Bank Account – Regular A/c – W.E.F 01/Sep/2018
    </th>
  </tr>
</thead>
<tbody>
  <tr>
   <td><p>Issue of MICR Cheque-SB</p></td>
    <td><p>Rs. 1.50/- per cheque leaf, 15 leaves free on A/c Opening</p></td>
   </tr>
   <tr>
   <td><p>Issue of Pass Book</p></td>
    <td><p>Nil</p></td>
   </tr>
    <tr>
   <td><p>Balance Certificate</p></td>
    <td><p>Nil</p></td>
   </tr>
    <tr>
   <td><p>Duplicate Pass Book</p></td>
    <td><p>For current financial year Rs.25/-</p></td>
   </tr>
    <tr>
   <td><p>Duplicte Statement</p></td>
    <td><p>Rs 10/- per page for previous financial years</p></td>
   </tr>
   <tr>
   <td><p>Stop payment instruction</p></td>
    <td><p>Rs 25/- per instrument for all types of accounts</p></td>
   </tr>
   <tr>
   <td><p>Account closure before 12 months(A/c tranfer not included)</p></td>
    <td><p>Indivisuals – Rs. 100/-<br>
Others Rs. 250/-</p></td>
   </tr>
    <tr>
   <td><p>Cheque/ECS returned charges – cheque drawn on us</p></td>
    <td><p>Rs. 100/-, No charges levied if cheque is
returned unpaid due to techincal reason.<br>
Others Rs. 250/-</p></td>
   </tr>
    <tr>
   <td><p>Cheques/bill deposited returned unpaid</p></td>
    <td><p>  Rs. 100 + others bank’s charges if any, No
charges levied if cheque returned
unpaid due to techincal reason.</p></td>
   </tr>
   <tr>
   <td><p>Signature Verification<</td>
    <td>Rs. 25/-<</td>
   </tr>
   <tr>
   <td><p>No dues Certificate</p></td>
    <td><p>Priority sector Nil <br>
Others Rs. 25/- per certificate</p></td>
   </tr>
    <tr>
   <td><p>No dues Certificate</p></td>
    <td><p>Nil</p></td>
   </tr>
    <tr>
   <td><p>Setting up standing instructions(SI)</p></td>
    <td><p>Nil</p></td>
   </tr>
   <tr>
   <td><p>Record copy of the cheque</p></td>
    <td><p>Rs. 25/- per instance</p></td>
   </tr>
    <tr>
   <td><p>Enquiry relating to old records(More than 13 months old)</p></td>
    <td><p>  Rs. 25/- per item</p></td>
   </tr>
   <tr>
   <td><p>Minimum Balance(Average Quartely Balance)</p></td>
    <td><p>For SB A/c Rs.500/-</p></td>
   </tr>
   <tr>
   <td><p>Charges for not maintaining minimum Average Quarterly Balance</p></td>
    <td><p>Nil</p></td>
   </tr>
     <tr>
   <td><p>Issue of Demand Drafts/bankers Cheques/Cheque drawn on the other bank</p></td>
    <td><p>Minimum Rs. 20/- or 0.20% of the DD amount, whichever is higher</p></td>
   </tr>
    <tr>
   <td><p>Revalidation / cancelation / issuance od duplicate draft / bankers cheques/ cheque drawn on the other banks</p></td>
    <td><p>Rs. 25/- per Draft / Bankers cheque / drawn on the other banks</p></td>
   </tr>
   <tr>
   <td><p>Outstation cheque / Bills for Collection</p></td>
   <td>
   <ol type="a">
   <li><p>Up to Rs.5000/- Rs. 20/-</p></li>
   <li><p>Rs.5001/- to 10000/- Rs. 40/-</p></li>
   <li><p>Rs.10001/- to 100000/- Rs. 80/-</p></li>
   <li><p>Rs.1,00,001/- & above Rs. 120/-</p></li>
   </ol> 
  <p> Bank may charge ad per guidelines issued by RBI</p>
   </td>
   </tr>
   <tr>
   <td><p>Outword Bills for Collection(OBC)</p></td>
   <td><p>As per DD Charges</p></td>
   </tr>
   <tr>
   <td><p>Issue of MT</p></td>
   <td><p>Nil</p></td>
   </tr>
   <tr>
   <td><p>RTGS</p></td>
   <td><p>Nil</p></td>
   </tr>
   <tr>
   <td><p>NEFT</p></td>
   <td><p>Nil</p></td>
   </tr>
   <tr>
   <td><p>SMS Alert Charges</p></td>
   <td><p>Nil</p></td>
   </tr>
   <tr>
   <td><p>IMPS Charges</p></td>
   <td><p>Nil</p></td>
   </tr>
   <tr>
   <td><p>INB PIN Replacement</p></td>
   <td><p>Rs. 50/-</p></td>
   </tr>
   

</tbody>
</table>
                      
                   </div>
                    </div>


          </div>
            </div>
        </div>
    </section>