    <!--images section-->
    <div class="pagew" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), rgba(0, 0, 0, 0)  url(images/services/servicesbank.png) no-repeat center;background-size:100% 100%; background-position: center;">
        <div class="container">
           <div class="row">
              <div class="col-md-3 ">
                 <div class="page-breadcrumb">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <ol class="breadcrumb breadmenu" style="background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))">
                       <span property="itemListElement" typeof="ListItem">
                          <a property="item" typeof="WebPage" title="Go to UPCB." href="index.html" class="home"><span property="name" style="color:#ffffff;">UPCB</span></a>
                          <meta property="position" content="1">
                       </span>
                        <span style="color:#ffffff;">&gt; </span>
                       <span property="itemListElement" typeof="ListItem">
                          <span property="name" class="post post-page current-item breadmenu text-uppercase">Services</span>
                          <meta property="url" content="https://upcbl.in/services.html">
                          <meta property="position" content="2">
                       </span>
                    </ol>
                 </div>
              </div>
               <div class="col-md-9"></div>
           </div>
        </div>
     </div>
     <!--images section end-->



   <!-- Our Services section -->
   <section id="services" class="Ourservices_wrapper" style="background-color:rgb(255, 206, 183);">
       <div class="container-fluid">
           <div class="row">
               <div class="col-sm-12 section-title text-center mb-3">
                   <h3 style="z-index: 9;">Our Services</h3>
               </div>
           </div>
           <div class="row m-0">
               <div class="col-md-3 mb-3 mb-lg-0">
                   <div class="Ourservices-item" >
                       <img decoding="async" src="./images/services/ATM.jpg" class="img-fluid">
                       <div class="Ourservices-item-wrap">
                           <div class="Ourservices-content">
                               <h5 class="text-white mb-lg-3 text-decoration-underline">ATM</h5>
                               <p class="text-white">Automated Teller Machine</p>
                               
                               <a class="main-btn border-white text-white " href="atms.html">Know More</a>
                           </div>
                       </div> 
                   </div> 
               </div>
               <div class="col-md-3 mb-3 mb-lg-0">
                   <div class="Ourservices-item">
                       <img decoding="async" src="./images/upi.jpeg" class="img-fluid">
                       <div class="Ourservices-item-wrap">
                           <div class="Ourservices-content">
                               <h5 class="text-white mb-lg-3 text-decoration-underline">UPI</h5>
                               <p class="text-white">
                               Unified Paymnent Interface
                             </p>
                              
                               <a class="main-btn border-white text-white" href="digitalBanking.html">Know More</a>
                           </div>
                       </div>
                   </div> 
               </div>
               <div class="col-md-3 mb-3 mb-lg-0">
                   <div class="Ourservices-item">
                       <img decoding="async" src="./images/services/neft.jpg" class="img-fluid">
                       <div class="Ourservices-item-wrap">
                           <div class="Ourservices-content">
                               <h5 class="text-white mb-lg-3 text-decoration-underline">NEFT</h5>
                               <p class="text-white">
                                 National Electronic Funds Transfer
                               </p>
                             <a class="main-btn border-white text-white" href="digitalBanking.html">Know More</a>
                           </div>
                       </div>
                   </div> 
               </div>

                <div class="col-md-3 mb-3 mb-lg-0">
                   <div class="Ourservices-item">
                       <img decoding="async" src="./images/services/rtgs.jpg" class="img-fluid">
                       <div class="Ourservices-item-wrap">
                           <div class="Ourservices-content">
                               <h5 class="text-white mb-lg-3 text-decoration-underline">RTGS</h5>
                               <p class="text-white">Real-time Gross Settlement</p>
                               <a class="main-btn border-white text-white" href="digitalBanking.html">Know More</a>
                           </div>
                       </div>
                   </div> 
               </div>
 </div>
    <p>&nbsp;</p>   
          <div class="row m-0">
               <div class="col-md-3 mb-3 mb-lg-0">
                   <div class="Ourservices-item">
                       <img decoding="async" src="./images/imps.png" class="img-fluid">
                       <div class="Ourservices-item-wrap">
                           <div class="Ourservices-content">
                               <h5 class="text-white mb-lg-3 text-decoration-underline">IMPS</h5>
                               <p class="text-white">Immediate Payment System</p>
                               <a class="main-btn border-white text-white" href="digitalBanking.html">Know More</a>
                           </div>
                       </div>
                   </div> 
               </div>
               <div class="col-md-3 mb-3 mb-lg-0">
                   <div class="Ourservices-item">
                       <img decoding="async" src="./images/services/internet-banking.jpeg" class="img-fluid">
                       <div class="Ourservices-item-wrap">
                           <div class="Ourservices-content">
                               <h5 class="text-white mb-lg-3 text-decoration-underline">INTERNET BANKING</h5>
                               <p class="text-white">
                               24 x 7 access to Banking Services
                             </p>
                              
                               <a class="main-btn border-white text-white" href="digitalBanking.html">Know More</a>
                           </div>
                       </div>
                   </div> 
               </div>
               <div class="col-md-3 mb-3 mb-lg-0">
                   <div class="Ourservices-item">
                       <img decoding="async" src="./images/services/mobile-banking.jpeg" class="img-fluid">
                       <div class="Ourservices-item-wrap">
                           <div class="Ourservices-content">
                               <h5 class="text-white mb-lg-3 text-decoration-underline">MOBILE BANKING</h5>
                               <p class="text-white">
                                 24 x 7 access to Banking Services
                               </p>
                             <a class="main-btn border-white text-white" href="digitalBanking.html">Know More</a>
                           </div>
                       </div>
                   </div> 
               </div>

                <div class="col-md-3 mb-3 mb-lg-0">
                   <div class="Ourservices-item">
                       <img decoding="async" src="./images/services/nabard-schemes.jpg" class="img-fluid">
                       <div class="Ourservices-item-wrap">
                           <div class="Ourservices-content">
                               <h5 class="text-white mb-lg-3 text-decoration-underline">NABARD SCHEMES</h5>
                               <p class="text-white">SCHEMES</p>
                               <a class="main-btn border-white text-white" href="digitalBanking.html">Know More</a>
                           </div>
                       </div>
                   </div> 
               </div>

               
           </div>
       </div>

   </section>
