<!--images section-->
<div class="pagew" style="background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(0, 0, 0, 0)  url(images/upcbnew.jpg) no-repeat center;background-size:100% 100%; background-position: center;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 ">
        <div class="page-breadcrumb">
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <ol class="breadcrumb breadmenu" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1))">
            <span property="itemListElement" typeof="ListItem">
              <a property="item" typeof="WebPage" title="Go to UPCB." href="index.html" class="home" style="color: #ffffff;"><span property="name">UPCB</span></a>
              <meta property="position" content="1">
            </span>
            <span style="color:#ffffff"> &gt;</span>
            <span property="itemListElement" typeof="ListItem">
              <span property="name" class="post post-page current-item breadmenu text-uppercase" style="color:#ffffff;">About-Us</span>
              <meta property="url" content="https://upcbl.in/services.html">
              <meta property="position" content="2">
            </span>
          </ol>
        </div>
      </div>
      <div class="col-md-9"></div>
    </div>
  </div>
</div>
<!--images section end-->


<!--sidebar start-->
<section id="" class="sidebar">
  <div class="container">
    <div class="row">
      <div class="leftsection col-lg-3 col-md-3 col-sm-3 text-center">

        <ul class="nav navbar navbar-expand d-flex flex-column">

          <li class="nav-item centeri w-100">
            <a href="#upcb" data-bs-toggle="tab" class="nav-link active animate__animated animate__bounceIn" style="animation-duration:5s">
              About UPCB
            </a>
          </li>

          <li class="nav-item centeri w-100">
            <a href="#bod" class="nav-link  animate__animated animate__backInLeft" style="animation-duration:5s" data-bs-toggle="tab"> Board of Directors </a>
          </li>

          <li class="nav-item centeri w-100">
            <a href="#bom" class="nav-link animate__animated animate__backInRight" style="animation-duration:5s" data-bs-toggle="tab">Board of Management</a>
          </li>

          <li class="nav-item centeri w-100">
            <a href="#kmp" class="nav-link animate__animated animate__bounceIn" style="animation-duration:5s" data-bs-toggle="tab"> Key Management Personnel </a>
          </li>

          <li class="nav-item centeri w-100">
            <a href="#os" class="nav-link animate__animated animate__backInLeft" style="animation-duration:5s" data-bs-toggle="tab">Organisation Structure </a>
          </li>

          <li class="nav-item centeri w-100">
            <a href="#cm" class="nav-link animate__animated animate__backInRight" style="animation-duration:5s" data-bs-toggle="tab"> Chairman's Message </a>
          </li>

          <li class="nav-item centeri w-100">
            <a href="#fp" class="nav-link animate__animated animate__bounceIn" style="animation-duration:5s" data-bs-toggle="tab">Financial Performance</a>
          </li>
          <li class="nav-item centeri w-100">
            <a href="#dccb" class="nav-link animate__animated animate__backInLeft" style="animation-duration:5s" data-bs-toggle="tab">DCCB's Detail</a>
          </li>
          <li class="nav-item centeri w-100">
            <a href="#ov" class="nav-link animate__animated animate__backInRight" style="animation-duration:5s" data-bs-toggle="tab">Our Vision</a>
          </li>
          <li class="nav-item centeri w-100">
            <a href="#dp" class="nav-link animate__animated animate__bounceIn" style="animation-duration:5s" data-bs-toggle="tab">Development Programmes</a>
          </li>
        </ul>
      </div>

      <div class="mainc tab-content col-lg-9 col-md-9 col-sm-9 mb-4 mb-lg-0 ps-lg-4 bgdefine" style="animation-duration:5s">
        <!--<div id="home" class="active tab-pane fade in show">
                           <h2 >The right credit card is right here</h2>
                           <p>Looking for a card that earns travel points, cash back, or rewards? Our side-by-side                 comparisons and objective reviews can help you make the smartest decision.</p>
                        
                </div>
                <div id="about" class="tab-pane fade">
                     <h2 >The 2nd right credit card is right here</h2>
                           <p>Looking for a card that earns travel points, cash back, or rewards? Our side-by-side                 comparisons and objective reviews can help you make the smartest decision.</p>
                </div>-->
        <div id="upcb" class="active tab-pane fade in show">
          <h4>Introduction to <span style="color: var(--secondary-text);">The Uttar Pradesh Co-operative Bank Ltd.</span></h4>
          <p style="text-align: justify;">The economic progress of Uttar Pradesh in the whole of India is also based on the development of agriculture. Despite the huge development in commerce, trade and industry, the contribution of agriculture sector to the gross income of the region is more than 35 percent. Agriculture has consistently become the most widespread sector in terms of providing employment opportunities. About 60 percent of the employment in the region is available in the agricultural sector. While Uttar Pradesh has made remarkable progress in food grains on the one hand and the green revolution has taken place, on the other hand there has been appreciable progress in the production of potatoes and sugar. The region has also made tremendous progress in the production of pulses/oilseeds in the past years. Co-operative banks play a leading role in facilitating short-term loans for the farmers of the region for the resources required for agricultural production-fertilizers, seeds, agricultural defense chemicals/equipment, agricultural machinery etc. Along with providing facilities for scientific storage and marketing of their produce to farmers, these banks also arrange financing for supply of essential consumer goods of daily use.</p>
          <p>UP Co-operative Bank Ltd. was established on 20th November 1944 vide Registration No. 811 as the Apex Co-operative Society of Co-operative Banks. In this way IS Bank has been functioning for 75 years. UP Co-operative Bank Ltd. is listed in the Second Schedule of Reserve Bank of India Act 1934 i.e. it is a Scheduled Bank and a Co-operative Society under the UP Co-operative Societies Act 1965 and UP Co-operative Societies Rules 1968 and Banking Regulation Act 1949. It is regulated.
          </p>
        </div>

        <div id="bod" class="tab-pane fade ">
          <h4>Management Committee - <span style="color:var(--secondary-text);"> U.P. Co-operative Bank Ltd.</span></h4>
          <div class="table-responsive">

            <table class="table table-bordered tableContentManner" style="border: 1px solid var(--secondary-text);">
              <thead>
                <tr>
                  <th scope="col">Sl. No.</th>
                  <th scope="col">Name of member</th>
                  <th scope="col">Post </th>
                  <th scope="col">Mobile number</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>
                    <p>Mr. Tejveer Singh</p>
                  </td>
                  <td>
                    <p>chairman</p>
                  </td>
                  <td>
                    <p>+91-9412727827</p>
                  </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>
                    <p>Shri Jitendra Bahadur Singh</p>
                  </td>
                  <td>
                    <p>Deputy Chairman</p>
                  </td>
                  <td>
                    <p>+91-9889210000</p>
                  </td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>
                    <p>Mr. Vikas Gupta</p>
                  </td>
                  <td>
                    <p>Member</p>
                  </td>
                  <td>
                    <p>+91-8887151041</p>
                  </td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>
                    <p>Shri Rajendra Singh</p>
                  </td>
                  <td>
                    <p>Member</p>
                  </td>
                  <td>
                    <p>91-9415052288</p>
                  </td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>
                    <p>Mr. Ashok</p>
                  </td>
                  <td>
                    <p>Member</p>
                  </td>
                  <td>
                    <p>+91-9415052288</p>
                  </td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>
                    <p>Mrs. Indira Singh</p>
                  </td>
                  <td>
                    <p>Member</p>
                  </td>
                  <td>
                    <p>+91-7251999249</p>
                  </td>
                </tr>
                <tr>
                  <th scope="row">7</th>
                  <td>
                    <p>Mr. Satish Pradhan</p>
                  </td>
                  <td>
                    <p>Member</p>
                  </td>
                  <td>
                    <p>+91-9410637341</p>
                  </td>
                </tr>
                <tr>
                  <th scope="row">8</th>
                  <td>
                    <p>Shri Virendra Pratap Singh</p>
                  </td>
                  <td>
                    <p>Member</p>
                  </td>
                  <td>
                    <p>+91-9935306474</p>
                  </td>
                </tr>
                <tr>
                  <th scope="row">9</th>
                  <td>
                    <p>Shri Lok Narayan</p>
                  </td>
                  <td>
                    <p>Member</p>
                  </td>
                  <td>
                    <p>+91-8795828651</p>
                  </td>
                </tr>
                <tr>
                  <th scope="row">10</th>
                  <td>
                    <p>Shri Suresh Kumar Dwivedi</p>
                  </td>
                  <td>
                    <p>Member</p>
                  </td>
                  <td>
                    <p>+91-9415626750</p>
                  </td>
                </tr>
                <tr>
                  <th scope="row">11</th>
                  <td>
                    <p>Mr. Anubhav Kakkar</p>
                  </td>
                  <td>
                    <p>Member</p>
                  </td>
                  <td>
                    <p>+91-7379439000</p>
                  </td>
                </tr>
                <tr>
                  <th scope="row">12</th>
                  <td>
                    <p>Mr. Shivmani Singh</p>
                  </td>
                  <td>
                    <p>Member</p>
                  </td>
                  <td>
                    <p>+91-9839516284</p>
                  </td>
                </tr>
                <tr>
                  <th scope="row">13</th>
                  <td>
                    <p>Chief General Manager, NABARD</p>
                  </td>
                  <td></td>
                  <td>
                    <p>+91-9410637341</p>
                  </td>
                </tr>
                <tr>
                  <th scope="row">14</th>
                  <td>
                    <p>Mr. V.K. Mishra </p>
                  </td>
                  <td>
                    <p>Member/coordinator</p>
                  </td>
                  <td>
                    <p>+91-7307069306</p>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>


        <div id="bom" class="tab-pane fade">
          <h4>Chief Executive Officer of <span style="color: var(--secondary-text);">the UPCB</span></h4>
          <div class="table-responsive">

            <table class="table table-bordered tableContentManner" style="border: 1px solid var(--secondary-text);">
              <thead>
                <tr>
                  <th scope="col">
                    Sl.No. </th>
                  <th scope="col">Designation</th>
                  <th scope="col" colspan="2">Telephone Number (office - Phone No.)</th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <th scope="row">1</th>
                  <td>
                    <p>Mr. V.K. Mishra, Managing Director</p>
                  </td>
                  <td>
                    <p>0522-2622438</p>
                  </td>
                  <td>
                    <p>+91-7307069306</p>
                  </td>

                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>
                    <p>Mr. Narendra Kumar Singh, Chief General Manager (IDD, Mont, Law, A.C.D., N.A.D.)</p>
                  </td>
                  <td>
                    <p>PBX-709</p>
                  </td>
                  <td>
                    <p>+91-7307069308</p>
                  </td>

                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>
                    Mr. Ravindra Singh Sengar, General Manager (Admn./Gen./IGRS)
                  </td>
                  <td>PBX-704</td>
                  <td>+91-7307069307</td>

                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>
                    <p>Dr.Birendra Yadav, General Manager (Audit, Inspection, Finance & Accounts, GST, Banking,)</p>
                  </td>
                  <td>
                    <p>PBX-513</p>
                  </td>
                  <td>
                    <p>+91-7525006137</p>
                  </td>

                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>
                    <p> Manager Director, Agricultural Cooperative Staff Training Institute Mr. Shrikant Mishra</p>
                  </td>
                  <td></td>
                  <td>
                    <p>+91-7525006042</p>
                  </td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>
                    <p>
                      (Development, NAD, Recovery (Regional Office-Varanasi, Mirzapur, Azamgarh, Basti), Sugar Mills: Hata-Kushinagar, Ghosi-Mau</p>
                  </td>
                  <td>
                    <p>PBX-510</p>
                  </td>
                  <td>
                    <p>+91-7525006046</p>
                  </td>
                </tr>
                <tr>
                  <th scope="row">7</th>
                  <td>
                    <p>
                      Shri Ashok Kumar, General Manager</p>
                  </td>
                  <td></td>
                  <td>
                    <p>+91-7525006031</p>
                  </td>
                </tr>
                <tr>
                  <th scope="row">8</th>
                  <td>
                    <p>Shri K.D. Pathak, General Manager</p>
                  </td>
                  <td></td>
                  <td>
                    <p>+91-7525006038</p>
                  </td>
                </tr>
              </tbody>
            </table>



          </div>
        </div>

        <div id="kmp" class="tab-pane fade">
          <h4>Staff structure</h4>
          <div class="table-responsive">

            <table class="table table-bordered tableContentManner " style="border: 1px solid var(--secondary-text);">

              <tbody>

                <tr>
                  <td>
                    <p>Management Committee</p>
                  </td>
                  <td>
                    <p>Public Relation Officer (Ex Cadre) (01)</p>
                  </td>
                </tr>

                <tr>
                  <td>
                    <p>Managing Director (01)</p>
                  </td>
                  <td>
                    <p>Executive Officer (01)</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>Chief General Manager (01)</p>
                  </td>
                  <td>
                    <p>Manager (91)</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>General Manager (06)</p>
                  </td>
                  <td>
                    <p>Assistant Manager (184)</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>Chief Technical Officer (01)</p>
                  </td>
                  <td>
                    <p>Assistant Manager (Computer) (12)</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>Chief Finance Officer (01)</p>
                  </td>
                  <td>
                    <p>Class III Cadre (240)</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>Deputy General Manager (28)</p>
                  </td>
                  <td>
                    <p>Class IV Cadre (160)</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>Assistant General Manager (48)</p>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <p>Assistant General Manager/Faculty Member (Ex Cadre) (03)</p>
                  </td>
                  <td style="font-weight: 600;">
                    <p>Total Posts ( 776)</p>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>

        <div id="os" class="tab-pane fade">
          <h4>Organizational Structure:</h4>
          <p>The jurisdiction of the bank is entire Uttar Pradesh. At present, 27 branches of the bank, 17 regional offices, 25 pay-offices are working, along with the cadre authority and an agricultural cooperative training institute are also operated by the bank. Out of 27 branches of the bank, 12 are in Lucknow, 07 in Kanpur and one branch each in Varanasi, Faizabad, Agra, Ghaziabad, Bareilly, Sathianv, Gonda, Sitapur. In addition to the above, banking work will be started soon by 13 new branches of the bank.
          </p>
          <h5>Total Staff (as on 02.05.2022)</h5>
          <div class="table-responsive">

            <table class="table table-bordered tableContentManner" style="border: 1px solid var(--secondary-text);">

              <tbody>

                <tr>
                  <td>
                    <p>Officer Category-1</p>
                  </td>
                  <td>
                    <p>209</p>
                  </td>
                </tr>

                <tr>
                  <td>
                    <p>All Assistant Category-3</p>
                  </td>
                  <td>
                    <p>210</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>All associate class category-4</p>
                  </td>
                  <td>
                    <p>189</p>
                  </td>
                </tr>

                <tr style="font-weight: 600;">
                  <td>
                    <p>Grand total</p>
                  </td>
                  <td>
                    <p>608</p>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>

        </div>

        <div id="cm" class="tab-pane fade">
          <h4>Chairman's Message</h4>
          <p>When you need a personal loan, it's smart to shop around. Our loan comparisons, objective reviews, and payment calculators make it easier to choose one with confidence.</p>
        </div>

        <div id="Insurance" class="tab-pane fade">
          <h2>Discover the right insurance for you</h2>
          <p>Compare and find insurance for your life, home, car, and more. Our comparisons and objective reviews can help you decide on the smartest insurance carriers for you.</p>
        </div>

        <div id="Investing" class="tab-pane fade">
          <h2>Zero in on investments that fit you</h2>
          <p>Whether you're looking at stocks, IRAs, or crypto, our comparisons and objective reviews can help you make strategic decisions about your next investment accounts.</p>

        </div>

        <div id="fp" class="tab-pane fade">
          <h4>Financial Performance</h4>
          <h5>Economic Condition: <span style="color: var(--secondary-text);">Progress At A Glance</span></h5>

          <div class="table-responsive">

            <table class="table table-bordered tableContentManner" style="border:1px solid var(--secondary-text);">
              <tbody>
                <tr>
                  <th>S.NO</th>
                  <th>Particulars</th>
                  <th>Mar-19</th>
                  <th>Mar-20</th>
                  <th>Mar-21</th>
                  <th>Mar-22</th>
                  <th>Mar-23</th>
                  <th>Diff</th>
                  <th>% Diff</th>
                </tr>
                <!-- <tr><td>1</td><td>2</td><td>3</td><td>   4</td><td>   5</td><td>6</td><td>7</td><td>8</td><td>9</td></tr> -->
                <tr>
                  <td>1</td>
                  <td>
                    <p>Share Capital</p>
                  </td>
                  <td>
                    <p>21461</p>
                  </td>
                  <td>
                    <p>274.81</p>
                  </td>
                  <td>
                    <p>280.67</p>
                  </td>
                  <td>
                    <p>294.62</p>
                  </td>
                  <td>
                    <p>337.74</p>
                  </td>
                  <td>
                    <p>43.12</p>
                  </td>
                  <td>
                    <p>14.64</p>
                  </td>
                </tr>

                <tr>
                  <td>2</td>
                  <td>
                    <p>Reserve Fund

                      < & Others</p>
                  </td>
                  <td>
                    <p>578.72</p>
                  </td>
                  <td>
                    <p>624.14</p>
                  </td>
                  <td>
                    <p>704.20</p>
                  </td>
                  <td>
                    <p>848.47</p>
                  </td>
                  <td>
                    <p>959.99</p>
                  </td>
                  <td>
                    <p>111.52</p>
                  </td>
                  <td>
                    <p>13.14</p>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>
                    <p>ownfund</p>
                  </td>
                  <td>
                    <p>85333</p>
                  </td>
                  <td>
                    <p>898.95</p>
                  </td>
                  <td>
                    <p>984.87</p>
                  </td>
                  <td>
                    <p>1143.09</p>
                  </td>
                  <td>
                    <p>1297.73</p>
                  </td>
                  <td>
                    <p>154.64</p>
                  </td>
                  <td>
                    <p>1353</p>
                  </td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>
                    <p>Deposit</p>
                  </td>
                  <td>
                    <p>5940.62</p>
                  </td>
                  <td>
                    <p>7379.91</p>
                  </td>
                  <td>
                    <p>8322.09</p>
                  </td>
                  <td>
                    <p>10562.89</p>
                  </td>
                  <td>
                    <p>10283.22</p>
                  </td>
                  <td>
                    <p>-279.67</p>
                  </td>
                  <td>
                    <p>-2.65</p>
                  </td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>
                    <p>Working Capital</p>
                  </td>
                  <td>
                    <p>9596.60</p>
                  </td>
                  <td>
                    <p>10308.28</p>
                  </td>
                  <td>
                    <p>12036.55</p>
                  </td>
                  <td>
                    <p>15674.55</p>
                  </td>
                  <td>
                    <p>15955.55</p>
                  </td>
                  <td>
                    <p>281.00</p>
                  </td>
                  <td>
                    <p>1.79</p>
                  </td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>
                    <p>Investment SLR</p>
                  </td>
                  <td>
                    <p>1628.69</p>
                  </td>
                  <td>
                    <p>1558.64</p>
                  </td>
                  <td>
                    <p>1650.20</p>
                  </td>
                  <td>
                    <p>2192.11</p>
                  </td>
                  <td>
                    <p>2044.96</p>
                  </td>
                  <td>
                    <p>-147.15</p>
                  </td>
                  <td>
                    <p>6.71</p>
                  </td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>
                    <p>Investment NON SLR</p>
                  </td>
                  <td>
                    <p>1116.71</p>
                  </td>
                  <td>
                    <p>1155.31</p>
                  </td>
                  <td>
                    <p>2264.28</p>
                  </td>
                  <td>
                    <p>2546.63</p>
                  </td>
                  <td>
                    <p>2425.52</p>
                  </td>
                  <td>
                    <p>-121.11</p>
                  </td>
                  <td>
                    <p>-4.76</p>
                  </td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>
                    <p>Loan & - Loan issued</p>
                  </td>
                  <td>
                    <p>6962.92</p>
                  </td>
                  <td>
                    <p>9784.79</p>
                  </td>
                  <td>
                    <p>10314.65</p>
                  </td>
                  <td>
                    <p>12227.16</p>
                  </td>
                  <td>
                    <p>17720.65</p>
                  </td>
                  <td>
                    <p>5493.49</p>
                  </td>
                  <td>
                    <p>4493</p>
                  </td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>
                    <p>Advances - Loan Outstanding</p>
                  </td>
                  <td>
                    <p>6254.11</p>
                  </td>
                  <td>
                    <p>8115.12</p>
                  </td>
                  <td>
                    <p>8710.19</p>
                  </td>
                  <td>
                    <p>10031.16</p>
                  </td>
                  <td>
                    <p>11281.18</p>
                  </td>
                  <td>
                    <p>1250.02</p>
                  </td>
                  <td>
                    <p>12.46</p>
                  </td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>
                    <p>Borrowings</p>
                  </td>
                  <td>
                    <p>2018.53</p>
                  </td>
                  <td>
                    <p>2353.39</p>
                  </td>
                  <td>
                    <p>3271.16</p>
                  </td>
                  <td>
                    <p>3201.99</p>
                  </td>
                  <td>
                    <p>447047</p>
                  </td>
                  <td>
                    <p>1268.48</p>
                  </td>
                  <td>
                    <p>39.62</p>
                  </td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>
                    <p>Total Income</p>
                  </td>
                  <td>
                    <p>669.98</p>
                  </td>
                  <td>
                    <p>729.56</p>
                  </td>
                  <td>
                    <p>804.46</p>
                  </td>
                  <td>
                    <p>857.73</p>
                  </td>
                  <td>
                    <p>1002.33</p>
                  </td>
                  <td>
                    <p>144.60</p>
                  </td>
                  <td>
                    <p>16.86</p>
                  </td>
                </tr>
                <tr>
                  <td>11</td>
                  <td>
                    <p>Total Expenditure</p>
                  </td>
                  <td>
                    <p>627.97</p>
                  </td>
                  <td>
                    <p>686.28</p>
                  </td>
                  <td>
                    <p>758.99</p>
                  </td>
                  <td>
                    <p>807.03</p>
                  </td>
                  <td>
                    <p>941.57</p>
                  </td>
                  <td>
                    <p>134.54</p>
                  </td>
                  <td>
                    <p>16.67</p>
                  </td>
                </tr>
                <tr>
                  <td>12</td>
                  <td>
                    <p>Net Profit</p>
                  </td>
                  <td>
                    <p>42.02</p>
                  </td>
                  <td>
                    <p>43.28</p>
                  </td>
                  <td>
                    <p>45.47</p>
                  </td>
                  <td>
                    <p>50.70</p>
                  </td>
                  <td>
                    <p>60.76</p>
                  </td>
                  <td>
                    <p>10.06</p>
                  </td>
                  <td>
                    <p>19.84</p>
                  </td>
                </tr>
                <tr>
                  <td>13</td>
                  <td>
                    <p>Credit Deposit Ratio(%)</p>
                  </td>
                  <td>
                    <p>105.28</p>
                  </td>
                  <td>
                    <p>109.96</p>
                  </td>
                  <td>
                    <p>104.66</p>
                  </td>
                  <td>
                    <p>94.97</p>
                  </td>
                  <td>
                    <p>109.70</p>
                  </td>
                  <td>
                    <p>14.74</p>
                  </td>
                  <td>
                    <p>15.52</p>
                  </td>
                </tr>
                <tr>
                  <td>14</td>
                  <td>
                    <p>Management Cost</p>
                  </td>
                  <td>
                    <p>96.15</p>
                  </td>
                  <td>
                    <p>112.41</p>
                  </td>
                  <td>
                    <p>121.74</p>
                  </td>
                  <td>
                    <p>100.37</p>
                  </td>
                  <td>
                    <p>118.86</p>
                  </td>
                  <td>
                    <p>18.49</p>
                  </td>
                  <td>
                    <p>18.42</p>
                  </td>
                </tr>
                <tr>
                  <td>15</td>
                  <td>
                    <p>Management Cost as % to Avg. W.C</p>
                  </td>
                  <td>
                    <p>0.00%</p>
                  </td>
                  <td>
                    <p>1.09%</p>
                  </td>
                  <td>
                    <p>101%</p>
                  </td>
                  <td>
                    <p>0.72%</p>
                  </td>
                  <td>
                    <p>0.74%</p>
                  </td>
                  <td>
                    <p>000</p>
                  </td>
                  <td>
                    <p>303</p>
                  </td>
                </tr>
                <tr>
                  <td>16</td>
                  <td>
                    <p>Total NPA</p>
                  </td>
                  <td>
                    <p>498.92</p>
                  </td>
                  <td>
                    <p>481.90</p>
                  </td>
                  <td>
                    <p>468.68</p>
                  </td>
                  <td>
                    <p>455.51</p>
                  </td>
                  <td>
                    <p>443.76</p>
                  </td>
                  <td>
                    <p>-11.75</p>
                  </td>
                  <td>
                    <p>-2.58</p>
                  </td>
                </tr>
                <tr>
                  <td>17</td>
                  <td>
                    <p>Provision for NPA</p>
                  </td>
                  <td>
                    <p>499.33</p>
                  </td>
                  <td>
                    <p>99.31</p>
                  </td>
                  <td>
                    <p>499.31</p>
                  </td>
                  <td>
                    <p>499.31</p>
                  </td>
                  <td>
                    <p>492.78</p>
                  </td>
                  <td>
                    <p>-6.53</p>
                  </td>
                  <td>
                    <p>-1.31</p>
                  </td>
                </tr>
                <tr>
                  <td>18</td>
                  <td>
                    <p>Provision as % to NPA</p>
                  </td>
                  <td>
                    <p>100.08</p>
                  </td>
                  <td>
                    <p>103.61</p>
                  </td>
                  <td>
                    <p>106.54</p>
                  </td>
                  <td>
                    <p>109.62</p>
                  </td>
                  <td>
                    <p>111.05</p>
                  </td>
                  <td>
                    <p>143</p>
                  </td>
                  <td>
                    <p>131</p>
                  </td>
                </tr>
                <tr>
                  <td>19</td>
                  <td>
                    <p>TFA Nee fo loon A Advances</p>
                  </td>
                  <td>
                    <p>7.98</p>
                  </td>
                  <td>
                    <p>5.94</p>
                  </td>
                  <td>
                    <p>5.38</p>
                  </td>
                  <td>
                    <p>454</p>
                  </td>
                  <td>
                    <p>393</p>
                  </td>
                  <td>
                    <p>081</p>
                  </td>
                  <td>
                    <p>1337</p>
                  </td>
                </tr>
                <tr>
                  <td>20</td>
                  <td>
                    <p>Net NPA as % to loans & Advances</p>
                  </td>
                  <td>
                    <p>0.00</p>
                  </td>
                  <td>
                    <p>000</p>
                  </td>
                  <td>
                    <p>0.00</p>
                  </td>
                  <td>
                    <p>0.00</p>
                  </td>
                  <td>
                    <p>0.00</p>
                  </td>
                  <td>
                    <p>0.00</p>
                  </td>
                  <td>
                    <p>000</p>
                  </td>
                </tr>
                <tr>
                  <td>21</td>
                  <td>
                    <p>Net Intt.Margin</p>
                  </td>
                  <td>
                    <p>1.91%</p>
                  </td>
                  <td>
                    <p>1.81%</p>
                  </td>
                  <td>
                    <p>1.90%</p>
                  </td>
                  <td>
                    <p>1.90%</p>
                  </td>
                  <td>
                    <p>1.90%</p>
                  </td>
                  <td>
                    <p>0.00</p>
                  </td>
                  <td>
                    <p>0.00</p>
                  </td>
                </tr>
                <tr>
                  <td>22</td>
                  <td>
                    <p>No.of Employee</p>
                  </td>
                  <td>
                    <p>809</p>
                  </td>
                  <td>
                    <p>686</p>
                  </td>
                  <td>
                    <p>639</p>
                  </td>
                  <td>
                    <p>613</p>
                  </td>
                  <td>
                    <p>591</p>
                  </td>
                  <td>
                    <p>-22.00</p>
                  </td>
                  <td>
                    <p>-3.59</p>
                  </td>
                </tr>
                <tr>
                  <td>23</td>
                  <td>
                    <p>Branches (Including H.0)</p>
                  </td>
                  <td>
                    <p>28</p>
                  </td>
                  <td>
                    <p>28</p>
                  </td>
                  <td>
                    <p>28</p>
                  </td>
                  <td>
                    <p>28</p>
                  </td>
                  <td>
                    <p>41</p>
                  </td>
                  <td>
                    <p>13.00</p>
                  </td>
                  <td>
                    <p>46.43</p>
                  </td>
                </tr>
                <tr>
                  <td>24</td>
                  <td>
                    <p>Per Employee Business</p>
                  </td>
                  <td>
                    <p>15.07</p>
                  </td>
                  <td>
                    <p>22.59</p>
                  </td>
                  <td>
                    <p>26.65</p>
                  </td>
                  <td>
                    <p>33.60</p>
                  </td>
                  <td>
                    <p>36.49</p>
                  </td>
                  <td>
                    <p>2.89</p>
                  </td>
                  <td>
                    <p>8.61</p>
                  </td>
                </tr>
                <tr>
                  <td>25</td>
                  <td>
                    <p>Per Branches Business</p>
                  </td>
                  <td>
                    <p>435.53</p>
                  </td>
                  <td>
                    <p>553.39</p>
                  </td>
                  <td>
                    <p>608.30</p>
                  </td>
                  <td>
                    <p>735.50</p>
                  </td>
                  <td>
                    <p>525.96</p>
                  </td>
                  <td>
                    <p>-209.54</p>
                  </td>
                  <td>
                    <p>-28.49</p>
                  </td>
                </tr>
                <tr>
                  <td>26</td>
                  <td>
                    <p>Capital Adequecy</p>
                  </td>
                  <td>
                    <p>24.60%</p>
                  </td>
                  <td>
                    <p>19.09%</p>
                  </td>
                  <td>
                    <p>17.87%</p>
                  </td>
                  <td>
                    <p>15.34%</p>
                  </td>
                  <td>
                    <p>17.03%</p>
                  </td>
                  <td>
                    <p>0.02</p>
                  </td>
                  <td>
                    <p>11.02</p>
                  </td>
                </tr>
                <tr>
                  <td>27</td>
                  <td>
                    <p>% age of Dividend</p>
                  </td>
                  <td>
                    <p>6%</p>
                  </td>
                  <td>
                    <p>Undeclared</p>
                  </td>
                  <td>
                    <p>Undeclared</p>
                  </td>
                  <td>
                    <p>Undeclared</p>
                  </td>
                  <td>
                    <p>Undeclared</p>
                  </td>
                </tr>
                <tr>
                  <td>28</td>
                  <td>
                    <p>Per Employee Profit</p>
                  </td>
                  <td>
                    <p>0.05</p>
                  </td>
                  <td>
                    <p>0.06</p>
                  </td>
                  <td>
                    <p>0.07</p>
                  </td>
                  <td>
                    <p>0.08</p>
                  </td>
                  <td>
                    <p>0.10</p>
                  </td>
                  <td>
                    <p>0.02</p>
                  </td>
                  <td>
                    <p>24.30</p>
                  </td>
                </tr>
                <tr>
                  <td>29</td>
                  <td>
                    <p>Total Business(Loan+Advances)</p>
                  </td>
                  <td>
                    <p>12194.73</p>
                  </td>
                  <td>
                    <p>15495.03</p>
                  </td>
                  <td>
                    <p>17032.28</p>
                  </td>
                  <td>
                    <p>20594.05</p>
                  </td>
                  <td>
                    <p>21564.40</p>
                  </td>
                  <td>
                    <p>970.35</p>
                  </td>
                  <td>
                    <p>47</p>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
          <p>Serial Nos. 2 and 3 as per NABARD's revised definition by reducing the provision for substandard assets .</p>
          <p>Average working capital Rs 13881.84 crore (31.03.2022)</p>


        </div>

        <div id="dccb" class="tab-pane fade">
          <h4>DCB'S Contact Details</h4>
          <div class="table-responsive">
            <table class="table-bordered tableContentManner" style="border:0px solid var(--secondary-text);">
              <tr align="center" style="padding:3px 0px;">
                <th rowspan='2' colspan="1">S.No</th>
                <th rowspan='2' colspan="1">Name of D.C.B.</th>
                <th rowspan='2' colspan="1">Name of District</th>
                <th rowspan='2' colspan="1">Name of CEO (Mr/Mrs)</th>
                <th rowspan='2' colspan="1">Mobile No.</th>
                <th rowspan='2' colspan="1">Email ID</th>
                <th rowspan="2" colspan="1">Website address</th>
              </tr>

              <tbody align="center">
                <!-- <tr>
       <td>1</td>
       <td>Agra</td>
       <td>Agra</td>
       <td>Awesh Pratap Maurya</td>
       <td>9451910950 7379167000</td>
       <td>dcbagra2011@gmail.com</td>
  </tr>

   
<tr>
<td rowspan="2">2</td>
<td rowspan="2">Aligarh</td>
<td>Aligarh</td>
<td rowspan="2">Nand Kishor</td>
<td rowspan="2">9359582606 8077037474</td>
<td rowspan="2">dcb.aligarh1@gmail.com</td>
</tr>
<tr>
<td>Hathras</td>
</tr>

<tr>
<td rowspan="2">3</td>
<td rowspan="2">Allahabad</td>
<td>Prayagraj</td>
<td rowspan="2">Sunil Chandra Srivastava</td>
<td rowspan="2">7007822833 9415071001</td>
<td rowspan="2">dcbprayagraj@gmail.com</td>
</tr>
<tr>
<td>Koshambi</td>
</tr>

<tr>
<td>4</td>
<td>Azamgarh</td>
<td>Azamgarh</td>
<td>Vijay Bahadur Rao</td>
<td>8279495774</td>
<td>dccbazamgarh1923@gmail.com</td>
</tr>


<tr>
<td rowspan="2">5</td>
<td rowspan="2">Badaun</td>
<td>Badaun</td>
<td rowspan="2">Manoj Kumar Agarwal</td>
<td rowspan="2">9412569132 9889485454</td>
<td rowspan="2">dcb.badaun@gmail.com</td>
</tr>
<tr>
<td>Sambhal</td>
</tr>

<tr>
<td rowspan="2">6</td>
<td rowspan="2">Bahraich</td>
<td>Bahraich</td>
<td rowspan="2">Shobhit Vashisht</td>
<td rowspan="2">9412701224</td>
<td rowspan="2">dcb.bahraich@gmail.com</td>
</tr>
<tr>
<td>Shrawasti</td>
</tr>

<tr>
<td>7</td>
<td>Ballia</td>
<td>Ballia</td>
<td>Jagdish Chandra</td>
<td>9451869390</td>
<td>zsb_ballia@rediffmail.com</td>
</tr>

<tr>
<td rowspan="2">8</td>
<td rowspan="2">Banda</td>
<td>Banda</td>
<td rowspan="2">Ashok Kumar Singh</td>
<td rowspan="2">9415461262 8077350208</td>
<td rowspan="2">dcb.banda@rediffmail.com</td>
</tr>
<tr>
<td>Chitrakoot</td>
</tr>

<tr>
<td>9</td>
<td>Barabanki</td>
<td>Barabanki</td>
<td>Renu Kushwaha</td>
<td>7054411978</td>
<td>dcb.bbk@gmail.com</td>
</tr>

<tr>
<td>10</td>
<td>Bareilly</td>
<td>Bareilly</td>
<td>Jai Pratap Singh</td>
<td>9450016099</td>
<td>dcb.bly@gmail.com</td>
</tr>

<tr>
<td rowspan="2">11</td>
<td rowspan="2">Basti</td>
<td>Basti</td>
<td rowspan="2">Prem Prakash Gautam</td>
<td rowspan="2">9411220911</td>
<td rowspan="2">zsb_basti10@rediffmail.com</td>
</tr>
<tr>
<td>Sant Kabir Nagar</td>
</tr>

<tr>
<td>12</td>
<td>Bijnor</td>
<td>Bijnor</td>
<td>Praveen Kumar</td>
<td>9411894004</td>
<td>dcbbijnor@yahoo.co.in</td>
</tr>

<tr>
<td rowspan="2">13</td>
<td rowspan="2">Bulandshahar</td>
<td>Bulandshehr</td>
<td rowspan="2">Vivek Kumar Shami</td>
<td rowspan="2">9410621989</td>
<td rowspan="2">dcb_bulandshahr@rediffmail.com</td>
</tr>
<tr>
<td>Gautambudh Nagar</td>
</tr>

<tr>
<td rowspan="2">14</td>
<td rowspan="2">Deoria</td>
<td>Deoria</td>
<td rowspan="2">Bharat Bhusan</td>
<td rowspan="2">9415065660</td>
<td rowspan="2">dcb.deoria@gmail.com</td>
</tr>
<tr>
<td>Kushi Nagar</td>
</tr>

<tr>
<td rowspan="2">15</td>
<td rowspan="2">Etah</td>
<td>Etah</td>
<td rowspan="2">Ashok Vandhan Pathak</td>
<td rowspan="2">9415281890</td>
<td rowspan="2">dcbetah1918@gmail.com</td>
</tr>
<tr>
<td>Kasganj</td>
</tr>

<tr>
<td rowspan="2">16</td>
<td rowspan="2">Etawah</td>
<td>Etawah</td>
<td rowspan="2">Deepak Gupta</td>
<td rowspan="2">8299820090</td>
<td rowspan="2">edcb_etw@rediffmail.com</td>
</tr>
<tr>
<td>Auraiya</td>
</tr>

<tr>
<td rowspan="2">17</td>
<td rowspan="2">Faizabad</td>
<td>Ayodhya</td>
<td rowspan="2">Sudhanshu Chaudhary</td>
<td rowspan="2">7379154000</td>
<td rowspan="2">dcb.faizabad@gmail.com</td>
</tr>
<tr>
<td>Ambedkar Nagar</td>
</tr>

<tr>
<td rowspan="3">18</td>
<td rowspan="3">Fatehgarh</td>
<td>Fatehgarh</td>
<td rowspan="3">Manoj Kumar Singh</td>
<td rowspan="3">9451942926, 8957355296</td>
<td rowspan="3">dccb.farrukhabad@gmail.com</td>
</tr>
<tr>
<td>Farukkhabad</td>
</tr>
<tr>
 <td>Kannauj</td>
</tr>

<tr>
<td>19</td>
<td>Fatehpur</td>
<td>Fatehpur</td>
<td>Brajesh Vishvakarma</td>
<td>9670000084</td>
<td>dcbfatehpurup@gmail.com</td>
</tr>

<tr>
<td>20</td>
<td>Firozabad</td>
<td>Firozabad</td>
<td>Manoj Kumar Maurya</td>
<td>9935140835</td>
<td>fdcbfirozabad@gmail.com</td>
</tr>

<tr>
<td rowspan="2">21</td>
<td rowspan="2">Ghaziabad</td>
<td>Ghaziabad</td>
<td rowspan="2">Sandeep Singh</td>
<td rowspan="2">9650266866</td>
<td rowspan="2">dcbgzb@yahoo.com</td>
</tr>
<tr>
<td>Hapur</td>
</tr>

<tr>
<td>22</td>
<td>Ghazipur</td>
<td>Ghazipur</td>
<td>Kailash Chandra</td>
<td>9412612473, 8920675393</td>
<td>dcb_ghazipur@rediffmail.com</td>
</tr>

<tr>
<td rowspan="2">23</td>
<td rowspan="2">Gorakhpur</td>
<td>Gorakhpur</td>
<td rowspan="2">Manoj Kumar Pandey</td>
<td rowspan="2">9140704587</td>
<td rowspan="2">dcbgkp@gmail.com</td>
</tr>
<tr>
<td>Maharajganj</td>
</tr>

<tr>
<td>24</td>
<td>Hardoi</td>
<td>Hardoi</td>
<td>Vishakha Gautam</td>
<td>9956359997</td>
<td>dcbhardoi@rediffmail.com</td>
</tr>

<tr>
<td>25</td>
<td>Jaunpur</td>
<td>Jaunpur</td>
<td>Harish Chandra Bhargava</td>
<td>9454259923, 9870680447</td>
<td>dcbjnp@gmail.com</td>
</tr>

<tr>
<td>26</td>
<td>Jhansi</td>
<td>Jhansi</td>
<td>Kuldeep Singh</td>
<td>9410413023</td>
<td>dcb.jhansi@gmail.com</td>
</tr>

<tr>
<td rowspan="2">27</td>
<td rowspan="2">Kanpur</td>
<td>Kanpur Nagar</td>
<td rowspan="2">Sunil kumar Verma</td>
<td rowspan="2">9415920541, 8318128216</td>
<td rowspan="2">dcb.kanpur@gmail.com</td>
</tr>
<tr>
<td>Kanpur Dehat</td>
</tr>

<tr>
<td>28</td>
<td>Lakhimpur  Kheri</td>
<td>Lakhimpur  Kheri</td>
<td>Rahul Raj Singh</td>
<td>8756950074</td>
<td>dcblmp@gmail.com</td>
</tr>

<tr>
<td>29</td>
<td>Lalitpur</td>
<td>Lalitpur</td>
<td>Pankaj Kumar</td>
<td>9956578863</td>
<td>dccblalitpur@gmail.com</td>
</tr>

<tr>
<td>30</td>
<td>Lucknow</td>
<td>Lucknow</td>
<td>Kuldeep Chaudhary</td>
<td>9458038933, 7355725213</td>
<td>dcblko@rediffmail.com</td>
</tr>

<tr>
<td rowspan="2">31</td>
<td rowspan="2">Mahoba</td>
<td>Mahoba</td>
<td rowspan="2">Nasiruddin</td>
<td rowspan="2">8840451727</td>
<td rowspan="2">dcbmahoba1@gmail.com</td>
</tr>
<tr>
<td>Hamirpur</td>
</tr>

<tr>
<td>32</td>
<td>Mainpuri</td>
<td>Mainpuri</td>
<td>Inamurehmaan</td>
<td>9415532010</td>
<td>ceo@dcbmainpuri.org</td>
</tr>


<tr>
<td rowspan="2">33</td>
<td rowspan="2">Mathura</td>
<td>Mathura</td>
<td rowspan="2">Haribabu Bharti</td>
<td rowspan="2">9634618112</td>
<td rowspan="2">dcb.mathura@gmail.com</td>
</tr>
<tr>
<td>Hathras</td>
</tr>

<tr>
<td>34</td>
<td>Mau</td>
<td>Mau</td>
<td>Ashutosh Tripathi</td>
<td>9917588553</td>
<td>zsbmau547@gmail.com</td>
</tr>

<tr>
<td rowspan="2">35</td>
<td rowspan="2">Meerut</td>
<td>Meerut</td>
<td rowspan="2">Sumanveer Singh</td>
<td rowspan="2">8299679987, 9458550021</td>
<td rowspan="2">dcb.meerut@gmail.com</td>
</tr>
<tr>
<td>Baghpat</td>
</tr>
<tr><td rowspan="2">36</td><td rowspan="2">Mirzapur</td><td>Mirzapur</td><td rowspan="2">Anand Prakash Agarwal</td><td rowspan="2">9451840777, 9838087581</td><td rowspan="2">dcb.mirzapur@gmail.com</td></tr>
<tr><td rowspan="1">Sonbhadra</td></tr>
<tr><td rowspan="3">37</td><td rowspan="3">Moradabad</td><td>Moradabad</td><td rowspan="3">Jai Pratap Singh</td><td rowspan="3">9450016099</td><td rowspan="3">dcbmbd@rediffmail.com</td></tr>
<tr><td rowspan="1">Sambhal</td></tr>
<tr><td rowspan="1">J P Nagar</td></tr>
<tr><td rowspan="2">38</td><td rowspan="2">Muzzaffarnagar</td><td>Muzaffarnagr</td><td rowspan="2">Rajesh Kumar</td><td rowspan="2">9411823903</td><td rowspan="2">ceo@dcbmzn.com</td></tr>
<tr><td rowspan="1">Shamli</td></tr>
<tr><td rowspan="1">39</td><td rowspan="1">Orai(Jalaun)</td><td rowspan="1">Orai(Jalaun)</td><td rowspan="1">Sagiruddin Siddiqui</td><td rowspan="1">8218300977, 9412503866</td><td rowspan="1">jdc.bank@gmail.com</td></tr>
<tr><td rowspan="1">40</td><td rowspan="1">Pilibhit</td><td rowspan="1">Pilibhit</td><td rowspan="1">Alok Gupta</td><td rowspan="1">7839279140, 9415433171</td><td rowspan="1">dcbpbt@gmail.com</td></tr>
<tr><td rowspan="1">41</td><td rowspan="1">Pratapgarh</td><td rowspan="1">Pratapgarh</td><td rowspan="1">Anil Kumar</td><td rowspan="1">8860842051</td><td rowspan="1">dcbpbh@gmail.com</td></tr>
<tr><td rowspan="2">42</td><td rowspan="2">Raebareli</td><td>Raebareli</td><td rowspan="2">Harish Chand Dixit</td><td rowspan="2">9453195631. 9450359559</td><td rowspan="2">ceo@dcbraebareli.org</td></tr>
<tr><td rowspan="1">Amethi</td></tr>
<tr><td rowspan="1">43</td><td rowspan="1">Rampur</td><td rowspan="1">Rampur</td><td rowspan="1">Upendra Kumar Saraswat</td><td rowspan="1">8279477917, 8130502313</td><td rowspan="1">zsb.rampur@yahoo.co.in</td></tr>
<tr><td rowspan="1">44</td><td rowspan="1">Saharanpur</td><td rowspan="1">Saharanpur</td><td rowspan="1">Rakesh Kumar Dua</td><td rowspan="1">9412131435, 9917312606</td><td rowspan="1">dcbsre@gmail.com</td></tr>
<tr><td rowspan="1">45</td><td rowspan="1">Shahjahanpur</td><td rowspan="1">Shahjahanpur</td><td rowspan="1">Saurabh Diwedi</td><td rowspan="1">9412858346</td><td rowspan="1">dcb.shahjahanpur@gmail.com</td></tr>
<tr><td rowspan="1">46</td><td rowspan="1">Siddharthnagar</td><td rowspan="1">Siddharthnagar</td><td rowspan="1">Virendra Kumar Yadav</td><td rowspan="1">9415463450</td><td rowspan="1">dcbsiddharthngr@gmail.com</td></tr>
<tr><td rowspan="1">47</td><td rowspan="1">Sitapur</td><td rowspan="1">Sitapur</td><td rowspan="1">Sunil Kumar</td><td rowspan="1">9450694942] </td><td rowspan="1">dcb.sitapur@gmail.com</td></tr>
<tr><td rowspan="2">48</td><td rowspan="2">Sultanpur</td><td>Sultanpur</td><td rowspan="2">Milind</td><td rowspan="2">9415033717</td><td rowspan="2">sultanpur.dcb@rediffmail.com</td></tr>
<tr><td rowspan="1">Amethi</td></tr>
<tr><td rowspan="1">49</td><td rowspan="1">Unnao</td><td rowspan="1">Unnao</td><td rowspan="1">Sanjay Pandey</td><td rowspan="1">9458038933, 7355725213</td><td rowspan="1">zsb_unnao@yahoo.com</td></tr>
<tr><td rowspan="3">50</td><td rowspan="3">Varanasi</td><td>Varanasi</td><td rowspan="3">Akhil Kumar Kushwaha</td><td rowspan="3">9473914710</td><td rowspan="3">dcb.banaras@gmail.com</td></tr>
<tr><td rowspan="1">Chandoli</td></tr>
<tr><td rowspan="1">Sant Ravidas Nagar</td></tr> -->


                <!-- <tr><td  rowspan='1'>1</td><td rowspan="1">Agra</td><td rowspan="1">Agra</td><td rowspan="1">Awesh Pratap Maurya</td><td rowspan="1">9451910950, 7379167000</td><td rowspan="1">dcbagra2011@gmail.com</td><td rowspan="1">NO WEB ADDRESS YET</td></tr>
<tr><td  rowspan='2'>2</td><td rowspan="1">Aligarh</td><td rowspan="2">Aligarh</td><td rowspan="2">Nand Kishor</td><td rowspan="2">9359582606, 8077037474</td><td rowspan="2">dcb.aligarh1@gmail.com</td><td rowspan="2">www.azsbl.org.in</td></tr>
<tr><td  rowspan='1'>Hathras</td></tr>
<tr><td  rowspan='2'>3</td><td rowspan="1">Allahabad</td><td rowspan="2">Prayagraj</td><td rowspan="2">Sunil Chandra Srivastava</td><td rowspan="2">7007822833, 9415071001</td><td rowspan="2">dcbprayagraj@gmail.com</td><td rowspan="2">www.dcballahabad.com</td></tr>
<tr><td  rowspan='1'>Koshambi</td></tr> -->
                <!-- <tr><td  rowspan='1'>S.No</td><td rowspan="1">Name of D.C.B.</td><td rowspan="1">Name of District</td><td rowspan="1">Name of CEO (Mr/Mrs)</td><td rowspan="1">Mobile No</td><td rowspan="1">Email ID</td><td rowspan="1">Website address</td></tr> -->
                <tr>
                  <td rowspan='1'>1</td>
                  <td rowspan="1">
                    <p>Agra</p>
                  </td>
                  <td rowspan="1">
                    <p>Agra</p>
                  </td>
                  <td rowspan="1">
                    <p>Awesh Pratap Maurya</p>
                  </td>
                  <td rowspan="1">
                    <p>9451910950, 7379167000</p>
                  </td>
                  <td rowspan="1">
                    <p>dcbagra2011@gmail.com</p>
                  </td>
                  <td rowspan="1">
                    <p>NO WEB ADDRESS YET</p>
                  </td>
                </tr>
                <tr>
                  <td rowspan='2'>2</td>
                  <td rowspan="2">
                    <p>Aligarh</p>
                  </td>
                  <td rowspan="1">
                    <p>Aligarh</p>
                  </td>
                  <td rowspan="2">
                    <p>Nand Kishor</p>
                  </td>
                  <td rowspan="2">
                    <p>9359582606, 8077037474</p>
                  </td>
                  <td rowspan="2">
                    <p>dcb.aligarh1@gmail.com</p>
                  </td>
                  <td rowspan="2">
                    <p>www.azsbl.org.in</p>
                  </td>
                </tr>
                <tr>
                  <td rowspan='1'>
                    <p>Hathras</p>
                  </td>
                </tr>
                <tr>
                  <td rowspan='2'>3</td>
                  <td rowspan="1">
                    <p>Allahabad</p>
                  </td>
                  <td rowspan="2">
                    <p>Prayagraj</p>
                  </td>
                  <td rowspan="2">
                    <p>Sunil Chandra Srivastava</p>
                  </td>
                  <td rowspan="2">
                    <p>7007822833, 9415071001</p>
                  </td>
                  <td rowspan="2">
                    <p>dcbprayagraj@gmail.com</p>
                  </td>
                  <td rowspan="2">
                    <p>www.dcballahabad.com</p>
                  </td>
                </tr>
                <tr>
                  <td rowspan='1'>
                    <p>Koshambi</p>
                  </td>
                </tr>
                <tr>
                  <td rowspan='1'>4</td>
                  <td rowspan="1">
                    <p>Azamgarh</p>
                  </td>
                  <td rowspan="1">
                    <p>Azamgarh</p>
                  </td>
                  <td rowspan="1">
                    <p>Vijay Bahadur Rao</p>
                  </td>
                  <td rowspan="1">
                    <p>8279495774</p>
                  </td>
                  <td rowspan="1">
                    <p>dccbazamgarh1923@gmail.com</p>
                  </td>
                  <td rowspan="1">
                    <p>N/A</p>
                  </td>
                </tr>
                <tr>
                  <td rowspan='2'>5</td>
                  <td rowspan="1">
                    <p>Badaun</p>
                  </td>
                  <td rowspan="2">
                    <p>Badaun</p>
                  </td>
                  <td rowspan="2">
                    <p>Manoj Kumar Agarwal</p>
                  </td>
                  <td rowspan="2">
                    <p>9412569132, 9889485454</p>
                  </td>
                  <td rowspan="2">
                    <p>dcb.badaun@gmail.com</p>
                  </td>
                  <td rowspan="2">
                    <p>www.dcbbudaun.org</p>
                  </td>
                </tr>
                <tr>
                  <td rowspan='1'>
                    <p>Sambhal</p>
                  </td>
                </tr>

                <tr>
                  <td rowspan='2'>6</td>
                  <td rowspan="1">
                    <p>Bahraich</p>
                  </td>
                  <td rowspan="2">
                    <p>Bahraich</p>
                  </td>
                  <td rowspan="2">
                    <p>Shobhit Vashisht</p>
                  </td>
                  <td rowspan="2">
                    <p>9412701224</p>
                  </td>
                  <td rowspan="2">
                    <p>dcb.bahraich@gmail.com</p>
                  </td>
                  <td rowspan="2">
                    <p>http://dcbbahraich.org/</p>
                  </td>
                </tr>
                <tr>
                  <td rowspan='1'>
                    <p>Shrawasti</p>
                  </td>
                </tr>

                <tr>
                  <td rowspan='1'>7</td>
                  <td rowspan="1">
                    <p>Ballia</p>
                  </td>
                  <td rowspan="1">
                    <p>Ballia</p>
                  </td>
                  <td rowspan="1">
                    <p>Jagdish Chandra</p>
                  </td>
                  <td rowspan="1">
                    <p>9451869390</p>
                  </td>
                  <td rowspan="1">
                    <p>zsb_ballia@rediffmail.com</p>
                  </td>
                  <td rowspan="1">
                    <p>NA</p>
                  </td>
                </tr>

                <tr>
                  <td rowspan='2'>8</td>
                  <td rowspan="1">
                    <p>Banda</p>
                  </td>
                  <td rowspan="2">
                    <p>Banda</p>
                  </td>
                  <td rowspan="2">
                    <p>Ashok Kumar Singh</p>
                  </td>
                  <td rowspan="2">
                    <p>9415461262, 8077350208</p>
                  </td>
                  <td rowspan="2">
                    <p>dcb.banda@rediffmail.com <br>it@banda.com</p>
                  </td>
                  <td rowspan="2">
                    <p>www.banda.dcb.com</p>
                  </td>
                </tr>
                <tr>
                  <td rowspan='1'>
                    <p>Chitrakoot</p>
                  </td>
                </tr>

                <tr>
                  <td rowspan='1'>9</td>
                  <td rowspan="1">
                    <p>Barabanki</p>
                  </td>
                  <td rowspan="1">
                    <p>Barabanki</p>
                  </td>
                  <td rowspan="1">
                    <p>Renu Kushwaha</p>
                  </td>
                  <td rowspan="1">
                    <p>7054411978</p>
                  </td>
                  <td rowspan="1">
                    <p>dcb.bbk@gmail.com</p>
                  </td>
                  <td rowspan="1">
                    <p>www.barabankidcb.org</p>
                  </td>
                </tr>

                <tr>
                  <td rowspan='1'>10</td>
                  <td rowspan="1">
                    <p>Bareilly</p>
                  </td>
                  <td rowspan="1">
                    <p>Bareilly</p>
                  </td>
                  <td rowspan="1">
                    <p>Jai Pratap Singh</p>
                  </td>
                  <td rowspan="1">
                    <p>9450016099</p>
                  </td>
                  <td rowspan="1">
                    <p>dcb.bly@gmail.com</p>
                  </td>
                  <td rowspan="1">
                    <p>https://zsblbareilly.com</p>
                  </td>
                </tr>

                <tr>
                  <td rowspan='2'>11</td>
                  <td rowspan="1">
                    <p>Basti</p>
                  </td>
                  <td rowspan="2">
                    <p>Basti</p>
                  </td>
                  <td rowspan="2">
                    <p>Prem Prakash Gautam</p>
                  </td>
                  <td rowspan="2">
                    <p>9411220911</p>
                  </td>
                  <td rowspan="2">
                    <p>zsb_basti10@rediffmail.com</p>
                  </td>
                  <td rowspan="2">
                    <p>webmail.bastidcb.com</p>
                  </td>
                </tr>
                <tr>
                  <td rowspan='1'>
                    <p>Sant Kabir Nagar</p>
                  </td>
                </tr>

                <tr>
                  <td rowspan='1'>12</td>
                  <td rowspan="1">
                    <p>Bijnor</p>
                  </td>
                  <td rowspan="1">
                    <p>Bijnor</p>
                  </td>
                  <td rowspan="1">
                    <p>Praveen Kumar</p>
                  </td>
                  <td rowspan="1">
                    <p>9411894004</p>
                  </td>
                  <td rowspan="1">
                    <p>dcbbijnor@yahoo.co.in</p>
                  </td>
                  <td rowspan="1">
                    <p>dcbbijnor.org.in</p>
                  </td>
                </tr>

                <tr>
                  <td rowspan='2'>13</td>
                  <td rowspan="1">
                    <p>Bulandshahar</p>
                  </td>
                  <td rowspan="2">
                    <p>Bulandshehr</p>
                  </td>
                  <td rowspan="2">
                    <p>Vivek Kumar Shami</p>
                  </td>
                  <td rowspan="2">
                    <p>9410621989</p>
                  </td>
                  <td rowspan="2">
                    <p>dcb_bulandshahr@rediffmail.com</p>
                  </td>
                  <td rowspan="2">
                    <p>www.dcbbulanshahr.com</p>
                  </td>
                </tr>
                <tr>
                  <td rowspan='1'>
                    <p>Gautambudh Nagar</p>
                  </td>
                </tr>

                <tr>
                  <td rowspan='2'>14</td>
                  <td rowspan="1">
                    <p>Deoria</p>
                  </td>
                  <td rowspan="2">
                    <p>Deoria</p>
                  </td>
                  <td rowspan="2">
                    <p>Bharat Bhusan</p>
                  </td>
                  <td rowspan="2">
                    <p>9415065660</p>
                  </td>
                  <td rowspan="2">
                    <p>dcb.deoria@gmail.com</p>
                  </td>
                  <td rowspan="2">
                    <p>www.dcbdeoria.com</p>
                  </td>
                </tr>
                <tr>
                  <td rowspan='1'>
                    <p>Kushi Nagar</p>
                  </td>
                </tr>

                <tr>
                  <td rowspan='2'>15</td>
                  <td rowspan="1">
                    <p>Etah</p>
                  </td>
                  <td rowspan="2">
                    <p>Etah</p>
                  </td>
                  <td rowspan="2">
                    <p>Ashok Vandhan Pathak</p>
                  </td>
                  <td rowspan="2">
                    <p>9415281890</p>
                  </td>
                  <td rowspan="2">
                    <p>dcbetah1918@gmail.com <br>ceo@dcbetah.org</p>
                  </td>
                  <td rowspan="2">
                    <p>dcbetah.org</p>
                  </td>
                </tr>
                <tr>
                  <td rowspan='1'>
                    <p>Kasganj</p>
                  </td>
                </tr>

                <tr>
                  <td rowspan='2'>16</td>
                  <td rowspan="1">
                    <p>Etawah</p>
                  </td>
                  <td rowspan="2">
                    <p>Etawah</p>
                  </td>
                  <td rowspan="2">
                    <p>Deepak Gupta</p>
                  </td>
                  <td rowspan="2">
                    <p>8299820090</p>
                  </td>
                  <td rowspan="2">
                    <p>itcell@etawahdcb.com</p>
                  </td>
                  <td rowspan="2">
                    <p>NA</p>
                  </td>
                </tr>
                <tr>
                  <td rowspan='1'>
                    <p>Auraiya</p>
                  </td>
                </tr>

                <tr>
                  <td rowspan='2'>17</td>
                  <td rowspan="1">
                    <p>Faizabad</p>
                  </td>
                  <td rowspan="2">
                    <p>yodhya</p>
                  </td>
                  <td rowspan="2">
                    <p>Sudhanshu Chaudhary</p>
                  </td>
                  <td rowspan="2">
                    <p>7379154000</p>
                  </td>
                  <td rowspan="2">
                    <p>dcb.faizabad@gmail.com</p>
                  </td>
                  <td rowspan="2">
                    <p>dcbfaizabad.com</p>
                  </td>
                </tr>
                <tr>
                  <td rowspan='1'>
                    <p>Ambedkar Nagar</p>
                  </td>
                </tr>

                <tr>
                  <td rowspan='3'>18</td>
                  <td rowspan="1">
                    <p>Fatehgarh</p>
                  </td>
                  <td rowspan="3">
                    <p>Fatehgarh</p>
                  </td>
                  <td rowspan="3">
                    <p>Manoj Kumar Singh</p>
                  </td>
                  <td rowspan="3">
                    <p>9451942926, 8957355296</p>
                  </td>
                  <td rowspan="3">
                    <p>dccb.farrukhabad@gmail.com</p>
                  </td>
                  <td rowspan="3">
                    <p>https://www.dcbfarrukhabad.com</p>
                  </td>
                </tr>
                <tr>
                  <td rowspan='1'>
                    <p>Farukkhabad</p>
                  </td>
                </tr>
                <tr>
                  <td rowspan='1'>
                    <p>Kannauj</p>
                  </td>
                </tr>

                <tr>
                  <td rowspan='1'>19</td>
                  <td rowspan="1">
                    <p>Fatehpur</p>
                  </td>
                  <td rowspan="1">
                    <p>Fatehpur</p>
                  </td>
                  <td rowspan="1">
                    <p>Brajesh Vishvakarma</p>
                  </td>
                  <td rowspan="1">
                    <p>9670000084</p>
                  </td>
                  <td rowspan="1">
                    <p>dcbfatehpurup@gmail.com</p>
                  </td>
                  <td rowspan="1">
                    <p>www.dcbfatehpur.org.in</p>
                  </td>
                </tr>

                <tr>
                  <td rowspan='1'>20</td>
                  <td rowspan="1">
                    <p>Firozabad</p>
                  </td>
                  <td rowspan="1">
                    <p>Firozabad</p>
                  </td>
                  <td rowspan="1">
                    <p>Manoj Kumar Maurya</p>
                  </td>
                  <td rowspan="1">
                    <p>9935140835</p>
                  </td>
                  <td rowspan="1">
                    <p>fdcbfirozabad@gmail.com</p>
                  </td>
                </tr>

                <tr>
                  <td rowspan='2'>21</td>
                  <td rowspan="1">
                    <p>Ghaziabad</p>
                  </td>
                  <td rowspan="2">
                    <p>Ghaziabad</p>
                  </td>
                  <td rowspan="2">
                    <p>Sandeep Singh</p>
                  </td>
                  <td rowspan="2">
                    <p>9650266866</p>
                  </td>
                  <td rowspan="2">
                    <p>info@zsblghaziabad.com</p>
                  </td>
                  <td rowspan="2">
                    <p>www.zsblghaziabad.com</p>
                  </td>
                </tr>
                <tr>
                  <td rowspan='1'>
                    <p>Hapur</p>
                  </td>
                </tr>

                <tr>
                  <td rowspan='1'>22</td>
                  <td rowspan="1">
                    <p>Ghazipur</p>
                  </td>
                  <td rowspan="1">
                    <p>Ghazipur</p>
                  </td>
                  <td rowspan="1">
                    <p>Kailash Chandra</p>
                  </td>
                  <td rowspan="1">
                    <p>9412612473, 8920675393</p>
                  </td>
                  <td rowspan="1">
                    <p>dcb_ghazipur@rediffmail.com</p>
                  </td>
                  <td rowspan="1">
                    <p>NA</p>
                  </td>
                </tr>

                <tr>
                  <td rowspan='2'>23</td>
                  <td rowspan="1">
                    <p>Gorakhpur</p>
                  </td>
                  <td rowspan="2">
                    <p>Gorakhpur</p>
                  </td>
                  <td rowspan="2">
                    <p>Manoj Kumar Pandey</p>
                  </td>
                  <td rowspan="2">
                    <p>9140704587</p>
                  </td>
                  <td rowspan="2">
                    <p>info@dcbgorakhpur.org & ceo@dcbgorakhpur.org</p>
                  </td>
                  <td rowspan="2">
                    <p>NA</p>
                  </td>
                </tr>
                <tr>
                  <td rowspan='1'>
                    <p>Maharajganj</p>
                  </td>
                </tr>

                <tr>
                  <td rowspan='1'>24</td>
                  <td rowspan="1">
                    <p>Hardoi</p>
                  </td>
                  <td rowspan="1">
                    <p>Hardoi</p>
                  </td>
                  <td rowspan="1">
                    <p>Vishakha Gautam</p>
                  </td>
                  <td rowspan="1">
                    <p>9956359997</p>
                  </td>
                  <td rowspan="1">
                    <p>dcbhardoi@rediffmail.com</p>
                  </td>
                  <td rowspan="1">
                    <p>www.hdcbhardoi.in</p>
                  </td>
                </tr>

                <tr>
                  <td rowspan='1'>25</td>
                  <td rowspan="1">
                    <p>Aunpur</p>
                  </td>
                  <td rowspan="1">
                    <p>Jaunpur</p>
                  </td>
                  <td rowspan="1">
                    <p>Harish Chandra Bhargava</p>
                  </td>
                  <td rowspan="1">
                    <p>9454259923, 9870680447</p>
                  </td>
                  <td rowspan="1">
                    <p>dcbjnp@gmail.com</p>
                  </td>
                </tr>

                <tr>
                  <td rowspan='1'>26</td>
                  <td rowspan="1">Jhansi</td>
                  <td rowspan="1">Jhansi</td>
                  <td rowspan="1">Kuldeep Singh</td>
                  <td rowspan="1">9410413023</td>
                  <td rowspan="1">dcb.jhansi@gmail.com
                    info@zsbjhansi.com</td>
                  <td rowspan="1">www.zsbjhansi.org</td>
                </tr>

                <tr>
                  <td rowspan='2'>27</td>
                  <td rowspan="1">Kanpur</td>
                  <td rowspan="2">Kanpur Nagar</td>
                  <td rowspan="2">Sunil kumar Verma</td>
                  <td rowspan="2">9415920541, 8318128216</td>
                  <td rowspan="2">dcb.kanpur@gmail.com</td>
                  <td rowspan="2">dcbkanpur.com</td>
                </tr>
                <tr>
                  <td rowspan='1'>Kanpur Dehat</td>
                </tr>

                <tr>
                  <td rowspan='1'>28</td>
                  <td rowspan="1">Lakhimpur Kheri</td>
                  <td rowspan="1">Lakhimpur Kheri</td>
                  <td rowspan="1">Rahul Raj Singh</td>
                  <td rowspan="1">8756950074</td>
                  <td rowspan="1">dcblmp@gmail.com</td>
                  <td rowspan="1">www.dcblakhimpur.com</td>
                </tr>

                <tr>
                  <td rowspan='1'>29</td>
                  <td rowspan="1">Lalitpur</td>
                  <td rowspan="1">Lalitpur</td>
                  <td rowspan="1">Pankaj Kumar</td>
                  <td rowspan="1">9956578863</td>
                  <td rowspan="1">dccblalitpur@gmail.com</td>
                  <td rowspan="1">dccblalitpur.in</td>
                </tr>

                <tr>
                  <td rowspan='1'>30</td>
                  <td rowspan="1">Lucknow</td>
                  <td rowspan="1">Lucknow</td>
                  <td rowspan="1">Kuldeep Chaudhary</td>
                  <td rowspan="1">9458038933, 7355725213</td>
                  <td rowspan="1">dcblko@rediffmail.com</td>
                  <td rowspan="1">www.dcblucknow.org.in</td>
                </tr>

                <tr>
                  <td rowspan='2'>31</td>
                  <td rowspan="1">Mahoba</td>
                  <td rowspan="2">Mahoba</td>
                  <td rowspan="2">Nasiruddin</td>
                  <td rowspan="2">8840451727</td>
                  <td rowspan="2">dcbmahoba1@gmail.com</td>
                  <td rowspan="2">not available</td>
                </tr>
                <tr>
                  <td rowspan='1'>Hamirpur</td>
                </tr>

                <tr>
                  <td rowspan='1'>32</td>
                  <td rowspan="1">Mainpuri</td>
                  <td rowspan="1">Mainpuri</td>
                  <td rowspan="1">Inamurehmaan</td>
                  <td rowspan="1">9415532010</td>
                  <td rowspan="1">ceo@dcbmainpuri.org</td>
                  <td rowspan="1">www.dcbmainpuri.org</td>
                </tr>

                <tr>
                  <td rowspan='2'>33</td>
                  <td rowspan="1">Mathura</td>
                  <td rowspan="2">Mathura</td>
                  <td rowspan="2">Haribabu Bharti</td>
                  <td rowspan="2">9634618112</td>
                  <td rowspan="2">dcb.mathura@gmail.com</td>
                  <td rowspan="2">www.dcbmathura.com</td>
                </tr>
                <tr>
                  <td rowspan='1'>Hathras</td>
                </tr>

                <tr>
                  <td rowspan='1'>34</td>
                  <td rowspan="1">Mau</td>
                  <td rowspan="1">Mau</td>
                  <td rowspan="1">Ashutosh Tripathi</td>
                  <td rowspan="1">9917588553</td>
                  <td rowspan="1">ceo@dcbmau.com</td>
                  <td rowspan="1">WWW.dcbmau.com</td>
                </tr>

                <tr>
                  <td rowspan='2'>35</td>
                  <td rowspan="1">Meerut</td>
                  <td rowspan="2">Meerut</td>
                  <td rowspan="2">Sumanveer Singh</td>
                  <td rowspan="2">8299679987, 9458550021</td>
                  <td rowspan="2">dcb.meerut@gmail.com</td>
                  <td rowspan="2">www.zsblmeerut.com</td>
                </tr>
                <tr>
                  <td rowspan='1'>Baghpat</td>
                </tr>

                <tr>
                  <td rowspan='2'>36</td>
                  <td rowspan="1">Mirzapur</td>
                  <td rowspan="2">Mirzapur</td>
                  <td rowspan="2">Anand Prakash Agarwal</td>
                  <td rowspan="2">9451840777, 9838087581</td>
                  <td rowspan="2">dcb.mirzapur@gmail.com</td>
                  <td rowspan="2">www.dcbmirzapur.com</td>
                </tr>
                <tr>
                  <td rowspan='1'>Sonbhadra</td>
                </tr>

                <tr>
                  <td rowspan='3'>37</td>
                  <td rowspan="1">Moradabad</td>
                  <td rowspan="3">Moradabad</td>
                  <td rowspan="3">Jai Pratap Singh</td>
                  <td rowspan="3">9450016099</td>
                  <td rowspan="3">dcbmbd@rediffmail.com</td>
                  <td rowspan="3">https://www.moradabaddcb.org/</td>
                </tr>
                <tr>
                  <td rowspan='1'>Sambhal</td>
                </tr>
                <tr>
                  <td rowspan='1'>J P Nagar</td>
                </tr>

                <tr>
                  <td rowspan='2'>38</td>
                  <td rowspan="1">Muzzaffarnagar</td>
                  <td rowspan="2">Muzaffarnagr</td>
                  <td rowspan="2">Rajesh Kumar</td>
                  <td rowspan="2">9411823903</td>
                  <td rowspan="2">ceo@dcbmzn.com</td>
                  <td rowspan="2">https://muzaffarnagardcb.com </td>
                </tr>
                <tr>
                  <td rowspan='1'>Shamli</td>
                </tr>

                <tr>
                  <td rowspan='1'>39</td>
                  <td rowspan="1">Orai(Jalaun)</td>
                  <td rowspan="1">Orai(Jalaun)</td>
                  <td rowspan="1">Sagiruddin Siddiqui</td>
                  <td rowspan="1">8218300977, 9412503866</td>
                  <td rowspan="1">ceo@jdcbl.org.in</td>
                  <td rowspan="1">www.jdcbl.org.in</td>
                </tr>

                <tr>
                  <td rowspan='1'>40</td>
                  <td rowspan="1">Pilibhit</td>
                  <td rowspan="1">Pilibhit</td>
                  <td rowspan="1">Alok Gupta</td>
                  <td rowspan="1">7839279140, 9415433171</td>
                  <td rowspan="1">dcbpbt@gmail.com</td>
                  <td rowspan="1">www.dcbpilibhit.org</td>
                </tr>

                <tr>
                  <td rowspan='1'>41</td>
                  <td rowspan="1">Pratapgarh</td>
                  <td rowspan="1">Pratapgarh</td>
                  <td rowspan="1">Anil Kumar</td>
                  <td rowspan="1">8860842051</td>
                  <td rowspan="1">dcbpbh@gmail.com</td>
                  <td rowspan="1">dcbpratapgarh.org/webmail</td>
                </tr>

                <tr>
                  <td rowspan='2'>42</td>
                  <td rowspan="1">Raebareli</td>
                  <td rowspan="2">Raebareli</td>
                  <td rowspan="2">Harish Chand Dixit</td>
                  <td rowspan="2">9453195631. 9450359559</td>
                  <td rowspan="2">ceo@dcbraebareli.org</td>
                  <td rowspan="2">www.dcbraebareli.org</td>
                </tr>
                <tr>
                  <td rowspan='1'>Amethi</td>
                </tr>

                <tr>
                  <td rowspan='1'>43</td>
                  <td rowspan="1">Rampur</td>
                  <td rowspan="1">Rampur</td>
                  <td rowspan="1">Upendra Kumar Saraswat</td>
                  <td rowspan="1">8279477917, 8130502313</td>
                  <td rowspan="1">zsb.rampur@yahoo.co.in</td>
                  <td rowspan="1">www.dcbrampur.org</td>
                </tr>

                <tr>
                  <td rowspan='1'>44</td>
                  <td rowspan="1">Saharanpur</td>
                  <td rowspan="1">Saharanpur</td>
                  <td rowspan="1">Rakesh Kumar Dua</td>
                  <td rowspan="1">9412131435, 9917312606</td>
                  <td rowspan="1">dcbsre@dcbsaharanpur.org</td>
                  <td rowspan="1">www.dcbsaharanpur.org</td>
                </tr>

                <tr>
                  <td rowspan='1'>45</td>
                  <td rowspan="1">Shahjahanpur</td>
                  <td rowspan="1">Shahjahanpur</td>
                  <td rowspan="1">Saurabh Diwedi</td>
                  <td rowspan="1">9412858346</td>
                  <td rowspan="1">dcb.shahjahanpur@gmail.com
                    info@dcbshahjahanpur</td>
                  <td rowspan="1">dcbshahjahanpur.org</td>
                </tr>

                <tr>
                  <td rowspan='1'>46</td>
                  <td rowspan="1">Siddharthnagar</td>
                  <td rowspan="1">Siddharthnagar</td>
                  <td rowspan="1">Virendra Kumar Yadav</td>
                  <td rowspan="1">9415463450</td>
                  <td rowspan="1">dcbsiddharthngr@gmail.com</td>
                  <td rowspan="1">Not available</td>
                </tr>

                <tr>
                  <td rowspan='1'>47</td>
                  <td rowspan="1">Sitapur</td>
                  <td rowspan="1">Sitapur</td>
                  <td rowspan="1">Sunil Kumar</td>
                  <td rowspan="1">9450694942] </td>
                  <td rowspan="1">dcb.sitapur@gmail.com</td>
                  <td rowspan="1">www.dcbsitapur.org</td>
                </tr>

                <tr>
                  <td rowspan='2'>48</td>
                  <td rowspan="1">Sultanpur</td>
                  <td rowspan="2">Sultanpur</td>
                  <td rowspan="2">Milind</td>
                  <td rowspan="2">9415033717</td>
                  <td rowspan="2">sultanpur.dcb@rediffmail.com</td>
                  <td rowspan="2">www.dcbsultanpur.in</td>
                </tr>
                <tr>
                  <td rowspan='1'>Amethi</td>
                </tr>

                <tr>
                  <td rowspan='1'>49</td>
                  <td rowspan="1">Unnao</td>
                  <td rowspan="1">Unnao</td>
                  <td rowspan="1">Sanjay Pandey</td>
                  <td rowspan="1">9458038933, 7355725213</td>
                  <td rowspan="1">zsb_unnao@yahoo.com</td>
                  <td rowspan="1">www.dcbunnao.org</td>
                </tr>

                <tr>
                  <td rowspan='3'>50</td>
                  <td rowspan="1">Varanasi</td>
                  <td rowspan="3">Varanasi</td>
                  <td rowspan="3">Akhil Kumar Kushwaha</td>
                  <td rowspan="3">9473914710</td>
                  <td rowspan="3">dcb.banaras@gmail.com</td>
                  <td rowspan="3">www.dcbvaranasi.in</td>
                </tr>
                <tr>
                  <td rowspan='1'>Chandoli</td>
                </tr>
                <tr>
                  <td rowspan='1'>Sant Ravidas Nagar</td>
                </tr>


              </tbody>
            </table>
          </div>
        </div>


        <div id="ov" class="tab-pane fade OurVision">
          <h4>Major Objectives / Achievements</h4>

          <h5 style="color:var(--secondary-text);">KEY OBJECTIVES: </h5>



          <table class="table table-striped table-light tableContentManner">
            <tr>
              <td class="OurVisionDes">
                &#10149; To act as a balancing center for the cooperative institutions of the state of Uttar Pradesh.
              </td>
            </tr>
            <tr>
              <td class="OurVisionDes">
                &#10149; To obtain funds for the bank through current savings, fixed deposits and other accounts and to obtain loans from time to time on such limits and conditions as the Board of Directors may deem fit.
              </td>
            </tr>
            <tr>
              <td class="OurVisionDes">
                &#10149; To provide loans to its ordinary members without security or on the security of movable and immovable property or title deeds.
              </td>
            </tr>
            <tr>
              <td class="OurVisionDes">
                &#10149; To give loans, overdrafts or cash-credits to nominal members against deposits as per the terms and conditions set by the Board of Directors.
              </td>
            </tr>
            <tr>
              <td class="OurVisionDes">
                &#10149; According to Section-45 of the Act, to enter into an agreement with the State Government for the establishment and management of 'Principal State Partnership Fund'.
              </td>
            </tr>
            <tr>
              <td class="OurVisionDes">
                &#10149; Collection of money by way of bills, drafts, checks and other performance instruments etc. on behalf of members and non-members.
              </td>
            </tr>
            <tr>
              <td class="OurVisionDes">
                &#10149; Buying and selling of securities and securities of Government of India or State, Treasury Bills and other specified in Annexure (a), (b) and (c) of section 20 of the Indian Trusts Act, 1882 for investment of funds in excess of its requirement. To act as an agent of buyers and sellers of securities and to transfer such securities or other capital of the Bank in order to raise cash, in writing or pledging them as security for loans granted by the Bank.
              </td>
            </tr>
            <tr>
              <td class="OurVisionDes">
                &#10149; Opening of branches, sub-offices, payment offices and regional offices in the jurisdiction of the bank.
              </td>
            </tr>
            <tr>
              <td class="OurVisionDes">
                &#10149; To conduct and manage the business of the society whose management committee has been suspended and downgraded under the Act or rules.
              </td>
            </tr>
            <tr>
              <td class="OurVisionDes">
                &#10149; To work as a banking agent or banker of the State Government, Public Institutions, Reserve Bank and other State Bank or Banks.
              </td>
            </tr>
            <tr>
              <td class="OurVisionDes">
                &#10149; To work as a banking agent or banker of the State Government, Public Institutions, Reserve Bank and other State Bank or Banks.
              </td>
            </tr>
            <tr>
              <td class="OurVisionDes">
                &#10149; To give advice to banks and societies in relation to the principles and functioning of banking, to make proper arrangements for their supervision and to inspect them.
              </td>
            </tr>
            <tr>
              <td class="OurVisionDes">
                &#10149; To organize cooperative conferences from time to time and to take necessary action on the resolutions passed in such conferences.
              </td>
            </tr>
            <tr>
              <td class="OurVisionDes">
                &#10149; To properly use the funds, capital and property of the Bank, which shall also include such acts and things as may be helpful in the fulfillment of one or the other of the above objects and to do such things as may be helpful in the promotion of co-operative banking and co-operatives.
              </td>
            </tr>
          </table>


          <h5 style="color:var(--secondary-text); padding-top: 20px;">Major Achievements:</h5>
          <table class="table table-striped table-light  tableContentManner">
            <tr>
              <td class="OurVisionDes">
                &#10149; Short term crop loan distribution (Rabi+Kharif) campaign between 01-04-2021 to 31-03-2022 against the target of 10000.00 crore, loan of 7556.91 crore has been disbursed Short term crop loan distribution to 18.76 lakh farmers 1260.76 crore till date 31.03.2022 to 25 sugar mills established under cooperative sector/private sector by UP Cooperative Bank Ltd. for payment of sugarcane price to the sugarcane farmers of the state. Provided as funding Rs.
              </td>
            </tr>
            <tr>
              <td class="OurVisionDes">
                &#10149; The working capital of the bank stood at Rs 10308.28, 12036.55 and 15674.55 crore in the year 2019-20, 2020-21 and 2021-22 respectively.
              </td>
            </tr>
            <tr>
              <td class="OurVisionDes">
                &#10149; The bank's deposits in the years 2019-20, 2020-21 and 2021-22 were Rs 7379.91, 8322.09 and Rs 10562.89 crore respectively.
              </td>
            </tr>
            <tr>
              <td class="OurVisionDes">
                &#10149; The capital adequacy of UP Cooperative Bank was 19.09, 17.87 and 15.34 percent respectively in the years 2019-20, 2020-21 and 2021-22 against the standard 09 percent set by the Reserve Bank of India.
              </td>
            </tr>
            <tr>
              <td class="OurVisionDes">
                &#10149; Bank Branches in C.B.S. working on the method. IFS through direct subscription by the bank. RTGS/NEFT for remitting money to the customers of the bank by getting the code. facility is being provided.
              </td>
            </tr>
          </table>
        </div>

        <div id="dp" class="tab-pane fade">
          <h4>Developmental Programmes</h4>
          <h5>SPECIAL ACHIEVEMENTS FOR THE YEAR 2021-22:</h5>
          <p>
            25 sugar mills set up under cooperative sector/private sector by UP Cooperative Bank Ltd. for sugarcane price payment to sugarcane farmers of the region in sowing season 2021-22 Sugar pledge loan limits of Rs. Crore. A financing of Rs.
          </p>



          <h6 style="font-weight: 600;"> Non-Agricultural Credit Status as on 31st March in last 03 years:- ( Amount in Crore Rs 0 ) </h6>

          <p></p>
          <table class="table table-bordered tableContentManner" style="border:1px solid var(--secondary-text);">
            <tr>
              <th>No.</th>
              <th>Objective</th>
              <th>31.03.2020</th>
              <th>31.03.2021</th>
              <th>31.03.2022</th>
            </tr>
            <tr>
              <td>1</td>
              <td>Sugar short term loan </td>
              <td>1840.70</td>
              <td>2118.73</td>
              <td>1905.79</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Cefasu Middle Term Debt </td>
              <td>50.31</td>
              <td>50.31</td>
              <td>50.31</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Term loan to 15 sugar mills of cooperative sector for payment of arrears of sugarcane value for sowing season 2020-21</td>
              <td>----</td>
              <td>----</td>
              <td>273.17</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Soft Loan Medium Term Loan 2018-19 </td>
              <td>327.46</td>
              <td>134.94</td>
              <td>81.07</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Term Loan Long term debt </td>
              <td>65.16</td>
              <td>31.77</td>
              <td>42.40</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Government of India Cefasu Ethanol -2018 </td>
              <td>37.38</td>
              <td>113.03</td>
              <td>190.26</td>
            </tr>
            <tr>
              <td></td>
              <td>Total</td>
              <td>2320.98</td>
              <td>2448.78</td>
              <td>2543.00</td>
            </tr>
          </table>
          <p>*Above amount is debt in crores.</p>
        </div>

      </div>
    </div>
</section>

<!---sidebar end-->