<!--images section-->
<div class="pagew" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.01)), rgba(0, 0, 0, 0)  url(images/Bankacc.png) no-repeat center;background-size:100% 100%; background-position: center;">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-3">
    <div class="page-breadcrumb">
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <ol class="breadcrumb breadmenu" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1))">
      <span property="itemListElement" typeof="ListItem">
       <a class="home" href="index.html" property="item" title="Go to UPCB." typeof="WebPage">
        <span property="name" style="color:#ffffff;">
         यूपीसीबी
        </span>
       </a>
       <meta content="1" property="position"/>
      </span>
      <span style="color:#ffffff">
       &gt;
      </span>
      <span class="text-uppercase" property="itemListElement" typeof="ListItem">
       <a class="home" property="item" style="color: #ffffff;" typeof="WebPage">
        <span property="name">
         बैंकिंग
        </span>
       </a>
       <meta content="1" property="position"/>
      </span>
      <span style="color:#ffffff">
       &gt;
      </span>
      <span property="itemListElement" typeof="ListItem">
       <span class="post post-page current-item breadmenu text-uppercase" property="name">
        हिसाब किताब
       </span>
       <meta content="https://upcbl.in/services.html" property="url"/>
       <meta content="2" property="position"/>
      </span>
     </ol>
    </div>
   </div>
   <div class="col-md-9">
   </div>
  </div>
 </div>
</div>
<!--images section end-->
<!--sidebar start-->
<section class="Account_wrapper">
 <div class="container">
  <div class="row">
   <div class="mainc tab-content col-lg-12 col-md-12 col-sm-12 mb-4 mb-lg-0 ps-lg-4 bgdefine">
    <h4>
     बचत खाता
    </h4>
    <p>
     बचत बैंक खाता मुख्य रूप से आपकी भविष्य की वित्तीय आवश्यकताओं के लिए बचत की भावना को बढ़ाने के लिए है।
    </p>
    <div class="InternetBankingBtn" style="padding-bottom: 10px;">
     <a class="btn" href="saving.html" target="_blank">
      अधिक देखें ➤
     </a>
    </div>
    <h4 style="padding-top: 20px;">
     चालू खाता
    </h4>
    <p>
     वर्तमान खाते आपके सभी व्यावसायिक लेनदेन के लिए आदर्श हैं। अपने खाते को कभी भी एक्सेस करें और खाता धारक प्रोफ़ाइल के अनुसार असीमित भुगतान करें।
    </p>
    <div class="InternetBankingBtn" style="padding-bottom: 10px;">
     <a class="btn" href="current.html" target="_blank">
      अधिक देखें ➤
     </a>
    </div>
   </div>
  </div>
 </div>
</section>
<!---sidebar end-->
