<!--images section-->
<div class="pagew" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), rgba(0, 0, 0, 0)  url(images/services/branches.png) no-repeat center;background-size:100% 100%; background-position: center;">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-3">
    <div class="page-breadcrumb">
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <ol class="breadcrumb breadmenu" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));">
      <span property="itemListElement" typeof="ListItem">
       <a class="home" href="index.html" property="item" title="Go to UPCB." typeof="WebPage">
        <span property="name" style="color:#ffffff;">
         यूपीसीबी
        </span>
       </a>
       <meta content="1" property="position"/>
      </span>
      <span style="color:#ffffff">
       &gt;
      </span>
      <span property="itemListElement" typeof="ListItem">
       <a class="home text-uppercase" href="ourservices.html" property="item" typeof="WebPage">
        <span property="name" style="color:#ffffff;">
         सेवा
        </span>
       </a>
       <meta content="1" property="position"/>
      </span>
      <span style="color:#ffffff">
       &gt;
      </span>
      <span property="itemListElement" typeof="ListItem">
       <span class="post post-page current-item breadmenu text-uppercase" property="name">
        अंकीय बैंकिंग
       </span>
       <meta content="https://upcbl.in/services.html" property="url"/>
       <meta content="2" property="position"/>
      </span>
     </ol>
    </div>
   </div>
   <div class="col-md-9">
   </div>
  </div>
 </div>
</div>
<!--images section end-->
<section class="atmsbranches">
 <div class="container address mb-3">
  <div class="col-sm-12 mb-3 mainc hq">
   <h4>
    मुख्यालय:
   </h4>
   <p style="font-weight:600">
    सहकारी किसान भवन,
   </p>
   <p>
    2, महात्मा गांधी मार्ग,
   </p>
   <p>
    लखनऊ।
   </p>
  </div>
  <div class="col-sm-12 mb-3 mainc hq">
   <p>
    <span style="font-weight:600">
     फ़ोन:
    </span>
    2223806, 2623740, 2624972, 2611522, 2614007, 4151200
   </p>
   <p>
    <span style="font-weight:600">
     डेटा सेंटर हेड ऑफिस फोन नं:
    </span>
    0522-4151291
   </p>
   <p>
    <span style="font-weight:600">
     ईमेल:
    </span>
    info@upcbl.in
   </p>
  </div>
  <div class="col-sm-12 mainc hq">
   <p>
    <span style="font-weight:600">
     फैक्स:
    </span>
    0522-2629284
   </p>
  </div>
 </div>
 <div class="atmcards" style="padding: 20px">
  <div class="container mb-4">
   <div class="row">
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       सेवा शाखा,
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         2, महात्मा गांधी, लखनऊ।
        </p>
       </li>
       <li>
        <p>
         UPCB0000001
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         0522-4151200
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       मुख्य शाखा,
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         2, महात्मा गांधी, लखनऊ।
        </p>
       </li>
       <li>
        <p>
         UPCB000MAIN
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         0522-2623269
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       विधानश मार्गर शाखा,
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         14, विधानश मार्ग, लखनऊ।
        </p>
       </li>
       <li>
        <p>
         UPCB0000002
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         0522-2629257
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       नादान महल रोड शाखा,
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         नादान महल रोड, लखनऊ।
        </p>
       </li>
       <li>
        <p>
         UPCB0000007
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         0522-2269377
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       अलंबाग शाखा,
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         सिंगार नगर रोड, आलमबाग, लखनऊ.
        </p>
       </li>
       <li>
        <p>
         UPCB0000003
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         0522-2456410
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       अलीगंज ब्रांच,
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         सी -46, सेक्टर - जी, अलीगंज, लखनऊ।
        </p>
       </li>
       <li>
        <p>
         UPCB0000004
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         0522-2321431
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       अमिनाबाद शाखा,
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         173/33, बी.एन. वर्मा रोड, अमिनाबाद, लखनऊ।
        </p>
       </li>
       <li>
        <p>
         UPCB0000005
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         0522-2615346
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       गेनारायण डिग्री कॉलेज शाखा,
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         JN.D.C. कॉलेज, लखनऊ।
        </p>
       </li>
       <li>
        <p>
         UPCB0000006
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         0522-2630969
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       निराला नगर ब्रांच,
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         बी -193, सिन्हा मार्केट, आई.टी. कॉलेज के पास, लखनऊ
        </p>
       </li>
       <li>
        <p>
         UPCB0000009
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         0522-2787158
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       सदर ब्रांच,
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         630, महाबीर प्रसाद रोड, सदर बाजार, लखनऊ
        </p>
       </li>
       <li>
        <p>
         UPCB0000011
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         0522- 2480765
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       टॉकटोरा शाखा,
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         45/17, 46/17 बी, राजाजी पुरम, तालकटोरा लखनऊ
        </p>
       </li>
       <li>
        <p>
         UPCB0000012
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         0522-2661708
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       क्राइस्ट चर्च कॉलेज शाखा,
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         क्राइस्ट चर्च कॉलेज, कानपुर
        </p>
       </li>
       <li>
        <p>
         UPCB0000013
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         0512-2367317
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       हिंडोला शाखा,
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         हिंदोला, लखनऊ।
        </p>
       </li>
       <li>
        <p>
         UPCB0000008
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         0522-2691860
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       वाराणसी ब्रांच,
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         B-47/179 Laksa Road, आपका रिजर्व
        </p>
       </li>
       <li>
        <p>
         UPCB0000026
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         0542-2401707
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       डिपो कॉलेज शाखा,
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         सिविल लाइन, डी.ए.वी. कॉलेज, कानपुर
        </p>
       </li>
       <li>
        <p>
         UPCB0000014
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         0512-2305341
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       बिरहाना रोड ब्रांच,
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         24/107, बिरहाना रोड, कानपुर
        </p>
       </li>
       <li>
        <p>
         UPCB0000015
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         0512-2369540
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       नवीन मार्केट ब्रांच,
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         70/71, परेड, नवीन मार्केट, कानपुर
        </p>
       </li>
       <li>
        <p>
         UPCB0000016
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         0512-2304863
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       Motizel Branch,
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         111-ए/325, अशोक नगर, मोटिवेल, कानपुर
        </p>
       </li>
       <li>
        <p>
         UPCB0000017
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         0512-2525188
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       गोविन्द नगर ब्रांच,
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         मिश्रा मार्किट, गोविन्द नगर, कानपूर
        </p>
       </li>
       <li>
        <p>
         UPCB0000018
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         0512-2654267
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       गाजियाबाद शाखा,
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         E-23, NAI ARYA NAGAR MEERUT ROAD, GHAZIABAD
        </p>
       </li>
       <li>
        <p>
         UPCB0000023
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         0120-2781403
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       सीतापुर ब्रांच,
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         ट्रांसपोर्ट चैराहा, सीतापुर
        </p>
       </li>
       <li>
        <p>
         UPCB0000020
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         05862-242253
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       बरेली शाखा,
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         95-यू, सिविल लाइन, बरेली
        </p>
       </li>
       <li>
        <p>
         UPCB0000021
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         0581-2573482
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       आगरा शाखा,
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         बेलंगंज, आगरा
        </p>
       </li>
       <li>
        <p>
         UPCB0000022
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         0562-2622263
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       सर्वोदय नगर ब्रांच,
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         सर्वोदय नगर, कानपूर
        </p>
       </li>
       <li>
        <p>
         UPCB0000019
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         0512-2218597
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       गोंडा शाखा,
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         लाला छोटे का हटा, स्टेशन रोड, मद. महारानी गंज, गोंडा
        </p>
       </li>
       <li>
        <p>
         UPCB0000025
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         05262-228390
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       फतेहपुर
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         गोपाल नगर, ओल्ड गट्0 रोड, नियर शनिदेव मंदिर, फतेहपुर-212601
        </p>
       </li>
       <li>
        <p>
         UPCB0000031
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         7525006034 &lt;
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       रामसागर मिश्रा नगर ब्रांच,
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         ए -40, रामसगर मिश्रा नगर, लखनऊ
        </p>
       </li>
       <li>
        <p>
         UPCB0000010
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         0522-2346747
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       कानपूर देहात
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         Nah -௨, यह mod है, कन्हैया नगर अकबरपुर, कनपुर तेहट -।
        </p>
       </li>
       <li>
        <p>
         UPCB0000034
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         7525006094
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       सथियनव ब्रांच
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         स्टेशन रोड, साथिआंव, आजमगढ़.
        </p>
       </li>
       <li>
        <p>
         UPCB0000027
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         05462-272311
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       फैजाबाद शाखा,
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         बजाज बाजार, फैजाबाद (अयोध्या) - 222
        </p>
       </li>
       <li>
        <p>
         UPCB0000024
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         05278-222112
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       मथुरा
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         3, मानस नगर, महोली रोड, मथुरा-281001
        </p>
       </li>
       <li>
        <p>
         UPCB0000032
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         7525006093
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       को
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         एम -3 कटारलालगंज, तहसील-गौरिगंज, अमेथी -1
        </p>
       </li>
       <li>
        <p>
         UPCB0000040
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         7525006047
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       कन्नौज
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         एम -3/ए, अकबरपुर सराय घघ आर्के, क्रॉसिंग सैरीमिरा, कन्नौज -1
        </p>
       </li>
       <li>
        <p>
         UPCB0000035
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         7525006092
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       संभल
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         चौकीपर, संभल रोड, ब्रांच-बहजोई, संभल, उत्तर प्रदेश.
        </p>
       </li>
       <li>
        <p>
         UPCB0000036
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         7525006090
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       गोरखपुर
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         एम 0 नहीं 0-388, मेडिकल कॉलेज रोड, बसरतपुर, गोरखपुर - 273004
        </p>
       </li>
       <li>
        <p>
         UPCB0000041
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         7525006136
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       खुला
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         व3स स्क्वायर, ख0ण0.   95/2 दशमेश नगर, मीरुत रोड, हापुड़-245101
        </p>
       </li>
       <li>
        <p>
         UPCB0000038
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         7525006084
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       ज्योतिबा फुले नगर
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         मोहल्ला डेनिश मंडान रोड, अपोजिट हप पेट्रोल पंप, अमरोहा-244221
        </p>
       </li>
       <li>
        <p>
         UPCB0000037
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         7525006087
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       आंबेडकर नगर
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         ँ0-809, नसीरपुर बरवां, अकबरपुर, आंबेडकर नगर-224122
        </p>
       </li>
       <li>
        <p>
         UPCB0000039
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         7525006132
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       गौतम बुद्ध नगर
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         68, ग्राउंड फ्लोर, विलेज सदरपुर, सेक्टर -45, गौतम बुध नगर, नोएडा -201301
        </p>
       </li>
       <li>
        <p>
         UPCB0000033
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         7525006089
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       औरैया
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         गेट न. 78, डिस्ट्रिक्ट उद्योग के सामने, दूधिए खेड़ा, डिबीजपुर रोड, औरैया - 206122
        </p>
       </li>
       <li>
        <p>
         UPCB0000043
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         7525006135
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       महाराज गंज
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         ँ0-971, हामिद नगर, बैंक रोड, डिस्ट-महराजगंज-273303
        </p>
       </li>
       <li>
        <p>
         UPCB0000042
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         7525006099
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
     <div class="card p-4 text-center rounded-3">
      <h5 class="text-decoration-underline mb-4">
       मुख्यालय,
      </h5>
      <ul class="list-unstyled">
       <li>
        <p>
         2, महात्मा गांधी लखनऊ के माध्यम से।
        </p>
       </li>
       <li>
        <p>
         UPCB0000100
        </p>
       </li>
       <li>
        <p style="margin: 0;padding: 0;">
         0522-4151200
        </p>
       </li>
      </ul>
      <hr/>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
<!-- Pricing section -->
<section class="price_wrapper" id="price">
</section>
<!-- Pricing Section Exit  -->
