<!--images section-->
<div class="pagew" style="background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(0, 0, 0, 0)  url(images/digitalbro.png) no-repeat center;background-size:100% 100%; background-position: center;">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-3">
    <div class="page-breadcrumb">
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <ol class="breadcrumb breadmenu" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1))">
      <span property="itemListElement" typeof="ListItem">
       <a class="home" href="index.html" property="item" title="Go to UPCB." typeof="WebPage">
        <span property="name" style="color:#ffffff;">
         यूपीसीबी
        </span>
       </a>
       <meta content="1" property="position"/>
      </span>
      <span style="color:#ffffff">
       &gt;
      </span>
      <span class="text-uppercase" property="itemListElement" typeof="ListItem">
       <a class="home" property="item" style="color: #ffffff;" typeof="WebPage">
        <span property="name">
         मिडिया
        </span>
       </a>
       <meta content="1" property="position"/>
      </span>
      <span style="color:#ffffff">
       &gt;
      </span>
      <span property="itemListElement" typeof="ListItem">
       <span class="post post-page current-item breadmenu text-uppercase" property="name">
        डिजिटल ब्रोशर
       </span>
       <meta content="https://upcbl.in/services.html" property="url"/>
       <meta content="2" property="position"/>
      </span>
     </ol>
    </div>
   </div>
   <div class="col-md-9">
   </div>
  </div>
 </div>
</div>
<!--images section end-->
<div class="container mt-5">
 <div class="row mb-5">
  <div class="mainc tab-content col-lg-12 col-md-12 col-sm-12 mb-4 mb-lg-0 ps-lg-4 bgdefine">
   <div class="active tab-pane fade in show mb-5">
    <h4>
     डिजिटल ब्रोशर
    </h4>
   </div>
  </div>
 </div>
</div>
