<!--images section-->
<div class="pagew" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), rgba(0, 0, 0, 0)  url(images/digitalBanking.png) no-repeat center;background-size:100% 100%; background-position: center;">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-3">
    <div class="page-breadcrumb">
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <ol class="breadcrumb breadmenu" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1))">
      <span property="itemListElement" typeof="ListItem">
       <a class="home" href="index.html" property="item" title="Go to UPCB." typeof="WebPage">
        <span property="name" style="color:#ffffff;">
         यूपीसीबी
        </span>
       </a>
       <meta content="1" property="position"/>
      </span>
      <span style="color:#ffffff">
       &gt;
      </span>
      <span property="itemListElement" typeof="ListItem">
       <a class="home text-uppercase" href="ourservices.html" property="item" typeof="WebPage">
        <span property="name" style="color:#ffffff;">
         सेवा
        </span>
       </a>
       <meta content="1" property="position"/>
      </span>
      <span style="color:#ffffff">
       &gt;
      </span>
      <span property="itemListElement" typeof="ListItem">
       <span class="post post-page current-item breadmenu text-uppercase" property="name">
        अंकीय बैंकिंग
       </span>
       <meta content="https://upcbl.in/services.html" property="url"/>
       <meta content="2" property="position"/>
      </span>
     </ol>
    </div>
   </div>
   <div class="col-md-9">
   </div>
  </div>
 </div>
</div>
<!--images section end-->
<!--sidebar start-->
<section class="sidebar" id="">
 <div class="container">
  <div class="row">
   <div class="leftsection col-lg-3 col-md-3 col-sm-3 text-center">
    <ul class="nav navbar navbar-expand d-flex flex-column">
     <li class="nav-item centeri w-100">
      <a class="nav-link active animate__animated animate__bounceIn" data-bs-toggle="tab" href="#internetbanking" style="animation-duration:5s">
       अंतराजाल लेन - देन
      </a>
     </li>
     <li class="nav-item centeri w-100">
      <a class="nav-link animate__animated animate__backInLeft" data-bs-toggle="tab" href="#mobilebanking" style="animation-duration:5s">
       मोबाइल बैंकिंग
      </a>
     </li>
     <li class="nav-item centeri w-100">
      <a class="nav-link animate__animated animate__backInRight" data-bs-toggle="tab" href="#neft" style="animation-duration:5s">
       तेल
      </a>
     </li>
     <li class="nav-item centeri w-100">
      <a class="nav-link animate__animated animate__bounceIn" data-bs-toggle="tab" href="#rtgs" style="animation-duration:5s">
       आरटीजीएस
      </a>
     </li>
     <li class="nav-item centeri w-100">
      <a class="nav-link animate__animated animate__backInLeft" data-bs-toggle="tab" href="#imps" style="animation-duration:5s">
       आईएमपी
      </a>
     </li>
     <li class="nav-item centeri w-100">
      <a class="nav-link animate__animated animate__backInRight" data-bs-toggle="tab" href="#upi" style="animation-duration:5s">
       है मैं
      </a>
     </li>
     <li class="nav-item centeri w-100">
      <a class="nav-link animate__animated animate__bounceIn" data-bs-toggle="tab" href="#NABARDSchemes" style="animation-duration:5s">
       नाबर्ड योजनाएँ
      </a>
     </li>
     <li class="nav-item centeri w-100">
      <a class="nav-link animate__animated animate__backInLeft" data-bs-toggle="tab" href="#Microatm" style="animation-duration:5s">
       माइक्रो एटीएम
      </a>
     </li>
     <li class="nav-item centeri w-100">
      <a class="nav-link animate__animated animate__backInRight" data-bs-toggle="tab" href="#POS_MPOS" style="animation-duration:5s">
       POS/MPOS
      </a>
     </li>
    </ul>
   </div>
   <div class="mainc tab-content col-lg-9 col-md-9 col-sm-9 mb-4 mb-lg-0 ps-lg-4 bgdefine">
    <!--<div id="home" class="active tab-pane fade in show">
                           <h2 >The right credit card is right here</h2>
                           <p>Looking for a card that earns travel points, cash back, or rewards? Our side-by-side                 comparisons and objective reviews can help you make the smartest decision.</p>
                        
                </div>
                <div id="about" class="tab-pane fade">
                     <h2 >The 2nd right credit card is right here</h2>
                           <p>Looking for a card that earns travel points, cash back, or rewards? Our side-by-side                 comparisons and objective reviews can help you make the smartest decision.</p>
                </div>-->
    <div class="active tab-pane fade in show InternetBanking" id="internetbanking">
     <h4>
      अंतराजाल लेन - देन
     </h4>
     <p style="text-align: justify;">
      इंटरनेट बैंकिंग वह प्रणाली है जो ग्राहक को अपने शुद्ध बैंकिंग खाते से वित्तीय और गैर-वित्तीय लेनदेन का संचालन करने की सुविधा प्रदान करती है। उपयोगकर्ता अपने खाते से एक वेबसाइट या ऑनलाइन एप्लिकेशन का उपयोग करके एक ही बैंक/अलग बैंक के अन्य खातों में धनराशि स्थानांतरित कर सकता है।
     </p>
     <h6>
      Benefits of Internet Banking
     </h6>
     <div class="row" style="padding: 4px 10px;">
      <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4">
       <img alt="" class="vc_single_image-img attachment-large" decoding="async" height="250" sizes="(max-width: 555px) 100vw, 555px" src="images/services/internetbanking.png" title="internet-banking" width="320"/>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 mb-8 mb-lg-0 ps-lg-4">
       <p>
        <ul>
         <li>
          <p>
           ग्राहक के लिए खातों के लिए आसान पहुंच
          </p>
         </li>
         <li>
          <p>
           शाखाओं में लेनदेन लोड कम हो जाता है
          </p>
         </li>
         <li>
          <p>
           उपयोगिता बिल भुगतान, फंड ट्रांसफर, बीमा भुगतान, ऋण ईएमआई भुगतान आदि जैसे सभी डिजिटल चैनलों की उपलब्धता आदि।
          </p>
         </li>
         <li>
          <p>
           2 कारक प्राधिकरण के साथ लेनदेन की सुरक्षा
          </p>
         </li>
         <li>
          <p>
           24 x 7 बैंकिंग सेवाओं तक पहुंच
          </p>
         </li>
         <li>
          <p>
           कम मानवीय बातचीत, सुविधाजनक और तेज सेवाएं
          </p>
         </li>
         <li>
          <p>
           कागजी बैंकिंग
          </p>
         </li>
        </ul>
       </p>
      </div>
     </div>
     <div>
      <p>
       <h6>
        The customer using this facility can conduct transactional and non-transactional tasks including:
       </h6>
       <ul style="padding-top:4px">
        <li>
         <p>
          खाता विवरण देखें / डाउनलोड करें।
         </p>
        </li>
        <li>
         <p>
          संबंधित बैंक द्वारा किसी निश्चित अवधि के लिए लेनदेन के इतिहास की जाँच करें।
         </p>
        </li>
        <li>
         <p>
          NEFT / RTGS / IMPS के माध्यम से फंड ट्रांसफर करें
         </p>
        </li>
        <li>
         <p>
          ऑर्डर चेक बुक्स, स्टॉप / रेवोक चेक आदि जैसे संबंधित कार्यों की जाँच करें
         </p>
        </li>
       </ul>
      </p>
     </div>
     <div>
      <p>
       <h6>
        Need of Internet Banking
       </h6>
       <ul style="padding-top:4px">
        <li>
         <p>
          जेनरेशन जेड और टेक-सेवी ग्राहकों को आकर्षित करने के लिए।
         </p>
        </li>
        <li>
         <p>
          राष्ट्रीयकृत बैंकों के साथ प्रतिस्पर्धा में बने रहने के लिए।
         </p>
        </li>
        <li>
         <p>
          ग्राहक आधार बढ़ाने और जमा करने के लिए।
         </p>
        </li>
        <li>
         <p>
          ग्राहक प्रतिधारण: ग्राहक को ऑनलाइन स्कूल शुल्क सबमिशन, छात्रवृत्ति जैसी सेवाओं का लाभ उठाने में सक्षम करेगा।
         </p>
        </li>
        <li>
         <p>
          बैंक नेट के माध्यम से IMPS सेवा प्रदान करने में सक्षम होगा
         </p>
        </li>
       </ul>
      </p>
     </div>
     <div align="Right" class="InternetBankingBtn" style="padding-bottom: 20px;">
      <a class="btn" href="https://upcbonline.com/" target="_blank">
       इंटरनेट बैंकिंग ➤
      </a>
     </div>
    </div>
    <div class="tab-pane fade MobileBanking" id="mobilebanking">
     <h4>
      मोबाइल बैंकिंग
     </h4>
     <p style="text-align: justify;">
      मोबाइल बैंकिंग केवल वह चीज है जिसकी आपको आवश्यकता होती है जब आप आगे बढ़ते हैं। एक लैपटॉप/कंप्यूटर की अनुपस्थिति में, आपका UPCB मोबाइल ऐप आपकी सभी बैंकिंग जरूरतों का जवाब है। यह एक बिल भुगतान, फोन रिचार्ज या एक फंड ट्रांसफर हो, एक मोबाइल ऐप आपकी सभी बुनियादी बैंकिंग जरूरतों का ध्यान रखता है। हमारा मोबाइल बैंकिंग आपको जगह या समय के बावजूद बैंक की स्वतंत्रता देता है। आप हवाई अड्डे पर आने या इंतजार कर सकते हैं, आपका मोबाइल ऐप हमेशा काम करता है!
     </p>
     <div class="row" style="padding: 4px 10px;">
      <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4">
       <img alt="" class="vc_single_image-img attachment-large" decoding="async" height="195" sizes="(max-width: 555px) 100vw, 555px" src="images/services/mobilebanking.png" title="mobile-banking" width="275"/>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 mb-8 mb-lg-0 ps-lg-4">
       <p>
        <ul>
         <li>
          <p>
           मोबाइल बैंकिंग एक बैंक या अन्य वित्तीय संस्थान द्वारा प्रदान की गई एक सेवा है जो अपने ग्राहकों को स्मार्टफोन या टैबलेट जैसे मोबाइल डिवाइस का उपयोग करके दूर से वित्तीय लेनदेन करने की अनुमति देती है। संबंधित इंटरनेट बैंकिंग के विपरीत, यह सॉफ़्टवेयर का उपयोग करता है, जिसे आमतौर पर एक ऐप कहा जाता है, इस उद्देश्य के लिए वित्तीय संस्थान द्वारा प्रदान किया जाता है। मोबाइल बैंकिंग आमतौर पर 24-घंटे के आधार पर उपलब्ध है।
          </p>
         </li>
         <li>
          <p>
           UPCB ने 17 मार्च 2022 को RBI से मोबाइल बैंकिंग लाइसेंस प्राप्त किया।
          </p>
         </li>
         <li>
          <p>
           बैंक में समान लागू करने के लिए कार्य आदेश दिया गया है।
          </p>
         </li>
        </ul>
       </p>
      </div>
     </div>
     <div>
      <p>
       <h6>
        The customer using this facility can conduct transactional and non-transactional tasks including:
       </h6>
       <ul style="padding-top:4px">
        <li>
         <p>
          खाता विवरण देखें / डाउनलोड करें।
         </p>
        </li>
        <li>
         <p>
          संबंधित बैंक द्वारा किसी निश्चित अवधि के लिए लेनदेन के इतिहास की जाँच करें।
         </p>
        </li>
        <li>
         <p>
          NEFT / RTGS / IMPS के माध्यम से फंड ट्रांसफर करें
         </p>
        </li>
        <li>
         <p>
          ऑर्डर चेक बुक्स, स्टॉप / रेवोक चेक आदि जैसे संबंधित कार्यों की जाँच करें
         </p>
        </li>
        <li>
         <p>
          किसी भी तरह के बिलों का भुगतान करें, मोबाइल रिचार्ज करें, डीटीएच कनेक्शन, आदि।
         </p>
        </li>
       </ul>
      </p>
     </div>
     <div align="Right" class="InternetBankingBtn" style="padding-bottom: 20px;">
      <a class="btn" href="https://play.google.com/store/apps/details?id=com.finacus.upb" target="_blank">
       मोबाइल ऐप ➤
      </a>
      <a class="btn" href="https://play.google.com/store/apps/details?id=com.megasoftinfo.UPCB.easymbank" target="_blank">
       पासबुक ऐप ➤
      </a>
     </div>
    </div>
    <div class="tab-pane fade NEFT" id="neft">
     <h4>
      National Electronic Funds Transfer
      <span style="color:var(--secondary-text);">
       (तेल)
      </span>
     </h4>
     <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8 mb-8 mb-lg-0 ps-lg-4" style="padding: 10px 0px;">
       <p style="text-align: justify;">
        नेशनल इलेक्ट्रॉनिक फंड ट्रांसफर (NEFT) एक-से-एक फंड ट्रांसफर की सुविधा देने वाली एक राष्ट्रव्यापी भुगतान प्रणाली है। इस प्रणाली के तहत, व्यक्ति इलेक्ट्रॉनिक रूप से अपने खाते से किसी भी व्यक्ति को किसी भी व्यक्ति के लिए एक अन्य बैंक शाखा के साथ एक खाता स्थानांतरित कर सकते हैं जो सिस्टम में भाग ले रहे हैं
       </p>
       <h6 style="font-weight:600;">
        NEFT can be done through
       </h6>
       <div class="InternetBankingBtn" style="padding-top: 15px;">
        <a class="btn" href="https://upcbonline.com/" target="_blank">
         इंटरनेट बैंकिंग ➤
        </a>
        <a class="btn" href="services.html#mobile-banking" target="_blank">
         मोबाइल बैंकिंग ➤
        </a>
       </div>
       <h6 style="font-weight:600;padding-top: 20px;">
        Timings : 24 x 7 x 365 on Digital Banking Channels
       </h6>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4">
       <img alt="" class="vc_single_image-img attachment-large" decoding="async" height="250" sizes="(max-width: 555px) 100vw, 555px" src="images/services/neft.png" title="internet-banking" width="320"/>
      </div>
     </div>
     <h4>
      Transaction Limits
      <span style="color: var(--secondary-text);">
       (डिजिटल बैंकिंग)
      </span>
     </h4>
     <div class="table-responsive">
      <table class="table table-bordered" style="">
       <thead>
        <tr>
         <th scope="col">
          Type of Account
         </th>
         <th scope="col">
          Limit / Transaction
         </th>
         <th scope="col">
          Limit / Day
         </th>
         <th scope="col">
          Charges
         </th>
        </tr>
       </thead>
       <tbody>
        <tr>
         <td scope="row">
          <p>
           बचत खाता
          </p>
         </td>
         <td>
          <p>
           रु। 2,00,000
          </p>
         </td>
         <td>
          <p>
           रु। 5,00,000
          </p>
         </td>
         <td>
          <p>
           शून्य
          </p>
         </td>
        </tr>
        <tr>
         <td scope="row">
          <p>
           चालू खाता
          </p>
         </td>
         <td>
          <p>
           रु। 2,00,000
          </p>
         </td>
         <td>
          <p>
           रु। 5,00,000
          </p>
         </td>
         <td>
          <p>
           शून्य
          </p>
         </td>
        </tr>
       </tbody>
      </table>
     </div>
     <h6 style="font-weight:600;padding-top: 10px;">
      Note:
     </h6>
     <div class="MobileBankingPoints">
      <ul>
       <li>
        <p>
         RTGS और NEFT के लिए RBI के साथ प्रत्यक्ष सदस्यता।
        </p>
       </li>
       <li>
        <p>
         42 DCBS और 1 UCB उप -सदस्य के रूप में लागत से मुक्त
        </p>
       </li>
       <li>
        <p>
         24 x 7 RGTS/NEFT
        </p>
       </li>
       <li>
        <p>
         ICICI बैंक आदि जैसे प्रायोजक बैंकों में कोई अनिवार्य जमा / शुल्क नहीं।
        </p>
       </li>
      </ul>
     </div>
    </div>
    <div class="tab-pane fade RTGS" id="rtgs">
     <h4>
      Real Time Gross Settlement
      <span style="color:var(--secondary-text);">
       (आरटीजीएस)
      </span>
     </h4>
     <div class="row" style="padding-bottom: 20px">
      <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4">
       <img alt="" class="vc_single_image-img attachment-large" decoding="async" height="250" sizes="(max-width: 555px) 100vw, 555px" src="images/services/rtgs1.png" title="internet-banking" width="320"/>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 mb-8 mb-lg-0 ps-lg-4" style="padding: 10px 0px;">
       <p <p="" style="text-align: justify;">
        &gt; 
         ‘RTGS का अर्थ वास्तविक समय सकल निपटान के लिए है, जिसका अर्थ है कि आदेश के आधार पर एक आदेश पर व्यक्तिगत रूप से धन का निरंतर (वास्तविक समय) निपटान। ‘रियल टाइम’ का अर्थ है उस समय के निर्देशों का प्रसंस्करण जब वे कुछ बाद में प्राप्त होते हैं। यह देखते हुए कि फंड बस्ती भारतीय रिजर्व बैंक की पुस्तकों में होती है, भुगतान अंतिम और अपरिवर्तनीय हैं।
       </p>
       <h6 style="font-weight:600;padding-top: 20px;">
        Timings : 24 x 7 x 365 on Digital Banking Channels
       </h6>
      </div>
     </div>
     <h6 style="font-weight:600;">
      RTGS can be done through
     </h6>
     <div class="InternetBankingBtn" style="padding-top: 15px; padding-bottom: 10px;">
      <a class="btn" href="https://upcbonline.com/" target="_blank">
       अंतराजाल लेन - देन
      </a>
      <a class="btn" href="services.html#/mb" target="_blank">
       मोबाइल बैंकिंग
      </a>
      <a class="btn" href="../our-branches/index.html" target="_blank">
       ब्रांच बैंकिंग
      </a>
     </div>
     <h4>
      Transaction Limits
      <span style="color: var(--secondary-text);">
       (डिजिटल बैंकिंग)
      </span>
     </h4>
     <div class="table-responsive">
      <table class="table table-bordered">
       <thead>
        <tr>
         <th scope="col">
          Type of Account
         </th>
         <th scope="col">
          Limit / Transaction
         </th>
         <th scope="col">
          Limit / Day
         </th>
         <th scope="col">
          Charges
         </th>
        </tr>
       </thead>
       <tbody>
        <tr>
         <td scope="row">
          <p>
           बचत खाता
          </p>
         </td>
         <td>
          <p>
           रु। 2,00,000 - 5,00,000
          </p>
         </td>
         <td>
          <p>
           रु। 2,00,000 - 10,00,000
          </p>
         </td>
         <td>
          <p>
           शून्य
          </p>
         </td>
        </tr>
        <tr>
         <td scope="row">
          <p>
           चालू खाता
          </p>
         </td>
         <td>
          <p>
           रु। 2,00,000 - 5,00,000
          </p>
         </td>
         <td>
          <p>
           रु। 2,00,000 - 10,00,000
          </p>
         </td>
         <td>
          <p>
           शून्य
          </p>
         </td>
        </tr>
       </tbody>
      </table>
     </div>
     <h6 style="font-weight:600;padding-top: 20px;">
      Note:
     </h6>
     <div class="MobileBankingPoints">
      <ul>
       <li>
        <p>
         RTGS और NEFT के लिए RBI के साथ प्रत्यक्ष सदस्यता।
        </p>
       </li>
       <li>
        <p>
         42 DCBS और 1 UCB उप -सदस्य के रूप में लागत से मुक्त
        </p>
       </li>
       <li>
        <p>
         24 x 7 RGTS/NEFT
        </p>
       </li>
       <li>
        <p>
         ICICI बैंक आदि जैसे प्रायोजक बैंकों में कोई अनिवार्य जमा / शुल्क नहीं।
        </p>
       </li>
      </ul>
     </div>
    </div>
    <div class="tab-pane fade IMPS" id="imps">
     <h4>
      Immediate Payment Service
      <span style="color:var(--secondary-text);">
       (IMPS)
      </span>
     </h4>
     <p style="text-align: justify;">
      तत्काल भुगतान सेवा (IMPS) सार्वजनिक लॉन्च 22 नवंबर 2010 को RBI द्वारा हुई।
     </p>
     <p>
      IMPS मजबूत और रियल टाइम फंड ट्रांसफर प्रदान करता है जो एक इंस्टेंट, 24x7, इंटरबैंक इलेक्ट्रॉनिक फंड ट्रांसफर सेवा प्रदान करता है जिसे मोबाइल, इंटरनेट, एटीएम, एसएमएस जैसे कई चैनलों पर एक्सेस किया जा सकता है। IMPS एक जोरदार सेवा है जो भारत भर के बैंकों के भीतर तुरंत धन को स्थानांतरित करने की अनुमति देती है जो न केवल सुरक्षित है, बल्कि किफायती भी है। वर्तमान में IMPS पर, 647 सदस्य लाइव हैं जिसमें बैंक और पीपीआई शामिल हैं।
     </p>
     <div class="row" style="padding-bottom: 20px">
      <div class="col-lg-8 col-md-8 col-sm-8 mb-8 mb-lg-0 ps-lg-4" style="padding: 10px 0px;">
       <p style="text-align: justify;">
        IMPS मजबूत और वास्तविक समय फंड ट्रांसफर प्रदान करता है जो एक तत्काल, 24x7, इंटरबैंक इलेक्ट्रॉनिक फंड ट्रांसफर सेवा प्रदान करता है, जिसे मोबाइल, इंटरनेट, शाखा और IMPS जैसे कई चैनलों पर एक्सेस किया जा सकता है जो एक सशक्त सेवा है जो भारत भर के बैंकों के भीतर तुरंत धन को स्थानांतरित करने की अनुमति देता है। न केवल सुरक्षित है, बल्कि किफायती भी है। वर्तमान में IMPS पर सदस्य।
       </p>
       <h6 style="font-weight:600;padding-top: 20px;">
        Timings : 24 x 7 x 365 on Digital Banking Channels
       </h6>
       <p>
        <a href="https://www.npci.org.in/what-we-do/imps/product-statistics" rel="noopener noreferrer" target="_blank">
         लाइव सदस्य हैं
        </a>
       </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4">
       <img alt="" class="vc_single_image-img attachment-large" decoding="async" height="250" sizes="(max-width: 555px) 100vw, 555px" src="images/services/imps.png" title="internet-banking" width="320"/>
      </div>
     </div>
     <h6 style="font-weight:600;">
      IMPS can be done through
     </h6>
     <div class="InternetBankingBtn" style="padding-top: 15px; padding-bottom: 10px;">
      <a class="btn" href="https://upcbonline.com/" target="_blank">
       अंतराजाल लेन - देन
      </a>
      <a class="btn" href="services.html#mobile-banking" target="_blank">
       मोबाइल बैंकिंग
      </a>
      <a class="btn" href="../our-branches/index.html" target="_blank">
       ब्रांच बैंकिंग
      </a>
     </div>
     <h4>
      Transaction Limits
      <span style="color: var(--secondary-text);">
       (डिजिटल बैंकिंग)
      </span>
     </h4>
     <div class="table-responsive">
      <table class="table table-bordered">
       <thead>
        <tr>
         <th scope="col">
          Type of Account
         </th>
         <th scope="col">
          Limit / Transaction
         </th>
         <th scope="col">
          Limit / Day
         </th>
         <th scope="col">
          Charges
         </th>
        </tr>
       </thead>
       <tbody>
        <tr>
         <td scope="row">
          <p>
           बचत खाता
          </p>
         </td>
         <td>
          <p>
           रु। 2,00,000
          </p>
         </td>
         <td>
          <p>
           रु। 5,00,000
          </p>
         </td>
         <td>
          <p>
           शून्य
          </p>
         </td>
        </tr>
        <tr>
         <td scope="row">
          <p>
           चालू खाता
          </p>
         </td>
         <td>
          <p>
           रु। 2,00,000
          </p>
         </td>
         <td>
          <p>
           रु। 5,00,000
          </p>
         </td>
         <td>
          <p>
           शून्य
          </p>
         </td>
        </tr>
       </tbody>
      </table>
     </div>
     <h6 style="font-weight:600;padding-top: 20px;">
      The participants for IMPS will be as follows:
     </h6>
     <div class="MobileBankingPoints">
      <ul>
       <li>
        <p>
         रिमिटर (प्रेषक)
        </p>
       </li>
       <li>
        <p>
         लाभार्थी (रिसीवर)
        </p>
       </li>
       <li>
        <p>
         बैंकों
        </p>
       </li>
       <li>
        <p>
         राष्ट्रीय वित्तीय स्विच - एनपीसीआई
        </p>
       </li>
      </ul>
     </div>
    </div>
    <div class="tab-pane fade UPI" id="upi">
     <h4>
      Unified Payments Interface
      <span style="color:var(--secondary-text);">
       (Upi)
      </span>
     </h4>
     <p style="text-align: justify;">
      यूनिफाइड पेमेंट्स इंटरफ़ेस (UPI) एक ऐसी प्रणाली है जो कई बैंक खातों को एक एकल मोबाइल एप्लिकेशन (किसी भी भाग लेने वाले बैंक) में शक्ति प्रदान करती है, कई बैंकिंग सुविधाओं, सीमलेस फंड रूटिंग और मर्चेंट पेमेंट्स को एक हुड में विलय करती है। यह "सहकर्मी से सहकर्मी" एकत्रित अनुरोध को भी पूरा करता है जिसे आवश्यकता और सुविधा के अनुसार निर्धारित और भुगतान किया जा सकता है।
     </p>
     <div class="row" style="padding-bottom: 20px">
      <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4">
       <img alt="" class="vc_single_image-img attachment-large" decoding="async" height="250" sizes="(max-width: 555px) 100vw, 555px" src="images/services/upi.png" title="internet-banking" width="320"/>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 mb-8 mb-lg-0 ps-lg-4" style="padding: 10px 0px;">
       <p style="text-align: justify;">
        UPI या एकीकृत भुगतान इंटरफ़ेस एक तत्काल वास्तविक समय भुगतान प्रणाली है जो मोबाइल प्लेटफॉर्म के माध्यम से दो बैंक खातों के बीच धन को तुरंत स्थानांतरित करने में मदद करती है। इसलिए, UPI एक अवधारणा है जो कई बैंक खातों को एक एकल मोबाइल एप्लिकेशन में जाने की अनुमति देती है।
       </p>
       <h6 style="font-weight:600;padding-top: 20px;">
        Timings : 24 x 7 x 365 on Digital Banking Channels
       </h6>
       <p>
        <a href="https://www.npci.org.in/what-we-do/upi/product-statistics" rel="noopener noreferrer" target="_blank">
         यूपीआई सदस्य
        </a>
       </p>
      </div>
     </div>
     <h6 style="font-weight:600;">
      UPI can be done through
     </h6>
     <p>
      Google Pay, PhonePe, Paytm आदि जैसे तृतीय पक्ष ऐप्स
     </p>
     <div class="InternetBankingBtn" style="padding-bottom: 10px;">
      <a class="btn" href="https://upcbonline.com/" target="_blank">
       अंतराजाल लेन - देन
      </a>
      <a class="btn" href="services.html#mobile-banking" target="_blank">
       मोबाइल बैंकिंग
      </a>
      <a class="btn" href="../our-branches/index.html" target="_blank">
       ब्रांच बैंकिंग
      </a>
     </div>
     <h4>
      Transaction Limits
      <span style="color: var(--secondary-text);">
       (डिजिटल बैंकिंग)
      </span>
     </h4>
     <div class="table-responsive">
      <table class="table table-bordered">
       <thead>
        <tr>
         <th scope="col">
          Type of Account
         </th>
         <th scope="col">
          Limit / Transaction
         </th>
         <th scope="col">
          Limit / Day
         </th>
         <th scope="col">
          Charges
         </th>
        </tr>
       </thead>
       <tbody>
        <tr>
         <td scope="row">
          <p>
           बचत खाता
          </p>
         </td>
         <td>
          <p>
           रु। 1,00,000
          </p>
         </td>
         <td>
          <p>
           रु। 1,00,000
          </p>
         </td>
         <td>
          <p>
           शून्य
          </p>
         </td>
        </tr>
        <tr>
         <td scope="row">
          <p>
           चालू खाता
          </p>
         </td>
         <td>
          <p>
           रु। 1,00,000
          </p>
         </td>
         <td>
          <p>
           रु। 1,00,000
          </p>
         </td>
         <td>
          <p>
           शून्य
          </p>
         </td>
        </tr>
       </tbody>
      </table>
     </div>
     <h6 style="font-weight:600;padding-top: 20px;">
      Features:
     </h6>
     <div class="MobileBankingPoints">
      <ul>
       <li>
        <p>
         मोबाइल डिवाइस के माध्यम से तत्काल धन हस्तांतरण 24*7 और 365 दिनों की घड़ी।
        </p>
       </li>
       <li>
        <p>
         विभिन्न बैंक खातों तक पहुँचने के लिए एकल मोबाइल एप्लिकेशन।
        </p>
       </li>
       <li>
        <p>
         पुल एंड पुश के लिए ग्राहक का वर्चुअल पता ग्राहक के साथ वृद्धिशील सुरक्षा प्रदान करता है, जो कार्ड नंबर, खाता संख्या जैसे विवरण दर्ज करने के लिए आवश्यक नहीं है; Ifsc आदि
        </p>
       </li>
       <li>
        <p>
         क्यू आर संहिता
        </p>
       </li>
      </ul>
     </div>
    </div>
    <div class="tab-pane fade UPI" id="NABARDSchemes">
     <h4>
      नाबर्ड योजनाएँ
     </h4>
     <div class="table-responsive">
      <table class="table table-bordered">
       <thead>
        <tr>
         <th scope="col">
          S. NO.
         </th>
         <th scope="col">
          Name Of Scheme related to IT
         </th>
         <th scope="col">
          NABARD Financial Assistance
         </th>
        </tr>
       </thead>
       <tbody>
        <tr>
         <td>
          1
         </td>
         <td>
          <p>
           वित्तीय साक्षरता के लिए प्रदर्शन वैन
          </p>
         </td>
         <td>
          <p>
           रु .15 लाख प्रति बैंक का अधिकतम 3)
          </p>
         </td>
        </tr>
        <tr>
         <td>
          2
         </td>
         <td>
          <p>
           माइक्रो एटीएम
          </p>
         </td>
         <td>
          <p>
           रु। DCB के लिए 22500/ प्रति डिवाइस और SCB के लिए 15000/ प्रति डिवाइस
          </p>
         </td>
        </tr>
        <tr>
         <td>
          3
         </td>
         <td>
          <p>
           पीओएस/ एम-पॉस
          </p>
         </td>
         <td>
          <p>
           6000 रुपये/ प्रति डिवाइस
          </p>
         </td>
        </tr>
        <tr>
         <td>
          4
         </td>
         <td>
          <p>
           PACS कम्प्यूटरीकरण
          </p>
         </td>
         <td>
          <p>
           नाबार्ड सीडीएफ स्कीम के तहत 5 करोड़ मैचिंग ग्रांट स्वीकृत।
          </p>
         </td>
        </tr>
        <tr>
         <td>
          5
         </td>
         <td>
          <p>
           वे / सदस्य हैं
          </p>
         </td>
         <td>
          <p>
           AUA/KUA Rs 25 Lakh per Bank(UPCB) and Sub-AUA/KUA
           <br/>
           Rs. 5 Lakh per DCB
          </p>
         </td>
        </tr>
       </tbody>
      </table>
     </div>
    </div>
    <div class="tab-pane fade UPI" id="Microatm">
     <h4>
      माइक्रो एटीएम
     </h4>
     <p style="text-align: justify;">
      माइक्रो एटीएम का मतलब एक ऐसा उपकरण था जिसका उपयोग एक लाख व्यवसाय संवाददाताओं (बीसी) द्वारा बुनियादी बैंकिंग सेवाओं को वितरित करने के लिए किया जाता है। मंच व्यापार संवाददाताओं (जो एक स्थानीय किरण की दुकान के मालिक हो सकते हैं और तत्काल लेनदेन करने के लिए 'माइक्रो एटीएम' के रूप में कार्य करेंगे) को सक्षम करेंगे।
     </p>
     <div class="row" style="padding-bottom: 20px">
      <div class="col-lg-8 col-md-8 col-sm-8 mb-8 mb-lg-0 ps-lg-4" style="padding: 10px 0px;">
       <h6>
        FEATURES:
       </h6>
       <p>
        टच स्क्रीन डिस्प्ले, बायोमेट्रिक स्कैनर, थर्मल प्रिंटर, ईएमवी कार्ड रीडर, मैग्नेटिक कार्ड रीडर, पिन पैड, ली-आयन चार्जेबल बैटरी
       </p>
       <h6>
        FUNCTIONS:
       </h6>
       <p>
        नकद निकासी (कोई भी बैंक), नकद रसीद, खाता उद्घाटन, उपयोगिता बिल भुगतान, कार्ड लेनदेन (उर्वरक / बीज आदि। खरीद), बैलेंस इंक्वायरी, एसएमएस।
       </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4">
       <img alt="" class="vc_single_image-img attachment-large" decoding="async" height="250" sizes="(max-width: 555px) 100vw, 555px" src="images/services/microatm.png" title="internet-banking" width="320"/>
      </div>
     </div>
    </div>
    <div class="tab-pane fade UPI" id="POS_MPOS">
     <h4>
      POS/MPOS
     </h4>
     <p style="text-align: justify;">
      माइक्रो एटीएम का मतलब एक ऐसा उपकरण था जिसका उपयोग एक लाख व्यवसाय संवाददाताओं (बीसी) द्वारा बुनियादी बैंकिंग सेवाओं को वितरित करने के लिए किया जाता है। मंच व्यापार संवाददाताओं (जो एक स्थानीय किरण की दुकान के मालिक हो सकते हैं और तत्काल लेनदेन करने के लिए 'माइक्रो एटीएम' के रूप में कार्य करेंगे) को सक्षम करेंगे।
     </p>
     <div class="row" style="padding-bottom: 20px">
      <div class="col-lg-8 col-md-8 col-sm-8 mb-8 mb-lg-0 ps-lg-4" style="padding: 10px 0px;">
       <h6>
        FEATURES:
       </h6>
       <p style="text-align: justify;">
        टच स्क्रीन डिस्प्ले, बायोमेट्रिक स्कैनर, थर्मल प्रिंटर, ईएमवी कार्ड रीडर, मैग्नेटिक कार्ड रीडर, पिन पैड, ली-आयन चार्जेबल बैटरी
       </p>
       <h6>
        FUNCTIONS:
       </h6>
       <p>
        नकद निकासी (कोई भी बैंक), नकद रसीद, खाता उद्घाटन, उपयोगिता बिल भुगतान, कार्ड लेनदेन (उर्वरक / बीज आदि। खरीद), बैलेंस इंक्वायरी, एसएमएस।
       </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4">
       <img alt="" class="vc_single_image-img attachment-large" decoding="async" height="250" sizes="(max-width: 555px) 100vw, 555px" src="images/MicroATM.png" title="internet-banking" width="320"/>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
<!---sidebar end-->
