<!-- Gallery section -->
<section class="gallery_wrapper" id="gallery">
 <div class="container">
  <!-- Gallery -->
  <div class="row">
   <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img alt="" class="w-100 shadow-1-strong rounded mb-4 animate__animated animate__fadeInLeft" src="images/gallery/img6.jpg" style="animation-duration:5s"/>
    <img alt="" class="w-100 shadow-1-strong rounded mb-4 animate__animated animate__fadeInLeft" src="images/gallery/img2.jpg" style="animation-duration:5s"/>
   </div>
   <div class="col-lg-4 mb-4 mb-lg-0">
    <img alt="Mountains in the Clouds" class="w-100 shadow-1-strong rounded mb-4 animate__animated animate__fadeInUp" src="images/gallery/img3.jpg"/>
    <img alt="Boat on Calm Water" class="w-100 shadow-1-strong rounded mb-4 animate__animated animate__fadeInUp" src="images/gallery/img1.jpg"/>
   </div>
   <div class="col-lg-4 mb-4 mb-lg-0">
    <img alt=" " class="w-100 shadow-1-strong rounded mb-4 animate__animated animate__fadeInRight" src="images/gallery/img5.jpg" style="animation-duration:5s"/>
    <img alt="" class="w-100 shadow-1-strong rounded mb-4 animate__animated animate__fadeInRight" src="images/gallery/img4.jpg" style="animation-duration:5s"/>
   </div>
  </div>
  <!-- Gallery -->
 </div>
</section>
<!-- Gallery Section Exit -->
