<div class="pagew" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), rgba(0, 0, 0, 0)  url(images/Fixeddeposit.png) no-repeat center;background-size:100% 100%; background-position: center;">
 <div class="container">
  <div class="row">
   <div class="col-md-3">
    <div class="page-breadcrumb">
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <ol class="breadcrumb breadmenu" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1))">
      <span property="itemListElement" typeof="ListItem">
       <a class="home" href="index.html" property="item" title="Go to UPCB." typeof="WebPage">
        <span property="name" style="color:#ffffff;">
         यूपीसीबी
        </span>
       </a>
       <meta content="1" property="position"/>
      </span>
      <span style="color:#ffffff">
       &gt;
      </span>
      <span class="text-uppercase" property="itemListElement" typeof="ListItem">
       <a class="home" property="item" style="color: #ffffff;" typeof="WebPage">
        <span property="name">
         बैंकिंग
        </span>
       </a>
       <meta content="1" property="position"/>
      </span>
      <span style="color:#ffffff">
       &gt;
      </span>
      <span property="itemListElement" typeof="ListItem">
       <span class="post post-page current-item breadmenu text-uppercase" property="name">
        सावधि जमा
       </span>
       <meta content="https://upcbl.in/services.html" property="url"/>
       <meta content="2" property="position"/>
      </span>
     </ol>
    </div>
   </div>
   <div class="col-md-9">
   </div>
  </div>
 </div>
</div>
<!--images section end-->
<!--images section end-->
<section class="FixedDeposit_wrapper">
 <div class="container">
  <div class="row">
   <div class="mainc tab-content col-lg-12 col-md-12 col-sm-12 mb-4 mb-lg-0 ps-lg-4 bgdefine">
    <div class="active tab-pane fade in show">
     <h4>
      <span style="color:var(--secondary-text);">
       बचत और आवर्ती जमा दरें
      </span>
     </h4>
     <div class="row" style="padding-bottom: 20px">
      <div class="col-lg-8 col-md-8 col-sm-8 mb-8 mb-lg-0 ps-lg-4 tableContentManner" style="padding: 10px 0px;">
       <p>
        7 दिनों से 5 साल के बीच कहीं भी एक कार्यकाल के लिए UPCB के साथ अपने पैसे का निवेश करें और जमा राशि पर ब्याज अर्जित करें। निवेश करने के लिए सबसे पारंपरिक और सबसे सुरक्षित साधनों में से एक के रूप में, कई लोग इसे धन सृजन के लिए पसंद करते हैं। फिक्स्ड डिपॉजिट उन लोगों के लिए एक अच्छा विकल्प है जिनके पास कुछ अतिरिक्त एकमुश्त राशि है, जिनका उन्हें उस समय उपयोग करने की आवश्यकता नहीं है। यह पूंजी संरक्षण के साथ -साथ आय का एक समान प्रवाह सुनिश्चित करता है, वरिष्ठ नागरिकों को 0.50% पी.ए.
       </p>
       <h6>
        PRODUCTS &amp; SERVICES WE PROVIDE
       </h6>
       <div>
        <ul>
         <li>
          <p>
           खाता विवरण देखें / डाउनलोड करें।
          </p>
         </li>
         <li>
          <p>
           संबंधित बैंक द्वारा किसी निश्चित अवधि के लिए लेनदेन के इतिहास की जाँच करें।
          </p>
         </li>
         <li>
          <p>
           NEFT / RTGS / IMPS के माध्यम से फंड ट्रांसफर करें
          </p>
         </li>
         <li>
          <p>
           ऑर्डर चेक बुक्स, स्टॉप / रेवोक चेक आदि जैसे संबंधित कार्यों की जाँच करें
          </p>
         </li>
        </ul>
       </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4">
       <img alt="" class="vc_single_image-img attachment-large" decoding="async" height="280" sizes="(max-width: 555px) 100vw, 555px" src="images/fixed Deposit.png" title="internet-banking" width="380"/>
      </div>
     </div>
     <h4 style="font-weight:600;padding-top: 20px;">
      व्यक्तियों के लिए दरें, ट्रस्ट, हाउसिंग सोसाइटीज और एचयूएफ (डब्ल्यू। ई। एफ। 17/03/2023)*
     </h4>
     <div>
      <table class="table table-bordered tableContentManner" style="border: 1px solid var(--secondary-color);" tablecontentmanner="">
       <thead>
        <tr>
         <th scope="col">
          TENURE
         </th>
         <th scope="col">
          Interest Rates
         </th>
        </tr>
       </thead>
       <tbody>
        <tr>
         <td>
          07 DAYS TO 45 DAYS
         </td>
         <td>
          4.25%
         </td>
        </tr>
        <tr>
         <td>
          07 DAYS TO 45 DAYS
         </td>
         <td>
          4.25%
         </td>
        </tr>
        <tr>
         <td>
          07 DAYS TO 45 DAYS
         </td>
         <td>
          4.25%
         </td>
        </tr>
        <tr>
         <td>
          07 DAYS TO 45 DAYS
         </td>
         <td>
          4.25%
         </td>
        </tr>
        <tr>
         <td>
          07 DAYS TO 45 DAYS
         </td>
         <td>
          4.25%
         </td>
        </tr>
        <tr>
         <td>
          07 DAYS TO 45 DAYS
         </td>
         <td>
          4.25%
         </td>
        </tr>
        <tr>
         <td>
          07 DAYS TO 45 DAYS
         </td>
         <td>
          4.25%
         </td>
        </tr>
        <tr>
         <td>
          07 DAYS TO 45 DAYS
         </td>
         <td>
          4.25%
         </td>
        </tr>
       </tbody>
      </table>
     </div>
     <h6 style="padding:0; margin: 0;">
      * Savings Deposit Rate: 3.50%
     </h6>
     <h6 style="padding-bottom: 20px; margin: 0;">
      * Recurring deposit rates applicable as per term deposit rates
     </h6>
    </div>
   </div>
  </div>
 </div>
</section>
