<!--images section-->
<div class="pagew" style="background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(0, 0, 0, 0.2)  url(images/kycc.png) no-repeat center;background-size:100% 100%; background-position: center;">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-3">
    <div class="page-breadcrumb">
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <ol class="breadcrumb breadmenu" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1))">
      <span property="itemListElement" typeof="ListItem">
       <a class="home" href="index.html" property="item" title="Go to UPCB." typeof="WebPage">
        <span property="name" style="color:#ffffff;">
         यूपीसीबी
        </span>
       </a>
       <meta content="1" property="position"/>
      </span>
      <span style="color:#ffffff">
       &gt;
      </span>
      <span class="text-uppercase" property="itemListElement" typeof="ListItem">
       <a class="home" property="item" style="color: #ffffff;" typeof="WebPage">
        <span property="name">
         महत्वपूर्ण लिंक
        </span>
       </a>
       <meta content="1" property="position"/>
      </span>
      <span style="color:#ffffff">
       &gt;
      </span>
      <span property="itemListElement" typeof="ListItem">
       <span class="post post-page current-item breadmenu text-uppercase" property="name" style="color: #ffffff;">
        केवाईसी
       </span>
       <meta content="https://upcbl.in/services.html" property="url"/>
       <meta content="2" property="position"/>
      </span>
     </ol>
    </div>
   </div>
   <div class="col-md-9">
   </div>
  </div>
 </div>
</div>
<!--images section end-->
<section class="FixedDeposit_wrapper">
 <div class="container">
  <div class="row">
   <div class="mainc tab-content col-lg-12 col-md-12 col-sm-12 mb-4 mb-lg-0 ps-lg-4 bgdefine">
    <div class="active tab-pane fade in show">
     <div class="col-lg-12 col-md-12 col-sm-12 mb-2" style="background-color:#ffffff; border: 4px inset lightsalmon; padding:20px;">
      <h4>
       OBJECTIVES, SCOPE AND USEFULNESS OF
       <span style="color:var(--secondary-text);">
        'अपने ग्राहक को जानो'
       </span>
       POLICY
      </h4>
      <h6 style="padding: 10px 0px;">
       *
       <a href="tender/kyc_280815.pdf" target="_blank">
        नई संशोधित KYC नीति
       </a>
      </h6>
      <div class="row" style="padding-bottom: 20px">
       <div class="col-lg-8 col-md-8 col-sm-8 mb-8 mb-lg-0 ps-lg-4 tableContentManner" style="padding: 10px 0px;">
        <p>
         The primary objective of the
         <span style="text-decoration: underline;">
          'अपने ग्राहक को जानो'
         </span>
         policy is to prevent banks from being used, knowingly or unknowingly, by criminal elements for money laundering activities. The 'Know Your Customer' mechanism provides banks a better opportunity to know and understand their customers and their financial transactions, thereby helping banks to manage their risks in a prudent manner.
        </p>
        <h6>
         The KYC guidelines will serve the following objectives:
        </h6>
        <div>
         <ul>
          <li>
           मनी लॉन्ड्रिंग गतिविधियों के लिए बैंकों का उपयोग करने से आपराधिक तत्वों को रोकना।
          </li>
          <li>
           बैंकों को अपने ग्राहकों और उनके वित्तीय लेनदेन को जानने और समझने के लिए बेहतर अवसर प्रदान करने के लिए ताकि बैंक अपने जोखिमों को विवेकपूर्ण तरीके से प्रबंधित कर सकें।
          </li>
          <li>
           कानून और दिशानिर्देशों के अनुसार संदिग्ध गतिविधियों का पता लगाने और रिपोर्ट करने के लिए अच्छी तरह से नियंत्रण करना।
          </li>
          <li>
           जारी किए गए प्रासंगिक कानूनों और दिशानिर्देशों का पालन करने के लिए।
          </li>
          <li>
           'अपने ग्राहक को जानें' / आतंकवादी गतिविधियों के वित्तपोषण / वित्तपोषण के लिए संबंधित कर्मचारियों को प्रशिक्षण सुनिश्चित करना।
          </li>
         </ul>
        </div>
       </div>
       <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4">
        <img alt="" class="vc_single_image-img attachment-large" decoding="async" height="280" sizes="(max-width: 555px) 100vw, 555px" src="images/knowyourcoust.png" title="internet-banking" width="380"/>
       </div>
      </div>
      <h4 style="font-weight:600;">
       मनी लॉन्ड्रिंग की परिभाषा
      </h4>
      <h6>
       Section 3 of the Prevention of Money Laundering Act-2002 (PMLA-2002) defines the "offence of money laundering" as follows
      </h6>
      <p style="padding-top: 10px;">
       "जो भी प्रत्यक्ष या अप्रत्यक्ष रूप से शामिल होने का प्रयास करता है या जानबूझकर सहायता करता है या जानबूझकर एक पार्टी है या वास्तव में अपराध की आय से जुड़ी किसी भी प्रक्रिया या गतिविधि में शामिल है और प्रोजेक्टिंग के रूप में अप्रकाशित संपत्ति मनी लॉन्ड्रिंग के अपराध का दोषी होगी" "
      </p>
      <p>
       मनी लॉन्डर्स आतंकवादी गतिविधियों से प्राप्त काले धन के स्रोतों को छिपाने के लिए बैंकिंग प्रणाली का उपयोग करते हैं। मनी लॉन्ड्रिंग एक ऐसी गतिविधि है जो सही स्थान और काले पैसे के स्रोतों को छिपाने के लिए वित्तीय लेनदेन का एक वेब बनाती है।
      </p>
      <h4 style="font-weight:600;">
       मनी लॉन्ड्रिंग एक्ट 2002 (PMLA-2002) की रोकथाम के तहत दायित्व
      </h4>
      <h6 class="mb-2">
       Under Section 12 of the Prevention of Money Laundering Act 2002, the following responsibilities have been assigned to banks, financial institutions and intermediaries
      </h6>
      <div style="font-family:Dm-Sans">
       <ul>
        <li>
         सभी लेनदेन का एक रिकॉर्ड बनाए रखें, जिसमें प्रकृति और मूल्य निर्धारित किया जा सकता है, चाहे इस तरह के लेनदेन में एक ही लेनदेन शामिल हों या लेनदेन की एक श्रृंखला एक -दूसरे से जुड़ी हो, और जहां लेनदेन की ऐसी श्रृंखला एक महीने के भीतर होती है।
        </li>
        <li>
         ऐसे समय के भीतर निर्देशक को खंड (ए) में निर्दिष्ट लेनदेन की जानकारी प्रस्तुत की जा सकती है।
        </li>
       </ul>
      </div>
      <p>
       01 जुलाई, 2005 से, यानी, मनी लॉन्ड्रिंग अधिनियम की रोकथाम के तहत भारत सरकार द्वारा अधिसूचित नियमों के कार्यान्वयन की तारीख से, बैंकों के लिए उपरोक्त जानकारी भेजना और रिकॉर्ड को संरक्षित करना आवश्यक हो गया है।
      </p>
      <p>
       अधिसूचना सं। 13/2009/FNO। मनी लॉन्ड्रिंग की रोकथाम (प्रकृति के रिकॉर्ड का रखरखाव और लेन-देन के मूल्य, प्रक्रिया और बनाए रखने की प्रक्रिया और समय को प्रस्तुत करने और समय को प्रस्तुत करने और पहचान के रिकॉर्ड का सत्यापन और रखरखाव के लिए) बैंकिंग कंपनियों के वित्तीय संस्थानों और मध्यस्थों के ग्राहकों में से) नियम, 2005. में संशोधन किया गया है।
      </p>
      <h6>
       As a result of the amendments made in the said rules, it has become necessary for the State Co-operative Banks to do the following works also.
      </h6>
      <ul style="font-family: Dm-Sans;">
       <li>
        In a month by Non Profit Organization (NPO) Rs. A record should be maintained of all transactions made for receipt of foreign exchange of more than 10.00 lakhs or its equivalent and every month's information report on the prescribed format should be sent to the Financial Intelligence Unit-India by the 15th of the following month.
Rule no. 2(1)(ca) has been defined as follows.
        <br/>
        <br/>
        "Non profit organization means any entity or organization that is registered as a trust or a society under the Societies Registration Act, 1860 (21 of 1860) or any similar State legislation or a company registered under section 25 of the companies Act 1956 (1 of 1956)"
       </li>
       <br/>
       <li>
        <span style="font-weight: 600;">
         गैर -खाता आधारित ग्राहक
        </span>
        If a transaction of rupees fifty thousand or more is done by a non-account based customer (Non Account Based Customer of Walk in Customer) at one go or many transactions are done, which are linked to each other. If it appears to have happened, then such customer and his address should be identified. Further, if the Bank is of the opinion that the customer willfully exceeds a prescribed limit of Rs. If a transaction is transacted multiple times to less than fifty thousand, then along with identifying such customer and his address, Suspicious Transaction Report (STR) should also be sent in this regard.
       </li>
      </ul>
      <h4 style="font-weight:600;">
       संदिग्ध लेनदेन
      </h4>
      <p>
       संदिग्ध लेनदेन को मनी लॉन्ड्रिंग एक्ट, 2002 की रोकथाम के तहत अधिसूचित नियमों द्वारा परिभाषित किया गया है, जो नकद में किसी भी लेनदेन के रूप में या अन्यथा प्रयास किए गए लेनदेन में शामिल है, जिसमें किसी भी व्यक्ति को अच्छे विश्वास में कार्य करने वाला शामिल है।
      </p>
      <p>
       संदेह करने के लिए उचित आधार प्रदान करता है कि इसमें अपराध की आय शामिल है, या 
 ऐसा प्रतीत होता है कि असामान्य या स्पष्ट रूप से जटिल परिस्थितियों में बनाया गया है, या 
 कोई आर्थिक आधार या वास्तविक उद्देश्य नहीं है, या 
 यह संदेह करने के लिए उचित आधार प्रदान करता है कि इसमें आतंकवादी गतिविधियों का वित्तपोषण शामिल है।
      </p>
      <h4 style="font-weight:600;">
       खतरा / खतरा / जोखिम की जानकारी
      </h4>
      <p>
       लेनदेन की अनुमति देने से पहले मासिक और वार्षिक समग्र लेनदेन और शेष सीमाएँ अपने ग्राहक (KYC) मानदंडों द्वारा निर्धारित की गई हैं।
      </p>
      <div style="font-family:Dm-Sans">
       <ul>
        <li>
         छोटे खाते शुरू में बारह महीने की अवधि के लिए चालू होंगे। इसके बाद, अगले बारह महीनों में, यदि खाता धारक शाखा को वृत्तचित्र साक्ष्य प्रदान करता है, जिसे उसने खाता खोलने के संबंध में आधिकारिक तौर पर मान्य दस्तावेज प्राप्त करने के लिए एक आवेदन दिया है, तो सभी सरलीकृत मानदंडों को संशोधित किया जाएगा। चौबीस महीने के बाद खाता। ।
        </li>
        <li>
         छोटे खातों की निगरानी की जाएगी और संदिग्ध लेनदेन, आतंकवादी वित्तपोषण या अन्य उच्च जोखिम वाली स्थितियों के मामले में, खाते से संबंधित व्यक्ति की पहचान आधिकारिक तौर पर मान्य दस्तावेजों के आधार पर निर्धारित की जाएगी।
        </li>
        <li>
         विदेशी प्रेषण को छोटे खातों में जमा नहीं किया जाएगा जब तक कि खाते से संबंधित व्यक्ति की पहचान पूरी तरह से प्रस्तुत किए गए आधिकारिक रूप से मान्य दस्तावेजों के आधार पर पूरी तरह से स्थापित नहीं होती है।
        </li>
       </ul>
      </div>
      <h4 style="font-weight:600;">
       धन्यवाद पत्र
      </h4>
      <p>
       एक धन्यवाद पत्र पंजीकृत पोस्ट द्वारा सभी खाता धारकों और परिचय को भेजा जाना चाहिए जिन्होंने नए खाते खोले हैं। यह दो उद्देश्यों को पूरा करेगा। सबसे पहले, शाखा में खाता खोलने के लिए धन्यवाद और दूसरी बात, खाता धारक द्वारा दिए गए पते की शुद्धता को भी सत्यापित किया जाएगा। इस संबंध में, शाखा स्तर पर हाथ से वितरित लिफाफे की गहन परीक्षा की आवश्यकता है। इसके लिए, खाता खोलते समय खाता खोलने वाले संबंधित कर्मचारियों/अधिकारियों द्वारा अधिक जांच और ध्यान दिया जाना चाहिए।
      </p>
      <h4 style="font-weight:600;">
       पहचान के लिए राशन कार्ड
      </h4>
      <p>
       राशन कार्ड का उपयोग खाता खोलने वाले व्यक्ति की पहचान के लिए एक दस्तावेज के रूप में नहीं किया जाना चाहिए, हालांकि, अनपढ़ व्यक्तियों के संबंध में जो अन्य दस्तावेजों का उत्पादन करने में असमर्थ हैं, राशन कार्ड के उपयोग को पते के प्रमाण के रूप में स्वीकार किया जा सकता है।
      </p>
      <h4 style="font-weight:600;">
       ग्राहकों का विभाजन
      </h4>
      <p>
       तीन श्रेणियों में ग्राहकों का विभाजन। जोखिम की धारणा के आधार पर उच्च, मध्यम और निम्न।
      </p>
      <div style="font-family:Dm-Sans">
       <h6>
        The customer identification process will be done at the following levels.
       </h6>
       <ul>
        <li>
         जब बैंकिंग संबंध स्थापित किया जाता है।
        </li>
        <li>
         जब मौजूदा ग्राहक के खाते की प्रकृति और संचालन के आधार पर अतिरिक्त जानकारी प्राप्त करना आवश्यक है।
        </li>
        <li>
         जब निष्क्रिय खाते को ऑपरेटिव खाते में स्थानांतरित कर दिया जाता है, तो ग्राहक प्रोफ़ाइल के साथ एक नया खाता खोलने वाला फॉर्म अपडेट / अपडेट किया जाना है।
        </li>
        <li>
         ग्राहक की पहचान से संबंधित डेटा/विवरण (तस्वीरों सहित) को खाता खोलने की तारीख से एक निश्चित अवधि के बाद अपडेट किया जाना चाहिए। इस तरह के प्रमाणीकरण को कम जोखिम श्रेणी के ग्राहकों के मामले में कम से कम एक बार पांच साल में और उच्च और मध्यम जोखिम श्रेणी के ग्राहकों के मामले में कम से कम एक बार दो साल में किया जाना चाहिए।
        </li>
        <li>
         गैर खाता धारक जो उच्च मूल्य लेनदेन के लिए बैंक के साथ -साथ किसी भी व्यक्ति या इकाई के लिए संपर्क करते हैं जो बैंक, ग्राहक की पहचान के लिए प्रतिष्ठित या अन्य वित्तीय लेनदेन जोखिम पैदा कर सकता है।
        </li>
       </ul>
      </div>
      <h4 style="font-weight:600;">
       आतंकवाद के वित्तपोषण का मुकाबला करना
      </h4>
      <div style="font-family:Dm-Sans">
       <ul>
        <li>
         मनी लॉन्ड्रिंग अधिनियम की रोकथाम के नियमों के अनुसार, संदिग्ध लेनदेन में अन्य बातों के अलावा, उन लेनदेन को शामिल करना चाहिए, जो यह संदेह करने के लिए उचित आधार देते हैं कि वे आतंकवाद से संबंधित गतिविधियों के वित्तपोषण से संबंधित हैं। इसलिए, शाखा स्तर पर उपयुक्त नीतिगत ढांचे के माध्यम से, आतंकवादी लिंक होने के संदिग्ध खातों की अधिक निगरानी की जानी चाहिए और इस तरह के लेनदेन को तुरंत और संबंधित सूचना रिपोर्ट को वित्तीय खुफिया इकाई-प्रभारी के प्रमुख अधिकारी के माध्यम से प्राथमिकता के आधार पर पहचाना जाना चाहिए। )। Fiu-ind)।
        </li>
        <li>
         विभिन्न संयुक्त राष्ट्र सुरक्षा परिषद के प्रस्तावों (UNSCR) के अनुसरण में स्थापित सुरक्षा परिषद समिति द्वारा अनुमोदित व्यक्तियों और संस्थाओं में प्रसारित होता है। बैंक मुख्यालय स्तर से रिजर्व बैंक से प्राप्त इस प्रकार की सूची समय -समय पर शाखाओं में भेजी जाती है। व्यक्तियों और संस्थानों की समेकित सूची को रिजर्व बैंक द्वारा प्रसारित सूची के अनुसार अपडेट किया जाना चाहिए। ऐसे व्यक्तियों/संस्थाओं की अद्यतन सूची संयुक्त राष्ट्र की वेबसाइट http://www.un.org/sc/committes/1267/aq प्रतिबंधों की सूची .shtml और http://www.un.org/sc/ पर उपलब्ध है। समितियों /1988 /list.shtml लेकिन पाया जा सकता है। शाखा स्तर पर कोई नया खाता खोलने से पहले, उन्हें यह सुनिश्चित करना चाहिए कि प्रस्तावित ग्राहक का नाम/एस सूची में दिखाई नहीं देता है। इसके अलावा, सभी मौजूदा खातों को शाखाओं द्वारा जांचना चाहिए ताकि यह सुनिश्चित किया जा सके कि कोई भी खाता सूची में शामिल व्यक्तियों या संस्थाओं से संबंधित नहीं है। सूची में शामिल किसी भी व्यक्ति/संस्था के साथ किसी भी समानता वाले खातों का पूरा विवरण बैंक के प्रमुख अधिकारी के माध्यम से भारत के रिजर्व बैंक और FIU-Ind को तुरंत सूचित किया जाना चाहिए। यह ध्यान दिया जा सकता है कि KYC मानदंड / मनी-मनी लॉन्ड्रिंग / काउंटर आतंकवाद वित्तपोषण उपायों को यह सुनिश्चित करने के लिए रखा गया है कि बैंकिंग चैनलों का अपराधियों द्वारा दुरुपयोग नहीं किया गया है।
        </li>
       </ul>
      </div>
      <div style="font-family:Dm-Sans">
       <h4>
        विदेशी योगदान के साथ अनुपालन 
 विनियमन अधिनियम - 1976
       </h4>
       <ul>
        <li>
         शाखाओं को विदेशी योगदान नियंत्रण अधिनियम, 1976 के प्रावधानों से संबंधित निर्देशों का भी पालन करना चाहिए। बैंकों को इन निर्देशों में चेतावनी दी गई है कि वे खाते खोलने या केवल उन संस्थाओं के नाम पर चेक एकत्र करें जो सरकार द्वारा उक्त अधिनियम के तहत पंजीकृत किए गए हैं भारत। एक खाता या चेक का संग्रह खोलने के समय, भारत सरकार द्वारा पंजीकृत किए गए इस आशय का एक प्रमाण पत्र संबंधित संस्थान से प्राप्त किया जाना चाहिए।
        </li>
        <li>
         शाखा स्तर पर, निर्देशों का अनुपालन सुनिश्चित करने के लिए उचित देखभाल की जानी चाहिए और प्रतिबंधित संगठनों और संगठनों के नाम पर खातों को ठीक से पंजीकृत नहीं किया जाना चाहिए।
        </li>
       </ul>
      </div>
      <div style="font-family:Dm-Sans">
       <h4>
        लेन -देन की सीमा सीमा
       </h4>
       <p>
        शाखा स्तर पर ग्राहक का खाता खोलते समय, लेनदेन की सीमा ग्राहक प्रोफ़ाइल के आधार पर तय की जा सकती है। प्रारंभ में, व्यक्तिगत खातों के संबंध में, रु। 50,000.00 की निश्चित सीमा और वाणिज्यिक प्रतिष्ठानों (वाणिज्यिक मध्यस्थों सहित) के मामले में, एक महीने के टर्नओवर की एक सीमा सीमा या रु। 10.00 लाख, जो भी कम हो, प्रस्तावित किया जाना चाहिए। इन सीमाओं की समीक्षा और समय -समय पर वार्षिक आधार पर या ग्राहक के अनुरोध पर संशोधित की जा सकती है और निर्धारित सीमा से ऊपर के किसी भी लेनदेन को अतिरिक्त सावधानी के साथ देखा जा सकता है।
       </p>
       <p>
        मौजूदा खातों सहित सभी खातों में लेनदेन प्रसंस्करण की निगरानी, जिसके लिए ग्राहक प्रोफाइल को शाखा प्रबंधकों द्वारा बहुत पहले तैयार किया गया था और संदिग्ध लेनदेन के साथ -साथ उन खातों में भी विवेकपूर्ण निर्णय लिए जाते हैं जहां संदिग्ध लेनदेन का पता चला है कि उन्हें शाखा स्तर पर बारीकी से निगरानी की जानी चाहिए। उस वृत्तचित्र के सबूत जिसके आधार पर उन्हें संदिग्ध पाया गया है, वह नष्ट नहीं हुआ है।
       </p>
       <p>
        उपरोक्त कार्रवाई को बहुत सावधानी से और विनम्रता से किया जाना चाहिए ताकि यह ग्राहक को प्रतिकूल रूप से प्रभावित न करे।
       </p>
      </div>
      <div style="font-family:Dm-Sans">
       <h4>
        संदिग्ध लेनदेन निगरानी तंत्र
       </h4>
       <p>
        जमा, ऋण आदि के सभी संदिग्ध लेनदेन को शाखा द्वारा पूर्ण विवरण के साथ दर्ज किया जाना चाहिए और बैंक मुख्यालय को सूचित किया जाना चाहिए।
       </p>
       <h6>
        suspicious transaction
       </h6>
       <h6>
        The following procedure should be adopted at the branch level:-
       </h6>
       <p>
        खाता खोलने से पहले, यह खाता खोलने वाले काउंटर अधिकारी / मुख्य प्रबंधक द्वारा सुनिश्चित किया जाना चाहिए कि खाते से संबंधित KYC सही है। दिशानिर्देशों का पूरी तरह से अनुपालन किया गया है। ग्राहक का साक्षात्कार करने और खाते से संबंधित जानकारी प्राप्त करने के बाद, संबंधित काउंटर अधिकारी / मुख्य प्रबंधक को अपना हस्ताक्षर करना चाहिए कि वह KYC है। पूरी तरह से संतुष्ट है कि दिशानिर्देशों के सभी पहलुओं का अनुपालन किया गया है।
       </p>
       <p>
        नकद लेनदेन में आरवीआई / नाबार्ड दिशानिर्देशों के सख्त अनुपालन को सुनिश्चित किया जाना चाहिए और रु। 10.00 लाख विशेष, कैश क्रेडिट और ओवरड्राफ्ट खातों के साथ -साथ लेनदेन के विवरण को एक अलग रजिस्टर में रखा जाना चाहिए।
       </p>
      </div>
      <div style="font-family:Dm-Sans">
       <h4>
        संदिग्ध लेनदेन रिपोर्टिंग
       </h4>
       <p>
        शाखा स्तर पर संदिग्ध लेनदेन रिपोर्ट (STR) भेजने के लिए बहुत सावधानी बरती जानी चाहिए। पहले काउंटर अधिकारी को अपने उच्च अधिकारी को संदिग्ध प्रकार की गतिविधि/विवरण के बारे में सूचित करना चाहिए, उसके बाद शाखा के मुख्य प्रबंधक को सूचित किया जाना चाहिए। संदिग्ध प्रकार की गतिविधियों की स्थिति से संतुष्ट होने पर, मुख्य प्रबंधक अपनी सिफारिश के साथ बैंक के प्रमुख अधिकारी को सूचित करेगा।
       </p>
       <p>
        शाखा स्तर पर STR कोई प्रतिबंध नहीं दिया जाना चाहिए, जिसे प्रेषण और शाखा और शाखा कर्मचारियों द्वारा STR के संचालन पर नहीं रखा जाना चाहिए। मनी लॉन्ड्रिंग नियमों की रोकथाम के तहत ट्रांसमिशन को सख्ती से गोपनीय रखा जाना चाहिए। इस संबंध में, यह सुनिश्चित किया जाना चाहिए कि ग्राहक को किसी भी स्तर पर कोई जानकारी नहीं दी जाती है।
       </p>
      </div>
      <div style="font-family:Dm-Sans">
       <h4>
        संरक्षित होने के लिए जानकारी
       </h4>
       <p>
        मनी लॉन्ड्रिंग अधिनियम 2002 की रोकथाम के तहत अधिसूचित नियमों के संदर्भ में, बैंकों की जिम्मेदारी के तहत, नियम संख्या 3 में उल्लिखित लेनदेन के बारे में निम्नलिखित जानकारी को शाखा स्तर पर संरक्षित किया जाना चाहिए।
       </p>
       <div class="row">
        <div class="col-lg-6 col-md-6" style="font-family:Dm-Sans">
         <ul>
          <li>
           लेन -देन की प्रकृति।
          </li>
          <li>
           लेन -देन की राशि और मुद्रा जिसमें इसका मूल्य चिह्नित किया जाना चाहिए।
          </li>
         </ul>
        </div>
        <div class="col-lg-6 col-md-6" style="font-family:Dm-Sans">
         <ul>
          <li>
           कार्यवाही की तिथि।
          </li>
          <li>
           लेन -देन के लिए पार्टी।
          </li>
         </ul>
        </div>
       </div>
      </div>
      <div style="font-family:Dm-Sans">
       <h4>
        अभिलेख रखरखाव और संरक्षण
       </h4>
       <p>
        बैंकिंग विनियमन अधिनियम के अनुसार, बैंकिंग लेनदेन से संबंधित सभी रिकॉर्ड जैसे कि खाता खोलने के रूप, वाउचर, लीडर, आदि को निर्धारित समय के लिए शाखाओं द्वारा संरक्षित किया जाना चाहिए। इसके अलावा, ग्राहक की पहचान से संबंधित निम्नलिखित दस्तावेजों के साथ -साथ संदिग्ध गतिविधियों के लिए रिपोर्ट किए गए खाते को ग्राहक के साथ बैंकिंग संबंध की समाप्ति के बाद कम से कम दस साल के लिए संरक्षित किया जाना चाहिए।
       </p>
       <div class="row">
        <div class="col-lg-6 col-md-6" style="font-family:Dm-Sans">
         <ul>
          <li>
           ग्राहक प्रोफाइल।
          </li>
          <li>
           सरकारी अधिकारियों को संभावित मनी लॉन्ड्रिंग और आपराधिक व्यवहार के संदिग्ध ग्राहक गतिविधियों की रिपोर्ट और प्रलेखन।
          </li>
         </ul>
        </div>
        <div class="col-lg-6 col-md-6" style="font-family:Dm-Sans">
         <ul>
          <li>
           प्रतिभागियों के नाम, व्यावसायिक इकाइयों, प्रशिक्षण की तारीख और स्थान सहित मनी लॉन्ड्रिंग उपायों पर दिए गए प्रशिक्षण से संबंधित रिकॉर्ड।
          </li>
          <li>
           किसी भी अन्य दस्तावेज को मनी लॉन्ड्रिंग अधिनियम/नियमों के तहत संरक्षित किया जाना आवश्यक है।
          </li>
         </ul>
        </div>
       </div>
       <p>
        वित्तीय लेनदेन से संबंधित रिकॉर्ड को लेनदेन की तारीख से कम से कम दस साल के लिए संरक्षित किया जाना चाहिए ताकि उन्हें कानून प्रवर्तन अधिकारियों, लेखा परीक्षा विभाग के साथ -साथ रिजर्व बैंक ऑफ इंडिया को मांग पर उपलब्ध कराया जा सके।
       </p>
       <p>
        ग्राहक की पहचान और लेनदेन से संबंधित रिकॉर्ड/दस्तावेज प्रासंगिक कानूनों और नियमों के तहत शाखाओं/अधिकारियों द्वारा तैयार और संरक्षित किए जाएंगे ताकि डेटा को आसानी से और तुरंत पुनर्प्राप्त किया जा सके और जब आवश्यक हो या जब सक्षम अधिकारियों द्वारा मांग की जा सके। प्राप्त किया जा सकता है
       </p>
      </div>
      <div style="font-family:Dm-Sans">
       <h4>
        कर्तव्यों / जिम्मेदारियों और जवाबदेही
       </h4>
       <h6>
        KYC for Bank Employees Importance of Guidelines
       </h6>
       <p>
        बैंक के सभी कर्मचारी मौजूदा नियमों और विनियमों के अनुसार कार्य करेंगे और व्यवहार करेंगे। कर्मचारी और प्रबंधन किसी भी व्यक्ति को कोई सलाह या सहायता नहीं देंगे जो मनी लॉन्ड्रिंग गतिविधि में शामिल है। शाखाओं/मुख्यालय स्तर पर पोस्ट किए गए कर्मचारियों की कर्तव्यों/जिम्मेदारी और जवाबदेही की श्रृंखला इस प्रकार है और दिशानिर्देशों के अनुसार ड्यूटी/जिम्मेदारी के गैर-अनुपालन के लिए KYC जवाबदेही तय की जाएगी। ड्यूटी और सूचना के गैर-अवलोकन से परहेज करने से कर्मचारियों की जवाबदेही होगी।
       </p>
       <div>
        <table class="table table-bordered tableContentManner" style="border: 1px solid var(--secondary-color);" tablecontentmanner="">
         <thead>
          <tr>
           <th scope="col">
            Employee
           </th>
           <th scope="col">
            Duties / Responsibilities
           </th>
          </tr>
         </thead>
         <tbody>
          <tr>
           <td class="text-uppercase">
            Account Opening Counter Officer &amp; Chief Manager
           </td>
           <td>
            <ul>
             <li>
              संभावित ग्राहकों की पहचान करना।
             </li>
             <li>
              परीक्षण परिचय और ग्राहक प्रोफ़ाइल।
             </li>
             <li>
              प्रत्येक नए और मौजूदा खातों के लिए लेनदेन की सीमा सीमा को ठीक करना और संदिग्ध लेनदेन की जाँच/पता लगाने के द्वारा उचित ग्राहक पहचान के लिए कार्रवाई करना।
             </li>
             <li>
              यह सुनिश्चित करने के लिए कि आतंकवादी/प्रतिबंधित संगठनों के खाते नहीं खोले गए हैं।
             </li>
             <li>
              विदेशी योगदान विनियमन अधिनियम, 1976 के प्रावधानों का पालन करने के लिए।
             </li>
             <li>
              खाता खोलने और संचालन के बारे में समय -समय पर बैंक द्वारा जारी किए गए दिशानिर्देशों का पालन करने के लिए।
             </li>
            </ul>
           </td>
          </tr>
          <tr>
           <td class="text-uppercase">
            principal officer
           </td>
           <td>
            <ul>
             <li>
              खाता खोलने से पहले, खाता खोलने वाले फॉर्म / ग्राहक प्रोफ़ाइल / दहलीज सीमा में दी गई जानकारी के KYC खाते के लिए। दिशानिर्देशों के खिलाफ परीक्षण करने के लिए और यदि संतुष्ट होने पर खाते के उद्घाटन को अधिकृत (अधिकृत) करें।
             </li>
             <li>
              K.Y.C. दिशानिर्देशों के अनुपालन के संबंध में विवरण/रजिस्टरों को प्रमाणित करना और उपयुक्त अधिकारियों को संदिग्ध लेनदेन की रिपोर्ट करना।
             </li>
             <li>
              (उपरोक्त काम तब किया जाएगा जब बैंक की सभी शाखाएं सीबीएस हैं।) वर्तमान में, इस काम को शाखा स्तर पर जारी रखा जाना चाहिए।
             </li>
            </ul>
           </td>
          </tr>
          <tr>
           <td class="text-uppercase">
            ear current auditor
           </td>
           <td>
            <ul>
             <li>
              शाखाओं / स्तर पर KYC दिशानिर्देशों के कार्यान्वयन की जांच करने के लिए और प्रभाव के संबंध में उठाए गए कदमों पर अपने विचार व्यक्त करें।
             </li>
            </ul>
           </td>
          </tr>
          <tr>
           <td class="text-uppercase">
            Controlling Authority / Chief Manager
           </td>
           <td>
            <ul>
             <li>
              प्रमुख अधिकारी से सहमति लेने के बाद देरी के बिना संदिग्ध लेनदेन के बारे में संबंधित कानून प्रवर्तन प्राधिकरण को सूचित करें।
             </li>
            </ul>
           </td>
          </tr>
         </tbody>
        </table>
       </div>
      </div>
      <h6>
       *
       <a href="annex1.html">
        अनुलग्नक - मैं
       </a>
      </h6>
      <h6>
       *
       <a href="annex2.html">
        अनुलग्नक - ii
       </a>
      </h6>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
