<!--images section-->
<div class="pagew" style="background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(0, 0, 0, 0.2)  url(images/services/loansnew.png) no-repeat center;background-size:100% 100%; background-position: center;">
 <div class="container">
  <div class="row">
   <div class="col-md-3">
    <div class="page-breadcrumb">
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <ol class="breadcrumb breadmenu" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1))">
      <span property="itemListElement" typeof="ListItem">
       <a class="home" href="index.html" property="item" title="Go to UPCB." typeof="WebPage">
        <span property="name" style="color:#ffffff;">
         यूपीसीबी
        </span>
       </a>
       <meta content="1" property="position"/>
      </span>
      <span style="color:#ffffff">
       &gt;
      </span>
      <span class="text-uppercase" property="itemListElement" typeof="ListItem">
       <a class="home" property="item" style="color: #ffffff;" typeof="WebPage">
        <span property="name">
         बैंकिंग
        </span>
       </a>
       <meta content="1" property="position"/>
      </span>
      <span style="color:#ffffff">
       &gt;
      </span>
      <span property="itemListElement" typeof="ListItem">
       <span class="post post-page current-item breadmenu text-uppercase" property="name">
        ऋण
       </span>
       <meta content="https://upcbl.in/services.html" property="url"/>
       <meta content="2" property="position"/>
      </span>
     </ol>
    </div>
   </div>
   <div class="col-md-9">
   </div>
  </div>
 </div>
</div>
<!--images section end-->
<!--sidebar start-->
<section class="sidebar" id="">
 <div class="container">
  <div class="row">
   <div class="leftsection col-lg-3 col-md-3 col-sm-3 text-center">
    <ul class="nav navbar navbar-expand d-flex flex-column">
     <li class="nav-item centeri w-100">
      <a class="nav-link active" data-bs-toggle="tab" href="#homeLoans">
       गृह/संपत्ति ऋण
      </a>
     </li>
     <li class="nav-item centeri w-100">
      <a class="nav-link" data-bs-toggle="tab" href="#vehicleLoans">
       वाहन ऋण
      </a>
     </li>
     <li class="nav-item centeri w-100">
      <a class="nav-link" data-bs-toggle="tab" href="#personalLoans">
       व्यक्तिगत ऋण
      </a>
     </li>
     <li class="nav-item centeri w-100">
      <a class="nav-link" data-bs-toggle="tab" href="#educationLoans">
       शिक्षा ऋण
      </a>
     </li>
     <li class="nav-item centeri w-100">
      <a class="nav-link" data-bs-toggle="tab" href="#agriLoans">
       कृषि ऋण
      </a>
     </li>
     <li class="nav-item centeri w-100">
      <a class="nav-link" data-bs-toggle="tab" href="#mortgage">
       गिरवी रखकर लिया गया ऋण
      </a>
     </li>
     <li class="nav-item centeri w-100">
      <a class="nav-link" data-bs-toggle="tab" href="#institutionLoans">
       संस्था ऋण
      </a>
     </li>
     <li class="nav-item centeri w-100">
      <a class="nav-link" data-bs-toggle="tab" href="#schemeLoans">
       योजना ऋण
      </a>
     </li>
     <li class="nav-item centeri w-100">
      <a class="nav-link" data-bs-toggle="tab" href="#farmingLoans">
       कृषि ऋण
      </a>
     </li>
     <li class="nav-item centeri w-100">
      <a class="nav-link" data-bs-toggle="tab" href="#goldLoans">
       स्वर्ण ऋण
      </a>
     </li>
     <li class="nav-item centeri w-100">
      <a class="nav-link" data-bs-toggle="tab" href="#businessLoans">
       व्यापारिक ऋण
      </a>
     </li>
     <li class="nav-item centeri w-100">
      <a class="nav-link" data-bs-toggle="tab" href="#yojnaLoans">
       योजना लोन्स
      </a>
     </li>
    </ul>
   </div>
   <div class="mainc tab-content col-lg-9 col-md-9 col-sm-9 mb-4 mb-lg-0 ps-lg-4 bgdefine">
    <!--<div id="home" class="active tab-pane fade in show">
                           <h2 >The right credit card is right here</h2>
                           <p>Looking for a card that earns travel points, cash back, or rewards? Our side-by-side                 comparisons and objective reviews can help you make the smartest decision.</p>
                        
                </div>
                <div id="about" class="tab-pane fade">
                     <h2 >The 2nd right credit card is right here</h2>
                           <p>Looking for a card that earns travel points, cash back, or rewards? Our side-by-side                 comparisons and objective reviews can help you make the smartest decision.</p>
                </div>-->
    <div class="active tab-pane fade in show" id="homeLoans">
     <h4>
      घर के लिए ऋण
     </h4>
     <p>
      एक शीर्ष बैंक होने के नाते, यूपीसीबी न केवल खुदरा ग्राहकों की जरूरतों को पूरा करता है, बल्कि किसानों, अन्य जिला सहकारी बैंकों, व्यापार और सेवा क्षेत्र और मध्यम / छोटे पैमाने पर उद्योगों की भी। UPCB आपकी व्यक्तिगत आवश्यकताओं के अनुरूप विशेष रूप से डिज़ाइन किए गए ऋण उत्पादों का एक बड़ा गुलदस्ता प्रदान करता है।
     </p>
     <div class="vc_single_image-wrapper vc_box_shadow_border vc_box_border_grey mb-4">
      <img alt="" class="img-thumbnail" decoding="async" height="280" sizes="(max-width: 555px) 100vw, 555px" src="images/home loan.png" title="internet-banking" width="380"/>
      <!--<img width="500" height="350" src="images/home loan.png" class="vc_single_image-img attachment-large" alt="" decoding="async" title="Home &amp; Property Loans_500x350" sizes="(max-width: 500px) 100vw, 500px" />-->
     </div>
     <div class="row" style="padding: 10px 0px;">
      <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
       <h6 style="text-decoration: underline; color: var(--secondary-color);">
        Home Loan(Floating)
       </h6>
       <p style="padding-top:10px;">
        Max Loan Amount(In Rs.) :
        <span style="color:blue;font-weight:600;">
         आपकी रचना
        </span>
       </p>
       <p>
        Current Rate of Interest:
        <span style="color:blue;font-weight:600;">
         8.40%
        </span>
       </p>
       <p>
        Duration:
        <span style="color:blue;font-weight:600;">
         20 साल
        </span>
       </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
       <h6 style="text-decoration: underline; color: var(--secondary-color);">
        Home Loan(Fixed)
       </h6>
       <p style="padding-top:10px;">
        Max Loan Amount(In Rs.) :
        <span style="color:blue;font-weight:600;">
         आपकी रचना
        </span>
       </p>
       <p>
        Current Rate of Interest:
        <span style="color:blue;font-weight:600;">
         9.50%
        </span>
       </p>
       <p>
        Duration:
        <span style="color:blue;font-weight:600;">
         20 साल
        </span>
       </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
       <h6 style="text-decoration: underline; color: var(--secondary-color);">
        Top-up Housing Loan
       </h6>
       <p style="padding-top:10px;">
        Max Loan Amount(In Rs.) :
        <span style="color:blue;font-weight:600;">
         स्थिति के आधार पर 30lk
        </span>
       </p>
       <p>
        Current Rate of Interest:
        <span style="color:blue;font-weight:600;">
         10% तय 9% फ्लोटिंग
        </span>
       </p>
       <p>
        Duration:
        <span style="color:blue;font-weight:600;">
         20 साल
        </span>
       </p>
      </div>
     </div>
    </div>
    <div class="tab-pane fade" id="vehicleLoans">
     <h4>
      वाहन ऋण
     </h4>
     <p>
      एक शीर्ष बैंक होने के नाते, UPCB न केवल खुदरा ग्राहकों की जरूरतों को, बल्कि किसानों, अन्य जिला सहकारी बैंकों, व्यापार और सेवा क्षेत्र और मध्यम / छोटे पैमाने पर उद्योगों की भी जरूरत है। UPCB आपकी व्यक्तिगत आवश्यकताओं के अनुरूप विशेष रूप से डिज़ाइन किए गए ऋण उत्पादों का एक बड़ा गुलदस्ता प्रदान करता है।
     </p>
     <div class="vc_single_image-wrapper vc_box_shadow_border vc_box_border_grey">
      <img alt="" class="img-thumbnail" decoding="async" height="280" sizes="(max-width: 555px) 100vw, 555px" src="images/VEHICLE LOANS.png" title="internet-banking" width="380"/>
      <!--<img width="500" height="350" src="images/VEHICLE LOANS.png" class="vc_single_image-img attachment-large" alt="" decoding="async" title="Vehicle Loans_500x350" sizes="(max-width: 500px) 100vw, 500px" />-->
     </div>
     <div class="row" style="padding:35px 0px;">
      <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
       <h6 style="text-decoration: underline; color: var(--secondary-color);">
        Car Loan(Piloting)
       </h6>
       <p style="padding-top:10px;">
        Max Loan Amount(In Rs.) :
        <span style="color:blue;font-weight:600;">
         20lk
        </span>
       </p>
       <p>
        Current Rate of Interest:
        <span style="color:blue;font-weight:600;">
         8.75%
        </span>
       </p>
       <p>
        Duration:
        <span style="color:blue;font-weight:600;">
         07 साल
        </span>
       </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
       <h6 style="text-decoration: underline; color: var(--secondary-color);">
        Two Wheeler
       </h6>
       <p style="padding-top:10px;">
        Max Loan Amount(In Rs.) :
        <span style="color:blue;font-weight:600;">
         2.50LK
        </span>
       </p>
       <p>
        Current Rate of Interest:
        <span style="color:blue;font-weight:600;">
         9%
        </span>
       </p>
       <p>
        Duration:
        <span style="color:blue;font-weight:600;">
         03 साल
        </span>
       </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
       <h6 style="text-decoration: underline; color: var(--secondary-color);">
        Vehicles
       </h6>
       <p style="padding-top:10px;">
        Max Loan Amount(In Rs.) :
        <span style="color:blue;font-weight:600;">
         10.00 एलके
        </span>
       </p>
       <p>
        Current Rate of Interest:
        <span style="color:blue;font-weight:600;">
         10%
        </span>
       </p>
       <p>
        Duration:
        <span style="color:blue;font-weight:600;">
         05 साल
        </span>
       </p>
      </div>
     </div>
    </div>
    <div class="tab-pane fade" id="personalLoans">
     <h4>
      व्यक्तिगत ऋण
     </h4>
     <p>
      एक शीर्ष बैंक होने के नाते, यूपीसीबी न केवल खुदरा ग्राहकों की जरूरतों को पूरा करता है, बल्कि किसानों, अन्य जिला सहकारी बैंकों, व्यापार और सेवा क्षेत्र और मध्यम / छोटे पैमाने पर उद्योगों की भी। UPCB आपकी व्यक्तिगत आवश्यकताओं के अनुरूप विशेष रूप से डिज़ाइन किए गए ऋण उत्पादों का एक बड़ा गुलदस्ता प्रदान करता है।
     </p>
     <div class="vc_single_image-wrapper vc_box_shadow_border vc_box_border_grey">
      <img alt="" class="img-thumbnail" decoding="async" height="280" sizes="(max-width: 555px) 100vw, 555px" src="images/PERSONAL consumer goods LOANS.png" title="internet-banking" width="380"/>
      <!--<img width="500" height="350" src="images/PERSONAL consumer goods LOANS.png" class="vc_single_image-img attachment-large" alt="" decoding="async" title="Personal_Consumer Goods Loans_500x350" sizes="(max-width: 500px) 100vw, 500px" />
 -->
     </div>
     <div class="row" style="padding: 35px 0px;">
      <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
       <h6 style="text-decoration: underline; color: var(--secondary-color);">
        PERSONAL LOANS
       </h6>
       <p style="padding-top:10px;">
        Max Loan Amount(In Rs.) :
        <span style="color:blue;font-weight:600;">
         10lk
        </span>
       </p>
       <p>
        Current Rate of Interest:
        <span style="color:blue;font-weight:600;">
         11%
        </span>
       </p>
       <p>
        Duration:
        <span style="color:blue;font-weight:600;">
         05 साल
        </span>
       </p>
      </div>
     </div>
    </div>
    <div class="tab-pane fade" id="educationLoans">
     <h4>
      शिक्षा ऋण
     </h4>
     <p>
      एक शीर्ष बैंक होने के नाते, UPCB न केवल खुदरा ग्राहकों की जरूरतों को, बल्कि किसानों, अन्य जिला सहकारी बैंकों, व्यापार और सेवा क्षेत्र और मध्यम / छोटे पैमाने पर उद्योगों की भी जरूरत है। UPCB आपकी व्यक्तिगत आवश्यकताओं के अनुरूप विशेष रूप से डिज़ाइन किए गए ऋण उत्पादों का एक बड़ा गुलदस्ता प्रदान करता है।
     </p>
     <div class="vc_single_image-wrapper vc_box_shadow_3d vc_box_border_grey">
      <img alt="" class="img-thumbnail" decoding="async" height="280" sizes="(max-width: 555px) 100vw, 555px" src="images/educationloan.png" title="internet-banking" width="380"/>
      <!--<img width="500" height="350" src="images/educationloan.png" class="vc_single_image-img attachment-full" alt="" decoding="async" title="Higher Education Loan_OD_500x350" sizes="(max-width: 500px) 100vw, 500px" />
  -->
     </div>
     <div class="row" style="padding: 35px 0px;">
      <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
       <h6 style="text-decoration: underline; color: var(--secondary-color);">
        EDUCATION LOANS
       </h6>
       <p style="padding-top:10px;">
        Max Loan Amount(In Rs.) :
        <span style="color:blue;font-weight:600;">
         अभिभावक की क्षमता या शिक्षा की लागत का 75%
        </span>
       </p>
       <p>
        Current Rate of Interest:
        <span style="color:blue;font-weight:600;">
         9%
        </span>
       </p>
       <p>
        Duration:
        <span style="color:blue;font-weight:600;">
         05 साल
        </span>
       </p>
      </div>
     </div>
    </div>
    <div class="tab-pane fade" id="agriLoans">
     <h4>
      कृषि ऋण
     </h4>
     <p>
      एक शीर्ष बैंक होने के नाते, UPCB न केवल खुदरा ग्राहकों की जरूरतों को, बल्कि किसानों, अन्य जिला सहकारी बैंकों, व्यापार और सेवा क्षेत्र और मध्यम / छोटे पैमाने पर उद्योगों की भी जरूरत है। UPCB आपकी व्यक्तिगत आवश्यकताओं के अनुरूप विशेष रूप से डिज़ाइन किए गए ऋण उत्पादों का एक बड़ा गुलदस्ता प्रदान करता है।
     </p>
     <div class="vc_single_image-wrapper vc_box_shadow_border vc_box_border_grey">
      <img alt="" class="img-thumbnail" decoding="async" height="280" sizes="(max-width: 555px) 100vw, 555px" src="images/agriloans.png" title="internet-banking" width="380"/>
      <!--<img width="500" height="350" src="images/agriloans.png" class="vc_single_image-img attachment-large" alt="" decoding="async" title="Agriculture Loans_500x350" sizes="(max-width: 500px) 100vw, 500px" />
  -->
     </div>
     <div class="row" style="padding:35px 0px;">
      <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
       <h6 style="text-decoration: underline; color: var(--secondary-color);">
        Agri Clinics and Agri Business Center
       </h6>
       <p style="padding-top:10px;">
        Max Loan Amount(In Rs.) :
        <span style="color:blue;font-weight:600;">
         7.5lk तक
        </span>
       </p>
       <p>
        Current Rate of Interest:
        <span style="color:blue;font-weight:600;">
         9%
        </span>
       </p>
       <p>
        Duration:
        <span style="color:blue;font-weight:600;">
         04 साल
        </span>
       </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
       <h6 style="text-decoration: underline; color: var(--secondary-color);">
        Renewable Energy
       </h6>
       <p style="padding-top:10px;">
        Max Loan Amount(In Rs.) :
        <span style="color:blue;font-weight:600;">
         5lk तक
        </span>
       </p>
       <p>
        Current Rate of Interest:
        <span style="color:blue;font-weight:600;">
         8.25% - 9%
        </span>
       </p>
       <p>
        Duration:
        <span style="color:blue;font-weight:600;">
         05 साल
        </span>
       </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
       <h6 style="text-decoration: underline; color: var(--secondary-color);">
        Agro Processing
       </h6>
       <p style="padding-top:10px;">
        Max Loan Amount(In Rs.) :
        <span style="color:blue;font-weight:600;">
         40.00 एलके तक
        </span>
       </p>
       <p>
        Current Rate of Interest:
        <span style="color:blue;font-weight:600;">
         9%
        </span>
       </p>
       <p>
        Duration:
        <span style="color:blue;font-weight:600;">
         अधिस्थगन की अवधि 06 महीने + 18 महीने
        </span>
       </p>
      </div>
     </div>
    </div>
    <div class="tab-pane fade" id="mortgage">
     <h4>
      गिरवी रखकर लिया गया ऋण
     </h4>
     <p>
      एक शीर्ष बैंक होने के नाते, UPCB न केवल खुदरा ग्राहकों की जरूरतों को, बल्कि किसानों, अन्य जिला सहकारी बैंकों, व्यापार और सेवा क्षेत्र और मध्यम / छोटे पैमाने पर उद्योगों की भी जरूरत है। UPCB आपकी व्यक्तिगत आवश्यकताओं के अनुरूप विशेष रूप से डिज़ाइन किए गए ऋण उत्पादों का एक बड़ा गुलदस्ता प्रदान करता है।
     </p>
     <div class="vc_single_image-wrapper vc_box_shadow_3d vc_box_border_grey">
      <img alt="" class="img-thumbnail" decoding="async" height="280" sizes="(max-width: 555px) 100vw, 555px" src="images/MORTGAGE LOAN .png" title="internet-banking" width="380"/>
      <!--<img width="500" height="350" src="images/MORTGAGE LOAN .png" alt="" decoding="async" title="Security Mortgage Loan_OD_500x350" sizes="(max-width: 500px) 100vw, 500px" />-->
     </div>
     <div class="row" style="padding: 35px 0px;">
      <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
       <h6 style="text-decoration: underline; color: var(--secondary-color);">
        LOANS Against Property
       </h6>
       <p style="padding-top:10px;">
        Max Loan Amount(In Rs.) :
        <span style="color:blue;font-weight:600;">
         60lk
        </span>
       </p>
       <p>
        Current Rate of Interest:
        <span style="color:blue;font-weight:600;">
         10.50%
        </span>
       </p>
       <p>
        Duration:
        <span style="color:blue;font-weight:600;">
         पन्द्रह साल
        </span>
       </p>
      </div>
     </div>
    </div>
    <div class="tab-pane fade" id="institutionLoans">
     <h4>
      संस्था ऋण
     </h4>
     <p>
      एक शीर्ष बैंक होने के नाते, यूपीसीबी न केवल खुदरा ग्राहकों की जरूरतों को पूरा करता है, बल्कि किसानों, अन्य जिला सहकारी बैंकों, व्यापार और सेवा क्षेत्र और मध्यम / छोटे पैमाने पर उद्योगों की भी। UPCB आपकी व्यक्तिगत आवश्यकताओं के अनुरूप विशेष रूप से डिज़ाइन किए गए ऋण उत्पादों का एक बड़ा गुलदस्ता प्रदान करता है।
     </p>
     <div class="vc_single_image-wrapper vc_box_shadow_border vc_box_border_grey">
      <img alt="" class="img-thumbnail" decoding="async" height="280" sizes="(max-width: 555px) 100vw, 555px" src="images/institutionalloans.png" title="internet-banking" width="380"/>
      <!--<img width="500" height="350" src="images/institutionalloans.png" class="vc_single_image-img attachment-large" alt="" decoding="async" title="Institutional Loans_500x350" sizes="(max-width: 500px) 100vw, 500px" />-->
     </div>
     <p style="padding-top:10px">
      Maximum Loan Amount(In Rs.) :
      <span style="color:blue;font-weight:600;">
       75,00,000/तक--
      </span>
     </p>
     <p>
      Fixed Interest Rate:
      <span style="color:blue;font-weight:600;">
       9.00%* पी.ए. से आगे
      </span>
     </p>
     <p>
      Floating Interest Rate:
      <span style="color:blue;font-weight:600;">
       9.40%* पी.ए. से आगे
      </span>
     </p>
     <p>
      Max. Term :
      <span style="color:blue;font-weight:600;">
       20 साल
      </span>
     </p>
    </div>
    <div class="tab-pane fade" id="schemeLoans">
     <h4>
      योजना ऋण
     </h4>
     <p>
      एक शीर्ष बैंक होने के नाते, यूपीसीबी न केवल खुदरा ग्राहकों की जरूरतों को पूरा करता है, बल्कि किसानों, अन्य जिला सहकारी बैंकों, व्यापार और सेवा क्षेत्र और मध्यम / छोटे पैमाने पर उद्योगों की भी। UPCB आपकी व्यक्तिगत आवश्यकताओं के अनुरूप विशेष रूप से डिज़ाइन किए गए ऋण उत्पादों का एक बड़ा गुलदस्ता प्रदान करता है।
     </p>
     <div class="vc_single_image-wrapper vc_box_shadow_border vc_box_border_grey">
      <img alt="" class="img-thumbnail" decoding="async" height="280" sizes="(max-width: 555px) 100vw, 555px" src="images/schemeloans.png" title="internet-banking" width="380"/>
      <!--<img width="500" height="350" src="images/schemeloans.png" alt="" decoding="async" title="JLG_SHG Scheme Loans_500x350" sizes="(max-width: 500px) 100vw, 500px" />-->
     </div>
     <p style="padding-top:10px">
      Maximum Loan Amount(In Rs.) :
      <span style="color:blue;font-weight:600;">
       75,00,000/तक--
      </span>
     </p>
     <p>
      Fixed Interest Rate:
      <span style="color:blue;font-weight:600;">
       9.00%* पी.ए. से आगे
      </span>
     </p>
     <p>
      Floating Interest Rate:
      <span style="color:blue;font-weight:600;">
       9.40%* पी.ए. से आगे
      </span>
     </p>
     <p>
      Max. Term :
      <span style="color:blue;font-weight:600;">
       20 साल
      </span>
     </p>
    </div>
    <div class="tab-pane fade" id="farmingLoans">
     <h4>
      कृषि ऋण
     </h4>
     <p>
     </p>
     <div class="vc_single_image-wrapper vc_box_shadow_border vc_box_border_grey">
      <img alt="" class="img-thumbnail" decoding="async" height="280" sizes="(max-width: 555px) 100vw, 555px" src="images/farm.png" title="internet-banking" width="380"/>
      <!--<img width="500" height="350" src="images/farm.png" class="vc_single_image-img attachment-large" alt="" decoding="async" title="Vehicle Loans_500x350" sizes="(max-width: 500px) 100vw, 500px" />-->
     </div>
     <div class="row" style="padding:35px 0px;">
      <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
       <h6 style="text-decoration: underline; color: var(--secondary-color);">
        Dairy
       </h6>
       <p style="padding-top:10px;">
        Max Loan Amount(In Rs.) :
        <span style="color:blue;font-weight:600;">
         0.80LK - 4.80LK
        </span>
       </p>
       <p>
        Current Rate of Interest:
        <span style="color:blue;font-weight:600;">
         9%
        </span>
       </p>
       <p>
        Duration:
        <span style="color:blue;font-weight:600;">
         03 साल
        </span>
       </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
       <h6 style="text-decoration: underline; color: var(--secondary-color);">
        Poultry
       </h6>
       <p style="padding-top:10px;">
        Max Loan Amount(In Rs.) :
        <span style="color:blue;font-weight:600;">
         2.50LK तक
        </span>
       </p>
       <p>
        Current Rate of Interest:
        <span style="color:blue;font-weight:600;">
         9%
        </span>
       </p>
       <p>
        Duration:
        <span style="color:blue;font-weight:600;">
         03 साल
        </span>
       </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
       <h6 style="text-decoration: underline; color: var(--secondary-color);">
        Fisheries
       </h6>
       <p style="padding-top:10px;">
        Max Loan Amount(In Rs.) :
        <span style="color:blue;font-weight:600;">
         चिंता
        </span>
       </p>
       <p>
        Current Rate of Interest:
        <span style="color:blue;font-weight:600;">
         9%
        </span>
       </p>
       <p>
        Duration:
        <span style="color:blue;font-weight:600;">
         अधिस्थगन की अवधि 01 वर्ष + 03 वर्ष
        </span>
       </p>
      </div>
     </div>
    </div>
    <div class="tab-pane fade" id="goldLoans">
     <h4>
      स्वर्ण ऋण
     </h4>
     <p>
     </p>
     <div class="vc_single_image-wrapper vc_box_shadow_border vc_box_border_grey">
      <img alt="" class="img-thumbnail" decoding="async" height="280" sizes="(max-width: 555px) 100vw, 555px" src="images/goldloan.png" title="internet-banking" width="380"/>
      <!--<img width="500" height="350" src="images/goldloan.png" class="vc_single_image-img attachment-large" alt="" decoding="async" title="Vehicle Loans_500x350" sizes="(max-width: 500px) 100vw, 500px" />-->
     </div>
     <div class="row" style="padding:35px 0px;">
      <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
       <h6 style="text-decoration: underline; color: var(--secondary-color);">
        Gold/Gold Jewelery
       </h6>
       <p style="padding-top:10px;">
        Max Loan Amount(In Rs.) :
        <span style="color:blue;font-weight:600;">
         चिंता
        </span>
       </p>
       <p>
        Current Rate of Interest:
        <span style="color:blue;font-weight:600;">
         9%
        </span>
       </p>
       <p>
        Duration:
        <span style="color:blue;font-weight:600;">
         01 वर्ष
        </span>
       </p>
      </div>
     </div>
    </div>
    <div class="tab-pane fade" id="businessLoans">
     <h4>
      व्यापारिक ऋण
     </h4>
     <p>
     </p>
     <div class="vc_single_image-wrapper vc_box_shadow_border vc_box_border_grey">
      <img alt="" class="img-thumbnail" decoding="async" height="280" sizes="(max-width: 555px) 100vw, 555px" src="images/business.png" title="internet-banking" width="380"/>
      <!--<img width="500" height="350" src="images/business.png" class="vc_single_image-img attachment-large" alt="" decoding="async" title="Vehicle Loans_500x350" sizes="(max-width: 500px) 100vw, 500px" />-->
     </div>
     <div class="row" style="padding:35px 0px;">
      <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
       <h6 style="text-decoration: underline; color: var(--secondary-color);">
        Traders Loan
       </h6>
       <p style="padding-top:10px;">
        Max Loan Amount(In Rs.) :
        <span style="color:blue;font-weight:600;">
         40lk
        </span>
       </p>
       <p>
        Current Rate of Interest:
        <span style="color:blue;font-weight:600;">
         11%
        </span>
       </p>
       <p>
        Duration:
        <span style="color:blue;font-weight:600;">
         01 साल
        </span>
       </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
       <h6 style="text-decoration: underline; color: var(--secondary-color);">
        Business Term Loan
       </h6>
       <p style="padding-top:10px;">
        Max Loan Amount(In Rs.) :
        <span style="color:blue;font-weight:600;">
         40lk
        </span>
       </p>
       <p>
        Current Rate of Interest:
        <span style="color:blue;font-weight:600;">
         12%
        </span>
       </p>
       <p>
        Duration:
        <span style="color:blue;font-weight:600;">
         05 साल
        </span>
       </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
       <h6 style="text-decoration: underline; color: var(--secondary-color);">
        Over Draft Limit
       </h6>
       <p style="padding-top:10px;">
        Max Loan Amount(In Rs.) :
        <span style="color:blue;font-weight:600;">
         कर्मचारी के वेतन का 10% 5 महीने के लिए या अधिकतम रु। 3lk जो भी कम हो
        </span>
       </p>
       <p>
        Current Rate of Interest:
        <span style="color:blue;font-weight:600;">
         10%
        </span>
       </p>
       <p>
        Duration:
        <span style="color:blue;font-weight:600;">
         01 वर्ष
        </span>
       </p>
      </div>
     </div>
    </div>
    <div class="tab-pane fade" id="yojnaLoans">
     <h4>
      योजना लोन्स
     </h4>
     <p>
     </p>
     <div class="vc_single_image-wrapper vc_box_shadow_border vc_box_border_grey">
      <img alt="" class="img-thumbnail" decoding="async" height="280" sizes="(max-width: 555px) 100vw, 555px" src="images/yojna.png" title="internet-banking" width="380"/>
      <!--<img width="500" height="350" src="images/yojna.png" class="vc_single_image-img attachment-large" alt="" decoding="async" title="Vehicle Loans_500x350" sizes="(max-width: 500px) 100vw, 500px" />-->
     </div>
     <div class="row" style="padding:35px 0px;">
      <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
       <h6 style="text-decoration: underline; color: var(--secondary-color);">
        PM Street Vendors Self Reliant Fund (PM SVANidhi) Scheme
       </h6>
       <p style="padding-top:10px;">
        Max Loan Amount(In Rs.) :
        <span style="color:blue;font-weight:600;">
         0.10LK - 0.50
        </span>
       </p>
       <p>
        Current Rate of Interest:
        <span style="color:blue;font-weight:600;">
         12%
        </span>
       </p>
       <p>
        Duration:
        <span style="color:blue;font-weight:600;">
         अधिस्थगन की अवधि 01 वर्ष + 03 वर्ष
        </span>
       </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
       <h6 style="text-decoration: underline; color: var(--secondary-color);">
        Pradhanmantri Mudra Yojna
       </h6>
       <p style="padding-top:10px;">
        Max Loan Amount(In Rs.) :
        <span style="color:blue;font-weight:600;">
         10lk तक
        </span>
       </p>
       <p>
        Current Rate of Interest:
        <span style="color:blue;font-weight:600;">
         12%
        </span>
       </p>
       <p>
        Duration:
        <span style="color:blue;font-weight:600;">
         05 साल
        </span>
       </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 mb-4 mb-lg-0 ps-lg-4 exta-div" style="padding: 10px;">
       <h6 style="text-decoration: underline; color: var(--secondary-color);">
        Over Draft Limit
       </h6>
       <p style="padding-top:10px;">
        Max Loan Amount(In Rs.) :
        <span style="color:blue;font-weight:600;">
         कर्मचारी के वेतन का 10% 5 महीने के लिए या अधिकतम रु। 3lk जो भी कम हो
        </span>
       </p>
       <p>
        Current Rate of Interest:
        <span style="color:blue;font-weight:600;">
         10%
        </span>
       </p>
       <p>
        Duration:
        <span style="color:blue;font-weight:600;">
         01 वर्ष
        </span>
       </p>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
<!---sidebar end-->
