<!--images section-->
<div class="pagew" style="background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(0, 0, 0, 0.2)  url(images/recruitment.jpeg) no-repeat center;background-size:100% 100%; background-position: center;">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-3">
    <div class="page-breadcrumb">
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <ol class="breadcrumb breadmenu" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1))">
      <span property="itemListElement" typeof="ListItem">
       <a class="home" href="index.html" property="item" title="Go to UPCB." typeof="WebPage">
        <span property="name" style="color:#ffffff;">
         यूपीसीबी
        </span>
       </a>
       <meta content="1" property="position"/>
      </span>
      <span style="color:#ffffff">
       &gt;
      </span>
      <span class="text-uppercase" property="itemListElement" typeof="ListItem">
       <a class="home" property="item" style="color: #ffffff;" typeof="WebPage">
        <span property="name">
         महत्वपूर्ण लिंक
        </span>
       </a>
       <meta content="1" property="position"/>
      </span>
      <span style="color:#ffffff">
       &gt;
      </span>
      <span property="itemListElement" typeof="ListItem">
       <span class="post post-page current-item breadmenu text-uppercase" property="name">
        भर्ती
       </span>
       <meta content="https://upcbl.in/services.html" property="url"/>
       <meta content="2" property="position"/>
      </span>
     </ol>
    </div>
   </div>
   <div class="col-md-9">
   </div>
  </div>
 </div>
</div>
<!--images section end-->
<!--sidebar start-->
<section class="recruitment" id="">
 <div class="container bgdefine">
  <div class="content_area pt-4">
   <!-- InstanceBeginEditable name="content" -->
   <div class="loan-rate-table table-responsive">
    <table class="table table-striped table-light" style="background: #FFFFFF;">
     <tbody>
      <h4 class="pt-4">
       भर्ती
      </h4>
      <tr>
       <td>
        <p>
         ➤
         <a href="tender/vacancy_16032023.pdf" target="_blank">
          प्रारंभिक परीक्षा के लिए पाठ्यक्रम की सामग्री के लिए कोरिगेंडम और उत्तर प्रदेश सहकारी बैंक में प्रत्यक्ष भर्ती से संबंधित मुख्य परीक्षा
         </a>
        </p>
       </td>
      </tr>
      <tr>
       <td>
        <p>
         ➤
         <a href="tender/vacancy_170223.pdf" target="_blank">
          उत्तर प्रदेश सहकारी बैंक में प्रत्यक्ष भर्ती से संबंधित प्रारंभिक परीक्षा और मुख्य परीक्षा के लिए सिलेबस सामग्री
         </a>
        </p>
       </td>
      </tr>
      <tr>
       <td>
        <p>
         ➤
         <a href="tender/Proforma_140323.pdf" target="_blank">
          UPCBL, लखनऊ में CTO और CFO के पद के लिए भारत के नागरिकों से आवेदन आमंत्रित किए जाते हैं।
         </a>
        </p>
       </td>
      </tr>
      <tr>
       <td>
        <p>
         ➤
         <a href="tender/advisor_280322.pdf" target="_blank">
          सलाहकार/सलाहकार के पद के लिए आवेदन
         </a>
        </p>
       </td>
      </tr>
      <tr>
       <td>
        <p>
         ➤
         <a href="tender/Recruitment_050821.pdf" target="_blank">
          भर्ती: BDPI सेल के लिए संसाधन व्यक्ति के लिए
         </a>
        </p>
       </td>
      </tr>
      <tr>
       <td>
        <p>
         ➤
         <a href="tender/BDPI_090221.pdf" target="_blank">
          BDPI सेल के लिए दो संसाधन व्यक्ति की आवश्यकता है
         </a>
        </p>
       </td>
      </tr>
      <tr>
       <td>
        <p>
         ➤
         <a href="tender/vancan_09-12-16.pdf" target="_blank">
          भर्ती विज्ञापन संख्या - 02/2016 कक्षा IV के खाली पदों पर
         </a>
        </p>
       </td>
      </tr>
      <tr>
       <td>
        <p>
         ➤
         <a href="tender/extnd_291216.pdf" target="_blank">
          विज्ञापन नंबर 02/2016 से 22.12.2016 से 31122096 के लिए अंतिम तिथि का विस्तार करने के बारे में
         </a>
        </p>
       </td>
      </tr>
     </tbody>
    </table>
   </div>
   <!-- InstanceEndEditable -->
  </div>
 </div>
</section>
<!---sidebar end-->
