<!--images section-->
<div class="pagew" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), rgba(0, 0, 0, 0)  url(images/services/Services2.png) no-repeat center;background-size:100% 100%; background-position: center;">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-3">
    <div class="page-breadcrumb">
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <ol class="breadcrumb breadmenu" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));">
      <span property="itemListElement" typeof="ListItem">
       <a class="home" href="index.html" property="item" title="Go to UPCB." typeof="WebPage">
        <span property="name" style="color:#ffffff;">
         यूपीसीबी
        </span>
       </a>
       <meta content="1" property="position"/>
      </span>
      <span style="color:#ffffff">
       &gt;
      </span>
      <span property="itemListElement" typeof="ListItem">
       <a class="home text-uppercase" href="ourservices.html" property="item" typeof="WebPage">
        <span property="name" style="color:#ffffff;">
         सेवा
        </span>
       </a>
       <meta content="1" property="position"/>
      </span>
      <span style="color:#ffffff">
       &gt;
      </span>
      <span property="itemListElement" typeof="ListItem">
       <span class="post post-page current-item breadmenu text-uppercase" property="name" style="color:#ffffff;">
        एटीएम और शाखाएँ
       </span>
       <meta content="https://upcbl.in/services.html" property="url"/>
       <meta content="2" property="position"/>
      </span>
     </ol>
    </div>
   </div>
   <div class="col-md-9">
   </div>
  </div>
 </div>
</div>
<!--images section end-->
<section class="serviceCharge_wrapper">
 <div class="container">
  <div class="row">
   <div class="mainc tab-content col-lg-12 col-md-12 col-sm-12 mb-4 mb-lg-0 ps-lg-4 bgdefine">
    <!--<div id="home" class="active tab-pane fade in show">
                              <h2 >The right credit card is right here</h2>
                              <p>Looking for a card that earns travel points, cash back, or rewards? Our side-by-side                 comparisons and objective reviews can help you make the smartest decision.</p>
                           
                   </div>
                   <div id="about" class="tab-pane fade">
                        <h2 >The 2nd right credit card is right here</h2>
                              <p>Looking for a card that earns travel points, cash back, or rewards? Our side-by-side                 comparisons and objective reviews can help you make the smartest decision.</p>
                   </div>-->
    <div class="active tab-pane fade in show">
     <h4>
      अनुलग्नक -A (शाखा नोटिस बोर्ड पर प्रदर्शन के लिए)
     </h4>
     <div>
      <table class="table table-striped table-bordered tableContentManner" style="border: 1px solid var(--secondary-color);">
       <thead>
        <tr>
         <th scope="col">
          PARTICULARS
         </th>
         <th scope="col">
          Service Charges – Saving Bank Account – Regular A/c – W.E.F 01/Sep/2018
         </th>
        </tr>
       </thead>
       <tbody>
        <tr>
         <td>
          <p>
           माइक्र चेक-एसबी का मुद्दा
          </p>
         </td>
         <td>
          <p>
           रु। 1.50/- प्रति चेक पत्ती, ए/सी खोलने पर 15 पत्तियां मुक्त
          </p>
         </td>
        </tr>
        <tr>
         <td>
          <p>
           पास बुक का अंक
          </p>
         </td>
         <td>
          <p>
           शून्य
          </p>
         </td>
        </tr>
        <tr>
         <td>
          <p>
           संतुलन प्रमाणपत्र
          </p>
         </td>
         <td>
          <p>
           शून्य
          </p>
         </td>
        </tr>
        <tr>
         <td>
          <p>
           डुप्लिकेट पास बुक
          </p>
         </td>
         <td>
          <p>
           वर्तमान वित्तीय वर्ष के लिए Rs.25/--
          </p>
         </td>
        </tr>
        <tr>
         <td>
          <p>
           डुप्लिकेट कथन
          </p>
         </td>
         <td>
          <p>
           पिछले वित्तीय वर्षों के लिए प्रति पृष्ठ 10/- रुपये
          </p>
         </td>
        </tr>
        <tr>
         <td>
          <p>
           भुगतान अनुदेश बंद करो
          </p>
         </td>
         <td>
          <p>
           सभी प्रकार के खातों के लिए 25/- प्रति साधन
          </p>
         </td>
        </tr>
        <tr>
         <td>
          <p>
           12 महीने से पहले खाता बंद करना (ए/सी ट्रांसफर शामिल नहीं)
          </p>
         </td>
         <td>
          <p>
           Indivisuals – Rs. 100/-
           <br/>
           Others Rs. 250/-
          </p>
         </td>
        </tr>
        <tr>
         <td>
          <p>
           चेक/ईसीएस लौटे चार्ज - चेक यूएस पर खींचा गया
          </p>
         </td>
         <td>
          <p>
           Rs. 100/-, No charges levied if cheque is
returned unpaid due to techincal reason.
           <br/>
           Others Rs. 250/-
          </p>
         </td>
        </tr>
        <tr>
         <td>
          <p>
           चेक/बिल जमा किए गए अवैतनिक
          </p>
         </td>
         <td>
          <p>
           रु। 100 + अन्य बैंक शुल्क यदि कोई हो, नहीं 
 यदि चेक वापस आ गया तो शुल्क लगाए गए 
 तकनीकी कारण के कारण अवैतनिक।
          </p>
         </td>
        </tr>
        <tr>
         <td>
          <p>
           हस्ताक्षर सत्यापन &lt;
          </p>
         </td>
         <td>
          Rs. 25/-&lt;
         </td>
        </tr>
        <tr>
         <td>
          <p>
           प्रमाण पत्र न दें
          </p>
         </td>
         <td>
          <p>
           Priority sector Nil
           <br/>
           Others Rs. 25/- per certificate
          </p>
         </td>
        </tr>
        <tr>
         <td>
          <p>
           प्रमाण पत्र न दें
          </p>
         </td>
         <td>
          <p>
           शून्य
          </p>
         </td>
        </tr>
        <tr>
         <td>
          <p>
           स्थायी निर्देश स्थापित करना (SI)
          </p>
         </td>
         <td>
          <p>
           शून्य
          </p>
         </td>
        </tr>
        <tr>
         <td>
          <p>
           चेक की रिकॉर्ड कॉपी
          </p>
         </td>
         <td>
          <p>
           रु। 25/- प्रति उदाहरण
          </p>
         </td>
        </tr>
        <tr>
         <td>
          <p>
           पुराने रिकॉर्ड से संबंधित पूछताछ (13 महीने से अधिक पुराना)
          </p>
         </td>
         <td>
          <p>
           रु। 25/- प्रति आइटम
          </p>
         </td>
        </tr>
        <tr>
         <td>
          <p>
           न्यूनतम संतुलन (औसत तिमाही संतुलन)
          </p>
         </td>
         <td>
          <p>
           SB A/C Rs.500/- के लिए
          </p>
         </td>
        </tr>
        <tr>
         <td>
          <p>
           न्यूनतम औसत तिमाही शेष नहीं बनाए रखने के लिए शुल्क
          </p>
         </td>
         <td>
          <p>
           शून्य
          </p>
         </td>
        </tr>
        <tr>
         <td>
          <p>
           मांग ड्राफ्ट/बैंकर्स का मुद्दा अन्य बैंक पर खींचा गया चेक/चेक
          </p>
         </td>
         <td>
          <p>
           न्यूनतम रु। 20/- या 0.20% डीडी राशि, जो भी अधिक हो
          </p>
         </td>
        </tr>
        <tr>
         <td>
          <p>
           पुनर्मूल्यांकन / रद्दीकरण / जारी करना / डुप्लिकेट ड्राफ्ट / बैंकरों की जाँच / अन्य बैंकों पर खींचा गया चेक / चेक
          </p>
         </td>
         <td>
          <p>
           रु। 25 /- प्रति ड्राफ्ट / बैंकर्स अन्य बैंकों पर चेक / ड्रा
          </p>
         </td>
        </tr>
        <tr>
         <td>
          <p>
           संग्रह के लिए बाहर की जाँच / बिल
          </p>
         </td>
         <td>
          <ol type="a">
           <li>
            <p>
             Rs.5000/- रुपये तक। 20/-
            </p>
           </li>
           <li>
            <p>
             Rs.5001/- से 10000/- रु। 40/-
            </p>
           </li>
           <li>
            <p>
             Rs.10001/- से 100000/- रु। 80/-
            </p>
           </li>
           <li>
            <p>
             Rs.1,00,001/- और ऊपर रु। 120/-
            </p>
           </li>
          </ol>
          <p>
           बैंक आरबीआई द्वारा जारी किए गए दिशानिर्देशों के अनुसार विज्ञापन ले सकता है
          </p>
         </td>
        </tr>
        <tr>
         <td>
          <p>
           संग्रह के लिए बाहर की ओर बिल (OBC)
          </p>
         </td>
         <td>
          <p>
           डीडी शुल्क के अनुसार
          </p>
         </td>
        </tr>
        <tr>
         <td>
          <p>
           एमटी का मुद्दा
          </p>
         </td>
         <td>
          <p>
           शून्य
          </p>
         </td>
        </tr>
        <tr>
         <td>
          <p>
           आरटीजीएस
          </p>
         </td>
         <td>
          <p>
           शून्य
          </p>
         </td>
        </tr>
        <tr>
         <td>
          <p>
           तेल
          </p>
         </td>
         <td>
          <p>
           शून्य
          </p>
         </td>
        </tr>
        <tr>
         <td>
          <p>
           एसएमएस अलर्ट प्रभार
          </p>
         </td>
         <td>
          <p>
           शून्य
          </p>
         </td>
        </tr>
        <tr>
         <td>
          <p>
           आईएमपीएस प्रभार
          </p>
         </td>
         <td>
          <p>
           शून्य
          </p>
         </td>
        </tr>
        <tr>
         <td>
          <p>
           INB पिन प्रतिस्थापन
          </p>
         </td>
         <td>
          <p>
           रु। 50/-
          </p>
         </td>
        </tr>
       </tbody>
      </table>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
