<!--images section-->
<div class="pagew" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), rgba(0, 0, 0, 0)  url(images/services/servicesbank.png) no-repeat center;background-size:100% 100%; background-position: center;">
 <div class="container">
  <div class="row">
   <div class="col-md-3">
    <div class="page-breadcrumb">
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <p>
     </p>
     <ol class="breadcrumb breadmenu" style="background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))">
      <span property="itemListElement" typeof="ListItem">
       <a class="home" href="index.html" property="item" title="Go to UPCB." typeof="WebPage">
        <span property="name" style="color:#ffffff;">
         यूपीसीबी
        </span>
       </a>
       <meta content="1" property="position"/>
      </span>
      <span style="color:#ffffff;">
       &gt;
      </span>
      <span property="itemListElement" typeof="ListItem">
       <span class="post post-page current-item breadmenu text-uppercase" property="name">
        सेवाएं
       </span>
       <meta content="https://upcbl.in/services.html" property="url"/>
       <meta content="2" property="position"/>
      </span>
     </ol>
    </div>
   </div>
   <div class="col-md-9">
   </div>
  </div>
 </div>
</div>
<!--images section end-->
<!-- Our Services section -->
<section class="Ourservices_wrapper" id="services" style="background-color:rgb(255, 206, 183);">
 <div class="container-fluid">
  <div class="row">
   <div class="col-sm-12 section-title text-center mb-3">
    <h3 style="z-index: 9;">
     हमारी सेवाएँ
    </h3>
   </div>
  </div>
  <div class="row m-0">
   <div class="col-md-3 mb-3 mb-lg-0">
    <div class="Ourservices-item">
     <img class="img-fluid" decoding="async" src="./images/services/ATM.jpg"/>
     <div class="Ourservices-item-wrap">
      <div class="Ourservices-content">
       <h5 class="text-white mb-lg-3 text-decoration-underline">
        एटीएम
       </h5>
       <p class="text-white">
        एटीएम
       </p>
       <a class="main-btn border-white text-white" href="atms.html">
        अधिक जानते हैं
       </a>
      </div>
     </div>
    </div>
   </div>
   <div class="col-md-3 mb-3 mb-lg-0">
    <div class="Ourservices-item">
     <img class="img-fluid" decoding="async" src="./images/upi.jpeg"/>
     <div class="Ourservices-item-wrap">
      <div class="Ourservices-content">
       <h5 class="text-white mb-lg-3 text-decoration-underline">
        है मैं
       </h5>
       <p class="text-white">
        एकीकृत भुगतान इंटरफ़ेस
       </p>
       <a class="main-btn border-white text-white" href="digitalBanking.html">
        अधिक जानते हैं
       </a>
      </div>
     </div>
    </div>
   </div>
   <div class="col-md-3 mb-3 mb-lg-0">
    <div class="Ourservices-item">
     <img class="img-fluid" decoding="async" src="./images/services/neft.jpg"/>
     <div class="Ourservices-item-wrap">
      <div class="Ourservices-content">
       <h5 class="text-white mb-lg-3 text-decoration-underline">
        तेल
       </h5>
       <p class="text-white">
        राष्ट्रीय इलेक्ट्रॉनिक निधि हस्तांतरण
       </p>
       <a class="main-btn border-white text-white" href="digitalBanking.html">
        अधिक जानते हैं
       </a>
      </div>
     </div>
    </div>
   </div>
   <div class="col-md-3 mb-3 mb-lg-0">
    <div class="Ourservices-item">
     <img class="img-fluid" decoding="async" src="./images/services/rtgs.jpg"/>
     <div class="Ourservices-item-wrap">
      <div class="Ourservices-content">
       <h5 class="text-white mb-lg-3 text-decoration-underline">
        आरटीजीएस
       </h5>
       <p class="text-white">
        रियल टाइम ग्रॉस सेटलमेंट
       </p>
       <a class="main-btn border-white text-white" href="digitalBanking.html">
        अधिक जानते हैं
       </a>
      </div>
     </div>
    </div>
   </div>
  </div>
  <p>
  </p>
  <div class="row m-0">
   <div class="col-md-3 mb-3 mb-lg-0">
    <div class="Ourservices-item">
     <img class="img-fluid" decoding="async" src="./images/imps.png"/>
     <div class="Ourservices-item-wrap">
      <div class="Ourservices-content">
       <h5 class="text-white mb-lg-3 text-decoration-underline">
        आईएमपी
       </h5>
       <p class="text-white">
        तत्काल भुगतान प्रणाली
       </p>
       <a class="main-btn border-white text-white" href="digitalBanking.html">
        अधिक जानते हैं
       </a>
      </div>
     </div>
    </div>
   </div>
   <div class="col-md-3 mb-3 mb-lg-0">
    <div class="Ourservices-item">
     <img class="img-fluid" decoding="async" src="./images/services/internet-banking.jpeg"/>
     <div class="Ourservices-item-wrap">
      <div class="Ourservices-content">
       <h5 class="text-white mb-lg-3 text-decoration-underline">
        अंतराजाल लेन - देन
       </h5>
       <p class="text-white">
        24 x 7 बैंकिंग सेवाओं तक पहुंच
       </p>
       <a class="main-btn border-white text-white" href="digitalBanking.html">
        अधिक जानते हैं
       </a>
      </div>
     </div>
    </div>
   </div>
   <div class="col-md-3 mb-3 mb-lg-0">
    <div class="Ourservices-item">
     <img class="img-fluid" decoding="async" src="./images/services/mobile-banking.jpeg"/>
     <div class="Ourservices-item-wrap">
      <div class="Ourservices-content">
       <h5 class="text-white mb-lg-3 text-decoration-underline">
        मोबाइल बैंकिंग
       </h5>
       <p class="text-white">
        24 x 7 बैंकिंग सेवाओं तक पहुंच
       </p>
       <a class="main-btn border-white text-white" href="digitalBanking.html">
        अधिक जानते हैं
       </a>
      </div>
     </div>
    </div>
   </div>
   <div class="col-md-3 mb-3 mb-lg-0">
    <div class="Ourservices-item">
     <img class="img-fluid" decoding="async" src="./images/services/nabard-schemes.jpg"/>
     <div class="Ourservices-item-wrap">
      <div class="Ourservices-content">
       <h5 class="text-white mb-lg-3 text-decoration-underline">
        नाबर्ड योजनाएँ
       </h5>
       <p class="text-white">
        योजनाओं
       </p>
       <a class="main-btn border-white text-white" href="digitalBanking.html">
        अधिक जानते हैं
       </a>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
