<div class="pagew" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), rgba(0, 0, 0, 0)  url(/images/applicationform.png) no-repeat center;background-size:100% 100%; background-position: center;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="page-breadcrumb">
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <ol class="breadcrumb breadmenu" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1))">
            <span property="itemListElement" typeof="ListItem">
              <a class="home" href="index.html" property="item" title="Go to UPCB." typeof="WebPage">
                <span property="name" style="color:#ffffff;">
                  यूपीसीबी
                </span>
              </a>
              <meta content="1" property="position" />
            </span>
            <span style="color:#ffffff">
              >
            </span>
            <span class="text-uppercase" property="itemListElement" typeof="ListItem">
              <a class="home" property="item" style="color: #ffffff;" typeof="WebPage">
                <span property="name">
                  महत्वपूर्ण लिंक
                </span>
              </a>
              <meta content="1" property="position" />
            </span>
            <span style="color:#ffffff">
              >
            </span>
            <span property="itemListElement" typeof="ListItem">
              <span class="post post-page current-item breadmenu text-uppercase" property="name" style="color: #ffffff;">
                डाउनलोड फॉर्म
              </span>
              <meta content="https://upcbl.in/services.html" property="url" />
              <meta content="2" property="position" />
            </span>
          </ol>
        </div>
      </div>
      <div class="col-md-9">
      </div>
    </div>
  </div>
</div>
<!-- </div>
    </div> -->
<!--sidebar start-->
<section class="downloadpage" id="">
  <div class="container">
    <div class="row">
      <div class="mainc tab-content col-lg-12 col-md-12 col-sm-12 mb-4 mb-lg-0 ps-lg-4 bgdefine">
        <h4>
          यहां महत्वपूर्ण फॉर्म डाउनलोड करें
        </h4>
        <div class="wpb_text_column wpb_content_element vc_custom_1646221618454">
          <div class="wpb_wrapper">
            <div class="loan-rate-table table-responsive">
              <table class="table table-striped table-light table-bordered tableContentManner">
                <thead>
                  <tr>
                    <th scope="col">
                      S. NO.
                    </th>
                    <th scope="col">
                      Item Description
                    </th>
                    <th>
                      View File/ Attachments
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      1
                    </td>
                    <td class="DownloadPageItemDes">
                      <p>
                        ग्राहक अनुरोध प्रपत्र
                      </p>
                    </td>
                    <td class="text-center">
                      <!--<a class="my-button" href="forms/Customer-Request-Form.pdf" target="_blank" rel="noopener noreferrer">View/Download</a>-->
                      <div>
                        <a class="btn" href="saving.html" target="_blank">
                          डाउनलोड देखें
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      2
                    </td>
                    <td>
                      <p>
                        खाता खोलना
                      </p>
                    </td>
                    <td class="text-center">
                      <a class="my-button" href="forms/Account-Opening-Form.pdf" rel="noopener noreferrer" target="_blank">
                        डाउनलोड देखें
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      3
                    </td>
                    <td>
                      <p>
                        ऋण एप्लिकेशन फॉर्म
                      </p>
                    </td>
                    <td class="text-center">
                      <a class="my-button" href="forms/LoanApplicationForm.pdf" rel="noopener noreferrer" target="_blank">
                        डाउनलोड देखें
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      4
                    </td>
                    <td>
                      <p>
                        आरटीजीएस नेफ्ट फॉर्म
                      </p>
                    </td>
                    <td class="text-center">
                      <a class="my-button" href="forms/RTGS-NEFT-IMPS-FORM.pdf" rel="noopener noreferrer" target="_blank">
                        डाउनलोड देखें
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      5
                    </td>
                    <td>
                      <p>
                        मूल्य वर्धित सेवा प्रपत्र (एटीएम, इंटरनेट/मोबाइल बैंकिंग)
                      </p>
                    </td>
                    <td class="text-center">
                      <a class="my-button" href="forms/Value-added-services-form_new.pdf" rel="noopener noreferrer" target="_blank">
                        डाउनलोड देखें
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      6
                    </td>
                    <td>
                      <p>
                        इंटरनेट बैंकिंग फॉर्म - खुदरा उपयोगकर्ता
                      </p>
                    </td>
                    <td class="text-center">
                      <a class="my-button" href="forms/Internet-Banking-form.pdf" rel="noopener noreferrer" target="_blank">
                        डाउनलोड देखें
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      7
                    </td>
                    <td>
                      <p>
                        निष्क्रिय/इन-ऑपरेटिव खाते के सक्रियण के लिए अनुरोध
                      </p>
                    </td>
                    <td class="text-center">
                      <a class="my-button" href="forms/Account-Activation-Request.pdf" rel="noopener noreferrer" target="_blank">
                        डाउनलोड देखें
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      8
                    </td>
                    <td>
                      <p>
                        नामांकित जोड़, संशोधन और विलोपन फॉर्म
                      </p>
                    </td>
                    <td class="text-center">
                      <a class="my-button" href="forms/Nominee-Addition-Modification-Deletion.pdf" rel="noopener noreferrer" target="_blank">
                        डाउनलोड देखें
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      9
                    </td>
                    <td>
                      <p>
                        आधार लिंकिंग फॉर्म
                      </p>
                    </td>
                    <td class="text-center">
                      <a class="my-button" href="forms/Aadhaar-Linking-Form.pdf" rel="noopener noreferrer" target="_blank">
                        डाउनलोड देखें
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <h6>
          *For More Information Contact us at Land-line: 0522-2223806
        </h6>
      </div>
    </div>
  </div>
</section>
<!---sidebar end-->