<!-- 3Banner section -->
<section class="banner_wrapper p-0" id="home">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div
        class="swiper-slide"
        style="background-image: url(/images/slider/slider4.1.png)"
      >
        <div class="slide-caption text-center">
          <div>
            <h1>UPCB में आपका स्वागत है</h1>
            <p>
              सहकारी बैंकों की कृषि उत्पादन के लिए आवश्यक संसाधनों के लिए राज्य
              के किसानों को अल्पकालिक ऋण प्रदान करने में एक प्रमुख भूमिका
              है-उर्वरक, बीज आदि ...
            </p>
          </div>
        </div>
      </div>
      <div
        class="swiper-slide"
        style="background-image: url(/images/slider/slider1.jpeg)"
      >
        <div class="slide-caption text-center">
          <div>
            <h1>UPCB में आपका स्वागत है</h1>
            <p>
              सहकारी बैंकों की कृषि उत्पादन के लिए आवश्यक संसाधनों के लिए राज्य
              के किसानों को अल्पकालिक ऋण प्रदान करने में एक प्रमुख भूमिका
              है-उर्वरक, बीज आदि ...
            </p>
          </div>
        </div>
      </div>
      <div
        class="swiper-slide"
        style="background-image: url(/images/slider/slider3.png)"
      >
        <div class="slide-caption text-center">
          <div>
            <h1>UPCB में आपका स्वागत है</h1>
            <p>
              सहकारी बैंकों की कृषि उत्पादन के लिए आवश्यक संसाधनों के लिए राज्य
              के किसानों को अल्पकालिक ऋण प्रदान करने में एक प्रमुख भूमिका
              है-उर्वरक, बीज आदि ...
            </p>
          </div>
        </div>
      </div>
      <div
        class="swiper-slide"
        style="background-image: url(/images/slider/slider2.jpeg)"
      >
        <div class="slide-caption text-center">
          <div>
            <h1>UPCB में आपका स्वागत है</h1>
            <p>
              राज्य का लगभग 60 प्रतिशत रोजगार कृषि क्षेत्र में उपलब्ध है। जबकि
              उत्तर प्रदेश ने एक तरफ खाद्य अनाज में उल्लेखनीय प्रगति की है और
              हरी क्रांति की है, दूसरी ओर इसने आलू और चीनी उत्पादन में भी
              सराहनीय प्रगति की है।
            </p>
          </div>
        </div>
      </div>
      <div
        class="swiper-slide"
        style="background-image: url(/images/hel2.png); background-size: cover"
      >
        <div class="slide-caption text-center">
          <div>
            <h1>UPCB में आपका स्वागत है</h1>
            <p>
              राज्य का लगभग 60 प्रतिशत रोजगार कृषि क्षेत्र में उपलब्ध है। जबकि
              उत्तर प्रदेश ने एक तरफ खाद्य अनाज में उल्लेखनीय प्रगति की है और
              हरी क्रांति की है, दूसरी ओर इसने आलू और चीनी उत्पादन में भी
              सराहनीय प्रगति की है।
            </p>
          </div>
        </div>
      </div>
      <div
        class="swiper-slide"
        style="background-image: url(/images/build.png)"
      >
        <div class="slide-caption text-center">
          <div>
            <h1>UPCB में आपका स्वागत है</h1>
            <p>
              राज्य का लगभग 60 प्रतिशत रोजगार कृषि क्षेत्र में उपलब्ध है। जबकि
              उत्तर प्रदेश ने एक तरफ खाद्य अनाज में उल्लेखनीय प्रगति की है और
              हरी क्रांति की है, दूसरी ओर इसने आलू और चीनी उत्पादन में भी
              सराहनीय प्रगति की है।
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="container small-menu">
    <div class="row flex-lg-row flex-column-reverse">
      <div class="col-lg-6 mb-4 mb-lg-0 ps-lg-4">
        <img
          alt="up-cm"
          class="img-fluid mx-auto d-block"
          decoding="async"
          src="/images/small-menu/up-cm.jpg"
        />
      </div>
      <div class="col-lg-6 mb-4 mb-lg-0 ps-lg-4">
        <img
          alt="minister-jp"
          class="img-fluid mx-auto d-block"
          decoding="async"
          src="/images/small-menu/minister-jp.jpg"
        />
      </div>
    </div>
  </div>
</section>
<!-- Banner section exit -->
<!-- 4About section -->
<section class="about_wrapper" id="about">
  <div
    class="container animate__animated animate__slideInLeft"
    style="animation-duration: 5s"
  >
    <div class="row flex-lg-row flex-column-reverse">
      <div class="col-lg-7 text-center text-lg-start about_wrapper_content">
        <h3>
          Welcome to
          <span>
            UTTAR PRADESH
            <br class="d-none d-lg-block" />
            CO-OPERATIVE
          </span>
          BANK LTD.
        </h3>
        <p>
          पूरे भारत की तरह, उत्तर प्रदेश की आर्थिक प्रगति भी कृषि के विकास पर
          आधारित है। वाणिज्य, व्यापार और उद्योग में भारी विकास के बावजूद, राज्य
          की सकल आय में कृषि क्षेत्र का योगदान 35 प्रतिशत से अधिक है। रोजगार के
          अवसर प्रदान करने के मामले में कृषि सबसे व्यापक क्षेत्र बनी हुई है।
          राज्य का लगभग 60 प्रतिशत रोजगार कृषि क्षेत्र में उपलब्ध है। जबकि उत्तर
          प्रदेश ने एक तरफ खाद्य अनाज में उल्लेखनीय प्रगति की है और हरी क्रांति
          की है, दूसरी ओर इसने आलू और चीनी उत्पादन में भी सराहनीय प्रगति की है।
          पिछले वर्षों में, राज्य में दालों/तिलहन के उत्पादन में भारी प्रगति हुई
          है।
        </p>
        <p>
          कृषि उत्पादन के लिए आवश्यक संसाधनों के लिए राज्य के किसानों को
          अल्पकालिक ऋण प्रदान करने में सहकारी बैंकों की प्रमुख भूमिका है-उर्वरक,
          बीज, कृषि सुरक्षा रसायन/उपकरण, कृषि मशीनरी, आदि और मध्यम अवधि के ऋण के
          लिए कृषि-आधारित उद्योग सेवा और व्यवसाय के उद्देश्य।
        </p>
      </div>
      <div
        class="col-lg-5 mb-4 mb-lg-0 ps-lg-4 text-center"
        style="
          background-image: url('./images/News/Slider-bnr.jpg');
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: center;
        "
      >
        <marquee class="marq" direction="up" scrollamount="3">
          <h5>पर्सनल लोन की ईएमआई कैलकुलेटर</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, Lorem
            ipsum dolor sit amet, consectetur adipisicing elit
            <br />
            <a href="#" target="_blank"> पढ़ना... </a>
          </p>
          <hr />
          <h5>पर्सनल लोन की ईएमआई कैलकुलेटर</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, Lorem
            ipsum dolor sit amet, consectetur adipisicing elit
            <br />
            <a href="#" target="_blank"> पढ़ना... </a>
          </p>
        </marquee>
      </div>
    </div>
  </div>
</section>
<!-- About section exit -->
<!-- Interest Calculator section -->
<section class="Interest_wrapper" id="about">
  <div class="container">
    <div class="row flex-lg-row flex-column-reverse">
      <div
        class="col-lg-6 text-center text-lg-start animate__animated animate__slideInLeft"
        style="
          background-color: #ffffff;
          border: 1px solid #f9f9f9;
          padding: 20px 30px;
          animation-duration: 5s;
        "
      >
        <h3>
          Interest
          <span>
            Calculator
            <br class="d-none d-lg-block" />
          </span>
        </h3>
        <div class="row text-lg-start">
          <div class="col-lg-1" style="color: #ff5d00">
            <i class="fa-2x fas fa-arrow-circle-right"> </i>
          </div>
          <div class="col-lg-11">
            <a href="pLoanCalculator.html">
              <p class="p1">पर्सनल लोन की ईएमआई कैलकुलेटर</p>
              <p class="p2">अपनी मासिक किस्तों की गणना करें</p>
            </a>
          </div>
        </div>
        <div class="row text-lg-start div2">
          <div class="col-lg-1" style="color: #ff5d00">
            <i class="fa-2x fas fa-arrow-circle-right"> </i>
          </div>
          <div class="col-lg-11">
            <a href="emiCalculator.html">
              <p class="p1">होम लोन की ईएमआई कैलकुलेटर</p>
              <p class="p2">अपनी मासिक किस्तों की गणना करें</p>
            </a>
          </div>
        </div>
        <div class="row text-lg-start div3">
          <div class="col-lg-1" style="color: #ff5d00">
            <i class="fa-2x fas fa-arrow-circle-right"> </i>
          </div>
          <div class="col-lg-11">
            <a href="interestCalculator.html">
              <p class="p1">बैंक एफडी/आरडी कैलकुलेटर</p>
              <p class="p2">अपने मासिक ब्याज की गणना करें</p>
            </a>
          </div>
        </div>
      </div>
      <div
        class="col-lg-6 text-center text-lg-start"
        style="border: 1px solid #f9f9f9; padding: 20px 30px"
      >
        <h3>
          Our
          <span>
            App
            <br class="d-none d-lg-block" />
          </span>
        </h3>
        <div class="row text-lg-start">
          <div
            align="center"
            class="col-lg-6 col-md-6 mb-4 animate__animated animate__slideInDown"
            style="animation-duration: 5s"
          >
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <a
                  class="MpassbookLink"
                  href="https://play.google.com/store/apps/details?id=com.megasoftinfo.UPCB.easymbank"
                  target="_blank"
                >
                  <img
                    alt="..."
                    class="card-img-top"
                    height="180"
                    src="/images/Apps/Mpassbook.webp"
                    width="100"
                  />
                  <h5 class="card-title mt-3">सांसद -पुस्तक</h5>
                </a>
              </div>
            </div>
          </div>
          <div
            align="center"
            class="col-lg-6 col-md-6 mb-4 animate__animated animate__slideInDown"
            style="animation-duration: 5s"
          >
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <a
                  class="mt-4 MobileAppLink"
                  href="https://play.google.com/store/apps/details?id=com.finacus.upb"
                  target="_blank"
                >
                  <img
                    alt="..."
                    class="card-img-top"
                    height="180"
                    src="/images/logo1.png"
                    width="100"
                  />
                  <h5 class="card-title mt-3">मोबाइल एप्लिकेशन</h5>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Interest Calculator section exit -->
<!-- Our Services section /room-->
<section class="Ourservices_wrapper" id="services">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 section-title text-center mb-3">
        <h3>
          Our
          <span>
            Services
            <br class="d-none d-lg-block" />
          </span>
        </h3>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-md-3 col-sm-6 mb-3 mb-lg-0">
        <div class="Ourservices-item">
          <img
            class="img-fluid animate__animated animate__zoomIn"
            decoding="async"
            src="/images/services/ATM.jpg"
            style="animation-duration: 5s"
          />
          <div class="Ourservices-item-wrap">
            <div class="Ourservices-content">
              <h5 class="text-white mb-lg-3 text-decoration-underline">
                एटीएम
              </h5>
              <p class="text-white">एटीएम</p>
              <a class="main-btn border-white text-white" href="atms.html">
                अधिक जानते हैं
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-3 mb-lg-0">
        <div class="Ourservices-item">
          <img
            class="img-fluid animate__animated animate__zoomIn"
            decoding="async"
            src="/images/upi.jpeg"
            style="animation-duration: 5s"
          />
          <div class="Ourservices-item-wrap">
            <div class="Ourservices-content">
              <h5 class="text-white mb-lg-3 text-decoration-underline">
                है मैं
              </h5>
              <p class="text-white">एकीकृत भुगतान इंटरफ़ेस</p>
              <a
                class="main-btn border-white text-white"
                href="digitalBanking.html"
              >
                अधिक जानते हैं
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-3 mb-lg-0">
        <div class="Ourservices-item">
          <img
            class="img-fluid animate__animated animate__zoomIn"
            decoding="async"
            src="/images/services/neft.jpg"
            style="animation-duration: 5s"
          />
          <div class="Ourservices-item-wrap">
            <div class="Ourservices-content">
              <h5 class="text-white mb-lg-3 text-decoration-underline">तेल</h5>
              <p class="text-white">राष्ट्रीय इलेक्ट्रॉनिक निधि हस्तांतरण</p>
              <a
                class="main-btn border-white text-white"
                href="digitalBanking.html"
              >
                अधिक जानते हैं
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-3 mb-lg-0">
        <div class="Ourservices-item">
          <img
            class="img-fluid animate__animated animate__zoomIn"
            decoding="async"
            src="/images/services/rtgs.jpg"
            style="animation-duration: 5s"
          />
          <div class="Ourservices-item-wrap">
            <div class="Ourservices-content">
              <h5 class="text-white mb-lg-3 text-decoration-underline">
                आरटीजीएस
              </h5>
              <p class="text-white">रियल टाइम ग्रॉस सेटलमेंट</p>
              <a
                class="main-btn border-white text-white"
                href="digitalBanking.html"
              >
                अधिक जानते हैं
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Ourservices-link">
      <a href="ourservices.html"> और देखें... </a>
    </div>
  </div>
</section>
<!-- Our Services Section Exit -->
<section>
  <div class="counter mt-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-3 mb-lg-0 mb-md-0 mb-2">
          <h1>
            <span id="count1"> </span>
            +
          </h1>
          <p>विकास</p>
        </div>
        <div class="col-md-3 mb-lg-0 mb-md-0 mb-2">
          <h1>
            <span id="count2"> </span>
            +
          </h1>
          <p>शाखाओं</p>
        </div>
        <div class="col-md-3 mb-lg-0 mb-md-0 mb-2">
          <h1>
            <span id="count3"> </span>
            +
          </h1>
          <p>UPCB की शाखाएँ</p>
        </div>
        <div class="col-md-3 mb-lg-0 mb-md-0 mb-2">
          <h1>
            <span id="count4"> </span>
            +
          </h1>
          <p>PAC की संख्या</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ****************Our product start*************** -->
<section class="ourproduct">
  <div class="container headings text-center">
    <div class="col-sm-12 text-center mb-5">
      <h3>
        Our
        <span>
          Products
          <br class="d-none d-lg-block" />
        </span>
      </h3>
    </div>
  </div>
  <div class="carousel slide" data-ride="carousel" id="demo">
    <!-- The slideshow -->
    <div class="carousel-inner container">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-12 mb-2">
            <div
              class="box"
              style="
                text-align: center;
                border: 1px solid rgba(0, 0, 0, 0.2);
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
                border-radius: 2px;
                transition: 0.3s;
              "
            >
              <a href="#">
                <img
                  class="img-fluid img-thumbnail animate__animated animate__bounceIn"
                  src="/images/fixed Deposit.png"
                  style="
                    animation-duration: 10s;
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    margin-top: 20px;
                  "
                />
              </a>
              <h6 style="padding-top: 20px">
                Fixed &amp; Recurring
                <br />
                Deposit
              </h6>
              <p style="padding: 10px 15px 0px">
                7 दिनों से 5 साल के बीच कहीं भी एक कार्यकाल के लिए UPCB के साथ
                अपने पैसे का निवेश करें और जमा राशि पर ब्याज अर्जित करें। सबसे
                पारंपरिक में से एक के रूप में
              </p>
              <div class="main-btn1" style="padding-bottom: 20px">
                <a class="btn" href="fixedDeposit.html" target="_blank">
                  और पढ़ें
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12 mb-2">
            <div
              class="box"
              style="
                text-align: center;
                border: 1px solid rgba(0, 0, 0, 0.2);
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
                border-radius: 2px;
                transition: 0.3s;
              "
            >
              <a href="#">
                <img
                  class="img-fluid img-thumbnail animate__animated animate__bounceIn"
                  src="/images/Bankacc.png"
                  style="
                    animation-duration: 10s;
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    margin-top: 20px;
                  "
                />
              </a>
              <h6 style="padding-top: 20px">
                Accounts
                <br />
                (Saving and Current Account)
              </h6>
              <p style="padding: 10px 15px 0px">
                एक बैंक खाता एक बैंक या अन्य वित्तीय संस्थान द्वारा बनाए रखा एक
                वित्तीय खाता है जिसमें बैंक और ग्राहक के बीच वित्तीय लेनदेन दर्ज
                किए जाते हैं।
              </p>
              <div class="main-btn1" style="padding-bottom: 20px">
                <a class="btn" href="accounts.html" target="_blank">
                  और पढ़ें
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12 mb-2">
            <div
              class="box"
              style="
                text-align: center;
                border: 1px solid rgba(0, 0, 0, 0.2);
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
                border-radius: 2px;
                transition: 0.3s;
              "
            >
              <a href="#">
                <img
                  class="img-fluid img-thumbnail animate__animated animate__bounceIn"
                  src="/images/services/loansnew.png"
                  style="
                    animation-duration: 10s;
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    margin-top: 20px;
                  "
                />
              </a>
              <h6 style="padding-top: 20px">Loan and Advances</h6>
              <p style="padding: 7px 15px 0px">
                ऋण को अलग से बैलेंस शीट की परिसंपत्तियों में दिखाया जाना चाहिए।
                अग्रिम ऋण नहीं हैं। अग्रिम विशेष उद्देश्यों के लिए दिए गए हैं
                जिनके खिलाफ या तो माल कंपनी द्वारा प्राप्त किया जाना है।
              </p>
              <div class="main-btn1" style="padding-bottom: 15px">
                <a class="btn" href="loans.html" target="_blank">
                  और पढ़ें ➤
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ****************Our product end*************** -->
<!-- Pricing section -->
<section class="blog_wrapper pb-0" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center mb-3">
        <h3>
          Beyond
          <span>
            Banking
            <br class="d-none d-lg-block" />
          </span>
        </h3>
      </div>
    </div>
    <div class="row">
      <div
        class="col-md-12 mb-4 animate__animated animate__fadeInRight"
        style="animation-duration: 5s"
      >
        <div class="card p-0 border-0 rounded-0">
          <img
            alt=""
            decoding="async"
            src="/images/beyb.png"
            style="height: 400px"
          />
          <div class="blog-content bg-white p-4">
            <h5 class="text-decoration-underline mb-4">बैंकिंग से परे</h5>
            <h6>
              Target the poor | Education Program | Health Program | Employment
              to the Unemployed | Financial Literacy Program
            </h6>
            <p class="mt-2">
              हमारे सीएसआर कार्यक्रमों ने लाखों वंचित लोगों के जीवन को बदल दिया
              है
            </p>
            <div class="main-btn1" style="padding-bottom: 20px">
              <a class="btn" href="Csrpro.html" target="_blank"> और पढ़ें </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
