<!--images section-->
<div class="pagew" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)), rgba(0, 0, 0, 0)  url(/images/notifications.png) no-repeat center;background-size:100% 100%; background-position: center;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="page-breadcrumb">
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <ol class="breadcrumb breadmenu" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1))">
            <span property="itemListElement" typeof="ListItem">
              <a class="home" href="index.html" property="item" title="Go to UPCB." typeof="WebPage">
                <span property="name" style="color:#ffffff;">
                  यूपीसीबी
                </span>
              </a>
              <meta content="1" property="position" />
            </span>
            <span style="color:#ffffff">
              >
            </span>
            <span class="text-uppercase" property="itemListElement" typeof="ListItem">
              <a class="home" property="item" style="color: #ffffff;" typeof="WebPage">
                <span property="name">
                  महत्वपूर्ण लिंक
                </span>
              </a>
              <meta content="1" property="position" />
            </span>
            <span style="color:#ffffff">
              >
            </span>
            <span property="itemListElement" typeof="ListItem">
              <span class="post post-page current-item breadmenu text-uppercase" property="name" style="color:#ffffff;">
                महत्वपूर्ण लिंक
              </span>
              <meta content="https://upcbl.in/services.html" property="url" />
              <meta content="2" property="position" />
            </span>
          </ol>
        </div>
      </div>
      <div class="col-md-8">
      </div>
    </div>
  </div>
</div>
<!--images section end-->
<section class="tender" id="">
  <div class="container">
    <div class="row">
      <div class="mainc tab-content col-lg-12 col-md-12 col-sm-12 mb-4 mb-lg-0 ps-lg-4 bgdefine">
        <h4>
          <span style="color:var(--secondary-color);">
            उत्तर प्रदेश सहकारी बैंक लिमिटेड।
          </span>
        </h4>
        <table class="spotify-table songs-table table table-striped table-light tableContentManner">
          <tbody>
            <tr>
              <td class="TenderItemDes" href="tender/rent_010323.pdf" target="_blank">
                ➥ Monthly revised target of deposit for the year 2022-23.
                <img alt="UPCBL" src="/images/new_red.gif" />
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/C-66_020822.pdf" target="_blank">
                ➥Right to Information Act-2005 is applicable
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/Target_may01816.pdf" target="_blank">
                ➥ Determination of target for deposit accumulation for the year 2016-17
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/training_01march2016.pdf" target="_blank">
                ➥ Annual Training Calendar of 2016-17 by ACSTI
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/circular_07072015.pdf" target="_blank">
                ➥ Regarding dispatch of Cash Transaction Report (CTR) and Suspicious Transaction (STR) report.
                <img alt="UPCBL" src="/images/new_red.gif" />
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/circular_05062015.pdf" target="_blank">
                ➥ Regarding revising the interest rate on loans/advances sanctioned against fixed deposits issued in favor of institutions.
                <img alt="UPCBL" src="/images/new_red.gif" />
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/scan0035_020615.pdf" target="_blank">
                ➥ Change in interest rates on term deposits.
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/scan0036_020615.pdf" target="_blank">
                ➥ Regarding revising the rate of Service Tax being charged on the services provided by the bank to the customers.
                <img alt="UPCBL" src="/images/new_red.gif" />
              </td>
            </tr>
            <tr>
              <td "="" class=" TenderItemDes" href="tender/scan0037_020615.pdf" target="_blank">
                ➥ Section 194 of the Income Tax Act 1961.
                <font style="vertical-align: inherit;">
                  Regarding amendment made related to TDS in
                </font>
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/scheme2_150515.pdf" target="_blank">
                ➥ Pradhan Mantri Jeevan Jyoti Bima Yojana
                <img alt="UPCBL" src="/images/new_red.gif" />
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/scheme1_150515.pdf" target="_blank">
                ➥ Prime Minister's Security Insurance Scheme
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="atm.html" target="_blank">
                ➥ ATM Charges for Staff
                <img alt="UPCBL" src="/images/new_red.gif" />
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/training_27022015.pdf" target="_blank">
                ➥ Annual Training Calendar of 2015-16 by ACSTI
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/circular_27022015.pdf" target="_blank">
                ➥ Cancellation of all previous proceedings regarding purchase of RTGS Equipment's
                <img alt="UPCBL" src="/images/new_red.gif" />
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/circular_03112014_a.pdf" target="_blank">
                ➥ Implementation of Section 51-A of the UAPA, 1967 - Updating the Al Qaeda Sanctions List of the 1267(1999)/1989(2011) Committee of the United Nations Security Council.
                <img alt="UPCBL" src="/images/new_red.gif" />
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/circular_03112014_b.pdf" target="_blank">
                ➥ Implementation of Section 51-A of the UAPA, 1967 - Updating the Taliban Sanctions List of the United Nations Security Council, 1988 (2011) Committee.
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/notice_14102014.pdf" target="_blank">
                ➥ CTS in five centers located in the Northern Grid of Apex Bank – Lucknow, Kanpur, Agra, Ghaziabad and Varanasi. With regard to based clearing.
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_23sep2014.pdf" target="_blank">
                ➥ Regarding change in Interbranch Transaction Policy under Core Banking.
                <img alt="UPCBL" src="/images/new_red.gif" />
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender1_23sep2014.pdf" target="_blank">
                ➥ Implementation of Section 51-A of the UAPA, 1967 - Updating the Taliban Sanctions List of the United Nations Security Council, 1988 (2011) Committee.
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender2_23sep2014.pdf" target="_blank">
                ➥ Implementation of Section 51-A of the UAPA, 1967 - Updating the Al Qaeda Sanctions List of the 1267(1999)/1989(2011) Committee of the United Nations Security Council.
                <img alt="UPCBL" src="/images/new_red.gif" />
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/circular_24062014.pdf" target="_blank">
                ➥ Regarding allotting the lockers of non-operational and outstanding locker holders to new customers.
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/inactive_accounts.pdf" target="_blank">
                ➥ List of Inoperative / Dormant Accounts
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/circular_new_14june2014.pdf" target="_blank">
                ➥ Regarding implementation of CBS system in District Cooperative Banks.
                <img alt="UPCBL" src="/images/new_red.gif" />
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/circular_old_14june2014.pdf" target="_blank">
                ➥ Circular No. -C-19/Additional-8/D.C.B. Computerization / C.B.S. Dated 21-06-2013
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/14102013_circulars.pdf" target="_blank">
                ➥
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">
                    Circular No.: RBI/2005-06/48, RPCD.CO.
                  </font>
                  <font style="vertical-align: inherit;">
                    RF.BC.NO.
                  </font>
                  <font style="vertical-align: inherit;">
                    12/07.38.01/2005-06 dated July 12, 2005 and Circular No. RBI/2013-14/248, RPCD.CO.RCB.BC.NO.
                  </font>
                  <font style="vertical-align: inherit;">
                    30/07.51.014/2013-14 dated 10 September 2013
                  </font>
                </font>
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/notice_13sept2013.pdf" target="_blank">
                ➥ Uttar Pradesh Cooperative Bank Ltd., A.C.S.T.I. Lucknow 2013-14
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>