<div class="pagew" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), rgba(0, 0, 0, 0)  url(/images/b1.png) no-repeat center;background-size:100% 100%; background-position: center;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="page-breadcrumb">
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <ol class="breadcrumb breadmenu" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1))">
            <span property="itemListElement" typeof="ListItem">
              <a class="home" href="index.html" property="item" title="Go to UPCB." typeof="WebPage">
                <span property="name" style="color:#ffffff;">
                  यूपीसीबी
                </span>
              </a>
              <meta content="1" property="position" />
            </span>
            <span style="color:#ffffff">
              >
            </span>
            <span property="itemListElement" typeof="ListItem">
              <a class="home text-uppercase" href="ourservices.html" property="item" typeof="WebPage">
                <span property="name" style="color:#ffffff;">
                  सेवा
                </span>
              </a>
              <meta content="1" property="position" />
            </span>
            <span style="color:#ffffff; ">
              >
            </span>
            <span property="itemListElement" typeof="ListItem">
              <span class="post post-page current-item breadmenu text-uppercase" property="name">
                बीमा
              </span>
              <meta content="https://upcbl.in/services.html" property="url" />
              <meta content="2" property="position" />
            </span>
          </ol>
        </div>
      </div>
      <div class="col-md-9">
      </div>
    </div>
  </div>
</div>
<!--images section end-->
<!--sidebar start-->
<section class="sidebar" id="">
  <div class="container">
    <div class="row">
      <div class="leftsection col-lg-3 col-md-3 col-sm-3 text-center">
        <ul class="nav navbar navbar-expand d-flex flex-column">
          <li class="nav-item centeri w-100">
            <a class="nav-link animate__animated animate__bounceIn" data-bs-toggle="tab" href="#atalpensionyojana" style="animation-duration:5s">
              अटल पेंशन योजना
            </a>
          </li>
          <li class="nav-item centeri w-100">
            <a class="nav-link animate__animated animate__backInLeft" data-bs-toggle="tab" href="#PMSBY" style="animation-duration:5s">
              प्रधान मंत्री सुरक्षा बीमा योजना(पंसबय)
            </a>
          </li>
          <li class="nav-item centeri w-100">
            <a class="nav-link animate__animated animate__backInRight" data-bs-toggle="tab" href="#PMJJBY" style="animation-duration:5s">
              प्रधान मंत्री जीवन जयोटी योजना (PMJJBY)
            </a>
          </li>
          <li class="nav-item centeri w-100">
            <a class="nav-link active animate__animated animate__bounceIn" data-bs-toggle="tab" href="#lifeinsurance" style="animation-duration:5s">
              बीमा
            </a>
          </li>
          <li class="nav-item centeri w-100">
            <a class="nav-link animate__animated animate__backInLeft" data-bs-toggle="tab" href="#generalinsurance" style="animation-duration:5s">
              सामान्य बीमा
            </a>
          </li>
          <li class="nav-item centeri w-100">
            <a class="nav-link animate__animated animate__backInRight" data-bs-toggle="tab" href="#healthinsurance" style="animation-duration:5s">
              स्वास्थ्य बीमा
            </a>
          </li>
        </ul>
      </div>
      <div class="mainc tab-content col-lg-9 col-md-9 col-sm-9 mb-4 mb-lg-0 ps-lg-4 bgdefine">
        <!--<div id="home" class="active tab-pane fade in show">
                           <h2 >The right credit card is right here</h2>
                           <p>Looking for a card that earns travel points, cash back, or rewards? Our side-by-side                 comparisons and objective reviews can help you make the smartest decision.</p>
                        
                </div>
                <div id="about" class="tab-pane fade">
                     <h2 >The 2nd right credit card is right here</h2>
                           <p>Looking for a card that earns travel points, cash back, or rewards? Our side-by-side                 comparisons and objective reviews can help you make the smartest decision.</p>
                </div>-->
        <div class="active tab-pane fade in show" id="atalpensionyojana">
          <h4>
            Atal Pension Yojna
            <span style="color:var(--secondary-text);">
              (APY)
              <br class="d-none d-lg-block" />
            </span>
          </h4>
          <p>
            भारत सरकार ने अटल पेंशन योजना (एपीवाई) नामक एक नई योजना की घोषणा की है
            एपीवाई एक गारंटीकृत पेंशन योजना है जो पेंशन फंड नियामक और विकास प्राधिकरण (PFRDA) द्वारा प्रशासित है।
          </p>
          <p>
            इस योजना के तहत ग्राहकों को मासिक पेंशन की गारंटी मिलती है, रुपये से लेकर। 1,000 से रु। प्रति माह 5,000।
          </p>
          <h4 style="font-weight:600;padding-top: 20px;">
          </h4>
          <div class="table-responsive">
            <table class="table table-bordered tableContentManner" style="border: 1px solid var(--secondary-color);" tablecontentmanner="">
              <tbody>
                <tr>
                  <td>
                    <p>
                      योजना की तारीख
                    </p>
                  </td>
                  <td>
                    <p>
                      01 जून, 2015
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>
                      आयु सीमा
                    </p>
                  </td>
                  <td>
                    <p>
                      न्यूनतम 18 वर्ष अधिकतम 40 वर्ष
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>
                      प्रति माह पेंशन
                    </p>
                  </td>
                  <td>
                    <p>
                      Rs.1000, Rs.2000, Rs.3000, Rs.4000 और Rs.5000.00 (योगदान के आधार पर)
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>
                      पात्रता
                    </p>
                  </td>
                  <td>
                    <p>
                      18 साल से 40 साल तक | किसी भी सामाजिक सुरक्षा योजना का सदस्य नहीं
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>
                      पेंशन धारक
                    </p>
                  </td>
                  <td>
                    <p>
                      पेंशन धारक को आयकर सीमा के अंतर्गत नहीं आना चाहिए।
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>
                      योगदान की न्यूनतम अवधि
                    </p>
                  </td>
                  <td>
                    <p>
                      न्यूनतम 20 वर्ष
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <h6 style="padding-bottom: 20px; margin: 0;">
            * For detailed information contact the concerned / nearest branch.
          </h6>
        </div>
        <div class="tab-pane fade" id="PMSBY">
          <h4>
            Pradhan Mantri Suraksha Bima Yojna
            <span style="color:var(--secondary-text);">
              (PMSBY)
              <br class="d-none d-lg-block" />
            </span>
          </h4>
          <p>
            प्रधानमंत्री सुरक्ष बिमा योजना नीति आपको अप्रत्याशित आपात स्थितियों के मामलों में तैयार रहने में मदद करती है। PMSBY योजना आपको विशेष रूप से तब मदद करती है जब आपको आपके और आपके परिवार के प्रति अप्रत्याशित मृत्यु और हानि का सामना करना पड़ता है। प्रधानमंत्री सुरक्ष बिमा योजना के पास कुछ विशेषताएं और लाभ हैं जो औसत व्यक्ति को इसमें निवेश करने के लिए उत्सुक बनाते हैं। भुगतान किया जाने वाला प्रीमियम रुपये जितना कम है। 12 प्रति वर्ष, परिवार के प्रति सदस्य। मृत्यु के मामले में, बीमित राशि 2 लाख है। अंत में, ऐसे मामलों में जहां आंख या अंग का नुकसान होता है, बीमित राशि 1 लाख है।
          </p>
          <div class="table-responsive">
            <table class="table table-bordered tableContentManner" style="border: 1px solid var(--secondary-color);" tablecontentmanner="">
              <tbody>
                <tr>
                  <td>
                    <p>
                      योजना के कार्यान्वयन की तारीख
                    </p>
                  </td>
                  <td>
                    <p>
                      11 मई, 2015
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>
                      आयु सीमा
                    </p>
                  </td>
                  <td>
                    <p>
                      न्यूनतम 18 वर्ष अधिकतम 70 वर्ष
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>
                      योगदान राशि
                    </p>
                  </td>
                  <td>
                    <p>
                      प्रति वर्ष 20.00 रुपये (शर्तों के अनुसार)
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>
                      बीमित व्यक्ति
                    </p>
                  </td>
                  <td>
                    <p>
                      आधार, KYC की आवश्यकता है
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>
                      बीमा लाभ
                    </p>
                  </td>
                  <td>
                    <p>
                      बीमाधारक सदस्य की मृत्यु पर Rs.2.00 लाख।
                    </p>
                    <br />
                    • Total and irrecoverable loss of both eyes or loss of use of both hands or both feet or loss of sight in one eye and one

                    20 200 lakhs unable to work hand or one leg. • Total and irrecoverable loss of sight of one eye or one hand or one

                    Inability to do leg work - Rs.1.00 lakh.
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>
                      योगदान की न्यूनतम अवधि
                    </p>
                  </td>
                  <td>
                    <p>
                      न्यूनतम 20 वर्ष
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <h6 style="padding-bottom: 20px; margin: 0;">
            * For detailed information contact the concerned / nearest branch.
          </h6>
        </div>
        <div class="tab-pane fade" id="PMJJBY">
          <h4>
            Pradhan Mantri Jeevan Jyoti Bima Yojana
            <span style="color:var(--secondary-text);">
              (PMJJBY)
              <br class="d-none d-lg-block" />
            </span>
          </h4>
          <p>
            PMJJBY 18 से 50 वर्ष के आयु वर्ग के लोगों के लिए उपलब्ध है, जिसमें एक बैंक खाता है जो ऑटो-डेबिट में शामिल होने/सक्षम करने के लिए अपनी सहमति देता है। आधार बैंक खाते के लिए प्राथमिक KYC होगा। रुपये का जीवन कवर। 2 लाख एक वर्ष की अवधि के लिए 1 जून से 31 मई तक फैली हुई होगी और अक्षय होगा। इस योजना के तहत जोखिम कवरेज रुपये के लिए है। किसी भी कारण से बीमित व्यक्ति की मृत्यु के मामले में 2 लाख। प्रीमियम रु। 330 प्रति वर्ष जो कि योजना के तहत प्रत्येक वार्षिक कवरेज अवधि के 31 मई से पहले या उससे पहले उसके द्वारा दिए गए विकल्प के अनुसार ग्राहक के बैंक खाते से एक किस्त में ऑटो-देय होना है। यह योजना लाइफ इंश्योरेंस कॉरपोरेशन और अन्य सभी लाइफ इंश्योररों द्वारा दी जा रही है, जो इस उद्देश्य के लिए बैंकों के साथ आवश्यक अनुमोदन और टाई-अप के साथ समान शर्तों पर उत्पाद की पेशकश करने के इच्छुक हैं।
          </p>
          <div class="table-responsive">
            <table class="table table-bordered tableContentManner" style="border: 1px solid var(--secondary-color);" tablecontentmanner="">
              <tbody>
                <tr>
                  <td>
                    <p>
                      योजना के कार्यान्वयन की तारीख
                    </p>
                  </td>
                  <td>
                    <p>
                      09 मई, 2015
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>
                      आयु सीमा
                    </p>
                  </td>
                  <td>
                    <p>
                      न्यूनतम 18 वर्ष अधिकतम 50 वर्ष
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>
                      बीमित व्यक्ति
                    </p>
                  </td>
                  <td>
                    <p>
                      आधार, KYC की आवश्यकता है
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>
                      योगदान राशि
                    </p>
                  </td>
                  <td>
                    <p>
                      GST सहित Rs.436.00 प्रति वर्ष
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>
                      बीमा लाभ
                    </p>
                  </td>
                  <td>
                    <p>
                      किसी भी कारण से बीमित सदस्य की मृत्यु के मामले में Rs.2.00 लाख नामांकित व्यक्ति के लिए देय है।
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <h6 style="padding-bottom: 20px; margin: 0;">
            * For detailed information contact the concerned / nearest branch.
          </h6>
        </div>
        <div class="tab-pane fade" id="neft">
          <h4>
          </h4>
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 mb-4 mb-lg-0 ps-lg-4">
              <p>
                नेशनल इलेक्ट्रॉनिक फंड ट्रांसफर (NEFT) एक-से-एक फंड ट्रांसफर की सुविधा देने वाली एक राष्ट्रव्यापी भुगतान प्रणाली है। इस प्रणाली के तहत, व्यक्ति इलेक्ट्रॉनिक रूप से अपने खाते से किसी भी व्यक्ति को किसी भी व्यक्ति के लिए एक अन्य बैंक शाखा के साथ एक खाता स्थानांतरित कर सकते हैं जो सिस्टम में भाग ले रहे हैं
              </p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 vc_single_image-wrapper vc_box_shadow_border vc_box_border_grey" style="">
              <img alt="" class="vc_single_image-img attachment-large" decoding="async" height="175" sizes="(max-width: 555px) 100vw, 555px" src="../wp-content/uploads/2020/01/NEFT_555x350.png" srcset="https://gscbank.co.in/wp-content/uploads/2020/01/NEFT_555x350.png 555w, https://gscbank.co.in/wp-content/uploads/2020/01/NEFT_555x350-300x189.png 300w" title="NEFT_555x350" width="270" />
            </div>
          </div>
          <h6 style="font-weight:600;">
            NEFT can be done through
          </h6>
          <div>
            <a class="btn btn-sm btn-primary" href="https://upcbonline.com/">
              अंतराजाल लेन - देन
            </a>
            <a class="btn btn-sm btn-primary" href="services.html#mobile-banking">
              मोबाइल बैंकिंग
            </a>
            <a class="btn btn-sm btn-primary" href="../our-branches/index.html">
              ब्रांच बैंकिंग
            </a>
          </div>
          <h6 style="font-weight:600;padding-top: 20px;">
            Timings : 24 x 7 x 365 on Digital Banking Channels
          </h6>
          <h4>
            Transaction Limits
            <span style="color: var(--secondary-text);">
              (डिजिटल बैंकिंग)
            </span>
          </h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">
                    Type of Account
                  </th>
                  <th scope="col">
                    Limit / Transaction
                  </th>
                  <th scope="col">
                    Limit / Day
                  </th>
                  <th scope="col">
                    Charges
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">
                    <p>
                      बचत खाता
                    </p>
                  </td>
                  <td>
                    <p>
                      रु। 2,00,000
                    </p>
                  </td>
                  <td>
                    <p>
                      रु। 5,00,000
                    </p>
                  </td>
                  <td>
                    <p>
                      शून्य
                    </p>
                  </td>
                </tr>
                <tr>
                  <td scope="row">
                    <p>
                      चालू खाता
                    </p>
                  </td>
                  <td>
                    <p>
                      रु। 2,00,000
                    </p>
                  </td>
                  <td>
                    <p>
                      रु। 5,00,000
                    </p>
                  </td>
                  <td>
                    <p>
                      शून्य
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade" id="rtgs">
          <h4>
          </h4>
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 mb-4 mb-lg-0 ps-lg-4">
              <p>
                ‘RTGS का अर्थ वास्तविक समय सकल निपटान के लिए है, जिसका अर्थ है कि आदेश के आधार पर एक आदेश पर व्यक्तिगत रूप से धन का निरंतर (वास्तविक समय) निपटान। ‘रियल टाइम’ का अर्थ है उस समय के निर्देशों का प्रसंस्करण जब वे कुछ बाद में प्राप्त होते हैं। यह देखते हुए कि फंड बस्ती भारतीय रिजर्व बैंक की पुस्तकों में होती है, भुगतान अंतिम और अपरिवर्तनीय हैं।
              </p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 vc_single_image-wrapper vc_box_shadow_border vc_box_border_grey">
              <img alt="" class="vc_single_image-img attachment-large" decoding="async" height="175" sizes="(max-width: 555px) 100vw, 555px" src="../wp-content/uploads/2020/01/RTGS_555x350.png" srcset="https://gscbank.co.in/wp-content/uploads/2020/01/RTGS_555x350.png 555w, https://gscbank.co.in/wp-content/uploads/2020/01/RTGS_555x350-300x189.png 300w" title="RTGS_555x350" width="270" />
            </div>
          </div>
          <h6 style="font-weight:600;">
            RTGS can be done through
          </h6>
          <div>
            <a class="btn btn-sm btn-primary" href="https://upcbonline.com/">
              अंतराजाल लेन - देन
            </a>
            <a class="btn btn-sm btn-primary" href="services.html#/mb">
              मोबाइल बैंकिंग
            </a>
            <a class="btn btn-sm btn-primary" href="../our-branches/index.html">
              ब्रांच बैंकिंग
            </a>
          </div>
          <h6 style="font-weight:600;padding-top: 20px;">
            Timings : 24 x 7 x 365 on Digital Banking Channels
          </h6>
          <h4>
            Transaction Limits
            <span style="color: var(--secondary-text);">
              (डिजिटल बैंकिंग)
            </span>
          </h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">
                    Type of Account
                  </th>
                  <th scope="col">
                    Limit / Transaction
                  </th>
                  <th scope="col">
                    Limit / Day
                  </th>
                  <th scope="col">
                    Charges
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">
                    <p>
                      बचत खाता
                    </p>
                  </td>
                  <td>
                    <p>
                      रु। 2,00,000 - 5,00,000
                    </p>
                  </td>
                  <td>
                    <p>
                      रु। 2,00,000 - 10,00,000
                    </p>
                  </td>
                  <td>
                    <p>
                      शून्य
                    </p>
                  </td>
                </tr>
                <tr>
                  <td scope="row">
                    <p>
                      चालू खाता
                    </p>
                  </td>
                  <td>
                    <p>
                      रु। 2,00,000 - 5,00,000
                    </p>
                  </td>
                  <td>
                    <p>
                      रु। 2,00,000 - 10,00,000
                    </p>
                  </td>
                  <td>
                    <p>
                      शून्य
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade" id="imps">
          <h4>
          </h4>
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 mb-4 mb-lg-0 ps-lg-4">
              <p>
                IMPS मजबूत और वास्तविक समय फंड ट्रांसफर प्रदान करता है जो एक तत्काल, 24x7, इंटरबैंक इलेक्ट्रॉनिक फंड ट्रांसफर सेवा प्रदान करता है, जिसे मोबाइल, इंटरनेट, शाखा और IMPS जैसे कई चैनलों पर एक्सेस किया जा सकता है जो एक सशक्त सेवा है जो भारत भर के बैंकों के भीतर तुरंत धन को स्थानांतरित करने की अनुमति देता है। न केवल सुरक्षित है, बल्कि किफायती भी है। वर्तमान में IMPS पर सदस्य।
              </p>
              <p>
                <a href="https://www.npci.org.in/what-we-do/imps/product-statistics" rel="noopener noreferrer" target="_blank">
                  लाइव सदस्य हैं
                </a>
              </p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 vc_single_image-wrapper vc_box_shadow_border vc_box_border_grey" style="">
              <img alt="" class="vc_single_image-img attachment-large" decoding="async" height="175" sizes="(max-width: 555px) 100vw, 555px" src="../wp-content/uploads/2020/01/NEFT_555x350.png" srcset="https://gscbank.co.in/wp-content/uploads/2020/01/NEFT_555x350.png 555w, https://gscbank.co.in/wp-content/uploads/2020/01/NEFT_555x350-300x189.png 300w" title="NEFT_555x350" width="270" />
            </div>
          </div>
          <h6 style="font-weight:600;">
            NEFT can be done through
          </h6>
          <div>
            <a class="btn btn-sm btn-primary" href="https://upcbonline.com/">
              अंतराजाल लेन - देन
            </a>
            <a class="btn btn-sm btn-primary" href="services.html#mobile-banking">
              मोबाइल बैंकिंग
            </a>
            <a class="btn btn-sm btn-primary" href="../our-branches/index.html">
              ब्रांच बैंकिंग
            </a>
          </div>
          <h6 style="font-weight:600;padding-top: 20px;">
            Timings : 24 x 7 x 365 on Digital Banking Channels
          </h6>
          <h4>
            Transaction Limits
            <span style="color: var(--secondary-text);">
              (डिजिटल बैंकिंग)
            </span>
          </h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">
                    Type of Account
                  </th>
                  <th scope="col">
                    Limit / Transaction
                  </th>
                  <th scope="col">
                    Limit / Day
                  </th>
                  <th scope="col">
                    Charges
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">
                    <p>
                      बचत खाता
                    </p>
                  </td>
                  <td>
                    <p>
                      रु। 2,00,000
                    </p>
                  </td>
                  <td>
                    <p>
                      रु। 5,00,000
                    </p>
                  </td>
                  <td>
                    <p>
                      शून्य
                    </p>
                  </td>
                </tr>
                <tr>
                  <td scope="row">
                    <p>
                      चालू खाता
                    </p>
                  </td>
                  <td>
                    <p>
                      रु। 2,00,000
                    </p>
                  </td>
                  <td>
                    <p>
                      रु। 5,00,000
                    </p>
                  </td>
                  <td>
                    <p>
                      शून्य
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade" id="upi">
          <h4>
          </h4>
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 mb-4 mb-lg-0 ps-lg-4">
              <p>
                UPI या एकीकृत भुगतान इंटरफ़ेस एक तत्काल वास्तविक समय भुगतान प्रणाली है जो मोबाइल प्लेटफॉर्म के माध्यम से दो बैंक खातों के बीच धन को तुरंत स्थानांतरित करने में मदद करती है। इसलिए, UPI एक अवधारणा है जो कई बैंक खातों को एक एकल मोबाइल एप्लिकेशन में जाने की अनुमति देती है।
              </p>
              <p>
                <a href="https://www.npci.org.in/what-we-do/upi/product-statistics" rel="noopener noreferrer" target="_blank">
                  यूपीआई सदस्य
                </a>
              </p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 vc_single_image-wrapper vc_box_shadow_border vc_box_border_grey">
              <img alt="" class="vc_single_image-img attachment-large" decoding="async" height="175" sizes="(max-width: 555px) 100vw, 555px" src="../wp-content/uploads/2020/01/UPI_555x350.png" srcset="https://gscbank.co.in/wp-content/uploads/2020/01/UPI_555x350.png 555w, https://gscbank.co.in/wp-content/uploads/2020/01/UPI_555x350-300x189.png 300w" title="UPI_555x350" width="270" />
            </div>
          </div>
          <h6 style="font-weight:600;">
            UPI can be done through
          </h6>
          <p>
            Google Pay, PhonePe, Paytm आदि जैसे तृतीय पक्ष ऐप्स
          </p>
          <div>
            <a class="btn btn-sm btn-primary" href="https://upcbonline.com/">
              अंतराजाल लेन - देन
            </a>
            <a class="btn btn-sm btn-primary" href="services.html#mobile-banking">
              मोबाइल बैंकिंग
            </a>
            <a class="btn btn-sm btn-primary" href="../our-branches/index.html">
              ब्रांच बैंकिंग
            </a>
          </div>
          <h6 style="font-weight:600;padding-top: 20px;">
            Timings : 24 x 7 x 365 on Digital Banking Channels
          </h6>
          <h4>
            Transaction Limits
            <span style="color: var(--secondary-text);">
              (डिजिटल बैंकिंग)
            </span>
          </h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">
                    Type of Account
                  </th>
                  <th scope="col">
                    Limit / Transaction
                  </th>
                  <th scope="col">
                    Limit / Day
                  </th>
                  <th scope="col">
                    Charges
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">
                    <p>
                      बचत खाता
                    </p>
                  </td>
                  <td>
                    <p>
                      रु। 1,00,000
                    </p>
                  </td>
                  <td>
                    <p>
                      रु। 1,00,000
                    </p>
                  </td>
                  <td>
                    <p>
                      शून्य
                    </p>
                  </td>
                </tr>
                <tr>
                  <td scope="row">
                    <p>
                      चालू खाता
                    </p>
                  </td>
                  <td>
                    <p>
                      रु। 1,00,000
                    </p>
                  </td>
                  <td>
                    <p>
                      रु। 1,00,000
                    </p>
                  </td>
                  <td>
                    <p>
                      शून्य
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade" id="lifeinsurance">
          <h4>
          </h4>
          <p>
            डेटा उपलब्ध नहीं
          </p>
        </div>
        <div class="tab-pane fade" id="generalinsurance">
          <h4>
          </h4>
          <p>
            डेटा उपलब्ध नहीं
          </p>
        </div>
        <div class="tab-pane fade" id="healthinsurance">
          <h4>
          </h4>
          <p>
            डेटा उपलब्ध नहीं
          </p>
        </div>
      </div>
    </div>
  </div>
</section>