<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <base href="/hi/" />
    <title>उत्तर प्रदेश सहकारी बैंक</title>
    <!-- FAVICON -->
    <link href="/images/logo1.png" rel="icon" type="image/png" />
    <!--animation cdn link-->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Bootstrap 5 CDN Links -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Link Swiper's CSS -->
    <link
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
      rel="stylesheet"
    />
    <!-- Custom File's Link -->
    <link href="/css/style.css" rel="stylesheet" />
  </head>

  <body data-bs-offset="100" data-bs-spy="scroll" data-bs-target=".navbar">
    <%- include('./partials/_header') %> <%- body%>
    <!-- Footer section -->
    <section class="footer_wrapper mt-3 mt-md-0 pb-0" id="contact">
      <div class="container pb-3">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <h5>हमारे साथ जुड़े</h5>
            <p class="ps-0">उत्तर प्रदेश सहकारी बैंक लिमिटेड</p>
            <div class="contact-info">
              <ul class="list-unstyled">
                <li>
                  <a href="#">
                    <i class="fa fa-home me-3"> </i>
                    Sahakari Kisan Bhavan, 2, Mahatma Gandhi Marg, Lucknow
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-phone me-3"> </i>
                    0522-2223806
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-envelope me-3"> </i>
                    info@upcb.in
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-6">
            <h5>सेवाएं</h5>
            <ul class="link-widget p-0">
              <li>
                <a href="/digitalBanking"> अंकीय बैंकिंग </a>
              </li>
              <li>
                <a href="insurance"> बीमा </a>
              </li>
              <li>
                <a href="loans"> राइरिन </a>
              </li>
              <li>
                <a href="accounts.html"> हिसाब किताब </a>
              </li>
              <li>
                <a href="fixedDeposit.html"> सावधि जमा </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6">
            <h5>लिंक</h5>
            <ul class="link-widget p-0">
              <li>
                <a href="emiCalculator.html"> ईएमआई कैलकुलेटर </a>
              </li>
              <li>
                <a href="interestCalculator.html"> ब्याज कैलकुलेटर </a>
              </li>
              <li>
                <a href="aboutus.html"> हमारे बारे में </a>
              </li>
              <li>
                <a href="gallery.html"> गैलरी </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6">
            <h5>डाउनलोड करना</h5>
            <ul class="link-widget p-0">
              <li>
                <a href="download.html"> फार्म </a>
              </li>
              <li>
                <a href="tender.html"> नाज़ुक </a>
              </li>
              <li>
                <a href="importantNotification.html"> अधिसूचना </a>
              </li>
              <li>
                <a href="brochure.html"> विवरणिका </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6">
            <h5>जुड़े रहो</h5>
            <ul class="social-network d-flex align-items-center p-0">
              <li>
                <a href="https://www.facebook.com/mdcellupcb" target="_blank">
                  <i class="fab fa-facebook-f"> </i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/mdcellupcb" target="_blank">
                  <i class="fab fa-twitter"> </i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-google-plus-g"> </i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-vimeo-v"> </i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container copyright-section align-items-center">
        <p
          class="align-items-center"
          style="padding: 0px 20px; justify-items: center"
        >
          Copyright
          <a href="#"> © उत्तर प्रदेश सहकारी बैंक लिमिटेड। </a>
          All Right Reserved!! Designed &amp; Developed by
          <a href="https://upstcs.in">
            विज्ञान और प्रौद्योगिकी सहकारी सोसाइटी लिमिटेड
          </a>
        </p>
      </div>
    </section>
    <!-- Footer section exit -->
    <!-- Bootstrap 5 JS CDN Links -->
    <script
      crossorigin="anonymous"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      src="https://code.jquery.com/jquery-3.7.0.min.js"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- Custom Js Link -->
    <script src="/js/main.js"></script>
  </body>
</html>
