<!--images section-->
<div class="pagew" style="background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(0, 0, 0, 0.2)  url(/images/TENDER.png) no-repeat center;background-size:100% 100%; background-position: center;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="page-breadcrumb">
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <ol class="breadcrumb breadmenu" style="background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1))">
            <span property="itemListElement" typeof="ListItem">
              <a class="home" href="index.html" property="item" title="Go to UPCB." typeof="WebPage">
                <span property="name" style="color:#ffffff;">
                  यूपीसीबी
                </span>
              </a>
              <meta content="1" property="position" />
            </span>
            <span style="color:#ffffff">
              >
            </span>
            <span class="text-uppercase" property="itemListElement" typeof="ListItem">
              <a class="home" property="item" style="color: #ffffff;" typeof="WebPage">
                <span property="name">
                  महत्वपूर्ण लिंक
                </span>
              </a>
              <meta content="1" property="position" />
            </span>
            <span style="color:#ffffff">
              >
            </span>
            <span property="itemListElement" typeof="ListItem">
              <span class="post post-page current-item breadmenu text-uppercase" property="name">
                नाज़ुक
              </span>
              <meta content="https://upcbl.in/services.html" property="url" />
              <meta content="2" property="position" />
            </span>
          </ol>
        </div>
      </div>
      <div class="col-md-9">
      </div>
    </div>
  </div>
</div>
<!--images section end-->
<section class="tender" id="">
  <div class="container">
    <div class="row">
      <div class="mainc tab-content col-lg-12 col-md-12 col-sm-12 mb-4 mb-lg-0 ps-lg-4 bgdefine">
        <h4>
          नाज़ुक
        </h4>
        <table class="spotify-table songs-table table table-striped table-light tableContentManner">
          <tbody>
            <tr>
              <td class="TenderItemDes" href="tender/rent_010323.pdf" target="_blank">
                ➥ Building available on rent
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/Scan20220913150220_130922.pdf" target="_blank">
                ➥ EOI for getting Sevottam certificate for Bank
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/Scan20220913150220_130922.pdf" target="_blank">
                ➥ U.P. Co-operative Bank Ltd. requirement of building for rent to Lucknow
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/Scan20220913150220_130922.pdf" target="_blank">
                ➥ Tender document of sofa &amp; furniture repairing and polish of new guest house
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/Scan20220913150220_130922.pdf" target="_blank">
                ➥ Sofa &amp; Furniture Repairing and Polish
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/Scan20220913150220_130922.pdf" target="_blank">
                ➥ Revised Concurrent Audit in Uttar Pradesh Co-operative Bank Limited (UPCB)
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/Scan20220913150220_130922.pdf" target="_blank">
                ➥ Concurrent Audit in Uttar Pradesh Co-operative Bank Limited (UPCB)
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/Scan20220913150220_130922.pdf" target="_blank">
                ➥ Regarding Tender Document No: UPCB/CA/2022-23/01
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/Scan20220913150220_130922.pdf" target="_blank">
                ➥ Quotation Required for Flower Decoration Work at ACSTI, Indiranagar, Lucknow
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/Scan20220913150220_130922.pdf" target="_blank">
                ➥ Quotation Required for Tentage Work at ACSTI , Indiranagar, Lucknow
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/Shifting-Branches_190122.pdf" target="_blank">
                ➥ Tender for Shifting of Branches.
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender-cacellation_070122.pdf" target="_blank">
                ➥ Tender Cancellation Notice
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender-catering_030122.pdf" target="_blank">
                ➥ Catering Tender
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/REPAIR-WORK_031221.pdf" target="_blank">
                ➥ Tender Document for Furniture Repair Work in UPCB
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/TENDER-NOTICE_031221.pdf" target="_blank">
                ➥ Tender Notice for Furniture Repair Work in UPCB
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/Bhawan-rent_021121.pdf" target="_blank">
                ➥ Information related to renting the building of U.P. Co-operative Bank Ltd.
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/Tender-ACSTIHostel_111021.PDF" target="_blank">
                ➥ Repairing work at ACSTI, Indra Nagar Lucknow
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/result_250921.pdf" target="_blank">
                ➥ Result Notice
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/Tender-ACSTI_230921.PDF" target="_blank">
                ➥ Interior Decoration Work in ACSTI,Indra Nagar
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/bank_070821.pdf" target="_blank">
                ➥ Requirement of building/premises for the building
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_040621.pdf" target="_blank">
                ➥ Interior work/Lighting Work at ACSTI
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/BANK_250521.pdf" target="_blank">
                ➥ Requirement of building/premises for the building
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/new_280421.pdf" target="_blank">
                ➥ Requirement of building/premises for the building
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender-document_270421.pdf" target="_blank">
                ➥ Tender Document for Concurrent Audit for UPCB Head Office and 27 Branches
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/Tender-ACSTI_030321.PDF" target="_blank">
                ➥ ACSTI Tender
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/ACSTI-Tender_030221.PDF" target="_blank">
                ➥ ACSTI Tender
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/notification_250121.pdf" target="_blank">
                ➥ Tender for Electric Kettle Last Date Extended Till 29.01.2021
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender-food_230121.pdf" target="_blank">
                ➥ Tender for Food Catering.
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/quilt-tender_190121.pdf" target="_blank">
                ➥ Tender for Procurement Quilt in UPCB
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/electric-kettle-tender_190121.pdf" target="_blank">
                ➥ Tender for Procurement Electric Kettle in UPCB
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender-notice_171020.pdf" target="_blank">
                ➥ Building available for rent
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/TENDERNOTICE_100920.pdf" target="_blank">
                ➥ Hardware AMC Tender Noitice
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/TENDERDOCUMENT_100920.pdf" target="_blank">
                ➥ Tender Document for AMC Of Desktop
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/dinner-set-correction-180220.pdf" target="_blank">
                ➥ Dinner Set Tender Correction
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/TROLLY-BAG-TENDER.pdf" target="_blank">
                ➥ TROLLY BAG TENDER
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/DINNER-SET-TENDER.pdf" target="_blank">
                ➥ DINNER SET TENDER
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/WALL-CLOCK-TENDER.pdf" target="_blank">
                ➥ WALL CLOCK TENDER
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/AUCTION-NOTICE-TWO-VEHICLE.pdf" target="_blank">
                ➥ AUCTION NOTICE TWO VEHICLE
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/Tender-notice-Br_211219.pdf" target="_blank">
                ➥ Tender notice for AMC of AC Plant in Main Br(UPCB)
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/Tender-Document_211219.pdf" target="_blank">
                ➥ Tender Document for AMC of AC Plant in Main Br(UPCB)
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/vahan-nilami_040719.pdf" target="_blank">
                ➥ Tender Vahan Ki Nilami
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/BUILDING-RENT_040719.pdf" target="_blank">
                ➥ Tender Kiraye Per Bhawan Uplabdh
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_200718.pdf" target="_blank">
                ➥ Tender Document for Concurrent Audit
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_040518.pdf" target="_blank">
                ➥ TENDER NOTICE FOR AMC of Computer Systems ,Printers and other Peripherals
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_250418.pdf" target="_blank">
                ➥ किराये पर भवन उपलब्ध
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/18042018notice_auction.pdf" target="_blank">
                ➥ वाहन की नीलामी
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/Bhawan-Kiraye-Sambhandhi-21feb18.pdf" target="_blank">
                ➥ BHAWAN KIRAYE SAMBANDHI
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender-notice_011117.pdf" target="_blank">
                ➥ अभिलेखों की वीडिंग हेतु निविदा।
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/banking-quotation_020817.pdf" target="_blank">
                ➥ TENDER
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_280617.pdf" target="_blank">
                ➥ TENDER DOCUMENT FOR Concurrent Audit in UPCB
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_230517.pdf" target="_blank">
                ➥ बैंक मुख्यालय एवं 27 शाखाओं का GST के अन्तर्गत पंजीकरण कराने हेतु कोटेशन प्रेषित करने के संबंध में
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender190916.pdf" target="_blank">
                ➥ Tender Document for Supply/Printing of RuPay Debit Card
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_280716.pdf" target="_blank">
                ➥ Corrigendum to Tender Document no. UPCB/CA/2016-2017/01 regarding Concurrent Audit of UPCB
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_240620.pdf" target="_blank">
                ➥Tender Document For Concurrent Audit in Uttar Pradesh Cooperative Bank Limited(UPCB)
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_130520.pdf" target="_blank">
                ➥किराये पर भवन उपलब्ध
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/SPACE-FOR-RENT_110520.pdf" target="_blank">
                ➥किराये पर भवन उपलब्ध
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/SPACE-FOR-RENT_080520.pdf" target="_blank">
                ➥Tender Kiraye Per Bhawan Uplabdh
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/GENERAL_070320.pdf" target="_blank">
                ➥Tender Catering Tender Notice
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender-catering_050320.pdf" target="_blank">
                ➥Tender form for Catering with Menu
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_210716.pdf" target="_blank">
                ➥Tender Document Regarding Concurrent Audit Of UPCB
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_290515.pdf" target="_blank">
                ➥Cancellation of tender doc-COOP BANK/ATM Card/2014-15/05 dated 11.10.2014 for ATM card printing
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="" target="_blank">
                ➥Financial Bid Meeting to be held on 18.04.2015 at 01:00 PM (Tender no. COOPBANK/SMS_USSD_OBD/2014-15/04 dated 11.10.2014)
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/atmcard_27012015.pdf" target="_blank">
                ➥ Revised Tender document in response to pre-bid meeting held on 11.11.2014 for Ru-Pay Debit Card (Tender no. COOPBANK/ATM Card/ 2014-15/05/ dated. 11.10.2014)
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/sms_alert_27012015.pdf" target="_blank">
                ➥ Revised Tender document in response to pre-bid meeting held on 11.11.2014 and 17.11.2014 for SMS Alert (Tender no. COOPBANK/SMS_USSD_OBD/2014-15/04 dated 11.10.2014)
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="" target="_blank">
                ➥ Bidders are hereby informed that the last date and time for submission of Tendor No.COOP BANK/SMS_USSD_OBD/2014-15/04 for Bulk Short Message Services (SMS) has been extended to 20.03.2015 till 12:30pm. The bid will be open on same date at 1:00pm
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/corrig_a_13dec14.pdf" target="_blank">
                ➥ Corrigendum to CCTV Tender Document
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/corrig_13dec14.pdf" target="_blank">
                ➥ Corrigendum to Tender Doucument No - NSM2014-154
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/prebid_response_06122014.pdf" target="_blank">
                ➥ Tender Document for Prebid response to queries in CCTV tender dt. 01.12.2014
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/note_shorting_06122014.pdf" target="_blank">
                ➥ Tender Document for Prebid response to Note shorting machine Tender dt 01.12.2014
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_24112014_a.pdf" target="_blank">
                ➥ Tender Document for Supply, Installation and Commissioning of CCTV Surveillance System.
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_24112014_b.pdf" target="_blank">
                ➥ Tender Document for Supply and Installatin of Note Shorting Machine.
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/notice1_13112014.pdf" target="_blank">
                ➥ Notice 1 regarding ATM/Debit Card Printing
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/notice2_13112014.pdf" target="_blank">
                ➥ Notice 2 regarding SMS Alerts
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_05nov2014_a.pdf" target="_blank">
                ➥ Revised schedule of Pre bid meeting for ATM/Rupay KCC card
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_05nov2014_b.pdf" target="_blank">
                ➥ Revised schedule of Pre bid meeting for SMS alert service
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_13102014_a.pdf" target="_blank">
                ➥ Tender Document for "RuPay Debit Card/ Kisan Credit Card / RuPay EMV Chip card”
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_13102014_b.pdf" target="_blank">
                ➥ Tender Document for Bulk Short Message Services (SMS) and Balance Enquiry on Missed Call.
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="#" target="_blank">
                ➥ "It to inform all the concerned vendors that ,"Due to unavoidable circumstances Tender Document No.COOP Bank/CCTV/2014-15-01 for CCTV &amp; Tender Document No COOP Bank/NSM/2014-15-02 for Note Sorting Machine has been cancelled " "
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="#" target="_blank">
                ➥ "It to inform all the concerned vendors that ,"Due to unavoidable circumstances Tender Document No.COOP Bank/CCTV/2014-15-01 for CCTV &amp; Tender Document No COOP Bank/NSM/2014-15-02 for Note Sorting Machine has been cancelled " "
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_06062014.pdf" target="_blank">
                ➥ Tender Document for MICROSOFT Win Pro 8.1 SNGL Upgrade PART NO: FQC-08190 in Uttar Pradesh Cooperative Bank &amp; District Cooperative Banks in the state of Uttar Pradesh.
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_17may2014.pdf" target="_blank">
                ➥ Corrigendum for CCTV Tender
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/audit_10may14.pdf" target="_blank">
                ➥ UPCB AUDIT Tender Document Vers 2 dated 10052014
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="#" target="_blank">
                ➥ Last date to submit bid against Concurrent Audit Tender Notice No. UPCB/CA/2014-15/01 has been extended to 15 May, 2014 (Thursday) at 3:00 PM.
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/pre_bid_meeting_08may2014.pdf" target="_blank">
                ➥ Pre Bid Meeting Concurrent Audit of Uttar Pradesh Cooperative Bank Limited.
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/pre_bid_sorter_03052014.pdf" target="_blank">
                ➥ Pre Bid Responses Sorter
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_02052014.pdf" target="_blank">
                ➥ Tender Notice for Concurrent Audit of Uttar Pradesh Cooperative Bank Limited.
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/revised_pre_bid_response_30042014.pdf" target="_blank">
                ➥ Pre bid Responses CCTV
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/revised_tender_03052014.pdf" target="_blank">
                ➥ Tender CCTV
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/sorter_22april2014.pdf" target="_blank">
                ➥ Tender Sorter
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/prebid_12022014.pdf" target="_blank">
                ➥ Pre-bid Response (Date : 10.02.2014) : CTS
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_05022014.pdf" target="_blank">
                ➥ Tender for Cheque Truncation System, on Software as a Service (SAAS) Model.
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="#" target="_blank">
                ➥ "Due to some unavoidable circumstances the tender no. COOP BANK/CBS/2013-14/07 Dated 19.11.2014 for MPLSVPN Connectivity in Uttar Pradesh Cooperaive Bank &amp; District Cooperative Bank in the state of Uttar Pradesh
                <u>
                  is being withheld till further notice."
                </u>
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="#" target="_blank">
                ➥ "Last date to submit bid against Tender Notice No. COOPBANK/CBS/2013-14/07 dated 19.11.2013 has been extended to 07.01.2014."
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="#" target="_blank">
                ➥ "Tender Document No. COOPBANK/CBS/2012-2013/07 All interested bidders are requested to quote 100 MBPS of Connectivity/Bandwidth for each DC DR Locations in the Financial Bid. Same will also be the part of Financial Comparision to decide L1."
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="#" target="_blank">
                ➥ "In reference to tender document no. coopbank/CBS/2013-14/07 we would like to interment that Last Date of Submission of the bid has been changed to 27 December 2013. "
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="#" target="_blank">
                ➥ "In reference to our tender document no. Coop Bank / CBS/2013-14/07 for providing MPLS VPN Connectivity in U.P. Cooperative Bank and District Cooperative Banks of U.P. an industry consultation meet is being held on 9th of December 2013 @ 3.00 pm at 9th floor ,Meeting Hall of U.P. Cooperative Bank Limited. All Telcos (MPLS VPN Service provider) are cordially invited to provide their input / suggestions. In this meeting GM/CEO of DCB Rampur &amp; Raibarelly is also invited to put up their field experience on connectivity."
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_26dec13.pdf" target="_blank">
                ➥ Clarification against query obtained to tender document no. COOPBANK/CBS/2013-14/07
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/upcb_tender_18dec13.pdf" target="_blank">
                ➥ Clarification/Responses against suggestions/query obtained on 09/12/2013 in reference to tender document noCOOPBANK/CBS/2013-14/07 Date19.11.2013
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_05dec2013.pdf" target="_blank">
                ➥ Pre bid response against tender no COOP.BANK/CBS/2012-2013/07 meeting held on 28.11.2013
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_04dec2013.zip" target="_blank">
                ➥ Pre-bid Response of MPLS Connectivity
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_22nov13.pdf" target="_blank">
                ➥ Tender Document for MPLS VPN Connectivity in Uttar Pradesh Cooperative Bank &amp; District Cooperative Banks in the state of Uttar Pradesh.
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_document_09112013.pdf" target="_blank">
                ➥ Tender Document for Purchase of Microsoft Office Standard License 2013.
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/revised_document_22082013.pdf" target="_blank">
                ➥ Tender Document for Framing of IT Policy for U.P. Cooperative Bank Ltd. in CBS environment.
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/notice_22082013.pdf" target="_blank">
                ➥ Tender Notice for Framing of IT Policy for U.P. Cooperative Bank Ltd. in CBS environment.
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_19082013.pdf" target="_blank">
                ➥ System Audit of CBS Implementation in almost 248 branches / sites of 11 District Cooperative Banks of Uttar Pradesh.
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_document_19082013.pdf" target="_blank">
                ➥ Tender Document for “System Audit of CBS Implementation in District Cooperative Banks in the state of Uttar Pradesh
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/upcbl_15062013.pdf" target="_blank">
                ➥ अम्बेसडर कारों की शानदार नीलामी
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_23052013.pdf" target="_blank">
                ➥ Tender Document for Switching Services &amp; RUPAY Card functioning in UP Cooperative Bank Ltd.
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_10may13.pdf" target="_blank">
                ➥ Tender Document for Selection of Vendors for providing Core Banking Software on ASP Model in UP State Co-operative Bank Ltd., Lucknow, Uttar Pradesh
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/pre_bid_27042013.pdf" target="_blank">
                ➥ Answers of the Pre-Bid Queries for the Implementation of ICT ASED Common Accounting System for PACS in the state of Uttar Pradesh.
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_n_19-04-13.pdf" target="_blank">
                ➥ Tender Notice for Implementation of Information and Communication Technologies (ICT) based Common Accounting System (CAS) in Primary Agriculture Credit Societies (PACS) In the state of Uttar Pradesh
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_19-04-13.pdf" target="_blank">
                ➥ Tender Document for Implementation of Information and Communication Technologies (ICT) based Common Accounting System (CAS) in Primary Agriculture Credit Societies (PACS) In the state of Uttar Pradesh
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/agreement_19032013.pdf" target="_blank">
                ➥ Agreement for System Audit of CBS Implementation in District Cooperative Bank.
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="#" target="_blank">
                ➥ Clarification for MPLS VPN Connectivity Service Provider
                <br />
                If VSAT/RF solution has inbuilt router then bidder may choose/free to choose not to quote external router (should have IPV6)
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="#" target="_blank">
                ➥ Date Extension Notice for MPLS VPN Connectivity Tender
                <br />
                (Date has been extended to 11 March 2013 4 PM from 4 March 2013)
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/revised1_answer_prebid_28022013.pdf" target="_blank">
                ➥ Answers to the Pre-Bid Queries for Implementation of MPLS VPN Connectivity in Uttar Pradesh Cooperative Bank &amp; District Cooperative Banks in the State of Uttar Pradesh.
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/list_address_02032013.pdf" target="_blank">
                ➥ List of addresses as required by MPLS VPN Service Providers.
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_cbs_18feb13.pdf" target="_blank">
                ➥ System Audit of CBS implementation in District Cooperative Banks in the state of Uttar Pradesh.
            <tr>
              <td class="TenderItemDes" href="tender/tender_mpls_18feb13.pdf" target="_blank">
                ➥ Implementation of MPLS VPN Connectivity in U.P. Cooperative Bank &amp; District Cooperative Bank of Uttar Pradesh.
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_15022013.pdf" target="_blank">
                ➥ Tender Document for MPLS VPN Connectivity in Uttar Pradesh Cooperative Bank &amp; District Cooperative Banks in the State of Uttar Pradesh.
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_12022013.pdf" target="_blank">
                ➥ Tender Document for System Audit of CBS implementation in District Cooperative Banks in the state of Uttar Pradesh.
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_notice.pdf" target="_blank">
                ➥ Tender Notice
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/notice_inviting_tender.pdf" target="_blank">
                ➥ Notice Inviting Tender
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/tender_docoument.pdf" target="_blank">
                ➥ Tender Document with Annexure I,  II,  III,  VI,  VII,  VIII,  X
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="#" target="_blank">
                ➥ Annexure
                <a href="tender/annexure_4a.pdf" target="_blank">
                  इवा
                </a>
                ,
                <a href="tender/annexure_4b.pdf" target="_blank">
                  आचरण
                </a>
                ,
                <a href="tender/annexure_4c.pdf" target="_blank">
                  आईवीसी
                </a>
                ,
                <a href="tender/annexure_5.pdf" target="_blank">
                  वी
                </a>
                ,
                <a href="tender/annexure_9.pdf" target="_blank">
                  नौवीं
                </a>
                ,
                <a href="tender/annexure_9a.pdf" target="_blank">
                  ईश्वर
                </a>
                ,
                <a href="tender/annexure_9b.pdf" target="_blank">
                  IXB
                </a>
              </td>
            </tr>
            <tr>
              <td class="TenderItemDes" href="tender/nelito_clarification_nabard.pdf" target="_blank">
                ➥ Clarifications on the points raised by Nelito Systems Limited vide their letter dated 20/07/09
              </td>
            </tr>
            </td>
            </tr>
          </tbody>
        </table>
        <div align="Right" class="InternetBankingBtn load_more" id="songs-load" style="padding-bottom: 20px;">
          <a class="btn" href="#" target="_blank">
            अधिक लोड करें ➤
          </a>
        </div>
      </div>
    </div>
  </div>
</section>