<header class="header_wrapper">
  <nav
    class="navbar navbar-expand-lg"
    style="
      background-image: url('/images/nav_bg.png');
      background-repeat: no-repeat;
    "
  >
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> </a>
      <button
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        class="navbar-toggler"
        data-bs-target="#navbarNav"
        data-bs-toggle="collapse"
        type="button"
      >
        <i class="fas fa-stream navbar-toggler-icon align-items-end"> </i>
      </button>
      <div class="container-fluid">
        <div class="row">
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav d-flex flex-row me-1">
              <li class="nav-item me-3 me-lg-0">
                <a class="nav-link mx-1 text-white" href="/"
                  ><i class="fas fa-language"></i
                ></a>
              </li>
              <li class="nav-item me-3 me-lg-0">
                <a class="nav-link mx-1 text-white" href="notification.html">
                  <i
                    class="animate__animated animate__shakeX fas fa-bell"
                    style="animation-duration: 5s"
                  >
                  </i>
                </a>
              </li>
              <li class="nav-item me-3 me-lg-0">
                <a class="nav-link mx-1 text-white" href="phone.html">
                  <i class="fas fa-phone"> </i>
                </a>
              </li>
              <li class="nav-item me-3 me-lg-0">
                <a class="nav-link mx-1 text-white" href="location.html">
                  <i class="fas fa-map-marker"> </i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <p>.</p>
        </div>
        <div class="row">
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarNav"
          >
            <ul class="navbar-nav menu-navbar-nav text-uppercase">
              <li class="nav-item">
                <a aria-current="page" class="nav-link active" href="/hi">
                  घर
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="aboutUs"> हमारे बारे में </a>
              </li>
              <li class="nav-item dropdown link-widget">
                <a
                  aria-expanded="false"
                  class="nav-link dropdown-toggle"
                  href="services"
                  role="button"
                >
                  सेवाएं
                </a>
                <ul class="dropdown-menu">
                  <li class="nav-item dropend">
                    <a
                      aria-expanded="false"
                      class="dropdown-item"
                      href="insurance"
                      role="button"
                    >
                      बीमा
                    </a>
                  </li>
                  <hr class="dropdown-divider" />
                  <li class="nav-item">
                    <a
                      aria-expanded="false"
                      class="dropdown-item"
                      href="digitalbanking"
                      role="button"
                    >
                      अंकीय बैंकिंग
                    </a>
                  </li>
                  <hr class="dropdown-divider" />
                  <li class="nav-item">
                    <a
                      aria-expanded="false"
                      class="dropdown-item"
                      href="atms_branches"
                      role="button"
                    >
                      एटीएम और शाखाएँ
                    </a>
                  </li>
                  <hr class="dropdown-divider" />
                  <li class="nav-item">
                    <a
                      aria-expanded="false"
                      class="dropdown-item"
                      href="serviceCharges"
                      role="button"
                    >
                      सेवा शुल्क
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown link-widget">
                <a
                  aria-expanded="false"
                  class="nav-link dropdown-toggle"
                  role="button"
                >
                  बैंकिंग
                </a>
                <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a
                      aria-expanded="false"
                      class="dropdown-item submenu"
                      href="fixedDeposit"
                      role="button"
                    >
                      सावधि जमा
                    </a>
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li class="nav-item">
                    <a
                      aria-expanded="false"
                      class="dropdown-item submenu"
                      href="loans"
                      role="button"
                    >
                      ऋण
                    </a>
                  </li>
                  <hr class="dropdown-divider" />
                  <li class="nav-item">
                    <a
                      aria-expanded="false"
                      class="submenu dropdown-item"
                      href="accounts"
                      role="button"
                    >
                      हिसाब किताब
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown link-widget">
                <a
                  aria-expanded="false"
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                >
                  मिडिया
                </a>
                <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a
                      aria-expanded="false"
                      class="submenu dropdown-item"
                      href="news"
                      role="button"
                    >
                      समाचार
                    </a>
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li class="nav-item">
                    <a
                      aria-expanded="false"
                      class="submenu dropdown-item"
                      href="mediaCoverage"
                      role="button"
                    >
                      मीडिया कवरेज
                    </a>
                  </li>
                  <hr class="dropdown-divider" />
                  <li class="nav-item">
                    <a
                      aria-expanded="false"
                      class="submenu dropdown-item"
                      href="digitalbrochure"
                      role="button"
                    >
                      डिजिटल ब्रोशर
                    </a>
                  </li>
                  <hr class="dropdown-divider" />
                  <li class="nav-item">
                    <a
                      aria-expanded="false"
                      class="submenu dropdown-item"
                      href="awards"
                      role="button"
                    >
                      पुरस्कार और मान्यता
                    </a>
                  </li>
                  <hr class="dropdown-divider" />
                  <li class="nav-item">
                    <a
                      aria-expanded="false"
                      class="submenu dropdown-item"
                      href="eventsGallery"
                      role="button"
                    >
                      घटनाओं और दीर्घाओं
                    </a>
                  </li>
                  <hr class="dropdown-divider" />
                  <li class="nav-item">
                    <a
                      aria-expanded="false"
                      class="submenu dropdown-item"
                      href="mediaContact.html"
                      role="button"
                    >
                      मीडिया संपर्क
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown link-widget">
                <a
                  aria-expanded="false"
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                >
                  महत्वपूर्ण लिंक
                </a>
                <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a
                      aria-expanded="false"
                      class="submenu dropdown-item"
                      href="https://www.rbi.org.in/home.aspx"
                      ole="button"
                    >
                      भारतीय रिजर्व बैंक
                    </a>
                  </li>
                  <hr class="dropdown-divider" />
                  <li class="nav-item">
                    <a
                      aria-expanded="false"
                      class="submenu dropdown-item"
                      href="https://www.rbi.org.in/commonperson/English/Scripts/rbikehtahai.aspx"
                      ole="button"
                    >
                      र्बी कहता है
                    </a>
                  </li>
                  <hr class="dropdown-divider" />
                  <li class="nav-item">
                    <a
                      aria-expanded="false"
                      class="submenu dropdown-item"
                      href="https://www.nabard.org/"
                      ole="button"
                    >
                      नाबार्ड
                    </a>
                  </li>
                  <hr class="dropdown-divider" />
                  <li class="nav-item">
                    <a
                      aria-expanded="false"
                      class="submenu dropdown-item"
                      href="https://www.jansamarth.in/home"
                      ole="button"
                    >
                      जनसमर्थ पोर्टल
                    </a>
                  </li>
                  <hr class="dropdown-divider" />
                  <li class="nav-item">
                    <a
                      aria-expanded="false"
                      class="submenu dropdown-item"
                      href="downloadForms"
                      ole="button"
                    >
                      डाउनलोड फॉर्म
                    </a>
                  </li>
                  <hr class="dropdown-divider" />
                  <li class="nav-item">
                    <a
                      aria-expanded="false"
                      class="submenu dropdown-item"
                      href="tender"
                      ole="button"
                    >
                      नाज़ुक
                    </a>
                  </li>
                  <hr class="dropdown-divider" />
                  <li class="nav-item">
                    <a
                      aria-expanded="false"
                      class="submenu dropdown-item"
                      href="kyc"
                      ole="button"
                    >
                      केवाईसी
                    </a>
                  </li>
                  <hr class="dropdown-divider" />
                  <li class="nav-item">
                    <a
                      aria-expanded="false"
                      class="submenu dropdown-item"
                      href="acsti"
                      ole="button"
                    >
                      अखिल
                    </a>
                  </li>
                  <hr class="dropdown-divider" />
                  <li class="nav-item">
                    <a
                      aria-expanded="false"
                      class="submenu dropdown-item"
                      href="recruitment"
                      ole="button"
                    >
                      भर्ती
                    </a>
                  </li>
                  <hr class="dropdown-divider" />
                  <li class="nav-item">
                    <a
                      aria-expanded="false"
                      class="submenu dropdown-item"
                      href="otherlinks"
                      ole="button"
                    >
                      अन्य लिंक
                    </a>
                  </li>
                  <hr class="dropdown-divider" />
                  <li class="nav-item">
                    <a
                      aria-expanded="false"
                      class="submenu dropdown-item"
                      href="http://www.upcbl.in/pdf/DEA_FUND_Customer_List_170123.pdf"
                      ole="button"
                    >
                      लावारिस लेखा
                    </a>
                  </li>
                  <hr class="dropdown-divider" />
                  <li class="nav-item">
                    <a
                      aria-expanded="false"
                      class="submenu dropdown-item"
                      href="importantNotification"
                      ole="button"
                    >
                      महत्वपूर्ण अधिसूचना
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item mt-3 mt-lg-0">
                <a
                  class="main-btn"
                  href="https://upcbonline.com/"
                  target="_blank"
                >
                  नेटबैंकिंग
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
